



.bg-aliceblue-50 { background-color: #fafdff; }
.text-aliceblue-50 { color: #fafdff; }
.border-aliceblue-50 { border-color: #fafdff; }
.outline-aliceblue-50 { outline-color: #fafdff; }

.bg-aliceblue-100 { background-color: #f8fcff; }
.text-aliceblue-100 { color: #f8fcff; }
.border-aliceblue-100 { border-color: #f8fcff; }
.outline-aliceblue-100 { outline-color: #f8fcff; }

.bg-aliceblue-200 { background-color: #f6fbff; }
.text-aliceblue-200 { color: #f6fbff; }
.border-aliceblue-200 { border-color: #f6fbff; }
.outline-aliceblue-200 { outline-color: #f6fbff; }

.bg-aliceblue-300 { background-color: #f4faff; }
.text-aliceblue-300 { color: #f4faff; }
.border-aliceblue-300 { border-color: #f4faff; }
.outline-aliceblue-300 { outline-color: #f4faff; }

.bg-aliceblue-400 { background-color: #f2f9ff; }
.text-aliceblue-400 { color: #f2f9ff; }
.border-aliceblue-400 { border-color: #f2f9ff; }
.outline-aliceblue-400 { outline-color: #f2f9ff; }

.bg-aliceblue-500 { background-color: #f0f8ff; }
.text-aliceblue-500 { color: #f0f8ff; }
.border-aliceblue-500 { border-color: #f0f8ff; }
.outline-aliceblue-500 { outline-color: #f0f8ff; }

.bg-aliceblue-600 { background-color: #c8ced4; }
.text-aliceblue-600 { color: #c8ced4; }
.border-aliceblue-600 { border-color: #c8ced4; }
.outline-aliceblue-600 { outline-color: #c8ced4; }

.bg-aliceblue-700 { background-color: #a0a4a9; }
.text-aliceblue-700 { color: #a0a4a9; }
.border-aliceblue-700 { border-color: #a0a4a9; }
.outline-aliceblue-700 { outline-color: #a0a4a9; }

.bg-aliceblue-800 { background-color: #787a7e; }
.text-aliceblue-800 { color: #787a7e; }
.border-aliceblue-800 { border-color: #787a7e; }
.outline-aliceblue-800 { outline-color: #787a7e; }

.bg-aliceblue-900 { background-color: #505053; }
.text-aliceblue-900 { color: #505053; }
.border-aliceblue-900 { border-color: #505053; }
.outline-aliceblue-900 { outline-color: #505053; }

.bg-aliceblue-950 { background-color: #282628; }
.text-aliceblue-950 { color: #282628; }
.border-aliceblue-950 { border-color: #282628; }
.outline-aliceblue-950 { outline-color: #282628; }


