
.bg-aliceblue-50 { background-color: #fcfdff; }
.text-aliceblue-50 { color: #fcfdff; }
.border-aliceblue-50 { border-color: #fcfdff; }
.outline-aliceblue-50 { outline-color: #fcfdff; }

.bg-aliceblue-100 { background-color: #fafcff; }
.text-aliceblue-100 { color: #fafcff; }
.border-aliceblue-100 { border-color: #fafcff; }
.outline-aliceblue-100 { outline-color: #fafcff; }

.bg-aliceblue-200 { background-color: #f7fbff; }
.text-aliceblue-200 { color: #f7fbff; }
.border-aliceblue-200 { border-color: #f7fbff; }
.outline-aliceblue-200 { outline-color: #f7fbff; }

.bg-aliceblue-300 { background-color: #f5faff; }
.text-aliceblue-300 { color: #f5faff; }
.border-aliceblue-300 { border-color: #f5faff; }
.outline-aliceblue-300 { outline-color: #f5faff; }

.bg-aliceblue-400 { background-color: #f2f9ff; }
.text-aliceblue-400 { color: #f2f9ff; }
.border-aliceblue-400 { border-color: #f2f9ff; }
.outline-aliceblue-400 { outline-color: #f2f9ff; }

.bg-aliceblue-500 { background-color: #f0f8ff; }
.text-aliceblue-500 { color: #f0f8ff; }
.border-aliceblue-500 { border-color: #f0f8ff; }
.outline-aliceblue-500 { outline-color: #f0f8ff; }

.bg-aliceblue-600 { background-color: #c8ced4; }
.text-aliceblue-600 { color: #c8ced4; }
.border-aliceblue-600 { border-color: #c8ced4; }
.outline-aliceblue-600 { outline-color: #c8ced4; }

.bg-aliceblue-700 { background-color: #a0a5aa; }
.text-aliceblue-700 { color: #a0a5aa; }
.border-aliceblue-700 { border-color: #a0a5aa; }
.outline-aliceblue-700 { outline-color: #a0a5aa; }

.bg-aliceblue-800 { background-color: #787c7f; }
.text-aliceblue-800 { color: #787c7f; }
.border-aliceblue-800 { border-color: #787c7f; }
.outline-aliceblue-800 { outline-color: #787c7f; }

.bg-aliceblue-900 { background-color: #505255; }
.text-aliceblue-900 { color: #505255; }
.border-aliceblue-900 { border-color: #505255; }
.outline-aliceblue-900 { outline-color: #505255; }

.bg-aliceblue-950 { background-color: #28292a; }
.text-aliceblue-950 { color: #28292a; }
.border-aliceblue-950 { border-color: #28292a; }
.outline-aliceblue-950 { outline-color: #28292a; }
