



.bg-antiquewhite-50 { background-color: #fafaf5; }
.text-antiquewhite-50 { color: #fafaf5; }
.border-antiquewhite-50 { border-color: #fafaf5; }
.outline-antiquewhite-50 { outline-color: #fafaf5; }

.bg-antiquewhite-100 { background-color: #faf7ef; }
.text-antiquewhite-100 { color: #faf7ef; }
.border-antiquewhite-100 { border-color: #faf7ef; }
.outline-antiquewhite-100 { outline-color: #faf7ef; }

.bg-antiquewhite-200 { background-color: #faf4e9; }
.text-antiquewhite-200 { color: #faf4e9; }
.border-antiquewhite-200 { border-color: #faf4e9; }
.outline-antiquewhite-200 { outline-color: #faf4e9; }

.bg-antiquewhite-300 { background-color: #faf1e3; }
.text-antiquewhite-300 { color: #faf1e3; }
.border-antiquewhite-300 { border-color: #faf1e3; }
.outline-antiquewhite-300 { outline-color: #faf1e3; }

.bg-antiquewhite-400 { background-color: #faeedd; }
.text-antiquewhite-400 { color: #faeedd; }
.border-antiquewhite-400 { border-color: #faeedd; }
.outline-antiquewhite-400 { outline-color: #faeedd; }

.bg-antiquewhite-500 { background-color: #faebd7; }
.text-antiquewhite-500 { color: #faebd7; }
.border-antiquewhite-500 { border-color: #faebd7; }
.outline-antiquewhite-500 { outline-color: #faebd7; }

.bg-antiquewhite-600 { background-color: #d0c3b3; }
.text-antiquewhite-600 { color: #d0c3b3; }
.border-antiquewhite-600 { border-color: #d0c3b3; }
.outline-antiquewhite-600 { outline-color: #d0c3b3; }

.bg-antiquewhite-700 { background-color: #a69b8f; }
.text-antiquewhite-700 { color: #a69b8f; }
.border-antiquewhite-700 { border-color: #a69b8f; }
.outline-antiquewhite-700 { outline-color: #a69b8f; }

.bg-antiquewhite-800 { background-color: #7c736b; }
.text-antiquewhite-800 { color: #7c736b; }
.border-antiquewhite-800 { border-color: #7c736b; }
.outline-antiquewhite-800 { outline-color: #7c736b; }

.bg-antiquewhite-900 { background-color: #524b47; }
.text-antiquewhite-900 { color: #524b47; }
.border-antiquewhite-900 { border-color: #524b47; }
.outline-antiquewhite-900 { outline-color: #524b47; }

.bg-antiquewhite-950 { background-color: #282323; }
.text-antiquewhite-950 { color: #282323; }
.border-antiquewhite-950 { border-color: #282323; }
.outline-antiquewhite-950 { outline-color: #282323; }


