
/* github: https://github.com/iaseth/html-color-names */

.bg-antiquewhite-50 { background-color: #fefbf8; }
.text-antiquewhite-50 { color: #fefbf8; }
.border-antiquewhite-50 { border-color: #fefbf8; }
.outline-antiquewhite-50 { outline-color: #fefbf8; }

.bg-antiquewhite-100 { background-color: #fdf8f1; }
.text-antiquewhite-100 { color: #fdf8f1; }
.border-antiquewhite-100 { border-color: #fdf8f1; }
.outline-antiquewhite-100 { outline-color: #fdf8f1; }

.bg-antiquewhite-200 { background-color: #fcf5eb; }
.text-antiquewhite-200 { color: #fcf5eb; }
.border-antiquewhite-200 { border-color: #fcf5eb; }
.outline-antiquewhite-200 { outline-color: #fcf5eb; }

.bg-antiquewhite-300 { background-color: #fbf1e4; }
.text-antiquewhite-300 { color: #fbf1e4; }
.border-antiquewhite-300 { border-color: #fbf1e4; }
.outline-antiquewhite-300 { outline-color: #fbf1e4; }

.bg-antiquewhite-400 { background-color: #faeedd; }
.text-antiquewhite-400 { color: #faeedd; }
.border-antiquewhite-400 { border-color: #faeedd; }
.outline-antiquewhite-400 { outline-color: #faeedd; }

.bg-antiquewhite-500 { background-color: #faebd7; }
.text-antiquewhite-500 { color: #faebd7; }
.border-antiquewhite-500 { border-color: #faebd7; }
.outline-antiquewhite-500 { outline-color: #faebd7; }

.bg-antiquewhite-600 { background-color: #d0c3b3; }
.text-antiquewhite-600 { color: #d0c3b3; }
.border-antiquewhite-600 { border-color: #d0c3b3; }
.outline-antiquewhite-600 { outline-color: #d0c3b3; }

.bg-antiquewhite-700 { background-color: #a69c8f; }
.text-antiquewhite-700 { color: #a69c8f; }
.border-antiquewhite-700 { border-color: #a69c8f; }
.outline-antiquewhite-700 { outline-color: #a69c8f; }

.bg-antiquewhite-800 { background-color: #7d756b; }
.text-antiquewhite-800 { color: #7d756b; }
.border-antiquewhite-800 { border-color: #7d756b; }
.outline-antiquewhite-800 { outline-color: #7d756b; }

.bg-antiquewhite-900 { background-color: #534e47; }
.text-antiquewhite-900 { color: #534e47; }
.border-antiquewhite-900 { border-color: #534e47; }
.outline-antiquewhite-900 { outline-color: #534e47; }

.bg-antiquewhite-950 { background-color: #292723; }
.text-antiquewhite-950 { color: #292723; }
.border-antiquewhite-950 { border-color: #292723; }
.outline-antiquewhite-950 { outline-color: #292723; }

