
/* github: https://github.com/iaseth/html-color-names */

.bg-aqua-50 { background-color: #d4ffff; }
.text-aqua-50 { color: #d4ffff; }
.border-aqua-50 { border-color: #d4ffff; }
.outline-aqua-50 { outline-color: #d4ffff; }

.bg-aqua-100 { background-color: #aaffff; }
.text-aqua-100 { color: #aaffff; }
.border-aqua-100 { border-color: #aaffff; }
.outline-aqua-100 { outline-color: #aaffff; }

.bg-aqua-200 { background-color: #7fffff; }
.text-aqua-200 { color: #7fffff; }
.border-aqua-200 { border-color: #7fffff; }
.outline-aqua-200 { outline-color: #7fffff; }

.bg-aqua-300 { background-color: #55ffff; }
.text-aqua-300 { color: #55ffff; }
.border-aqua-300 { border-color: #55ffff; }
.outline-aqua-300 { outline-color: #55ffff; }

.bg-aqua-400 { background-color: #2affff; }
.text-aqua-400 { color: #2affff; }
.border-aqua-400 { border-color: #2affff; }
.outline-aqua-400 { outline-color: #2affff; }

.bg-aqua-500 { background-color: #00ffff; }
.text-aqua-500 { color: #00ffff; }
.border-aqua-500 { border-color: #00ffff; }
.outline-aqua-500 { outline-color: #00ffff; }

.bg-aqua-600 { background-color: #00d4d4; }
.text-aqua-600 { color: #00d4d4; }
.border-aqua-600 { border-color: #00d4d4; }
.outline-aqua-600 { outline-color: #00d4d4; }

.bg-aqua-700 { background-color: #00aaaa; }
.text-aqua-700 { color: #00aaaa; }
.border-aqua-700 { border-color: #00aaaa; }
.outline-aqua-700 { outline-color: #00aaaa; }

.bg-aqua-800 { background-color: #007f7f; }
.text-aqua-800 { color: #007f7f; }
.border-aqua-800 { border-color: #007f7f; }
.outline-aqua-800 { outline-color: #007f7f; }

.bg-aqua-900 { background-color: #005555; }
.text-aqua-900 { color: #005555; }
.border-aqua-900 { border-color: #005555; }
.outline-aqua-900 { outline-color: #005555; }

.bg-aqua-950 { background-color: #002a2a; }
.text-aqua-950 { color: #002a2a; }
.border-aqua-950 { border-color: #002a2a; }
.outline-aqua-950 { outline-color: #002a2a; }

