



.bg-aqua-50 { background-color: #d2ffff; }
.text-aqua-50 { color: #d2ffff; }
.border-aqua-50 { border-color: #d2ffff; }
.outline-aqua-50 { outline-color: #d2ffff; }

.bg-aqua-100 { background-color: #a8ffff; }
.text-aqua-100 { color: #a8ffff; }
.border-aqua-100 { border-color: #a8ffff; }
.outline-aqua-100 { outline-color: #a8ffff; }

.bg-aqua-200 { background-color: #7effff; }
.text-aqua-200 { color: #7effff; }
.border-aqua-200 { border-color: #7effff; }
.outline-aqua-200 { outline-color: #7effff; }

.bg-aqua-300 { background-color: #54ffff; }
.text-aqua-300 { color: #54ffff; }
.border-aqua-300 { border-color: #54ffff; }
.outline-aqua-300 { outline-color: #54ffff; }

.bg-aqua-400 { background-color: #2affff; }
.text-aqua-400 { color: #2affff; }
.border-aqua-400 { border-color: #2affff; }
.outline-aqua-400 { outline-color: #2affff; }

.bg-aqua-500 { background-color: #00ffff; }
.text-aqua-500 { color: #00ffff; }
.border-aqua-500 { border-color: #00ffff; }
.outline-aqua-500 { outline-color: #00ffff; }

.bg-aqua-600 { background-color: #00d4d4; }
.text-aqua-600 { color: #00d4d4; }
.border-aqua-600 { border-color: #00d4d4; }
.outline-aqua-600 { outline-color: #00d4d4; }

.bg-aqua-700 { background-color: #00a9a9; }
.text-aqua-700 { color: #00a9a9; }
.border-aqua-700 { border-color: #00a9a9; }
.outline-aqua-700 { outline-color: #00a9a9; }

.bg-aqua-800 { background-color: #007e7e; }
.text-aqua-800 { color: #007e7e; }
.border-aqua-800 { border-color: #007e7e; }
.outline-aqua-800 { outline-color: #007e7e; }

.bg-aqua-900 { background-color: #005353; }
.text-aqua-900 { color: #005353; }
.border-aqua-900 { border-color: #005353; }
.outline-aqua-900 { outline-color: #005353; }

.bg-aqua-950 { background-color: #002828; }
.text-aqua-950 { color: #002828; }
.border-aqua-950 { border-color: #002828; }
.outline-aqua-950 { outline-color: #002828; }


