



.bg-aquamarine-50 { background-color: #e8fff7; }
.text-aquamarine-50 { color: #e8fff7; }
.border-aquamarine-50 { border-color: #e8fff7; }
.outline-aquamarine-50 { outline-color: #e8fff7; }

.bg-aquamarine-100 { background-color: #d3fff0; }
.text-aquamarine-100 { color: #d3fff0; }
.border-aquamarine-100 { border-color: #d3fff0; }
.outline-aquamarine-100 { outline-color: #d3fff0; }

.bg-aquamarine-200 { background-color: #beffe9; }
.text-aquamarine-200 { color: #beffe9; }
.border-aquamarine-200 { border-color: #beffe9; }
.outline-aquamarine-200 { outline-color: #beffe9; }

.bg-aquamarine-300 { background-color: #a9ffe2; }
.text-aquamarine-300 { color: #a9ffe2; }
.border-aquamarine-300 { border-color: #a9ffe2; }
.outline-aquamarine-300 { outline-color: #a9ffe2; }

.bg-aquamarine-400 { background-color: #94ffdb; }
.text-aquamarine-400 { color: #94ffdb; }
.border-aquamarine-400 { border-color: #94ffdb; }
.outline-aquamarine-400 { outline-color: #94ffdb; }

.bg-aquamarine-500 { background-color: #7fffd4; }
.text-aquamarine-500 { color: #7fffd4; }
.border-aquamarine-500 { border-color: #7fffd4; }
.outline-aquamarine-500 { outline-color: #7fffd4; }

.bg-aquamarine-600 { background-color: #69d4b0; }
.text-aquamarine-600 { color: #69d4b0; }
.border-aquamarine-600 { border-color: #69d4b0; }
.outline-aquamarine-600 { outline-color: #69d4b0; }

.bg-aquamarine-700 { background-color: #53a98c; }
.text-aquamarine-700 { color: #53a98c; }
.border-aquamarine-700 { border-color: #53a98c; }
.outline-aquamarine-700 { outline-color: #53a98c; }

.bg-aquamarine-800 { background-color: #3d7e68; }
.text-aquamarine-800 { color: #3d7e68; }
.border-aquamarine-800 { border-color: #3d7e68; }
.outline-aquamarine-800 { outline-color: #3d7e68; }

.bg-aquamarine-900 { background-color: #275344; }
.text-aquamarine-900 { color: #275344; }
.border-aquamarine-900 { border-color: #275344; }
.outline-aquamarine-900 { outline-color: #275344; }

.bg-aquamarine-950 { background-color: #112820; }
.text-aquamarine-950 { color: #112820; }
.border-aquamarine-950 { border-color: #112820; }
.outline-aquamarine-950 { outline-color: #112820; }


