
.bg-azure-50 { background-color: #fcffff; }
.text-azure-50 { color: #fcffff; }
.border-azure-50 { border-color: #fcffff; }
.outline-azure-50 { outline-color: #fcffff; }

.bg-azure-100 { background-color: #faffff; }
.text-azure-100 { color: #faffff; }
.border-azure-100 { border-color: #faffff; }
.outline-azure-100 { outline-color: #faffff; }

.bg-azure-200 { background-color: #f7ffff; }
.text-azure-200 { color: #f7ffff; }
.border-azure-200 { border-color: #f7ffff; }
.outline-azure-200 { outline-color: #f7ffff; }

.bg-azure-300 { background-color: #f5ffff; }
.text-azure-300 { color: #f5ffff; }
.border-azure-300 { border-color: #f5ffff; }
.outline-azure-300 { outline-color: #f5ffff; }

.bg-azure-400 { background-color: #f2ffff; }
.text-azure-400 { color: #f2ffff; }
.border-azure-400 { border-color: #f2ffff; }
.outline-azure-400 { outline-color: #f2ffff; }

.bg-azure-500 { background-color: #f0ffff; }
.text-azure-500 { color: #f0ffff; }
.border-azure-500 { border-color: #f0ffff; }
.outline-azure-500 { outline-color: #f0ffff; }

.bg-azure-600 { background-color: #c8d4d4; }
.text-azure-600 { color: #c8d4d4; }
.border-azure-600 { border-color: #c8d4d4; }
.outline-azure-600 { outline-color: #c8d4d4; }

.bg-azure-700 { background-color: #a0aaaa; }
.text-azure-700 { color: #a0aaaa; }
.border-azure-700 { border-color: #a0aaaa; }
.outline-azure-700 { outline-color: #a0aaaa; }

.bg-azure-800 { background-color: #787f7f; }
.text-azure-800 { color: #787f7f; }
.border-azure-800 { border-color: #787f7f; }
.outline-azure-800 { outline-color: #787f7f; }

.bg-azure-900 { background-color: #505555; }
.text-azure-900 { color: #505555; }
.border-azure-900 { border-color: #505555; }
.outline-azure-900 { outline-color: #505555; }

.bg-azure-950 { background-color: #282a2a; }
.text-azure-950 { color: #282a2a; }
.border-azure-950 { border-color: #282a2a; }
.outline-azure-950 { outline-color: #282a2a; }
