



.bg-beige-50 { background-color: #fafaf5; }
.text-beige-50 { color: #fafaf5; }
.border-beige-50 { border-color: #fafaf5; }
.outline-beige-50 { outline-color: #fafaf5; }

.bg-beige-100 { background-color: #f9f9f0; }
.text-beige-100 { color: #f9f9f0; }
.border-beige-100 { border-color: #f9f9f0; }
.outline-beige-100 { outline-color: #f9f9f0; }

.bg-beige-200 { background-color: #f8f8eb; }
.text-beige-200 { color: #f8f8eb; }
.border-beige-200 { border-color: #f8f8eb; }
.outline-beige-200 { outline-color: #f8f8eb; }

.bg-beige-300 { background-color: #f7f7e6; }
.text-beige-300 { color: #f7f7e6; }
.border-beige-300 { border-color: #f7f7e6; }
.outline-beige-300 { outline-color: #f7f7e6; }

.bg-beige-400 { background-color: #f6f6e1; }
.text-beige-400 { color: #f6f6e1; }
.border-beige-400 { border-color: #f6f6e1; }
.outline-beige-400 { outline-color: #f6f6e1; }

.bg-beige-500 { background-color: #f5f5dc; }
.text-beige-500 { color: #f5f5dc; }
.border-beige-500 { border-color: #f5f5dc; }
.outline-beige-500 { outline-color: #f5f5dc; }

.bg-beige-600 { background-color: #ccccb7; }
.text-beige-600 { color: #ccccb7; }
.border-beige-600 { border-color: #ccccb7; }
.outline-beige-600 { outline-color: #ccccb7; }

.bg-beige-700 { background-color: #a3a392; }
.text-beige-700 { color: #a3a392; }
.border-beige-700 { border-color: #a3a392; }
.outline-beige-700 { outline-color: #a3a392; }

.bg-beige-800 { background-color: #7a7a6d; }
.text-beige-800 { color: #7a7a6d; }
.border-beige-800 { border-color: #7a7a6d; }
.outline-beige-800 { outline-color: #7a7a6d; }

.bg-beige-900 { background-color: #515148; }
.text-beige-900 { color: #515148; }
.border-beige-900 { border-color: #515148; }
.outline-beige-900 { outline-color: #515148; }

.bg-beige-950 { background-color: #282823; }
.text-beige-950 { color: #282823; }
.border-beige-950 { border-color: #282823; }
.outline-beige-950 { outline-color: #282823; }


