



.bg-beige-50 { background-color: #fdfdf9; }
.text-beige-50 { color: #fdfdf9; }
.border-beige-50 { border-color: #fdfdf9; }
.outline-beige-50 { outline-color: #fdfdf9; }

.bg-beige-100 { background-color: #fbfbf3; }
.text-beige-100 { color: #fbfbf3; }
.border-beige-100 { border-color: #fbfbf3; }
.outline-beige-100 { outline-color: #fbfbf3; }

.bg-beige-200 { background-color: #fafaed; }
.text-beige-200 { color: #fafaed; }
.border-beige-200 { border-color: #fafaed; }
.outline-beige-200 { outline-color: #fafaed; }

.bg-beige-300 { background-color: #f8f8e7; }
.text-beige-300 { color: #f8f8e7; }
.border-beige-300 { border-color: #f8f8e7; }
.outline-beige-300 { outline-color: #f8f8e7; }

.bg-beige-400 { background-color: #f6f6e1; }
.text-beige-400 { color: #f6f6e1; }
.border-beige-400 { border-color: #f6f6e1; }
.outline-beige-400 { outline-color: #f6f6e1; }

.bg-beige-500 { background-color: #f5f5dc; }
.text-beige-500 { color: #f5f5dc; }
.border-beige-500 { border-color: #f5f5dc; }
.outline-beige-500 { outline-color: #f5f5dc; }

.bg-beige-600 { background-color: #ccccb7; }
.text-beige-600 { color: #ccccb7; }
.border-beige-600 { border-color: #ccccb7; }
.outline-beige-600 { outline-color: #ccccb7; }

.bg-beige-700 { background-color: #a3a392; }
.text-beige-700 { color: #a3a392; }
.border-beige-700 { border-color: #a3a392; }
.outline-beige-700 { outline-color: #a3a392; }

.bg-beige-800 { background-color: #7a7a6e; }
.text-beige-800 { color: #7a7a6e; }
.border-beige-800 { border-color: #7a7a6e; }
.outline-beige-800 { outline-color: #7a7a6e; }

.bg-beige-900 { background-color: #515149; }
.text-beige-900 { color: #515149; }
.border-beige-900 { border-color: #515149; }
.outline-beige-900 { outline-color: #515149; }

.bg-beige-950 { background-color: #282824; }
.text-beige-950 { color: #282824; }
.border-beige-950 { border-color: #282824; }
.outline-beige-950 { outline-color: #282824; }


