



.bg-bisque-50 { background-color: #fff8f1; }
.text-bisque-50 { color: #fff8f1; }
.border-bisque-50 { border-color: #fff8f1; }
.outline-bisque-50 { outline-color: #fff8f1; }

.bg-bisque-100 { background-color: #fff4e8; }
.text-bisque-100 { color: #fff4e8; }
.border-bisque-100 { border-color: #fff4e8; }
.outline-bisque-100 { outline-color: #fff4e8; }

.bg-bisque-200 { background-color: #fff0df; }
.text-bisque-200 { color: #fff0df; }
.border-bisque-200 { border-color: #fff0df; }
.outline-bisque-200 { outline-color: #fff0df; }

.bg-bisque-300 { background-color: #ffecd6; }
.text-bisque-300 { color: #ffecd6; }
.border-bisque-300 { border-color: #ffecd6; }
.outline-bisque-300 { outline-color: #ffecd6; }

.bg-bisque-400 { background-color: #ffe8cd; }
.text-bisque-400 { color: #ffe8cd; }
.border-bisque-400 { border-color: #ffe8cd; }
.outline-bisque-400 { outline-color: #ffe8cd; }

.bg-bisque-500 { background-color: #ffe4c4; }
.text-bisque-500 { color: #ffe4c4; }
.border-bisque-500 { border-color: #ffe4c4; }
.outline-bisque-500 { outline-color: #ffe4c4; }

.bg-bisque-600 { background-color: #d4bea3; }
.text-bisque-600 { color: #d4bea3; }
.border-bisque-600 { border-color: #d4bea3; }
.outline-bisque-600 { outline-color: #d4bea3; }

.bg-bisque-700 { background-color: #a99882; }
.text-bisque-700 { color: #a99882; }
.border-bisque-700 { border-color: #a99882; }
.outline-bisque-700 { outline-color: #a99882; }

.bg-bisque-800 { background-color: #7e7261; }
.text-bisque-800 { color: #7e7261; }
.border-bisque-800 { border-color: #7e7261; }
.outline-bisque-800 { outline-color: #7e7261; }

.bg-bisque-900 { background-color: #534c40; }
.text-bisque-900 { color: #534c40; }
.border-bisque-900 { border-color: #534c40; }
.outline-bisque-900 { outline-color: #534c40; }

.bg-bisque-950 { background-color: #28261f; }
.text-bisque-950 { color: #28261f; }
.border-bisque-950 { border-color: #28261f; }
.outline-bisque-950 { outline-color: #28261f; }


