
.bg-bisque-50 { background-color: #fffaf5; }
.text-bisque-50 { color: #fffaf5; }
.border-bisque-50 { border-color: #fffaf5; }
.outline-bisque-50 { outline-color: #fffaf5; }

.bg-bisque-100 { background-color: #fff6eb; }
.text-bisque-100 { color: #fff6eb; }
.border-bisque-100 { border-color: #fff6eb; }
.outline-bisque-100 { outline-color: #fff6eb; }

.bg-bisque-200 { background-color: #fff1e1; }
.text-bisque-200 { color: #fff1e1; }
.border-bisque-200 { border-color: #fff1e1; }
.outline-bisque-200 { outline-color: #fff1e1; }

.bg-bisque-300 { background-color: #ffedd7; }
.text-bisque-300 { color: #ffedd7; }
.border-bisque-300 { border-color: #ffedd7; }
.outline-bisque-300 { outline-color: #ffedd7; }

.bg-bisque-400 { background-color: #ffe8cd; }
.text-bisque-400 { color: #ffe8cd; }
.border-bisque-400 { border-color: #ffe8cd; }
.outline-bisque-400 { outline-color: #ffe8cd; }

.bg-bisque-500 { background-color: #ffe4c4; }
.text-bisque-500 { color: #ffe4c4; }
.border-bisque-500 { border-color: #ffe4c4; }
.outline-bisque-500 { outline-color: #ffe4c4; }

.bg-bisque-600 { background-color: #d4bea3; }
.text-bisque-600 { color: #d4bea3; }
.border-bisque-600 { border-color: #d4bea3; }
.outline-bisque-600 { outline-color: #d4bea3; }

.bg-bisque-700 { background-color: #aa9882; }
.text-bisque-700 { color: #aa9882; }
.border-bisque-700 { border-color: #aa9882; }
.outline-bisque-700 { outline-color: #aa9882; }

.bg-bisque-800 { background-color: #7f7262; }
.text-bisque-800 { color: #7f7262; }
.border-bisque-800 { border-color: #7f7262; }
.outline-bisque-800 { outline-color: #7f7262; }

.bg-bisque-900 { background-color: #554c41; }
.text-bisque-900 { color: #554c41; }
.border-bisque-900 { border-color: #554c41; }
.outline-bisque-900 { outline-color: #554c41; }

.bg-bisque-950 { background-color: #2a2620; }
.text-bisque-950 { color: #2a2620; }
.border-bisque-950 { border-color: #2a2620; }
.outline-bisque-950 { outline-color: #2a2620; }
