



.bg-black-50 { background-color: #d2d2d2; }
.text-black-50 { color: #d2d2d2; }
.border-black-50 { border-color: #d2d2d2; }
.outline-black-50 { outline-color: #d2d2d2; }

.bg-black-100 { background-color: #a8a8a8; }
.text-black-100 { color: #a8a8a8; }
.border-black-100 { border-color: #a8a8a8; }
.outline-black-100 { outline-color: #a8a8a8; }

.bg-black-200 { background-color: #7e7e7e; }
.text-black-200 { color: #7e7e7e; }
.border-black-200 { border-color: #7e7e7e; }
.outline-black-200 { outline-color: #7e7e7e; }

.bg-black-300 { background-color: #545454; }
.text-black-300 { color: #545454; }
.border-black-300 { border-color: #545454; }
.outline-black-300 { outline-color: #545454; }

.bg-black-400 { background-color: #2a2a2a; }
.text-black-400 { color: #2a2a2a; }
.border-black-400 { border-color: #2a2a2a; }
.outline-black-400 { outline-color: #2a2a2a; }

.bg-black-500 { background-color: #000000; }
.text-black-500 { color: #000000; }
.border-black-500 { border-color: #000000; }
.outline-black-500 { outline-color: #000000; }

.bg-black-600 { background-color: #000000; }
.text-black-600 { color: #000000; }
.border-black-600 { border-color: #000000; }
.outline-black-600 { outline-color: #000000; }

.bg-black-700 { background-color: #000000; }
.text-black-700 { color: #000000; }
.border-black-700 { border-color: #000000; }
.outline-black-700 { outline-color: #000000; }

.bg-black-800 { background-color: #000000; }
.text-black-800 { color: #000000; }
.border-black-800 { border-color: #000000; }
.outline-black-800 { outline-color: #000000; }

.bg-black-900 { background-color: #000000; }
.text-black-900 { color: #000000; }
.border-black-900 { border-color: #000000; }
.outline-black-900 { outline-color: #000000; }

.bg-black-950 { background-color: #000000; }
.text-black-950 { color: #000000; }
.border-black-950 { border-color: #000000; }
.outline-black-950 { outline-color: #000000; }


