
/* github: https://github.com/iaseth/html-color-names */

.bg-black-50 { background-color: #d4d4d4; }
.text-black-50 { color: #d4d4d4; }
.border-black-50 { border-color: #d4d4d4; }
.outline-black-50 { outline-color: #d4d4d4; }

.bg-black-100 { background-color: #aaaaaa; }
.text-black-100 { color: #aaaaaa; }
.border-black-100 { border-color: #aaaaaa; }
.outline-black-100 { outline-color: #aaaaaa; }

.bg-black-200 { background-color: #7f7f7f; }
.text-black-200 { color: #7f7f7f; }
.border-black-200 { border-color: #7f7f7f; }
.outline-black-200 { outline-color: #7f7f7f; }

.bg-black-300 { background-color: #555555; }
.text-black-300 { color: #555555; }
.border-black-300 { border-color: #555555; }
.outline-black-300 { outline-color: #555555; }

.bg-black-400 { background-color: #2a2a2a; }
.text-black-400 { color: #2a2a2a; }
.border-black-400 { border-color: #2a2a2a; }
.outline-black-400 { outline-color: #2a2a2a; }

.bg-black-500 { background-color: #000000; }
.text-black-500 { color: #000000; }
.border-black-500 { border-color: #000000; }
.outline-black-500 { outline-color: #000000; }

.bg-black-600 { background-color: #000000; }
.text-black-600 { color: #000000; }
.border-black-600 { border-color: #000000; }
.outline-black-600 { outline-color: #000000; }

.bg-black-700 { background-color: #000000; }
.text-black-700 { color: #000000; }
.border-black-700 { border-color: #000000; }
.outline-black-700 { outline-color: #000000; }

.bg-black-800 { background-color: #000000; }
.text-black-800 { color: #000000; }
.border-black-800 { border-color: #000000; }
.outline-black-800 { outline-color: #000000; }

.bg-black-900 { background-color: #000000; }
.text-black-900 { color: #000000; }
.border-black-900 { border-color: #000000; }
.outline-black-900 { outline-color: #000000; }

.bg-black-950 { background-color: #000000; }
.text-black-950 { color: #000000; }
.border-black-950 { border-color: #000000; }
.outline-black-950 { outline-color: #000000; }

