



.bg-blanchedalmond-50 { background-color: #fffbf6; }
.text-blanchedalmond-50 { color: #fffbf6; }
.border-blanchedalmond-50 { border-color: #fffbf6; }
.outline-blanchedalmond-50 { outline-color: #fffbf6; }

.bg-blanchedalmond-100 { background-color: #fff8ee; }
.text-blanchedalmond-100 { color: #fff8ee; }
.border-blanchedalmond-100 { border-color: #fff8ee; }
.outline-blanchedalmond-100 { outline-color: #fff8ee; }

.bg-blanchedalmond-200 { background-color: #fff5e6; }
.text-blanchedalmond-200 { color: #fff5e6; }
.border-blanchedalmond-200 { border-color: #fff5e6; }
.outline-blanchedalmond-200 { outline-color: #fff5e6; }

.bg-blanchedalmond-300 { background-color: #fff1dd; }
.text-blanchedalmond-300 { color: #fff1dd; }
.border-blanchedalmond-300 { border-color: #fff1dd; }
.outline-blanchedalmond-300 { outline-color: #fff1dd; }

.bg-blanchedalmond-400 { background-color: #ffeed5; }
.text-blanchedalmond-400 { color: #ffeed5; }
.border-blanchedalmond-400 { border-color: #ffeed5; }
.outline-blanchedalmond-400 { outline-color: #ffeed5; }

.bg-blanchedalmond-500 { background-color: #ffebcd; }
.text-blanchedalmond-500 { color: #ffebcd; }
.border-blanchedalmond-500 { border-color: #ffebcd; }
.outline-blanchedalmond-500 { outline-color: #ffebcd; }

.bg-blanchedalmond-600 { background-color: #d4c3aa; }
.text-blanchedalmond-600 { color: #d4c3aa; }
.border-blanchedalmond-600 { border-color: #d4c3aa; }
.outline-blanchedalmond-600 { outline-color: #d4c3aa; }

.bg-blanchedalmond-700 { background-color: #aa9c88; }
.text-blanchedalmond-700 { color: #aa9c88; }
.border-blanchedalmond-700 { border-color: #aa9c88; }
.outline-blanchedalmond-700 { outline-color: #aa9c88; }

.bg-blanchedalmond-800 { background-color: #7f7566; }
.text-blanchedalmond-800 { color: #7f7566; }
.border-blanchedalmond-800 { border-color: #7f7566; }
.outline-blanchedalmond-800 { outline-color: #7f7566; }

.bg-blanchedalmond-900 { background-color: #554e44; }
.text-blanchedalmond-900 { color: #554e44; }
.border-blanchedalmond-900 { border-color: #554e44; }
.outline-blanchedalmond-900 { outline-color: #554e44; }

.bg-blanchedalmond-950 { background-color: #2a2722; }
.text-blanchedalmond-950 { color: #2a2722; }
.border-blanchedalmond-950 { border-color: #2a2722; }
.outline-blanchedalmond-950 { outline-color: #2a2722; }


