



.bg-blanchedalmond-50 { background-color: #fffaf5; }
.text-blanchedalmond-50 { color: #fffaf5; }
.border-blanchedalmond-50 { border-color: #fffaf5; }
.outline-blanchedalmond-50 { outline-color: #fffaf5; }

.bg-blanchedalmond-100 { background-color: #fff7ed; }
.text-blanchedalmond-100 { color: #fff7ed; }
.border-blanchedalmond-100 { border-color: #fff7ed; }
.outline-blanchedalmond-100 { outline-color: #fff7ed; }

.bg-blanchedalmond-200 { background-color: #fff4e5; }
.text-blanchedalmond-200 { color: #fff4e5; }
.border-blanchedalmond-200 { border-color: #fff4e5; }
.outline-blanchedalmond-200 { outline-color: #fff4e5; }

.bg-blanchedalmond-300 { background-color: #fff1dd; }
.text-blanchedalmond-300 { color: #fff1dd; }
.border-blanchedalmond-300 { border-color: #fff1dd; }
.outline-blanchedalmond-300 { outline-color: #fff1dd; }

.bg-blanchedalmond-400 { background-color: #ffeed5; }
.text-blanchedalmond-400 { color: #ffeed5; }
.border-blanchedalmond-400 { border-color: #ffeed5; }
.outline-blanchedalmond-400 { outline-color: #ffeed5; }

.bg-blanchedalmond-500 { background-color: #ffebcd; }
.text-blanchedalmond-500 { color: #ffebcd; }
.border-blanchedalmond-500 { border-color: #ffebcd; }
.outline-blanchedalmond-500 { outline-color: #ffebcd; }

.bg-blanchedalmond-600 { background-color: #d4c3aa; }
.text-blanchedalmond-600 { color: #d4c3aa; }
.border-blanchedalmond-600 { border-color: #d4c3aa; }
.outline-blanchedalmond-600 { outline-color: #d4c3aa; }

.bg-blanchedalmond-700 { background-color: #a99b87; }
.text-blanchedalmond-700 { color: #a99b87; }
.border-blanchedalmond-700 { border-color: #a99b87; }
.outline-blanchedalmond-700 { outline-color: #a99b87; }

.bg-blanchedalmond-800 { background-color: #7e7364; }
.text-blanchedalmond-800 { color: #7e7364; }
.border-blanchedalmond-800 { border-color: #7e7364; }
.outline-blanchedalmond-800 { outline-color: #7e7364; }

.bg-blanchedalmond-900 { background-color: #534b41; }
.text-blanchedalmond-900 { color: #534b41; }
.border-blanchedalmond-900 { border-color: #534b41; }
.outline-blanchedalmond-900 { outline-color: #534b41; }

.bg-blanchedalmond-950 { background-color: #28231e; }
.text-blanchedalmond-950 { color: #28231e; }
.border-blanchedalmond-950 { border-color: #28231e; }
.outline-blanchedalmond-950 { outline-color: #28231e; }


