



.bg-blueviolet-50 { background-color: #e9daf6; }
.text-blueviolet-50 { color: #e9daf6; }
.border-blueviolet-50 { border-color: #e9daf6; }
.outline-blueviolet-50 { outline-color: #e9daf6; }

.bg-blueviolet-100 { background-color: #d6b7f2; }
.text-blueviolet-100 { color: #d6b7f2; }
.border-blueviolet-100 { border-color: #d6b7f2; }
.outline-blueviolet-100 { outline-color: #d6b7f2; }

.bg-blueviolet-200 { background-color: #c394ee; }
.text-blueviolet-200 { color: #c394ee; }
.border-blueviolet-200 { border-color: #c394ee; }
.outline-blueviolet-200 { outline-color: #c394ee; }

.bg-blueviolet-300 { background-color: #b071ea; }
.text-blueviolet-300 { color: #b071ea; }
.border-blueviolet-300 { border-color: #b071ea; }
.outline-blueviolet-300 { outline-color: #b071ea; }

.bg-blueviolet-400 { background-color: #9d4ee6; }
.text-blueviolet-400 { color: #9d4ee6; }
.border-blueviolet-400 { border-color: #9d4ee6; }
.outline-blueviolet-400 { outline-color: #9d4ee6; }

.bg-blueviolet-500 { background-color: #8a2be2; }
.text-blueviolet-500 { color: #8a2be2; }
.border-blueviolet-500 { border-color: #8a2be2; }
.outline-blueviolet-500 { outline-color: #8a2be2; }

.bg-blueviolet-600 { background-color: #7323bc; }
.text-blueviolet-600 { color: #7323bc; }
.border-blueviolet-600 { border-color: #7323bc; }
.outline-blueviolet-600 { outline-color: #7323bc; }

.bg-blueviolet-700 { background-color: #5c1b96; }
.text-blueviolet-700 { color: #5c1b96; }
.border-blueviolet-700 { border-color: #5c1b96; }
.outline-blueviolet-700 { outline-color: #5c1b96; }

.bg-blueviolet-800 { background-color: #451370; }
.text-blueviolet-800 { color: #451370; }
.border-blueviolet-800 { border-color: #451370; }
.outline-blueviolet-800 { outline-color: #451370; }

.bg-blueviolet-900 { background-color: #2e0b4a; }
.text-blueviolet-900 { color: #2e0b4a; }
.border-blueviolet-900 { border-color: #2e0b4a; }
.outline-blueviolet-900 { outline-color: #2e0b4a; }

.bg-blueviolet-950 { background-color: #170324; }
.text-blueviolet-950 { color: #170324; }
.border-blueviolet-950 { border-color: #170324; }
.outline-blueviolet-950 { outline-color: #170324; }


