



.bg-blueviolet-50 { background-color: #ebdbfa; }
.text-blueviolet-50 { color: #ebdbfa; }
.border-blueviolet-50 { border-color: #ebdbfa; }
.outline-blueviolet-50 { outline-color: #ebdbfa; }

.bg-blueviolet-100 { background-color: #d8b8f5; }
.text-blueviolet-100 { color: #d8b8f5; }
.border-blueviolet-100 { border-color: #d8b8f5; }
.outline-blueviolet-100 { outline-color: #d8b8f5; }

.bg-blueviolet-200 { background-color: #c495f0; }
.text-blueviolet-200 { color: #c495f0; }
.border-blueviolet-200 { border-color: #c495f0; }
.outline-blueviolet-200 { outline-color: #c495f0; }

.bg-blueviolet-300 { background-color: #b171eb; }
.text-blueviolet-300 { color: #b171eb; }
.border-blueviolet-300 { border-color: #b171eb; }
.outline-blueviolet-300 { outline-color: #b171eb; }

.bg-blueviolet-400 { background-color: #9d4ee6; }
.text-blueviolet-400 { color: #9d4ee6; }
.border-blueviolet-400 { border-color: #9d4ee6; }
.outline-blueviolet-400 { outline-color: #9d4ee6; }

.bg-blueviolet-500 { background-color: #8a2be2; }
.text-blueviolet-500 { color: #8a2be2; }
.border-blueviolet-500 { border-color: #8a2be2; }
.outline-blueviolet-500 { outline-color: #8a2be2; }

.bg-blueviolet-600 { background-color: #7323bc; }
.text-blueviolet-600 { color: #7323bc; }
.border-blueviolet-600 { border-color: #7323bc; }
.outline-blueviolet-600 { outline-color: #7323bc; }

.bg-blueviolet-700 { background-color: #5c1c96; }
.text-blueviolet-700 { color: #5c1c96; }
.border-blueviolet-700 { border-color: #5c1c96; }
.outline-blueviolet-700 { outline-color: #5c1c96; }

.bg-blueviolet-800 { background-color: #451571; }
.text-blueviolet-800 { color: #451571; }
.border-blueviolet-800 { border-color: #451571; }
.outline-blueviolet-800 { outline-color: #451571; }

.bg-blueviolet-900 { background-color: #2e0e4b; }
.text-blueviolet-900 { color: #2e0e4b; }
.border-blueviolet-900 { border-color: #2e0e4b; }
.outline-blueviolet-900 { outline-color: #2e0e4b; }

.bg-blueviolet-950 { background-color: #170725; }
.text-blueviolet-950 { color: #170725; }
.border-blueviolet-950 { border-color: #170725; }
.outline-blueviolet-950 { outline-color: #170725; }


