
.bg-blue-50 { background-color: #d4d4ff; }
.text-blue-50 { color: #d4d4ff; }
.border-blue-50 { border-color: #d4d4ff; }
.outline-blue-50 { outline-color: #d4d4ff; }

.bg-blue-100 { background-color: #aaaaff; }
.text-blue-100 { color: #aaaaff; }
.border-blue-100 { border-color: #aaaaff; }
.outline-blue-100 { outline-color: #aaaaff; }

.bg-blue-200 { background-color: #7f7fff; }
.text-blue-200 { color: #7f7fff; }
.border-blue-200 { border-color: #7f7fff; }
.outline-blue-200 { outline-color: #7f7fff; }

.bg-blue-300 { background-color: #5555ff; }
.text-blue-300 { color: #5555ff; }
.border-blue-300 { border-color: #5555ff; }
.outline-blue-300 { outline-color: #5555ff; }

.bg-blue-400 { background-color: #2a2aff; }
.text-blue-400 { color: #2a2aff; }
.border-blue-400 { border-color: #2a2aff; }
.outline-blue-400 { outline-color: #2a2aff; }

.bg-blue-500 { background-color: #0000ff; }
.text-blue-500 { color: #0000ff; }
.border-blue-500 { border-color: #0000ff; }
.outline-blue-500 { outline-color: #0000ff; }

.bg-blue-600 { background-color: #0000d4; }
.text-blue-600 { color: #0000d4; }
.border-blue-600 { border-color: #0000d4; }
.outline-blue-600 { outline-color: #0000d4; }

.bg-blue-700 { background-color: #0000aa; }
.text-blue-700 { color: #0000aa; }
.border-blue-700 { border-color: #0000aa; }
.outline-blue-700 { outline-color: #0000aa; }

.bg-blue-800 { background-color: #00007f; }
.text-blue-800 { color: #00007f; }
.border-blue-800 { border-color: #00007f; }
.outline-blue-800 { outline-color: #00007f; }

.bg-blue-900 { background-color: #000055; }
.text-blue-900 { color: #000055; }
.border-blue-900 { border-color: #000055; }
.outline-blue-900 { outline-color: #000055; }

.bg-blue-950 { background-color: #00002a; }
.text-blue-950 { color: #00002a; }
.border-blue-950 { border-color: #00002a; }
.outline-blue-950 { outline-color: #00002a; }
