



.bg-blue-50 { background-color: #d2d2ff; }
.text-blue-50 { color: #d2d2ff; }
.border-blue-50 { border-color: #d2d2ff; }
.outline-blue-50 { outline-color: #d2d2ff; }

.bg-blue-100 { background-color: #a8a8ff; }
.text-blue-100 { color: #a8a8ff; }
.border-blue-100 { border-color: #a8a8ff; }
.outline-blue-100 { outline-color: #a8a8ff; }

.bg-blue-200 { background-color: #7e7eff; }
.text-blue-200 { color: #7e7eff; }
.border-blue-200 { border-color: #7e7eff; }
.outline-blue-200 { outline-color: #7e7eff; }

.bg-blue-300 { background-color: #5454ff; }
.text-blue-300 { color: #5454ff; }
.border-blue-300 { border-color: #5454ff; }
.outline-blue-300 { outline-color: #5454ff; }

.bg-blue-400 { background-color: #2a2aff; }
.text-blue-400 { color: #2a2aff; }
.border-blue-400 { border-color: #2a2aff; }
.outline-blue-400 { outline-color: #2a2aff; }

.bg-blue-500 { background-color: #0000ff; }
.text-blue-500 { color: #0000ff; }
.border-blue-500 { border-color: #0000ff; }
.outline-blue-500 { outline-color: #0000ff; }

.bg-blue-600 { background-color: #0000d4; }
.text-blue-600 { color: #0000d4; }
.border-blue-600 { border-color: #0000d4; }
.outline-blue-600 { outline-color: #0000d4; }

.bg-blue-700 { background-color: #0000a9; }
.text-blue-700 { color: #0000a9; }
.border-blue-700 { border-color: #0000a9; }
.outline-blue-700 { outline-color: #0000a9; }

.bg-blue-800 { background-color: #00007e; }
.text-blue-800 { color: #00007e; }
.border-blue-800 { border-color: #00007e; }
.outline-blue-800 { outline-color: #00007e; }

.bg-blue-900 { background-color: #000053; }
.text-blue-900 { color: #000053; }
.border-blue-900 { border-color: #000053; }
.outline-blue-900 { outline-color: #000053; }

.bg-blue-950 { background-color: #000028; }
.text-blue-950 { color: #000028; }
.border-blue-950 { border-color: #000028; }
.outline-blue-950 { outline-color: #000028; }


