
/* github: https://github.com/iaseth/html-color-names */

.bg-brown-50 { background-color: #f0dbdb; }
.text-brown-50 { color: #f0dbdb; }
.border-brown-50 { border-color: #f0dbdb; }
.outline-brown-50 { outline-color: #f0dbdb; }

.bg-brown-100 { background-color: #e1b8b8; }
.text-brown-100 { color: #e1b8b8; }
.border-brown-100 { border-color: #e1b8b8; }
.outline-brown-100 { outline-color: #e1b8b8; }

.bg-brown-200 { background-color: #d29494; }
.text-brown-200 { color: #d29494; }
.border-brown-200 { border-color: #d29494; }
.outline-brown-200 { outline-color: #d29494; }

.bg-brown-300 { background-color: #c37171; }
.text-brown-300 { color: #c37171; }
.border-brown-300 { border-color: #c37171; }
.outline-brown-300 { outline-color: #c37171; }

.bg-brown-400 { background-color: #b44d4d; }
.text-brown-400 { color: #b44d4d; }
.border-brown-400 { border-color: #b44d4d; }
.outline-brown-400 { outline-color: #b44d4d; }

.bg-brown-500 { background-color: #a52a2a; }
.text-brown-500 { color: #a52a2a; }
.border-brown-500 { border-color: #a52a2a; }
.outline-brown-500 { outline-color: #a52a2a; }

.bg-brown-600 { background-color: #892323; }
.text-brown-600 { color: #892323; }
.border-brown-600 { border-color: #892323; }
.outline-brown-600 { outline-color: #892323; }

.bg-brown-700 { background-color: #6e1c1c; }
.text-brown-700 { color: #6e1c1c; }
.border-brown-700 { border-color: #6e1c1c; }
.outline-brown-700 { outline-color: #6e1c1c; }

.bg-brown-800 { background-color: #521515; }
.text-brown-800 { color: #521515; }
.border-brown-800 { border-color: #521515; }
.outline-brown-800 { outline-color: #521515; }

.bg-brown-900 { background-color: #370e0e; }
.text-brown-900 { color: #370e0e; }
.border-brown-900 { border-color: #370e0e; }
.outline-brown-900 { outline-color: #370e0e; }

.bg-brown-950 { background-color: #1b0707; }
.text-brown-950 { color: #1b0707; }
.border-brown-950 { border-color: #1b0707; }
.outline-brown-950 { outline-color: #1b0707; }

