



.bg-brown-50 { background-color: #f0d9d9; }
.text-brown-50 { color: #f0d9d9; }
.border-brown-50 { border-color: #f0d9d9; }
.outline-brown-50 { outline-color: #f0d9d9; }

.bg-brown-100 { background-color: #e1b6b6; }
.text-brown-100 { color: #e1b6b6; }
.border-brown-100 { border-color: #e1b6b6; }
.outline-brown-100 { outline-color: #e1b6b6; }

.bg-brown-200 { background-color: #d29393; }
.text-brown-200 { color: #d29393; }
.border-brown-200 { border-color: #d29393; }
.outline-brown-200 { outline-color: #d29393; }

.bg-brown-300 { background-color: #c37070; }
.text-brown-300 { color: #c37070; }
.border-brown-300 { border-color: #c37070; }
.outline-brown-300 { outline-color: #c37070; }

.bg-brown-400 { background-color: #b44d4d; }
.text-brown-400 { color: #b44d4d; }
.border-brown-400 { border-color: #b44d4d; }
.outline-brown-400 { outline-color: #b44d4d; }

.bg-brown-500 { background-color: #a52a2a; }
.text-brown-500 { color: #a52a2a; }
.border-brown-500 { border-color: #a52a2a; }
.outline-brown-500 { outline-color: #a52a2a; }

.bg-brown-600 { background-color: #892323; }
.text-brown-600 { color: #892323; }
.border-brown-600 { border-color: #892323; }
.outline-brown-600 { outline-color: #892323; }

.bg-brown-700 { background-color: #6d1c1c; }
.text-brown-700 { color: #6d1c1c; }
.border-brown-700 { border-color: #6d1c1c; }
.outline-brown-700 { outline-color: #6d1c1c; }

.bg-brown-800 { background-color: #511515; }
.text-brown-800 { color: #511515; }
.border-brown-800 { border-color: #511515; }
.outline-brown-800 { outline-color: #511515; }

.bg-brown-900 { background-color: #350e0e; }
.text-brown-900 { color: #350e0e; }
.border-brown-900 { border-color: #350e0e; }
.outline-brown-900 { outline-color: #350e0e; }

.bg-brown-950 { background-color: #190707; }
.text-brown-950 { color: #190707; }
.border-brown-950 { border-color: #190707; }
.outline-brown-950 { outline-color: #190707; }


