



.bg-burlywood-50 { background-color: #f9f3eb; }
.text-burlywood-50 { color: #f9f3eb; }
.border-burlywood-50 { border-color: #f9f3eb; }
.outline-burlywood-50 { outline-color: #f9f3eb; }

.bg-burlywood-100 { background-color: #f4e7d7; }
.text-burlywood-100 { color: #f4e7d7; }
.border-burlywood-100 { border-color: #f4e7d7; }
.outline-burlywood-100 { outline-color: #f4e7d7; }

.bg-burlywood-200 { background-color: #eedbc3; }
.text-burlywood-200 { color: #eedbc3; }
.border-burlywood-200 { border-color: #eedbc3; }
.outline-burlywood-200 { outline-color: #eedbc3; }

.bg-burlywood-300 { background-color: #e9cfaf; }
.text-burlywood-300 { color: #e9cfaf; }
.border-burlywood-300 { border-color: #e9cfaf; }
.outline-burlywood-300 { outline-color: #e9cfaf; }

.bg-burlywood-400 { background-color: #e3c39b; }
.text-burlywood-400 { color: #e3c39b; }
.border-burlywood-400 { border-color: #e3c39b; }
.outline-burlywood-400 { outline-color: #e3c39b; }

.bg-burlywood-500 { background-color: #deb887; }
.text-burlywood-500 { color: #deb887; }
.border-burlywood-500 { border-color: #deb887; }
.outline-burlywood-500 { outline-color: #deb887; }

.bg-burlywood-600 { background-color: #b99970; }
.text-burlywood-600 { color: #b99970; }
.border-burlywood-600 { border-color: #b99970; }
.outline-burlywood-600 { outline-color: #b99970; }

.bg-burlywood-700 { background-color: #947a5a; }
.text-burlywood-700 { color: #947a5a; }
.border-burlywood-700 { border-color: #947a5a; }
.outline-burlywood-700 { outline-color: #947a5a; }

.bg-burlywood-800 { background-color: #6f5c43; }
.text-burlywood-800 { color: #6f5c43; }
.border-burlywood-800 { border-color: #6f5c43; }
.outline-burlywood-800 { outline-color: #6f5c43; }

.bg-burlywood-900 { background-color: #4a3d2d; }
.text-burlywood-900 { color: #4a3d2d; }
.border-burlywood-900 { border-color: #4a3d2d; }
.outline-burlywood-900 { outline-color: #4a3d2d; }

.bg-burlywood-950 { background-color: #251e16; }
.text-burlywood-950 { color: #251e16; }
.border-burlywood-950 { border-color: #251e16; }
.outline-burlywood-950 { outline-color: #251e16; }


