



.bg-burlywood-50 { background-color: #f7efeb; }
.text-burlywood-50 { color: #f7efeb; }
.border-burlywood-50 { border-color: #f7efeb; }
.outline-burlywood-50 { outline-color: #f7efeb; }

.bg-burlywood-100 { background-color: #f2e4d7; }
.text-burlywood-100 { color: #f2e4d7; }
.border-burlywood-100 { border-color: #f2e4d7; }
.outline-burlywood-100 { outline-color: #f2e4d7; }

.bg-burlywood-200 { background-color: #edd9c3; }
.text-burlywood-200 { color: #edd9c3; }
.border-burlywood-200 { border-color: #edd9c3; }
.outline-burlywood-200 { outline-color: #edd9c3; }

.bg-burlywood-300 { background-color: #e8ceaf; }
.text-burlywood-300 { color: #e8ceaf; }
.border-burlywood-300 { border-color: #e8ceaf; }
.outline-burlywood-300 { outline-color: #e8ceaf; }

.bg-burlywood-400 { background-color: #e3c39b; }
.text-burlywood-400 { color: #e3c39b; }
.border-burlywood-400 { border-color: #e3c39b; }
.outline-burlywood-400 { outline-color: #e3c39b; }

.bg-burlywood-500 { background-color: #deb887; }
.text-burlywood-500 { color: #deb887; }
.border-burlywood-500 { border-color: #deb887; }
.outline-burlywood-500 { outline-color: #deb887; }

.bg-burlywood-600 { background-color: #b99970; }
.text-burlywood-600 { color: #b99970; }
.border-burlywood-600 { border-color: #b99970; }
.outline-burlywood-600 { outline-color: #b99970; }

.bg-burlywood-700 { background-color: #947a59; }
.text-burlywood-700 { color: #947a59; }
.border-burlywood-700 { border-color: #947a59; }
.outline-burlywood-700 { outline-color: #947a59; }

.bg-burlywood-800 { background-color: #6f5b42; }
.text-burlywood-800 { color: #6f5b42; }
.border-burlywood-800 { border-color: #6f5b42; }
.outline-burlywood-800 { outline-color: #6f5b42; }

.bg-burlywood-900 { background-color: #4a3c2b; }
.text-burlywood-900 { color: #4a3c2b; }
.border-burlywood-900 { border-color: #4a3c2b; }
.outline-burlywood-900 { outline-color: #4a3c2b; }

.bg-burlywood-950 { background-color: #251d14; }
.text-burlywood-950 { color: #251d14; }
.border-burlywood-950 { border-color: #251d14; }
.outline-burlywood-950 { outline-color: #251d14; }


