



.bg-cadetblue-50 { background-color: #e1eeeb; }
.text-cadetblue-50 { color: #e1eeeb; }
.border-cadetblue-50 { border-color: #e1eeeb; }
.outline-cadetblue-50 { outline-color: #e1eeeb; }

.bg-cadetblue-100 { background-color: #c7dedc; }
.text-cadetblue-100 { color: #c7dedc; }
.border-cadetblue-100 { border-color: #c7dedc; }
.outline-cadetblue-100 { outline-color: #c7dedc; }

.bg-cadetblue-200 { background-color: #adcecd; }
.text-cadetblue-200 { color: #adcecd; }
.border-cadetblue-200 { border-color: #adcecd; }
.outline-cadetblue-200 { outline-color: #adcecd; }

.bg-cadetblue-300 { background-color: #93bebe; }
.text-cadetblue-300 { color: #93bebe; }
.border-cadetblue-300 { border-color: #93bebe; }
.outline-cadetblue-300 { outline-color: #93bebe; }

.bg-cadetblue-400 { background-color: #79aeaf; }
.text-cadetblue-400 { color: #79aeaf; }
.border-cadetblue-400 { border-color: #79aeaf; }
.outline-cadetblue-400 { outline-color: #79aeaf; }

.bg-cadetblue-500 { background-color: #5f9ea0; }
.text-cadetblue-500 { color: #5f9ea0; }
.border-cadetblue-500 { border-color: #5f9ea0; }
.outline-cadetblue-500 { outline-color: #5f9ea0; }

.bg-cadetblue-600 { background-color: #4f8385; }
.text-cadetblue-600 { color: #4f8385; }
.border-cadetblue-600 { border-color: #4f8385; }
.outline-cadetblue-600 { outline-color: #4f8385; }

.bg-cadetblue-700 { background-color: #3f686a; }
.text-cadetblue-700 { color: #3f686a; }
.border-cadetblue-700 { border-color: #3f686a; }
.outline-cadetblue-700 { outline-color: #3f686a; }

.bg-cadetblue-800 { background-color: #2f4d4f; }
.text-cadetblue-800 { color: #2f4d4f; }
.border-cadetblue-800 { border-color: #2f4d4f; }
.outline-cadetblue-800 { outline-color: #2f4d4f; }

.bg-cadetblue-900 { background-color: #1f3234; }
.text-cadetblue-900 { color: #1f3234; }
.border-cadetblue-900 { border-color: #1f3234; }
.outline-cadetblue-900 { outline-color: #1f3234; }

.bg-cadetblue-950 { background-color: #0f1719; }
.text-cadetblue-950 { color: #0f1719; }
.border-cadetblue-950 { border-color: #0f1719; }
.outline-cadetblue-950 { outline-color: #0f1719; }


