
/* github: https://github.com/iaseth/html-color-names */

.bg-cadetblue-50 { background-color: #e4eeef; }
.text-cadetblue-50 { color: #e4eeef; }
.border-cadetblue-50 { border-color: #e4eeef; }
.outline-cadetblue-50 { outline-color: #e4eeef; }

.bg-cadetblue-100 { background-color: #c9dedf; }
.text-cadetblue-100 { color: #c9dedf; }
.border-cadetblue-100 { border-color: #c9dedf; }
.outline-cadetblue-100 { outline-color: #c9dedf; }

.bg-cadetblue-200 { background-color: #afcecf; }
.text-cadetblue-200 { color: #afcecf; }
.border-cadetblue-200 { border-color: #afcecf; }
.outline-cadetblue-200 { outline-color: #afcecf; }

.bg-cadetblue-300 { background-color: #94bebf; }
.text-cadetblue-300 { color: #94bebf; }
.border-cadetblue-300 { border-color: #94bebf; }
.outline-cadetblue-300 { outline-color: #94bebf; }

.bg-cadetblue-400 { background-color: #79aeaf; }
.text-cadetblue-400 { color: #79aeaf; }
.border-cadetblue-400 { border-color: #79aeaf; }
.outline-cadetblue-400 { outline-color: #79aeaf; }

.bg-cadetblue-500 { background-color: #5f9ea0; }
.text-cadetblue-500 { color: #5f9ea0; }
.border-cadetblue-500 { border-color: #5f9ea0; }
.outline-cadetblue-500 { outline-color: #5f9ea0; }

.bg-cadetblue-600 { background-color: #4f8385; }
.text-cadetblue-600 { color: #4f8385; }
.border-cadetblue-600 { border-color: #4f8385; }
.outline-cadetblue-600 { outline-color: #4f8385; }

.bg-cadetblue-700 { background-color: #3f696a; }
.text-cadetblue-700 { color: #3f696a; }
.border-cadetblue-700 { border-color: #3f696a; }
.outline-cadetblue-700 { outline-color: #3f696a; }

.bg-cadetblue-800 { background-color: #2f4f50; }
.text-cadetblue-800 { color: #2f4f50; }
.border-cadetblue-800 { border-color: #2f4f50; }
.outline-cadetblue-800 { outline-color: #2f4f50; }

.bg-cadetblue-900 { background-color: #1f3435; }
.text-cadetblue-900 { color: #1f3435; }
.border-cadetblue-900 { border-color: #1f3435; }
.outline-cadetblue-900 { outline-color: #1f3435; }

.bg-cadetblue-950 { background-color: #0f1a1a; }
.text-cadetblue-950 { color: #0f1a1a; }
.border-cadetblue-950 { border-color: #0f1a1a; }
.outline-cadetblue-950 { outline-color: #0f1a1a; }

