
/* github: https://github.com/iaseth/html-color-names */

.bg-chartreuse-50 { background-color: #e9ffd4; }
.text-chartreuse-50 { color: #e9ffd4; }
.border-chartreuse-50 { border-color: #e9ffd4; }
.outline-chartreuse-50 { outline-color: #e9ffd4; }

.bg-chartreuse-100 { background-color: #d4ffaa; }
.text-chartreuse-100 { color: #d4ffaa; }
.border-chartreuse-100 { border-color: #d4ffaa; }
.outline-chartreuse-100 { outline-color: #d4ffaa; }

.bg-chartreuse-200 { background-color: #bfff7f; }
.text-chartreuse-200 { color: #bfff7f; }
.border-chartreuse-200 { border-color: #bfff7f; }
.outline-chartreuse-200 { outline-color: #bfff7f; }

.bg-chartreuse-300 { background-color: #a9ff55; }
.text-chartreuse-300 { color: #a9ff55; }
.border-chartreuse-300 { border-color: #a9ff55; }
.outline-chartreuse-300 { outline-color: #a9ff55; }

.bg-chartreuse-400 { background-color: #94ff2a; }
.text-chartreuse-400 { color: #94ff2a; }
.border-chartreuse-400 { border-color: #94ff2a; }
.outline-chartreuse-400 { outline-color: #94ff2a; }

.bg-chartreuse-500 { background-color: #7fff00; }
.text-chartreuse-500 { color: #7fff00; }
.border-chartreuse-500 { border-color: #7fff00; }
.outline-chartreuse-500 { outline-color: #7fff00; }

.bg-chartreuse-600 { background-color: #69d400; }
.text-chartreuse-600 { color: #69d400; }
.border-chartreuse-600 { border-color: #69d400; }
.outline-chartreuse-600 { outline-color: #69d400; }

.bg-chartreuse-700 { background-color: #54aa00; }
.text-chartreuse-700 { color: #54aa00; }
.border-chartreuse-700 { border-color: #54aa00; }
.outline-chartreuse-700 { outline-color: #54aa00; }

.bg-chartreuse-800 { background-color: #3f7f00; }
.text-chartreuse-800 { color: #3f7f00; }
.border-chartreuse-800 { border-color: #3f7f00; }
.outline-chartreuse-800 { outline-color: #3f7f00; }

.bg-chartreuse-900 { background-color: #2a5500; }
.text-chartreuse-900 { color: #2a5500; }
.border-chartreuse-900 { border-color: #2a5500; }
.outline-chartreuse-900 { outline-color: #2a5500; }

.bg-chartreuse-950 { background-color: #152a00; }
.text-chartreuse-950 { color: #152a00; }
.border-chartreuse-950 { border-color: #152a00; }
.outline-chartreuse-950 { outline-color: #152a00; }

