
.bg-chocolate-50 { background-color: #f7e6d9; }
.text-chocolate-50 { color: #f7e6d9; }
.border-chocolate-50 { border-color: #f7e6d9; }
.outline-chocolate-50 { outline-color: #f7e6d9; }

.bg-chocolate-100 { background-color: #f0cdb4; }
.text-chocolate-100 { color: #f0cdb4; }
.border-chocolate-100 { border-color: #f0cdb4; }
.outline-chocolate-100 { outline-color: #f0cdb4; }

.bg-chocolate-200 { background-color: #e8b48e; }
.text-chocolate-200 { color: #e8b48e; }
.border-chocolate-200 { border-color: #e8b48e; }
.outline-chocolate-200 { outline-color: #e8b48e; }

.bg-chocolate-300 { background-color: #e19b69; }
.text-chocolate-300 { color: #e19b69; }
.border-chocolate-300 { border-color: #e19b69; }
.outline-chocolate-300 { outline-color: #e19b69; }

.bg-chocolate-400 { background-color: #d98243; }
.text-chocolate-400 { color: #d98243; }
.border-chocolate-400 { border-color: #d98243; }
.outline-chocolate-400 { outline-color: #d98243; }

.bg-chocolate-500 { background-color: #d2691e; }
.text-chocolate-500 { color: #d2691e; }
.border-chocolate-500 { border-color: #d2691e; }
.outline-chocolate-500 { outline-color: #d2691e; }

.bg-chocolate-600 { background-color: #af5719; }
.text-chocolate-600 { color: #af5719; }
.border-chocolate-600 { border-color: #af5719; }
.outline-chocolate-600 { outline-color: #af5719; }

.bg-chocolate-700 { background-color: #8c4614; }
.text-chocolate-700 { color: #8c4614; }
.border-chocolate-700 { border-color: #8c4614; }
.outline-chocolate-700 { outline-color: #8c4614; }

.bg-chocolate-800 { background-color: #69340f; }
.text-chocolate-800 { color: #69340f; }
.border-chocolate-800 { border-color: #69340f; }
.outline-chocolate-800 { outline-color: #69340f; }

.bg-chocolate-900 { background-color: #46230a; }
.text-chocolate-900 { color: #46230a; }
.border-chocolate-900 { border-color: #46230a; }
.outline-chocolate-900 { outline-color: #46230a; }

.bg-chocolate-950 { background-color: #231105; }
.text-chocolate-950 { color: #231105; }
.border-chocolate-950 { border-color: #231105; }
.outline-chocolate-950 { outline-color: #231105; }
