



.bg-chocolate-50 { background-color: #f5e6d7; }
.text-chocolate-50 { color: #f5e6d7; }
.border-chocolate-50 { border-color: #f5e6d7; }
.outline-chocolate-50 { outline-color: #f5e6d7; }

.bg-chocolate-100 { background-color: #eecdb2; }
.text-chocolate-100 { color: #eecdb2; }
.border-chocolate-100 { border-color: #eecdb2; }
.outline-chocolate-100 { outline-color: #eecdb2; }

.bg-chocolate-200 { background-color: #e7b48d; }
.text-chocolate-200 { color: #e7b48d; }
.border-chocolate-200 { border-color: #e7b48d; }
.outline-chocolate-200 { outline-color: #e7b48d; }

.bg-chocolate-300 { background-color: #e09b68; }
.text-chocolate-300 { color: #e09b68; }
.border-chocolate-300 { border-color: #e09b68; }
.outline-chocolate-300 { outline-color: #e09b68; }

.bg-chocolate-400 { background-color: #d98243; }
.text-chocolate-400 { color: #d98243; }
.border-chocolate-400 { border-color: #d98243; }
.outline-chocolate-400 { outline-color: #d98243; }

.bg-chocolate-500 { background-color: #d2691e; }
.text-chocolate-500 { color: #d2691e; }
.border-chocolate-500 { border-color: #d2691e; }
.outline-chocolate-500 { outline-color: #d2691e; }

.bg-chocolate-600 { background-color: #af5719; }
.text-chocolate-600 { color: #af5719; }
.border-chocolate-600 { border-color: #af5719; }
.outline-chocolate-600 { outline-color: #af5719; }

.bg-chocolate-700 { background-color: #8c4514; }
.text-chocolate-700 { color: #8c4514; }
.border-chocolate-700 { border-color: #8c4514; }
.outline-chocolate-700 { outline-color: #8c4514; }

.bg-chocolate-800 { background-color: #69330f; }
.text-chocolate-800 { color: #69330f; }
.border-chocolate-800 { border-color: #69330f; }
.outline-chocolate-800 { outline-color: #69330f; }

.bg-chocolate-900 { background-color: #46210a; }
.text-chocolate-900 { color: #46210a; }
.border-chocolate-900 { border-color: #46210a; }
.outline-chocolate-900 { outline-color: #46210a; }

.bg-chocolate-950 { background-color: #230f05; }
.text-chocolate-950 { color: #230f05; }
.border-chocolate-950 { border-color: #230f05; }
.outline-chocolate-950 { outline-color: #230f05; }


