
.bg-coral-50 { background-color: #ffe9e1; }
.text-coral-50 { color: #ffe9e1; }
.border-coral-50 { border-color: #ffe9e1; }
.outline-coral-50 { outline-color: #ffe9e1; }

.bg-coral-100 { background-color: #ffd4c4; }
.text-coral-100 { color: #ffd4c4; }
.border-coral-100 { border-color: #ffd4c4; }
.outline-coral-100 { outline-color: #ffd4c4; }

.bg-coral-200 { background-color: #ffbfa7; }
.text-coral-200 { color: #ffbfa7; }
.border-coral-200 { border-color: #ffbfa7; }
.outline-coral-200 { outline-color: #ffbfa7; }

.bg-coral-300 { background-color: #ffa98a; }
.text-coral-300 { color: #ffa98a; }
.border-coral-300 { border-color: #ffa98a; }
.outline-coral-300 { outline-color: #ffa98a; }

.bg-coral-400 { background-color: #ff946d; }
.text-coral-400 { color: #ff946d; }
.border-coral-400 { border-color: #ff946d; }
.outline-coral-400 { outline-color: #ff946d; }

.bg-coral-500 { background-color: #ff7f50; }
.text-coral-500 { color: #ff7f50; }
.border-coral-500 { border-color: #ff7f50; }
.outline-coral-500 { outline-color: #ff7f50; }

.bg-coral-600 { background-color: #d46942; }
.text-coral-600 { color: #d46942; }
.border-coral-600 { border-color: #d46942; }
.outline-coral-600 { outline-color: #d46942; }

.bg-coral-700 { background-color: #aa5435; }
.text-coral-700 { color: #aa5435; }
.border-coral-700 { border-color: #aa5435; }
.outline-coral-700 { outline-color: #aa5435; }

.bg-coral-800 { background-color: #7f3f28; }
.text-coral-800 { color: #7f3f28; }
.border-coral-800 { border-color: #7f3f28; }
.outline-coral-800 { outline-color: #7f3f28; }

.bg-coral-900 { background-color: #552a1a; }
.text-coral-900 { color: #552a1a; }
.border-coral-900 { border-color: #552a1a; }
.outline-coral-900 { outline-color: #552a1a; }

.bg-coral-950 { background-color: #2a150d; }
.text-coral-950 { color: #2a150d; }
.border-coral-950 { border-color: #2a150d; }
.outline-coral-950 { outline-color: #2a150d; }
