
/* github: https://github.com/iaseth/html-color-names */

.bg-cornsilk-50 { background-color: #fffdf9; }
.text-cornsilk-50 { color: #fffdf9; }
.border-cornsilk-50 { border-color: #fffdf9; }
.outline-cornsilk-50 { outline-color: #fffdf9; }

.bg-cornsilk-100 { background-color: #fffcf3; }
.text-cornsilk-100 { color: #fffcf3; }
.border-cornsilk-100 { border-color: #fffcf3; }
.outline-cornsilk-100 { outline-color: #fffcf3; }

.bg-cornsilk-200 { background-color: #fffbed; }
.text-cornsilk-200 { color: #fffbed; }
.border-cornsilk-200 { border-color: #fffbed; }
.outline-cornsilk-200 { outline-color: #fffbed; }

.bg-cornsilk-300 { background-color: #fffae7; }
.text-cornsilk-300 { color: #fffae7; }
.border-cornsilk-300 { border-color: #fffae7; }
.outline-cornsilk-300 { outline-color: #fffae7; }

.bg-cornsilk-400 { background-color: #fff9e1; }
.text-cornsilk-400 { color: #fff9e1; }
.border-cornsilk-400 { border-color: #fff9e1; }
.outline-cornsilk-400 { outline-color: #fff9e1; }

.bg-cornsilk-500 { background-color: #fff8dc; }
.text-cornsilk-500 { color: #fff8dc; }
.border-cornsilk-500 { border-color: #fff8dc; }
.outline-cornsilk-500 { outline-color: #fff8dc; }

.bg-cornsilk-600 { background-color: #d4ceb7; }
.text-cornsilk-600 { color: #d4ceb7; }
.border-cornsilk-600 { border-color: #d4ceb7; }
.outline-cornsilk-600 { outline-color: #d4ceb7; }

.bg-cornsilk-700 { background-color: #aaa592; }
.text-cornsilk-700 { color: #aaa592; }
.border-cornsilk-700 { border-color: #aaa592; }
.outline-cornsilk-700 { outline-color: #aaa592; }

.bg-cornsilk-800 { background-color: #7f7c6e; }
.text-cornsilk-800 { color: #7f7c6e; }
.border-cornsilk-800 { border-color: #7f7c6e; }
.outline-cornsilk-800 { outline-color: #7f7c6e; }

.bg-cornsilk-900 { background-color: #555249; }
.text-cornsilk-900 { color: #555249; }
.border-cornsilk-900 { border-color: #555249; }
.outline-cornsilk-900 { outline-color: #555249; }

.bg-cornsilk-950 { background-color: #2a2924; }
.text-cornsilk-950 { color: #2a2924; }
.border-cornsilk-950 { border-color: #2a2924; }
.outline-cornsilk-950 { outline-color: #2a2924; }

