



.bg-cornflowerblue-50 { background-color: #e1eafc; }
.text-cornflowerblue-50 { color: #e1eafc; }
.border-cornflowerblue-50 { border-color: #e1eafc; }
.outline-cornflowerblue-50 { outline-color: #e1eafc; }

.bg-cornflowerblue-100 { background-color: #c8d9f9; }
.text-cornflowerblue-100 { color: #c8d9f9; }
.border-cornflowerblue-100 { border-color: #c8d9f9; }
.outline-cornflowerblue-100 { outline-color: #c8d9f9; }

.bg-cornflowerblue-200 { background-color: #afc8f6; }
.text-cornflowerblue-200 { color: #afc8f6; }
.border-cornflowerblue-200 { border-color: #afc8f6; }
.outline-cornflowerblue-200 { outline-color: #afc8f6; }

.bg-cornflowerblue-300 { background-color: #96b7f3; }
.text-cornflowerblue-300 { color: #96b7f3; }
.border-cornflowerblue-300 { border-color: #96b7f3; }
.outline-cornflowerblue-300 { outline-color: #96b7f3; }

.bg-cornflowerblue-400 { background-color: #7da6f0; }
.text-cornflowerblue-400 { color: #7da6f0; }
.border-cornflowerblue-400 { border-color: #7da6f0; }
.outline-cornflowerblue-400 { outline-color: #7da6f0; }

.bg-cornflowerblue-500 { background-color: #6495ed; }
.text-cornflowerblue-500 { color: #6495ed; }
.border-cornflowerblue-500 { border-color: #6495ed; }
.outline-cornflowerblue-500 { outline-color: #6495ed; }

.bg-cornflowerblue-600 { background-color: #537cc5; }
.text-cornflowerblue-600 { color: #537cc5; }
.border-cornflowerblue-600 { border-color: #537cc5; }
.outline-cornflowerblue-600 { outline-color: #537cc5; }

.bg-cornflowerblue-700 { background-color: #42639d; }
.text-cornflowerblue-700 { color: #42639d; }
.border-cornflowerblue-700 { border-color: #42639d; }
.outline-cornflowerblue-700 { outline-color: #42639d; }

.bg-cornflowerblue-800 { background-color: #314a75; }
.text-cornflowerblue-800 { color: #314a75; }
.border-cornflowerblue-800 { border-color: #314a75; }
.outline-cornflowerblue-800 { outline-color: #314a75; }

.bg-cornflowerblue-900 { background-color: #20314d; }
.text-cornflowerblue-900 { color: #20314d; }
.border-cornflowerblue-900 { border-color: #20314d; }
.outline-cornflowerblue-900 { outline-color: #20314d; }

.bg-cornflowerblue-950 { background-color: #0f1825; }
.text-cornflowerblue-950 { color: #0f1825; }
.border-cornflowerblue-950 { border-color: #0f1825; }
.outline-cornflowerblue-950 { outline-color: #0f1825; }


