



.bg-cornsilk-50 { background-color: #fffdf5; }
.text-cornsilk-50 { color: #fffdf5; }
.border-cornsilk-50 { border-color: #fffdf5; }
.outline-cornsilk-50 { outline-color: #fffdf5; }

.bg-cornsilk-100 { background-color: #fffcf0; }
.text-cornsilk-100 { color: #fffcf0; }
.border-cornsilk-100 { border-color: #fffcf0; }
.outline-cornsilk-100 { outline-color: #fffcf0; }

.bg-cornsilk-200 { background-color: #fffbeb; }
.text-cornsilk-200 { color: #fffbeb; }
.border-cornsilk-200 { border-color: #fffbeb; }
.outline-cornsilk-200 { outline-color: #fffbeb; }

.bg-cornsilk-300 { background-color: #fffae6; }
.text-cornsilk-300 { color: #fffae6; }
.border-cornsilk-300 { border-color: #fffae6; }
.outline-cornsilk-300 { outline-color: #fffae6; }

.bg-cornsilk-400 { background-color: #fff9e1; }
.text-cornsilk-400 { color: #fff9e1; }
.border-cornsilk-400 { border-color: #fff9e1; }
.outline-cornsilk-400 { outline-color: #fff9e1; }

.bg-cornsilk-500 { background-color: #fff8dc; }
.text-cornsilk-500 { color: #fff8dc; }
.border-cornsilk-500 { border-color: #fff8dc; }
.outline-cornsilk-500 { outline-color: #fff8dc; }

.bg-cornsilk-600 { background-color: #d4ceb7; }
.text-cornsilk-600 { color: #d4ceb7; }
.border-cornsilk-600 { border-color: #d4ceb7; }
.outline-cornsilk-600 { outline-color: #d4ceb7; }

.bg-cornsilk-700 { background-color: #a9a492; }
.text-cornsilk-700 { color: #a9a492; }
.border-cornsilk-700 { border-color: #a9a492; }
.outline-cornsilk-700 { outline-color: #a9a492; }

.bg-cornsilk-800 { background-color: #7e7a6d; }
.text-cornsilk-800 { color: #7e7a6d; }
.border-cornsilk-800 { border-color: #7e7a6d; }
.outline-cornsilk-800 { outline-color: #7e7a6d; }

.bg-cornsilk-900 { background-color: #535048; }
.text-cornsilk-900 { color: #535048; }
.border-cornsilk-900 { border-color: #535048; }
.outline-cornsilk-900 { outline-color: #535048; }

.bg-cornsilk-950 { background-color: #282623; }
.text-cornsilk-950 { color: #282623; }
.border-cornsilk-950 { border-color: #282623; }
.outline-cornsilk-950 { outline-color: #282623; }


