
/* github: https://github.com/iaseth/html-color-names */

.bg-cornflowerblue-50 { background-color: #e5edfc; }
.text-cornflowerblue-50 { color: #e5edfc; }
.border-cornflowerblue-50 { border-color: #e5edfc; }
.outline-cornflowerblue-50 { outline-color: #e5edfc; }

.bg-cornflowerblue-100 { background-color: #cbdbf9; }
.text-cornflowerblue-100 { color: #cbdbf9; }
.border-cornflowerblue-100 { border-color: #cbdbf9; }
.outline-cornflowerblue-100 { outline-color: #cbdbf9; }

.bg-cornflowerblue-200 { background-color: #b1caf6; }
.text-cornflowerblue-200 { color: #b1caf6; }
.border-cornflowerblue-200 { border-color: #b1caf6; }
.outline-cornflowerblue-200 { outline-color: #b1caf6; }

.bg-cornflowerblue-300 { background-color: #97b8f3; }
.text-cornflowerblue-300 { color: #97b8f3; }
.border-cornflowerblue-300 { border-color: #97b8f3; }
.outline-cornflowerblue-300 { outline-color: #97b8f3; }

.bg-cornflowerblue-400 { background-color: #7da6f0; }
.text-cornflowerblue-400 { color: #7da6f0; }
.border-cornflowerblue-400 { border-color: #7da6f0; }
.outline-cornflowerblue-400 { outline-color: #7da6f0; }

.bg-cornflowerblue-500 { background-color: #6495ed; }
.text-cornflowerblue-500 { color: #6495ed; }
.border-cornflowerblue-500 { border-color: #6495ed; }
.outline-cornflowerblue-500 { outline-color: #6495ed; }

.bg-cornflowerblue-600 { background-color: #537cc5; }
.text-cornflowerblue-600 { color: #537cc5; }
.border-cornflowerblue-600 { border-color: #537cc5; }
.outline-cornflowerblue-600 { outline-color: #537cc5; }

.bg-cornflowerblue-700 { background-color: #42639e; }
.text-cornflowerblue-700 { color: #42639e; }
.border-cornflowerblue-700 { border-color: #42639e; }
.outline-cornflowerblue-700 { outline-color: #42639e; }

.bg-cornflowerblue-800 { background-color: #324a76; }
.text-cornflowerblue-800 { color: #324a76; }
.border-cornflowerblue-800 { border-color: #324a76; }
.outline-cornflowerblue-800 { outline-color: #324a76; }

.bg-cornflowerblue-900 { background-color: #21314f; }
.text-cornflowerblue-900 { color: #21314f; }
.border-cornflowerblue-900 { border-color: #21314f; }
.outline-cornflowerblue-900 { outline-color: #21314f; }

.bg-cornflowerblue-950 { background-color: #101827; }
.text-cornflowerblue-950 { color: #101827; }
.border-cornflowerblue-950 { border-color: #101827; }
.outline-cornflowerblue-950 { outline-color: #101827; }

