
/* github: https://github.com/iaseth/html-color-names */

.bg-crimson-50 { background-color: #f9d7de; }
.text-crimson-50 { color: #f9d7de; }
.border-crimson-50 { border-color: #f9d7de; }
.outline-crimson-50 { outline-color: #f9d7de; }

.bg-crimson-100 { background-color: #f3b0be; }
.text-crimson-100 { color: #f3b0be; }
.border-crimson-100 { border-color: #f3b0be; }
.outline-crimson-100 { outline-color: #f3b0be; }

.bg-crimson-200 { background-color: #ed899d; }
.text-crimson-200 { color: #ed899d; }
.border-crimson-200 { border-color: #ed899d; }
.outline-crimson-200 { outline-color: #ed899d; }

.bg-crimson-300 { background-color: #e7627d; }
.text-crimson-300 { color: #e7627d; }
.border-crimson-300 { border-color: #e7627d; }
.outline-crimson-300 { outline-color: #e7627d; }

.bg-crimson-400 { background-color: #e13b5c; }
.text-crimson-400 { color: #e13b5c; }
.border-crimson-400 { border-color: #e13b5c; }
.outline-crimson-400 { outline-color: #e13b5c; }

.bg-crimson-500 { background-color: #dc143c; }
.text-crimson-500 { color: #dc143c; }
.border-crimson-500 { border-color: #dc143c; }
.outline-crimson-500 { outline-color: #dc143c; }

.bg-crimson-600 { background-color: #b71032; }
.text-crimson-600 { color: #b71032; }
.border-crimson-600 { border-color: #b71032; }
.outline-crimson-600 { outline-color: #b71032; }

.bg-crimson-700 { background-color: #920d28; }
.text-crimson-700 { color: #920d28; }
.border-crimson-700 { border-color: #920d28; }
.outline-crimson-700 { outline-color: #920d28; }

.bg-crimson-800 { background-color: #6e0a1e; }
.text-crimson-800 { color: #6e0a1e; }
.border-crimson-800 { border-color: #6e0a1e; }
.outline-crimson-800 { outline-color: #6e0a1e; }

.bg-crimson-900 { background-color: #490614; }
.text-crimson-900 { color: #490614; }
.border-crimson-900 { border-color: #490614; }
.outline-crimson-900 { outline-color: #490614; }

.bg-crimson-950 { background-color: #24030a; }
.text-crimson-950 { color: #24030a; }
.border-crimson-950 { border-color: #24030a; }
.outline-crimson-950 { outline-color: #24030a; }

