



.bg-crimson-50 { background-color: #f5d7dc; }
.text-crimson-50 { color: #f5d7dc; }
.border-crimson-50 { border-color: #f5d7dc; }
.outline-crimson-50 { outline-color: #f5d7dc; }

.bg-crimson-100 { background-color: #f0b0bc; }
.text-crimson-100 { color: #f0b0bc; }
.border-crimson-100 { border-color: #f0b0bc; }
.outline-crimson-100 { outline-color: #f0b0bc; }

.bg-crimson-200 { background-color: #eb899c; }
.text-crimson-200 { color: #eb899c; }
.border-crimson-200 { border-color: #eb899c; }
.outline-crimson-200 { outline-color: #eb899c; }

.bg-crimson-300 { background-color: #e6627c; }
.text-crimson-300 { color: #e6627c; }
.border-crimson-300 { border-color: #e6627c; }
.outline-crimson-300 { outline-color: #e6627c; }

.bg-crimson-400 { background-color: #e13b5c; }
.text-crimson-400 { color: #e13b5c; }
.border-crimson-400 { border-color: #e13b5c; }
.outline-crimson-400 { outline-color: #e13b5c; }

.bg-crimson-500 { background-color: #dc143c; }
.text-crimson-500 { color: #dc143c; }
.border-crimson-500 { border-color: #dc143c; }
.outline-crimson-500 { outline-color: #dc143c; }

.bg-crimson-600 { background-color: #b71032; }
.text-crimson-600 { color: #b71032; }
.border-crimson-600 { border-color: #b71032; }
.outline-crimson-600 { outline-color: #b71032; }

.bg-crimson-700 { background-color: #920c28; }
.text-crimson-700 { color: #920c28; }
.border-crimson-700 { border-color: #920c28; }
.outline-crimson-700 { outline-color: #920c28; }

.bg-crimson-800 { background-color: #6d081e; }
.text-crimson-800 { color: #6d081e; }
.border-crimson-800 { border-color: #6d081e; }
.outline-crimson-800 { outline-color: #6d081e; }

.bg-crimson-900 { background-color: #480414; }
.text-crimson-900 { color: #480414; }
.border-crimson-900 { border-color: #480414; }
.outline-crimson-900 { outline-color: #480414; }

.bg-crimson-950 { background-color: #23000a; }
.text-crimson-950 { color: #23000a; }
.border-crimson-950 { border-color: #23000a; }
.outline-crimson-950 { outline-color: #23000a; }


