



.bg-cyan-50 { background-color: #d4ffff; }
.text-cyan-50 { color: #d4ffff; }
.border-cyan-50 { border-color: #d4ffff; }
.outline-cyan-50 { outline-color: #d4ffff; }

.bg-cyan-100 { background-color: #aaffff; }
.text-cyan-100 { color: #aaffff; }
.border-cyan-100 { border-color: #aaffff; }
.outline-cyan-100 { outline-color: #aaffff; }

.bg-cyan-200 { background-color: #7fffff; }
.text-cyan-200 { color: #7fffff; }
.border-cyan-200 { border-color: #7fffff; }
.outline-cyan-200 { outline-color: #7fffff; }

.bg-cyan-300 { background-color: #55ffff; }
.text-cyan-300 { color: #55ffff; }
.border-cyan-300 { border-color: #55ffff; }
.outline-cyan-300 { outline-color: #55ffff; }

.bg-cyan-400 { background-color: #2affff; }
.text-cyan-400 { color: #2affff; }
.border-cyan-400 { border-color: #2affff; }
.outline-cyan-400 { outline-color: #2affff; }

.bg-cyan-500 { background-color: #00ffff; }
.text-cyan-500 { color: #00ffff; }
.border-cyan-500 { border-color: #00ffff; }
.outline-cyan-500 { outline-color: #00ffff; }

.bg-cyan-600 { background-color: #00d4d4; }
.text-cyan-600 { color: #00d4d4; }
.border-cyan-600 { border-color: #00d4d4; }
.outline-cyan-600 { outline-color: #00d4d4; }

.bg-cyan-700 { background-color: #00aaaa; }
.text-cyan-700 { color: #00aaaa; }
.border-cyan-700 { border-color: #00aaaa; }
.outline-cyan-700 { outline-color: #00aaaa; }

.bg-cyan-800 { background-color: #007f7f; }
.text-cyan-800 { color: #007f7f; }
.border-cyan-800 { border-color: #007f7f; }
.outline-cyan-800 { outline-color: #007f7f; }

.bg-cyan-900 { background-color: #005555; }
.text-cyan-900 { color: #005555; }
.border-cyan-900 { border-color: #005555; }
.outline-cyan-900 { outline-color: #005555; }

.bg-cyan-950 { background-color: #002a2a; }
.text-cyan-950 { color: #002a2a; }
.border-cyan-950 { border-color: #002a2a; }
.outline-cyan-950 { outline-color: #002a2a; }


