
/* github: https://github.com/iaseth/html-color-names */

.bg-darkslategray-50 { background-color: #dce1e1; }
.text-darkslategray-50 { color: #dce1e1; }
.border-darkslategray-50 { border-color: #dce1e1; }
.outline-darkslategray-50 { outline-color: #dce1e1; }

.bg-darkslategray-100 { background-color: #b9c4c4; }
.text-darkslategray-100 { color: #b9c4c4; }
.border-darkslategray-100 { border-color: #b9c4c4; }
.outline-darkslategray-100 { outline-color: #b9c4c4; }

.bg-darkslategray-200 { background-color: #97a7a7; }
.text-darkslategray-200 { color: #97a7a7; }
.border-darkslategray-200 { border-color: #97a7a7; }
.outline-darkslategray-200 { outline-color: #97a7a7; }

.bg-darkslategray-300 { background-color: #748989; }
.text-darkslategray-300 { color: #748989; }
.border-darkslategray-300 { border-color: #748989; }
.outline-darkslategray-300 { outline-color: #748989; }

.bg-darkslategray-400 { background-color: #516c6c; }
.text-darkslategray-400 { color: #516c6c; }
.border-darkslategray-400 { border-color: #516c6c; }
.outline-darkslategray-400 { outline-color: #516c6c; }

.bg-darkslategray-500 { background-color: #2f4f4f; }
.text-darkslategray-500 { color: #2f4f4f; }
.border-darkslategray-500 { border-color: #2f4f4f; }
.outline-darkslategray-500 { outline-color: #2f4f4f; }

.bg-darkslategray-600 { background-color: #274141; }
.text-darkslategray-600 { color: #274141; }
.border-darkslategray-600 { border-color: #274141; }
.outline-darkslategray-600 { outline-color: #274141; }

.bg-darkslategray-700 { background-color: #1f3434; }
.text-darkslategray-700 { color: #1f3434; }
.border-darkslategray-700 { border-color: #1f3434; }
.outline-darkslategray-700 { outline-color: #1f3434; }

.bg-darkslategray-800 { background-color: #172727; }
.text-darkslategray-800 { color: #172727; }
.border-darkslategray-800 { border-color: #172727; }
.outline-darkslategray-800 { outline-color: #172727; }

.bg-darkslategray-900 { background-color: #0f1a1a; }
.text-darkslategray-900 { color: #0f1a1a; }
.border-darkslategray-900 { border-color: #0f1a1a; }
.outline-darkslategray-900 { outline-color: #0f1a1a; }

.bg-darkslategray-950 { background-color: #070d0d; }
.text-darkslategray-950 { color: #070d0d; }
.border-darkslategray-950 { border-color: #070d0d; }
.outline-darkslategray-950 { outline-color: #070d0d; }

