



.bg-darkslategray-50 { background-color: #d9e0e0; }
.text-darkslategray-50 { color: #d9e0e0; }
.border-darkslategray-50 { border-color: #d9e0e0; }
.outline-darkslategray-50 { outline-color: #d9e0e0; }

.bg-darkslategray-100 { background-color: #b7c3c3; }
.text-darkslategray-100 { color: #b7c3c3; }
.border-darkslategray-100 { border-color: #b7c3c3; }
.outline-darkslategray-100 { outline-color: #b7c3c3; }

.bg-darkslategray-200 { background-color: #95a6a6; }
.text-darkslategray-200 { color: #95a6a6; }
.border-darkslategray-200 { border-color: #95a6a6; }
.outline-darkslategray-200 { outline-color: #95a6a6; }

.bg-darkslategray-300 { background-color: #738989; }
.text-darkslategray-300 { color: #738989; }
.border-darkslategray-300 { border-color: #738989; }
.outline-darkslategray-300 { outline-color: #738989; }

.bg-darkslategray-400 { background-color: #516c6c; }
.text-darkslategray-400 { color: #516c6c; }
.border-darkslategray-400 { border-color: #516c6c; }
.outline-darkslategray-400 { outline-color: #516c6c; }

.bg-darkslategray-500 { background-color: #2f4f4f; }
.text-darkslategray-500 { color: #2f4f4f; }
.border-darkslategray-500 { border-color: #2f4f4f; }
.outline-darkslategray-500 { outline-color: #2f4f4f; }

.bg-darkslategray-600 { background-color: #274141; }
.text-darkslategray-600 { color: #274141; }
.border-darkslategray-600 { border-color: #274141; }
.outline-darkslategray-600 { outline-color: #274141; }

.bg-darkslategray-700 { background-color: #1f3333; }
.text-darkslategray-700 { color: #1f3333; }
.border-darkslategray-700 { border-color: #1f3333; }
.outline-darkslategray-700 { outline-color: #1f3333; }

.bg-darkslategray-800 { background-color: #172525; }
.text-darkslategray-800 { color: #172525; }
.border-darkslategray-800 { border-color: #172525; }
.outline-darkslategray-800 { outline-color: #172525; }

.bg-darkslategray-900 { background-color: #0f1717; }
.text-darkslategray-900 { color: #0f1717; }
.border-darkslategray-900 { border-color: #0f1717; }
.outline-darkslategray-900 { outline-color: #0f1717; }

.bg-darkslategray-950 { background-color: #070909; }
.text-darkslategray-950 { color: #070909; }
.border-darkslategray-950 { border-color: #070909; }
.outline-darkslategray-950 { outline-color: #070909; }


