



.bg-darkorange-50 { background-color: #ffebd4; }
.text-darkorange-50 { color: #ffebd4; }
.border-darkorange-50 { border-color: #ffebd4; }
.outline-darkorange-50 { outline-color: #ffebd4; }

.bg-darkorange-100 { background-color: #ffd8aa; }
.text-darkorange-100 { color: #ffd8aa; }
.border-darkorange-100 { border-color: #ffd8aa; }
.outline-darkorange-100 { outline-color: #ffd8aa; }

.bg-darkorange-200 { background-color: #ffc57f; }
.text-darkorange-200 { color: #ffc57f; }
.border-darkorange-200 { border-color: #ffc57f; }
.outline-darkorange-200 { outline-color: #ffc57f; }

.bg-darkorange-300 { background-color: #ffb255; }
.text-darkorange-300 { color: #ffb255; }
.border-darkorange-300 { border-color: #ffb255; }
.outline-darkorange-300 { outline-color: #ffb255; }

.bg-darkorange-400 { background-color: #ff9f2a; }
.text-darkorange-400 { color: #ff9f2a; }
.border-darkorange-400 { border-color: #ff9f2a; }
.outline-darkorange-400 { outline-color: #ff9f2a; }

.bg-darkorange-500 { background-color: #ff8c00; }
.text-darkorange-500 { color: #ff8c00; }
.border-darkorange-500 { border-color: #ff8c00; }
.outline-darkorange-500 { outline-color: #ff8c00; }

.bg-darkorange-600 { background-color: #d47400; }
.text-darkorange-600 { color: #d47400; }
.border-darkorange-600 { border-color: #d47400; }
.outline-darkorange-600 { outline-color: #d47400; }

.bg-darkorange-700 { background-color: #aa5d00; }
.text-darkorange-700 { color: #aa5d00; }
.border-darkorange-700 { border-color: #aa5d00; }
.outline-darkorange-700 { outline-color: #aa5d00; }

.bg-darkorange-800 { background-color: #7f4600; }
.text-darkorange-800 { color: #7f4600; }
.border-darkorange-800 { border-color: #7f4600; }
.outline-darkorange-800 { outline-color: #7f4600; }

.bg-darkorange-900 { background-color: #552e00; }
.text-darkorange-900 { color: #552e00; }
.border-darkorange-900 { border-color: #552e00; }
.outline-darkorange-900 { outline-color: #552e00; }

.bg-darkorange-950 { background-color: #2a1700; }
.text-darkorange-950 { color: #2a1700; }
.border-darkorange-950 { border-color: #2a1700; }
.outline-darkorange-950 { outline-color: #2a1700; }


