
.bg-darkgreen-50 { background-color: #d4e5d4; }
.text-darkgreen-50 { color: #d4e5d4; }
.border-darkgreen-50 { border-color: #d4e5d4; }
.outline-darkgreen-50 { outline-color: #d4e5d4; }

.bg-darkgreen-100 { background-color: #aacbaa; }
.text-darkgreen-100 { color: #aacbaa; }
.border-darkgreen-100 { border-color: #aacbaa; }
.outline-darkgreen-100 { outline-color: #aacbaa; }

.bg-darkgreen-200 { background-color: #7fb17f; }
.text-darkgreen-200 { color: #7fb17f; }
.border-darkgreen-200 { border-color: #7fb17f; }
.outline-darkgreen-200 { outline-color: #7fb17f; }

.bg-darkgreen-300 { background-color: #559755; }
.text-darkgreen-300 { color: #559755; }
.border-darkgreen-300 { border-color: #559755; }
.outline-darkgreen-300 { outline-color: #559755; }

.bg-darkgreen-400 { background-color: #2a7d2a; }
.text-darkgreen-400 { color: #2a7d2a; }
.border-darkgreen-400 { border-color: #2a7d2a; }
.outline-darkgreen-400 { outline-color: #2a7d2a; }

.bg-darkgreen-500 { background-color: #006400; }
.text-darkgreen-500 { color: #006400; }
.border-darkgreen-500 { border-color: #006400; }
.outline-darkgreen-500 { outline-color: #006400; }

.bg-darkgreen-600 { background-color: #005300; }
.text-darkgreen-600 { color: #005300; }
.border-darkgreen-600 { border-color: #005300; }
.outline-darkgreen-600 { outline-color: #005300; }

.bg-darkgreen-700 { background-color: #004200; }
.text-darkgreen-700 { color: #004200; }
.border-darkgreen-700 { border-color: #004200; }
.outline-darkgreen-700 { outline-color: #004200; }

.bg-darkgreen-800 { background-color: #003200; }
.text-darkgreen-800 { color: #003200; }
.border-darkgreen-800 { border-color: #003200; }
.outline-darkgreen-800 { outline-color: #003200; }

.bg-darkgreen-900 { background-color: #002100; }
.text-darkgreen-900 { color: #002100; }
.border-darkgreen-900 { border-color: #002100; }
.outline-darkgreen-900 { outline-color: #002100; }

.bg-darkgreen-950 { background-color: #001000; }
.text-darkgreen-950 { color: #001000; }
.border-darkgreen-950 { border-color: #001000; }
.outline-darkgreen-950 { outline-color: #001000; }
