
/* github: https://github.com/iaseth/html-color-names */

.bg-darkolivegreen-50 { background-color: #e2e6dc; }
.text-darkolivegreen-50 { color: #e2e6dc; }
.border-darkolivegreen-50 { border-color: #e2e6dc; }
.outline-darkolivegreen-50 { outline-color: #e2e6dc; }

.bg-darkolivegreen-100 { background-color: #c6cdb9; }
.text-darkolivegreen-100 { color: #c6cdb9; }
.border-darkolivegreen-100 { border-color: #c6cdb9; }
.outline-darkolivegreen-100 { outline-color: #c6cdb9; }

.bg-darkolivegreen-200 { background-color: #aab597; }
.text-darkolivegreen-200 { color: #aab597; }
.border-darkolivegreen-200 { border-color: #aab597; }
.outline-darkolivegreen-200 { outline-color: #aab597; }

.bg-darkolivegreen-300 { background-color: #8d9c74; }
.text-darkolivegreen-300 { color: #8d9c74; }
.border-darkolivegreen-300 { border-color: #8d9c74; }
.outline-darkolivegreen-300 { outline-color: #8d9c74; }

.bg-darkolivegreen-400 { background-color: #718351; }
.text-darkolivegreen-400 { color: #718351; }
.border-darkolivegreen-400 { border-color: #718351; }
.outline-darkolivegreen-400 { outline-color: #718351; }

.bg-darkolivegreen-500 { background-color: #556b2f; }
.text-darkolivegreen-500 { color: #556b2f; }
.border-darkolivegreen-500 { border-color: #556b2f; }
.outline-darkolivegreen-500 { outline-color: #556b2f; }

.bg-darkolivegreen-600 { background-color: #465927; }
.text-darkolivegreen-600 { color: #465927; }
.border-darkolivegreen-600 { border-color: #465927; }
.outline-darkolivegreen-600 { outline-color: #465927; }

.bg-darkolivegreen-700 { background-color: #38471f; }
.text-darkolivegreen-700 { color: #38471f; }
.border-darkolivegreen-700 { border-color: #38471f; }
.outline-darkolivegreen-700 { outline-color: #38471f; }

.bg-darkolivegreen-800 { background-color: #2a3517; }
.text-darkolivegreen-800 { color: #2a3517; }
.border-darkolivegreen-800 { border-color: #2a3517; }
.outline-darkolivegreen-800 { outline-color: #2a3517; }

.bg-darkolivegreen-900 { background-color: #1c230f; }
.text-darkolivegreen-900 { color: #1c230f; }
.border-darkolivegreen-900 { border-color: #1c230f; }
.outline-darkolivegreen-900 { outline-color: #1c230f; }

.bg-darkolivegreen-950 { background-color: #0e1107; }
.text-darkolivegreen-950 { color: #0e1107; }
.border-darkolivegreen-950 { border-color: #0e1107; }
.outline-darkolivegreen-950 { outline-color: #0e1107; }

