



.bg-darkgrey-50 { background-color: #efefef; }
.text-darkgrey-50 { color: #efefef; }
.border-darkgrey-50 { border-color: #efefef; }
.outline-darkgrey-50 { outline-color: #efefef; }

.bg-darkgrey-100 { background-color: #e1e1e1; }
.text-darkgrey-100 { color: #e1e1e1; }
.border-darkgrey-100 { border-color: #e1e1e1; }
.outline-darkgrey-100 { outline-color: #e1e1e1; }

.bg-darkgrey-200 { background-color: #d3d3d3; }
.text-darkgrey-200 { color: #d3d3d3; }
.border-darkgrey-200 { border-color: #d3d3d3; }
.outline-darkgrey-200 { outline-color: #d3d3d3; }

.bg-darkgrey-300 { background-color: #c5c5c5; }
.text-darkgrey-300 { color: #c5c5c5; }
.border-darkgrey-300 { border-color: #c5c5c5; }
.outline-darkgrey-300 { outline-color: #c5c5c5; }

.bg-darkgrey-400 { background-color: #b7b7b7; }
.text-darkgrey-400 { color: #b7b7b7; }
.border-darkgrey-400 { border-color: #b7b7b7; }
.outline-darkgrey-400 { outline-color: #b7b7b7; }

.bg-darkgrey-500 { background-color: #a9a9a9; }
.text-darkgrey-500 { color: #a9a9a9; }
.border-darkgrey-500 { border-color: #a9a9a9; }
.outline-darkgrey-500 { outline-color: #a9a9a9; }

.bg-darkgrey-600 { background-color: #8c8c8c; }
.text-darkgrey-600 { color: #8c8c8c; }
.border-darkgrey-600 { border-color: #8c8c8c; }
.outline-darkgrey-600 { outline-color: #8c8c8c; }

.bg-darkgrey-700 { background-color: #6f6f6f; }
.text-darkgrey-700 { color: #6f6f6f; }
.border-darkgrey-700 { border-color: #6f6f6f; }
.outline-darkgrey-700 { outline-color: #6f6f6f; }

.bg-darkgrey-800 { background-color: #525252; }
.text-darkgrey-800 { color: #525252; }
.border-darkgrey-800 { border-color: #525252; }
.outline-darkgrey-800 { outline-color: #525252; }

.bg-darkgrey-900 { background-color: #353535; }
.text-darkgrey-900 { color: #353535; }
.border-darkgrey-900 { border-color: #353535; }
.outline-darkgrey-900 { outline-color: #353535; }

.bg-darkgrey-950 { background-color: #181818; }
.text-darkgrey-950 { color: #181818; }
.border-darkgrey-950 { border-color: #181818; }
.outline-darkgrey-950 { outline-color: #181818; }


