



.bg-darkseagreen-50 { background-color: #e9f3e9; }
.text-darkseagreen-50 { color: #e9f3e9; }
.border-darkseagreen-50 { border-color: #e9f3e9; }
.outline-darkseagreen-50 { outline-color: #e9f3e9; }

.bg-darkseagreen-100 { background-color: #d7e8d7; }
.text-darkseagreen-100 { color: #d7e8d7; }
.border-darkseagreen-100 { border-color: #d7e8d7; }
.outline-darkseagreen-100 { outline-color: #d7e8d7; }

.bg-darkseagreen-200 { background-color: #c5ddc5; }
.text-darkseagreen-200 { color: #c5ddc5; }
.border-darkseagreen-200 { border-color: #c5ddc5; }
.outline-darkseagreen-200 { outline-color: #c5ddc5; }

.bg-darkseagreen-300 { background-color: #b3d2b3; }
.text-darkseagreen-300 { color: #b3d2b3; }
.border-darkseagreen-300 { border-color: #b3d2b3; }
.outline-darkseagreen-300 { outline-color: #b3d2b3; }

.bg-darkseagreen-400 { background-color: #a1c7a1; }
.text-darkseagreen-400 { color: #a1c7a1; }
.border-darkseagreen-400 { border-color: #a1c7a1; }
.outline-darkseagreen-400 { outline-color: #a1c7a1; }

.bg-darkseagreen-500 { background-color: #8fbc8f; }
.text-darkseagreen-500 { color: #8fbc8f; }
.border-darkseagreen-500 { border-color: #8fbc8f; }
.outline-darkseagreen-500 { outline-color: #8fbc8f; }

.bg-darkseagreen-600 { background-color: #779c77; }
.text-darkseagreen-600 { color: #779c77; }
.border-darkseagreen-600 { border-color: #779c77; }
.outline-darkseagreen-600 { outline-color: #779c77; }

.bg-darkseagreen-700 { background-color: #5f7c5f; }
.text-darkseagreen-700 { color: #5f7c5f; }
.border-darkseagreen-700 { border-color: #5f7c5f; }
.outline-darkseagreen-700 { outline-color: #5f7c5f; }

.bg-darkseagreen-800 { background-color: #475c47; }
.text-darkseagreen-800 { color: #475c47; }
.border-darkseagreen-800 { border-color: #475c47; }
.outline-darkseagreen-800 { outline-color: #475c47; }

.bg-darkseagreen-900 { background-color: #2f3c2f; }
.text-darkseagreen-900 { color: #2f3c2f; }
.border-darkseagreen-900 { border-color: #2f3c2f; }
.outline-darkseagreen-900 { outline-color: #2f3c2f; }

.bg-darkseagreen-950 { background-color: #171c17; }
.text-darkseagreen-950 { color: #171c17; }
.border-darkseagreen-950 { border-color: #171c17; }
.outline-darkseagreen-950 { outline-color: #171c17; }


