



.bg-darkturquoise-50 { background-color: #d2f6f4; }
.text-darkturquoise-50 { color: #d2f6f4; }
.border-darkturquoise-50 { border-color: #d2f6f4; }
.outline-darkturquoise-50 { outline-color: #d2f6f4; }

.bg-darkturquoise-100 { background-color: #a8eeed; }
.text-darkturquoise-100 { color: #a8eeed; }
.border-darkturquoise-100 { border-color: #a8eeed; }
.outline-darkturquoise-100 { outline-color: #a8eeed; }

.bg-darkturquoise-200 { background-color: #7ee6e6; }
.text-darkturquoise-200 { color: #7ee6e6; }
.border-darkturquoise-200 { border-color: #7ee6e6; }
.outline-darkturquoise-200 { outline-color: #7ee6e6; }

.bg-darkturquoise-300 { background-color: #54dedf; }
.text-darkturquoise-300 { color: #54dedf; }
.border-darkturquoise-300 { border-color: #54dedf; }
.outline-darkturquoise-300 { outline-color: #54dedf; }

.bg-darkturquoise-400 { background-color: #2ad6d8; }
.text-darkturquoise-400 { color: #2ad6d8; }
.border-darkturquoise-400 { border-color: #2ad6d8; }
.outline-darkturquoise-400 { outline-color: #2ad6d8; }

.bg-darkturquoise-500 { background-color: #00ced1; }
.text-darkturquoise-500 { color: #00ced1; }
.border-darkturquoise-500 { border-color: #00ced1; }
.outline-darkturquoise-500 { outline-color: #00ced1; }

.bg-darkturquoise-600 { background-color: #00abae; }
.text-darkturquoise-600 { color: #00abae; }
.border-darkturquoise-600 { border-color: #00abae; }
.outline-darkturquoise-600 { outline-color: #00abae; }

.bg-darkturquoise-700 { background-color: #00888b; }
.text-darkturquoise-700 { color: #00888b; }
.border-darkturquoise-700 { border-color: #00888b; }
.outline-darkturquoise-700 { outline-color: #00888b; }

.bg-darkturquoise-800 { background-color: #006568; }
.text-darkturquoise-800 { color: #006568; }
.border-darkturquoise-800 { border-color: #006568; }
.outline-darkturquoise-800 { outline-color: #006568; }

.bg-darkturquoise-900 { background-color: #004245; }
.text-darkturquoise-900 { color: #004245; }
.border-darkturquoise-900 { border-color: #004245; }
.outline-darkturquoise-900 { outline-color: #004245; }

.bg-darkturquoise-950 { background-color: #001f22; }
.text-darkturquoise-950 { color: #001f22; }
.border-darkturquoise-950 { border-color: #001f22; }
.outline-darkturquoise-950 { outline-color: #001f22; }


