



.bg-darkslategrey-50 { background-color: #d9e0e0; }
.text-darkslategrey-50 { color: #d9e0e0; }
.border-darkslategrey-50 { border-color: #d9e0e0; }
.outline-darkslategrey-50 { outline-color: #d9e0e0; }

.bg-darkslategrey-100 { background-color: #b7c3c3; }
.text-darkslategrey-100 { color: #b7c3c3; }
.border-darkslategrey-100 { border-color: #b7c3c3; }
.outline-darkslategrey-100 { outline-color: #b7c3c3; }

.bg-darkslategrey-200 { background-color: #95a6a6; }
.text-darkslategrey-200 { color: #95a6a6; }
.border-darkslategrey-200 { border-color: #95a6a6; }
.outline-darkslategrey-200 { outline-color: #95a6a6; }

.bg-darkslategrey-300 { background-color: #738989; }
.text-darkslategrey-300 { color: #738989; }
.border-darkslategrey-300 { border-color: #738989; }
.outline-darkslategrey-300 { outline-color: #738989; }

.bg-darkslategrey-400 { background-color: #516c6c; }
.text-darkslategrey-400 { color: #516c6c; }
.border-darkslategrey-400 { border-color: #516c6c; }
.outline-darkslategrey-400 { outline-color: #516c6c; }

.bg-darkslategrey-500 { background-color: #2f4f4f; }
.text-darkslategrey-500 { color: #2f4f4f; }
.border-darkslategrey-500 { border-color: #2f4f4f; }
.outline-darkslategrey-500 { outline-color: #2f4f4f; }

.bg-darkslategrey-600 { background-color: #274141; }
.text-darkslategrey-600 { color: #274141; }
.border-darkslategrey-600 { border-color: #274141; }
.outline-darkslategrey-600 { outline-color: #274141; }

.bg-darkslategrey-700 { background-color: #1f3333; }
.text-darkslategrey-700 { color: #1f3333; }
.border-darkslategrey-700 { border-color: #1f3333; }
.outline-darkslategrey-700 { outline-color: #1f3333; }

.bg-darkslategrey-800 { background-color: #172525; }
.text-darkslategrey-800 { color: #172525; }
.border-darkslategrey-800 { border-color: #172525; }
.outline-darkslategrey-800 { outline-color: #172525; }

.bg-darkslategrey-900 { background-color: #0f1717; }
.text-darkslategrey-900 { color: #0f1717; }
.border-darkslategrey-900 { border-color: #0f1717; }
.outline-darkslategrey-900 { outline-color: #0f1717; }

.bg-darkslategrey-950 { background-color: #070909; }
.text-darkslategrey-950 { color: #070909; }
.border-darkslategrey-950 { border-color: #070909; }
.outline-darkslategrey-950 { outline-color: #070909; }


