



.bg-darkred-50 { background-color: #ead2d2; }
.text-darkred-50 { color: #ead2d2; }
.border-darkred-50 { border-color: #ead2d2; }
.outline-darkred-50 { outline-color: #ead2d2; }

.bg-darkred-100 { background-color: #d7a8a8; }
.text-darkred-100 { color: #d7a8a8; }
.border-darkred-100 { border-color: #d7a8a8; }
.outline-darkred-100 { outline-color: #d7a8a8; }

.bg-darkred-200 { background-color: #c47e7e; }
.text-darkred-200 { color: #c47e7e; }
.border-darkred-200 { border-color: #c47e7e; }
.outline-darkred-200 { outline-color: #c47e7e; }

.bg-darkred-300 { background-color: #b15454; }
.text-darkred-300 { color: #b15454; }
.border-darkred-300 { border-color: #b15454; }
.outline-darkred-300 { outline-color: #b15454; }

.bg-darkred-400 { background-color: #9e2a2a; }
.text-darkred-400 { color: #9e2a2a; }
.border-darkred-400 { border-color: #9e2a2a; }
.outline-darkred-400 { outline-color: #9e2a2a; }

.bg-darkred-500 { background-color: #8b0000; }
.text-darkred-500 { color: #8b0000; }
.border-darkred-500 { border-color: #8b0000; }
.outline-darkred-500 { outline-color: #8b0000; }

.bg-darkred-600 { background-color: #730000; }
.text-darkred-600 { color: #730000; }
.border-darkred-600 { border-color: #730000; }
.outline-darkred-600 { outline-color: #730000; }

.bg-darkred-700 { background-color: #5b0000; }
.text-darkred-700 { color: #5b0000; }
.border-darkred-700 { border-color: #5b0000; }
.outline-darkred-700 { outline-color: #5b0000; }

.bg-darkred-800 { background-color: #430000; }
.text-darkred-800 { color: #430000; }
.border-darkred-800 { border-color: #430000; }
.outline-darkred-800 { outline-color: #430000; }

.bg-darkred-900 { background-color: #2b0000; }
.text-darkred-900 { color: #2b0000; }
.border-darkred-900 { border-color: #2b0000; }
.outline-darkred-900 { outline-color: #2b0000; }

.bg-darkred-950 { background-color: #130000; }
.text-darkred-950 { color: #130000; }
.border-darkred-950 { border-color: #130000; }
.outline-darkred-950 { outline-color: #130000; }


