



.bg-darkgoldenrod-50 { background-color: #efead3; }
.text-darkgoldenrod-50 { color: #efead3; }
.border-darkgoldenrod-50 { border-color: #efead3; }
.outline-darkgoldenrod-50 { outline-color: #efead3; }

.bg-darkgoldenrod-100 { background-color: #e4d6ab; }
.text-darkgoldenrod-100 { color: #e4d6ab; }
.border-darkgoldenrod-100 { border-color: #e4d6ab; }
.outline-darkgoldenrod-100 { outline-color: #e4d6ab; }

.bg-darkgoldenrod-200 { background-color: #d9c283; }
.text-darkgoldenrod-200 { color: #d9c283; }
.border-darkgoldenrod-200 { border-color: #d9c283; }
.outline-darkgoldenrod-200 { outline-color: #d9c283; }

.bg-darkgoldenrod-300 { background-color: #ceae5b; }
.text-darkgoldenrod-300 { color: #ceae5b; }
.border-darkgoldenrod-300 { border-color: #ceae5b; }
.outline-darkgoldenrod-300 { outline-color: #ceae5b; }

.bg-darkgoldenrod-400 { background-color: #c39a33; }
.text-darkgoldenrod-400 { color: #c39a33; }
.border-darkgoldenrod-400 { border-color: #c39a33; }
.outline-darkgoldenrod-400 { outline-color: #c39a33; }

.bg-darkgoldenrod-500 { background-color: #b8860b; }
.text-darkgoldenrod-500 { color: #b8860b; }
.border-darkgoldenrod-500 { border-color: #b8860b; }
.outline-darkgoldenrod-500 { outline-color: #b8860b; }

.bg-darkgoldenrod-600 { background-color: #996f09; }
.text-darkgoldenrod-600 { color: #996f09; }
.border-darkgoldenrod-600 { border-color: #996f09; }
.outline-darkgoldenrod-600 { outline-color: #996f09; }

.bg-darkgoldenrod-700 { background-color: #7a5807; }
.text-darkgoldenrod-700 { color: #7a5807; }
.border-darkgoldenrod-700 { border-color: #7a5807; }
.outline-darkgoldenrod-700 { outline-color: #7a5807; }

.bg-darkgoldenrod-800 { background-color: #5b4105; }
.text-darkgoldenrod-800 { color: #5b4105; }
.border-darkgoldenrod-800 { border-color: #5b4105; }
.outline-darkgoldenrod-800 { outline-color: #5b4105; }

.bg-darkgoldenrod-900 { background-color: #3c2a03; }
.text-darkgoldenrod-900 { color: #3c2a03; }
.border-darkgoldenrod-900 { border-color: #3c2a03; }
.outline-darkgoldenrod-900 { outline-color: #3c2a03; }

.bg-darkgoldenrod-950 { background-color: #1d1301; }
.text-darkgoldenrod-950 { color: #1d1301; }
.border-darkgoldenrod-950 { border-color: #1d1301; }
.outline-darkgoldenrod-950 { outline-color: #1d1301; }


