



.bg-darkgoldenrod-50 { background-color: #f3ead6; }
.text-darkgoldenrod-50 { color: #f3ead6; }
.border-darkgoldenrod-50 { border-color: #f3ead6; }
.outline-darkgoldenrod-50 { outline-color: #f3ead6; }

.bg-darkgoldenrod-100 { background-color: #e7d6ad; }
.text-darkgoldenrod-100 { color: #e7d6ad; }
.border-darkgoldenrod-100 { border-color: #e7d6ad; }
.outline-darkgoldenrod-100 { outline-color: #e7d6ad; }

.bg-darkgoldenrod-200 { background-color: #dbc285; }
.text-darkgoldenrod-200 { color: #dbc285; }
.border-darkgoldenrod-200 { border-color: #dbc285; }
.outline-darkgoldenrod-200 { outline-color: #dbc285; }

.bg-darkgoldenrod-300 { background-color: #cfae5c; }
.text-darkgoldenrod-300 { color: #cfae5c; }
.border-darkgoldenrod-300 { border-color: #cfae5c; }
.outline-darkgoldenrod-300 { outline-color: #cfae5c; }

.bg-darkgoldenrod-400 { background-color: #c39a33; }
.text-darkgoldenrod-400 { color: #c39a33; }
.border-darkgoldenrod-400 { border-color: #c39a33; }
.outline-darkgoldenrod-400 { outline-color: #c39a33; }

.bg-darkgoldenrod-500 { background-color: #b8860b; }
.text-darkgoldenrod-500 { color: #b8860b; }
.border-darkgoldenrod-500 { border-color: #b8860b; }
.outline-darkgoldenrod-500 { outline-color: #b8860b; }

.bg-darkgoldenrod-600 { background-color: #996f09; }
.text-darkgoldenrod-600 { color: #996f09; }
.border-darkgoldenrod-600 { border-color: #996f09; }
.outline-darkgoldenrod-600 { outline-color: #996f09; }

.bg-darkgoldenrod-700 { background-color: #7a5907; }
.text-darkgoldenrod-700 { color: #7a5907; }
.border-darkgoldenrod-700 { border-color: #7a5907; }
.outline-darkgoldenrod-700 { outline-color: #7a5907; }

.bg-darkgoldenrod-800 { background-color: #5c4305; }
.text-darkgoldenrod-800 { color: #5c4305; }
.border-darkgoldenrod-800 { border-color: #5c4305; }
.outline-darkgoldenrod-800 { outline-color: #5c4305; }

.bg-darkgoldenrod-900 { background-color: #3d2c03; }
.text-darkgoldenrod-900 { color: #3d2c03; }
.border-darkgoldenrod-900 { border-color: #3d2c03; }
.outline-darkgoldenrod-900 { outline-color: #3d2c03; }

.bg-darkgoldenrod-950 { background-color: #1e1601; }
.text-darkgoldenrod-950 { color: #1e1601; }
.border-darkgoldenrod-950 { border-color: #1e1601; }
.outline-darkgoldenrod-950 { outline-color: #1e1601; }


