
.bg-darkgray-50 { background-color: #f0f0f0; }
.text-darkgray-50 { color: #f0f0f0; }
.border-darkgray-50 { border-color: #f0f0f0; }
.outline-darkgray-50 { outline-color: #f0f0f0; }

.bg-darkgray-100 { background-color: #e2e2e2; }
.text-darkgray-100 { color: #e2e2e2; }
.border-darkgray-100 { border-color: #e2e2e2; }
.outline-darkgray-100 { outline-color: #e2e2e2; }

.bg-darkgray-200 { background-color: #d4d4d4; }
.text-darkgray-200 { color: #d4d4d4; }
.border-darkgray-200 { border-color: #d4d4d4; }
.outline-darkgray-200 { outline-color: #d4d4d4; }

.bg-darkgray-300 { background-color: #c5c5c5; }
.text-darkgray-300 { color: #c5c5c5; }
.border-darkgray-300 { border-color: #c5c5c5; }
.outline-darkgray-300 { outline-color: #c5c5c5; }

.bg-darkgray-400 { background-color: #b7b7b7; }
.text-darkgray-400 { color: #b7b7b7; }
.border-darkgray-400 { border-color: #b7b7b7; }
.outline-darkgray-400 { outline-color: #b7b7b7; }

.bg-darkgray-500 { background-color: #a9a9a9; }
.text-darkgray-500 { color: #a9a9a9; }
.border-darkgray-500 { border-color: #a9a9a9; }
.outline-darkgray-500 { outline-color: #a9a9a9; }

.bg-darkgray-600 { background-color: #8c8c8c; }
.text-darkgray-600 { color: #8c8c8c; }
.border-darkgray-600 { border-color: #8c8c8c; }
.outline-darkgray-600 { outline-color: #8c8c8c; }

.bg-darkgray-700 { background-color: #707070; }
.text-darkgray-700 { color: #707070; }
.border-darkgray-700 { border-color: #707070; }
.outline-darkgray-700 { outline-color: #707070; }

.bg-darkgray-800 { background-color: #545454; }
.text-darkgray-800 { color: #545454; }
.border-darkgray-800 { border-color: #545454; }
.outline-darkgray-800 { outline-color: #545454; }

.bg-darkgray-900 { background-color: #383838; }
.text-darkgray-900 { color: #383838; }
.border-darkgray-900 { border-color: #383838; }
.outline-darkgray-900 { outline-color: #383838; }

.bg-darkgray-950 { background-color: #1c1c1c; }
.text-darkgray-950 { color: #1c1c1c; }
.border-darkgray-950 { border-color: #1c1c1c; }
.outline-darkgray-950 { outline-color: #1c1c1c; }
