



.bg-darkblue-50 { background-color: #d2d2ea; }
.text-darkblue-50 { color: #d2d2ea; }
.border-darkblue-50 { border-color: #d2d2ea; }
.outline-darkblue-50 { outline-color: #d2d2ea; }

.bg-darkblue-100 { background-color: #a8a8d7; }
.text-darkblue-100 { color: #a8a8d7; }
.border-darkblue-100 { border-color: #a8a8d7; }
.outline-darkblue-100 { outline-color: #a8a8d7; }

.bg-darkblue-200 { background-color: #7e7ec4; }
.text-darkblue-200 { color: #7e7ec4; }
.border-darkblue-200 { border-color: #7e7ec4; }
.outline-darkblue-200 { outline-color: #7e7ec4; }

.bg-darkblue-300 { background-color: #5454b1; }
.text-darkblue-300 { color: #5454b1; }
.border-darkblue-300 { border-color: #5454b1; }
.outline-darkblue-300 { outline-color: #5454b1; }

.bg-darkblue-400 { background-color: #2a2a9e; }
.text-darkblue-400 { color: #2a2a9e; }
.border-darkblue-400 { border-color: #2a2a9e; }
.outline-darkblue-400 { outline-color: #2a2a9e; }

.bg-darkblue-500 { background-color: #00008b; }
.text-darkblue-500 { color: #00008b; }
.border-darkblue-500 { border-color: #00008b; }
.outline-darkblue-500 { outline-color: #00008b; }

.bg-darkblue-600 { background-color: #000073; }
.text-darkblue-600 { color: #000073; }
.border-darkblue-600 { border-color: #000073; }
.outline-darkblue-600 { outline-color: #000073; }

.bg-darkblue-700 { background-color: #00005b; }
.text-darkblue-700 { color: #00005b; }
.border-darkblue-700 { border-color: #00005b; }
.outline-darkblue-700 { outline-color: #00005b; }

.bg-darkblue-800 { background-color: #000043; }
.text-darkblue-800 { color: #000043; }
.border-darkblue-800 { border-color: #000043; }
.outline-darkblue-800 { outline-color: #000043; }

.bg-darkblue-900 { background-color: #00002b; }
.text-darkblue-900 { color: #00002b; }
.border-darkblue-900 { border-color: #00002b; }
.outline-darkblue-900 { outline-color: #00002b; }

.bg-darkblue-950 { background-color: #000013; }
.text-darkblue-950 { color: #000013; }
.border-darkblue-950 { border-color: #000013; }
.outline-darkblue-950 { outline-color: #000013; }


