
/* github: https://github.com/iaseth/html-color-names */

.bg-darkturquoise-50 { background-color: #d4f6f7; }
.text-darkturquoise-50 { color: #d4f6f7; }
.border-darkturquoise-50 { border-color: #d4f6f7; }
.outline-darkturquoise-50 { outline-color: #d4f6f7; }

.bg-darkturquoise-100 { background-color: #aaeeef; }
.text-darkturquoise-100 { color: #aaeeef; }
.border-darkturquoise-100 { border-color: #aaeeef; }
.outline-darkturquoise-100 { outline-color: #aaeeef; }

.bg-darkturquoise-200 { background-color: #7fe6e8; }
.text-darkturquoise-200 { color: #7fe6e8; }
.border-darkturquoise-200 { border-color: #7fe6e8; }
.outline-darkturquoise-200 { outline-color: #7fe6e8; }

.bg-darkturquoise-300 { background-color: #55dee0; }
.text-darkturquoise-300 { color: #55dee0; }
.border-darkturquoise-300 { border-color: #55dee0; }
.outline-darkturquoise-300 { outline-color: #55dee0; }

.bg-darkturquoise-400 { background-color: #2ad6d8; }
.text-darkturquoise-400 { color: #2ad6d8; }
.border-darkturquoise-400 { border-color: #2ad6d8; }
.outline-darkturquoise-400 { outline-color: #2ad6d8; }

.bg-darkturquoise-500 { background-color: #00ced1; }
.text-darkturquoise-500 { color: #00ced1; }
.border-darkturquoise-500 { border-color: #00ced1; }
.outline-darkturquoise-500 { outline-color: #00ced1; }

.bg-darkturquoise-600 { background-color: #00abae; }
.text-darkturquoise-600 { color: #00abae; }
.border-darkturquoise-600 { border-color: #00abae; }
.outline-darkturquoise-600 { outline-color: #00abae; }

.bg-darkturquoise-700 { background-color: #00898b; }
.text-darkturquoise-700 { color: #00898b; }
.border-darkturquoise-700 { border-color: #00898b; }
.outline-darkturquoise-700 { outline-color: #00898b; }

.bg-darkturquoise-800 { background-color: #006768; }
.text-darkturquoise-800 { color: #006768; }
.border-darkturquoise-800 { border-color: #006768; }
.outline-darkturquoise-800 { outline-color: #006768; }

.bg-darkturquoise-900 { background-color: #004445; }
.text-darkturquoise-900 { color: #004445; }
.border-darkturquoise-900 { border-color: #004445; }
.outline-darkturquoise-900 { outline-color: #004445; }

.bg-darkturquoise-950 { background-color: #002222; }
.text-darkturquoise-950 { color: #002222; }
.border-darkturquoise-950 { border-color: #002222; }
.outline-darkturquoise-950 { outline-color: #002222; }

