



.bg-darkolivegreen-50 { background-color: #e1e3d9; }
.text-darkolivegreen-50 { color: #e1e3d9; }
.border-darkolivegreen-50 { border-color: #e1e3d9; }
.outline-darkolivegreen-50 { outline-color: #e1e3d9; }

.bg-darkolivegreen-100 { background-color: #c5cbb7; }
.text-darkolivegreen-100 { color: #c5cbb7; }
.border-darkolivegreen-100 { border-color: #c5cbb7; }
.outline-darkolivegreen-100 { outline-color: #c5cbb7; }

.bg-darkolivegreen-200 { background-color: #a9b395; }
.text-darkolivegreen-200 { color: #a9b395; }
.border-darkolivegreen-200 { border-color: #a9b395; }
.outline-darkolivegreen-200 { outline-color: #a9b395; }

.bg-darkolivegreen-300 { background-color: #8d9b73; }
.text-darkolivegreen-300 { color: #8d9b73; }
.border-darkolivegreen-300 { border-color: #8d9b73; }
.outline-darkolivegreen-300 { outline-color: #8d9b73; }

.bg-darkolivegreen-400 { background-color: #718351; }
.text-darkolivegreen-400 { color: #718351; }
.border-darkolivegreen-400 { border-color: #718351; }
.outline-darkolivegreen-400 { outline-color: #718351; }

.bg-darkolivegreen-500 { background-color: #556b2f; }
.text-darkolivegreen-500 { color: #556b2f; }
.border-darkolivegreen-500 { border-color: #556b2f; }
.outline-darkolivegreen-500 { outline-color: #556b2f; }

.bg-darkolivegreen-600 { background-color: #465927; }
.text-darkolivegreen-600 { color: #465927; }
.border-darkolivegreen-600 { border-color: #465927; }
.outline-darkolivegreen-600 { outline-color: #465927; }

.bg-darkolivegreen-700 { background-color: #37471f; }
.text-darkolivegreen-700 { color: #37471f; }
.border-darkolivegreen-700 { border-color: #37471f; }
.outline-darkolivegreen-700 { outline-color: #37471f; }

.bg-darkolivegreen-800 { background-color: #283517; }
.text-darkolivegreen-800 { color: #283517; }
.border-darkolivegreen-800 { border-color: #283517; }
.outline-darkolivegreen-800 { outline-color: #283517; }

.bg-darkolivegreen-900 { background-color: #19230f; }
.text-darkolivegreen-900 { color: #19230f; }
.border-darkolivegreen-900 { border-color: #19230f; }
.outline-darkolivegreen-900 { outline-color: #19230f; }

.bg-darkolivegreen-950 { background-color: #0a1107; }
.text-darkolivegreen-950 { color: #0a1107; }
.border-darkolivegreen-950 { border-color: #0a1107; }
.outline-darkolivegreen-950 { outline-color: #0a1107; }


