



.bg-darkgray-50 { background-color: #efefef; }
.text-darkgray-50 { color: #efefef; }
.border-darkgray-50 { border-color: #efefef; }
.outline-darkgray-50 { outline-color: #efefef; }

.bg-darkgray-100 { background-color: #e1e1e1; }
.text-darkgray-100 { color: #e1e1e1; }
.border-darkgray-100 { border-color: #e1e1e1; }
.outline-darkgray-100 { outline-color: #e1e1e1; }

.bg-darkgray-200 { background-color: #d3d3d3; }
.text-darkgray-200 { color: #d3d3d3; }
.border-darkgray-200 { border-color: #d3d3d3; }
.outline-darkgray-200 { outline-color: #d3d3d3; }

.bg-darkgray-300 { background-color: #c5c5c5; }
.text-darkgray-300 { color: #c5c5c5; }
.border-darkgray-300 { border-color: #c5c5c5; }
.outline-darkgray-300 { outline-color: #c5c5c5; }

.bg-darkgray-400 { background-color: #b7b7b7; }
.text-darkgray-400 { color: #b7b7b7; }
.border-darkgray-400 { border-color: #b7b7b7; }
.outline-darkgray-400 { outline-color: #b7b7b7; }

.bg-darkgray-500 { background-color: #a9a9a9; }
.text-darkgray-500 { color: #a9a9a9; }
.border-darkgray-500 { border-color: #a9a9a9; }
.outline-darkgray-500 { outline-color: #a9a9a9; }

.bg-darkgray-600 { background-color: #8c8c8c; }
.text-darkgray-600 { color: #8c8c8c; }
.border-darkgray-600 { border-color: #8c8c8c; }
.outline-darkgray-600 { outline-color: #8c8c8c; }

.bg-darkgray-700 { background-color: #6f6f6f; }
.text-darkgray-700 { color: #6f6f6f; }
.border-darkgray-700 { border-color: #6f6f6f; }
.outline-darkgray-700 { outline-color: #6f6f6f; }

.bg-darkgray-800 { background-color: #525252; }
.text-darkgray-800 { color: #525252; }
.border-darkgray-800 { border-color: #525252; }
.outline-darkgray-800 { outline-color: #525252; }

.bg-darkgray-900 { background-color: #353535; }
.text-darkgray-900 { color: #353535; }
.border-darkgray-900 { border-color: #353535; }
.outline-darkgray-900 { outline-color: #353535; }

.bg-darkgray-950 { background-color: #181818; }
.text-darkgray-950 { color: #181818; }
.border-darkgray-950 { border-color: #181818; }
.outline-darkgray-950 { outline-color: #181818; }


