



.bg-darkviolet-50 { background-color: #e9d2f6; }
.text-darkviolet-50 { color: #e9d2f6; }
.border-darkviolet-50 { border-color: #e9d2f6; }
.outline-darkviolet-50 { outline-color: #e9d2f6; }

.bg-darkviolet-100 { background-color: #d8a8ef; }
.text-darkviolet-100 { color: #d8a8ef; }
.border-darkviolet-100 { border-color: #d8a8ef; }
.outline-darkviolet-100 { outline-color: #d8a8ef; }

.bg-darkviolet-200 { background-color: #c77ee8; }
.text-darkviolet-200 { color: #c77ee8; }
.border-darkviolet-200 { border-color: #c77ee8; }
.outline-darkviolet-200 { outline-color: #c77ee8; }

.bg-darkviolet-300 { background-color: #b654e1; }
.text-darkviolet-300 { color: #b654e1; }
.border-darkviolet-300 { border-color: #b654e1; }
.outline-darkviolet-300 { outline-color: #b654e1; }

.bg-darkviolet-400 { background-color: #a52ada; }
.text-darkviolet-400 { color: #a52ada; }
.border-darkviolet-400 { border-color: #a52ada; }
.outline-darkviolet-400 { outline-color: #a52ada; }

.bg-darkviolet-500 { background-color: #9400d3; }
.text-darkviolet-500 { color: #9400d3; }
.border-darkviolet-500 { border-color: #9400d3; }
.outline-darkviolet-500 { outline-color: #9400d3; }

.bg-darkviolet-600 { background-color: #7b00af; }
.text-darkviolet-600 { color: #7b00af; }
.border-darkviolet-600 { border-color: #7b00af; }
.outline-darkviolet-600 { outline-color: #7b00af; }

.bg-darkviolet-700 { background-color: #62008b; }
.text-darkviolet-700 { color: #62008b; }
.border-darkviolet-700 { border-color: #62008b; }
.outline-darkviolet-700 { outline-color: #62008b; }

.bg-darkviolet-800 { background-color: #490067; }
.text-darkviolet-800 { color: #490067; }
.border-darkviolet-800 { border-color: #490067; }
.outline-darkviolet-800 { outline-color: #490067; }

.bg-darkviolet-900 { background-color: #300043; }
.text-darkviolet-900 { color: #300043; }
.border-darkviolet-900 { border-color: #300043; }
.outline-darkviolet-900 { outline-color: #300043; }

.bg-darkviolet-950 { background-color: #17001f; }
.text-darkviolet-950 { color: #17001f; }
.border-darkviolet-950 { border-color: #17001f; }
.outline-darkviolet-950 { outline-color: #17001f; }


