
/* github: https://github.com/iaseth/html-color-names */

.bg-darkslategrey-50 { background-color: #dce1e1; }
.text-darkslategrey-50 { color: #dce1e1; }
.border-darkslategrey-50 { border-color: #dce1e1; }
.outline-darkslategrey-50 { outline-color: #dce1e1; }

.bg-darkslategrey-100 { background-color: #b9c4c4; }
.text-darkslategrey-100 { color: #b9c4c4; }
.border-darkslategrey-100 { border-color: #b9c4c4; }
.outline-darkslategrey-100 { outline-color: #b9c4c4; }

.bg-darkslategrey-200 { background-color: #97a7a7; }
.text-darkslategrey-200 { color: #97a7a7; }
.border-darkslategrey-200 { border-color: #97a7a7; }
.outline-darkslategrey-200 { outline-color: #97a7a7; }

.bg-darkslategrey-300 { background-color: #748989; }
.text-darkslategrey-300 { color: #748989; }
.border-darkslategrey-300 { border-color: #748989; }
.outline-darkslategrey-300 { outline-color: #748989; }

.bg-darkslategrey-400 { background-color: #516c6c; }
.text-darkslategrey-400 { color: #516c6c; }
.border-darkslategrey-400 { border-color: #516c6c; }
.outline-darkslategrey-400 { outline-color: #516c6c; }

.bg-darkslategrey-500 { background-color: #2f4f4f; }
.text-darkslategrey-500 { color: #2f4f4f; }
.border-darkslategrey-500 { border-color: #2f4f4f; }
.outline-darkslategrey-500 { outline-color: #2f4f4f; }

.bg-darkslategrey-600 { background-color: #274141; }
.text-darkslategrey-600 { color: #274141; }
.border-darkslategrey-600 { border-color: #274141; }
.outline-darkslategrey-600 { outline-color: #274141; }

.bg-darkslategrey-700 { background-color: #1f3434; }
.text-darkslategrey-700 { color: #1f3434; }
.border-darkslategrey-700 { border-color: #1f3434; }
.outline-darkslategrey-700 { outline-color: #1f3434; }

.bg-darkslategrey-800 { background-color: #172727; }
.text-darkslategrey-800 { color: #172727; }
.border-darkslategrey-800 { border-color: #172727; }
.outline-darkslategrey-800 { outline-color: #172727; }

.bg-darkslategrey-900 { background-color: #0f1a1a; }
.text-darkslategrey-900 { color: #0f1a1a; }
.border-darkslategrey-900 { border-color: #0f1a1a; }
.outline-darkslategrey-900 { outline-color: #0f1a1a; }

.bg-darkslategrey-950 { background-color: #070d0d; }
.text-darkslategrey-950 { color: #070d0d; }
.border-darkslategrey-950 { border-color: #070d0d; }
.outline-darkslategrey-950 { outline-color: #070d0d; }

