
/* github: https://github.com/iaseth/html-color-names */

.bg-darkviolet-50 { background-color: #edd4f7; }
.text-darkviolet-50 { color: #edd4f7; }
.border-darkviolet-50 { border-color: #edd4f7; }
.outline-darkviolet-50 { outline-color: #edd4f7; }

.bg-darkviolet-100 { background-color: #dbaaf0; }
.text-darkviolet-100 { color: #dbaaf0; }
.border-darkviolet-100 { border-color: #dbaaf0; }
.outline-darkviolet-100 { outline-color: #dbaaf0; }

.bg-darkviolet-200 { background-color: #c97fe9; }
.text-darkviolet-200 { color: #c97fe9; }
.border-darkviolet-200 { border-color: #c97fe9; }
.outline-darkviolet-200 { outline-color: #c97fe9; }

.bg-darkviolet-300 { background-color: #b755e1; }
.text-darkviolet-300 { color: #b755e1; }
.border-darkviolet-300 { border-color: #b755e1; }
.outline-darkviolet-300 { outline-color: #b755e1; }

.bg-darkviolet-400 { background-color: #a52ada; }
.text-darkviolet-400 { color: #a52ada; }
.border-darkviolet-400 { border-color: #a52ada; }
.outline-darkviolet-400 { outline-color: #a52ada; }

.bg-darkviolet-500 { background-color: #9400d3; }
.text-darkviolet-500 { color: #9400d3; }
.border-darkviolet-500 { border-color: #9400d3; }
.outline-darkviolet-500 { outline-color: #9400d3; }

.bg-darkviolet-600 { background-color: #7b00af; }
.text-darkviolet-600 { color: #7b00af; }
.border-darkviolet-600 { border-color: #7b00af; }
.outline-darkviolet-600 { outline-color: #7b00af; }

.bg-darkviolet-700 { background-color: #62008c; }
.text-darkviolet-700 { color: #62008c; }
.border-darkviolet-700 { border-color: #62008c; }
.outline-darkviolet-700 { outline-color: #62008c; }

.bg-darkviolet-800 { background-color: #4a0069; }
.text-darkviolet-800 { color: #4a0069; }
.border-darkviolet-800 { border-color: #4a0069; }
.outline-darkviolet-800 { outline-color: #4a0069; }

.bg-darkviolet-900 { background-color: #310046; }
.text-darkviolet-900 { color: #310046; }
.border-darkviolet-900 { border-color: #310046; }
.outline-darkviolet-900 { outline-color: #310046; }

.bg-darkviolet-950 { background-color: #180023; }
.text-darkviolet-950 { color: #180023; }
.border-darkviolet-950 { border-color: #180023; }
.outline-darkviolet-950 { outline-color: #180023; }

