



.bg-darkgreen-50 { background-color: #d2e1d2; }
.text-darkgreen-50 { color: #d2e1d2; }
.border-darkgreen-50 { border-color: #d2e1d2; }
.outline-darkgreen-50 { outline-color: #d2e1d2; }

.bg-darkgreen-100 { background-color: #a8c8a8; }
.text-darkgreen-100 { color: #a8c8a8; }
.border-darkgreen-100 { border-color: #a8c8a8; }
.outline-darkgreen-100 { outline-color: #a8c8a8; }

.bg-darkgreen-200 { background-color: #7eaf7e; }
.text-darkgreen-200 { color: #7eaf7e; }
.border-darkgreen-200 { border-color: #7eaf7e; }
.outline-darkgreen-200 { outline-color: #7eaf7e; }

.bg-darkgreen-300 { background-color: #549654; }
.text-darkgreen-300 { color: #549654; }
.border-darkgreen-300 { border-color: #549654; }
.outline-darkgreen-300 { outline-color: #549654; }

.bg-darkgreen-400 { background-color: #2a7d2a; }
.text-darkgreen-400 { color: #2a7d2a; }
.border-darkgreen-400 { border-color: #2a7d2a; }
.outline-darkgreen-400 { outline-color: #2a7d2a; }

.bg-darkgreen-500 { background-color: #006400; }
.text-darkgreen-500 { color: #006400; }
.border-darkgreen-500 { border-color: #006400; }
.outline-darkgreen-500 { outline-color: #006400; }

.bg-darkgreen-600 { background-color: #005300; }
.text-darkgreen-600 { color: #005300; }
.border-darkgreen-600 { border-color: #005300; }
.outline-darkgreen-600 { outline-color: #005300; }

.bg-darkgreen-700 { background-color: #004200; }
.text-darkgreen-700 { color: #004200; }
.border-darkgreen-700 { border-color: #004200; }
.outline-darkgreen-700 { outline-color: #004200; }

.bg-darkgreen-800 { background-color: #003100; }
.text-darkgreen-800 { color: #003100; }
.border-darkgreen-800 { border-color: #003100; }
.outline-darkgreen-800 { outline-color: #003100; }

.bg-darkgreen-900 { background-color: #002000; }
.text-darkgreen-900 { color: #002000; }
.border-darkgreen-900 { border-color: #002000; }
.outline-darkgreen-900 { outline-color: #002000; }

.bg-darkgreen-950 { background-color: #000f00; }
.text-darkgreen-950 { color: #000f00; }
.border-darkgreen-950 { border-color: #000f00; }
.outline-darkgreen-950 { outline-color: #000f00; }


