



.bg-darkorange-50 { background-color: #ffebd2; }
.text-darkorange-50 { color: #ffebd2; }
.border-darkorange-50 { border-color: #ffebd2; }
.outline-darkorange-50 { outline-color: #ffebd2; }

.bg-darkorange-100 { background-color: #ffd8a8; }
.text-darkorange-100 { color: #ffd8a8; }
.border-darkorange-100 { border-color: #ffd8a8; }
.outline-darkorange-100 { outline-color: #ffd8a8; }

.bg-darkorange-200 { background-color: #ffc57e; }
.text-darkorange-200 { color: #ffc57e; }
.border-darkorange-200 { border-color: #ffc57e; }
.outline-darkorange-200 { outline-color: #ffc57e; }

.bg-darkorange-300 { background-color: #ffb254; }
.text-darkorange-300 { color: #ffb254; }
.border-darkorange-300 { border-color: #ffb254; }
.outline-darkorange-300 { outline-color: #ffb254; }

.bg-darkorange-400 { background-color: #ff9f2a; }
.text-darkorange-400 { color: #ff9f2a; }
.border-darkorange-400 { border-color: #ff9f2a; }
.outline-darkorange-400 { outline-color: #ff9f2a; }

.bg-darkorange-500 { background-color: #ff8c00; }
.text-darkorange-500 { color: #ff8c00; }
.border-darkorange-500 { border-color: #ff8c00; }
.outline-darkorange-500 { outline-color: #ff8c00; }

.bg-darkorange-600 { background-color: #d47400; }
.text-darkorange-600 { color: #d47400; }
.border-darkorange-600 { border-color: #d47400; }
.outline-darkorange-600 { outline-color: #d47400; }

.bg-darkorange-700 { background-color: #a95c00; }
.text-darkorange-700 { color: #a95c00; }
.border-darkorange-700 { border-color: #a95c00; }
.outline-darkorange-700 { outline-color: #a95c00; }

.bg-darkorange-800 { background-color: #7e4400; }
.text-darkorange-800 { color: #7e4400; }
.border-darkorange-800 { border-color: #7e4400; }
.outline-darkorange-800 { outline-color: #7e4400; }

.bg-darkorange-900 { background-color: #532c00; }
.text-darkorange-900 { color: #532c00; }
.border-darkorange-900 { border-color: #532c00; }
.outline-darkorange-900 { outline-color: #532c00; }

.bg-darkorange-950 { background-color: #281400; }
.text-darkorange-950 { color: #281400; }
.border-darkorange-950 { border-color: #281400; }
.outline-darkorange-950 { outline-color: #281400; }


