
/* github: https://github.com/iaseth/html-color-names */

.bg-darkseagreen-50 { background-color: #ecf3ec; }
.text-darkseagreen-50 { color: #ecf3ec; }
.border-darkseagreen-50 { border-color: #ecf3ec; }
.outline-darkseagreen-50 { outline-color: #ecf3ec; }

.bg-darkseagreen-100 { background-color: #d9e8d9; }
.text-darkseagreen-100 { color: #d9e8d9; }
.border-darkseagreen-100 { border-color: #d9e8d9; }
.outline-darkseagreen-100 { outline-color: #d9e8d9; }

.bg-darkseagreen-200 { background-color: #c7ddc7; }
.text-darkseagreen-200 { color: #c7ddc7; }
.border-darkseagreen-200 { border-color: #c7ddc7; }
.outline-darkseagreen-200 { outline-color: #c7ddc7; }

.bg-darkseagreen-300 { background-color: #b4d2b4; }
.text-darkseagreen-300 { color: #b4d2b4; }
.border-darkseagreen-300 { border-color: #b4d2b4; }
.outline-darkseagreen-300 { outline-color: #b4d2b4; }

.bg-darkseagreen-400 { background-color: #a1c7a1; }
.text-darkseagreen-400 { color: #a1c7a1; }
.border-darkseagreen-400 { border-color: #a1c7a1; }
.outline-darkseagreen-400 { outline-color: #a1c7a1; }

.bg-darkseagreen-500 { background-color: #8fbc8f; }
.text-darkseagreen-500 { color: #8fbc8f; }
.border-darkseagreen-500 { border-color: #8fbc8f; }
.outline-darkseagreen-500 { outline-color: #8fbc8f; }

.bg-darkseagreen-600 { background-color: #779c77; }
.text-darkseagreen-600 { color: #779c77; }
.border-darkseagreen-600 { border-color: #779c77; }
.outline-darkseagreen-600 { outline-color: #779c77; }

.bg-darkseagreen-700 { background-color: #5f7d5f; }
.text-darkseagreen-700 { color: #5f7d5f; }
.border-darkseagreen-700 { border-color: #5f7d5f; }
.outline-darkseagreen-700 { outline-color: #5f7d5f; }

.bg-darkseagreen-800 { background-color: #475e47; }
.text-darkseagreen-800 { color: #475e47; }
.border-darkseagreen-800 { border-color: #475e47; }
.outline-darkseagreen-800 { outline-color: #475e47; }

.bg-darkseagreen-900 { background-color: #2f3e2f; }
.text-darkseagreen-900 { color: #2f3e2f; }
.border-darkseagreen-900 { border-color: #2f3e2f; }
.outline-darkseagreen-900 { outline-color: #2f3e2f; }

.bg-darkseagreen-950 { background-color: #171f17; }
.text-darkseagreen-950 { color: #171f17; }
.border-darkseagreen-950 { border-color: #171f17; }
.outline-darkseagreen-950 { outline-color: #171f17; }

