
.bg-darkorchid-50 { background-color: #eedcf6; }
.text-darkorchid-50 { color: #eedcf6; }
.border-darkorchid-50 { border-color: #eedcf6; }
.outline-darkorchid-50 { outline-color: #eedcf6; }

.bg-darkorchid-100 { background-color: #ddbaee; }
.text-darkorchid-100 { color: #ddbaee; }
.border-darkorchid-100 { border-color: #ddbaee; }
.outline-darkorchid-100 { outline-color: #ddbaee; }

.bg-darkorchid-200 { background-color: #cc98e5; }
.text-darkorchid-200 { color: #cc98e5; }
.border-darkorchid-200 { border-color: #cc98e5; }
.outline-darkorchid-200 { outline-color: #cc98e5; }

.bg-darkorchid-300 { background-color: #bb76dd; }
.text-darkorchid-300 { color: #bb76dd; }
.border-darkorchid-300 { border-color: #bb76dd; }
.outline-darkorchid-300 { outline-color: #bb76dd; }

.bg-darkorchid-400 { background-color: #aa54d4; }
.text-darkorchid-400 { color: #aa54d4; }
.border-darkorchid-400 { border-color: #aa54d4; }
.outline-darkorchid-400 { outline-color: #aa54d4; }

.bg-darkorchid-500 { background-color: #9932cc; }
.text-darkorchid-500 { color: #9932cc; }
.border-darkorchid-500 { border-color: #9932cc; }
.outline-darkorchid-500 { outline-color: #9932cc; }

.bg-darkorchid-600 { background-color: #7f29aa; }
.text-darkorchid-600 { color: #7f29aa; }
.border-darkorchid-600 { border-color: #7f29aa; }
.outline-darkorchid-600 { outline-color: #7f29aa; }

.bg-darkorchid-700 { background-color: #662188; }
.text-darkorchid-700 { color: #662188; }
.border-darkorchid-700 { border-color: #662188; }
.outline-darkorchid-700 { outline-color: #662188; }

.bg-darkorchid-800 { background-color: #4c1966; }
.text-darkorchid-800 { color: #4c1966; }
.border-darkorchid-800 { border-color: #4c1966; }
.outline-darkorchid-800 { outline-color: #4c1966; }

.bg-darkorchid-900 { background-color: #331044; }
.text-darkorchid-900 { color: #331044; }
.border-darkorchid-900 { border-color: #331044; }
.outline-darkorchid-900 { outline-color: #331044; }

.bg-darkorchid-950 { background-color: #190822; }
.text-darkorchid-950 { color: #190822; }
.border-darkorchid-950 { border-color: #190822; }
.outline-darkorchid-950 { outline-color: #190822; }
