



.bg-darksalmon-50 { background-color: #f8ebe8; }
.text-darksalmon-50 { color: #f8ebe8; }
.border-darksalmon-50 { border-color: #f8ebe8; }
.outline-darksalmon-50 { outline-color: #f8ebe8; }

.bg-darksalmon-100 { background-color: #f5dad2; }
.text-darksalmon-100 { color: #f5dad2; }
.border-darksalmon-100 { border-color: #f5dad2; }
.outline-darksalmon-100 { outline-color: #f5dad2; }

.bg-darksalmon-200 { background-color: #f2c9bc; }
.text-darksalmon-200 { color: #f2c9bc; }
.border-darksalmon-200 { border-color: #f2c9bc; }
.outline-darksalmon-200 { outline-color: #f2c9bc; }

.bg-darksalmon-300 { background-color: #efb8a6; }
.text-darksalmon-300 { color: #efb8a6; }
.border-darksalmon-300 { border-color: #efb8a6; }
.outline-darksalmon-300 { outline-color: #efb8a6; }

.bg-darksalmon-400 { background-color: #eca790; }
.text-darksalmon-400 { color: #eca790; }
.border-darksalmon-400 { border-color: #eca790; }
.outline-darksalmon-400 { outline-color: #eca790; }

.bg-darksalmon-500 { background-color: #e9967a; }
.text-darksalmon-500 { color: #e9967a; }
.border-darksalmon-500 { border-color: #e9967a; }
.outline-darksalmon-500 { outline-color: #e9967a; }

.bg-darksalmon-600 { background-color: #c27d65; }
.text-darksalmon-600 { color: #c27d65; }
.border-darksalmon-600 { border-color: #c27d65; }
.outline-darksalmon-600 { outline-color: #c27d65; }

.bg-darksalmon-700 { background-color: #9b6450; }
.text-darksalmon-700 { color: #9b6450; }
.border-darksalmon-700 { border-color: #9b6450; }
.outline-darksalmon-700 { outline-color: #9b6450; }

.bg-darksalmon-800 { background-color: #744b3b; }
.text-darksalmon-800 { color: #744b3b; }
.border-darksalmon-800 { border-color: #744b3b; }
.outline-darksalmon-800 { outline-color: #744b3b; }

.bg-darksalmon-900 { background-color: #4d3226; }
.text-darksalmon-900 { color: #4d3226; }
.border-darksalmon-900 { border-color: #4d3226; }
.outline-darksalmon-900 { outline-color: #4d3226; }

.bg-darksalmon-950 { background-color: #261911; }
.text-darksalmon-950 { color: #261911; }
.border-darksalmon-950 { border-color: #261911; }
.outline-darksalmon-950 { outline-color: #261911; }


