
/* github: https://github.com/iaseth/html-color-names */

.bg-darkcyan-50 { background-color: #d4ebeb; }
.text-darkcyan-50 { color: #d4ebeb; }
.border-darkcyan-50 { border-color: #d4ebeb; }
.outline-darkcyan-50 { outline-color: #d4ebeb; }

.bg-darkcyan-100 { background-color: #aad8d8; }
.text-darkcyan-100 { color: #aad8d8; }
.border-darkcyan-100 { border-color: #aad8d8; }
.outline-darkcyan-100 { outline-color: #aad8d8; }

.bg-darkcyan-200 { background-color: #7fc5c5; }
.text-darkcyan-200 { color: #7fc5c5; }
.border-darkcyan-200 { border-color: #7fc5c5; }
.outline-darkcyan-200 { outline-color: #7fc5c5; }

.bg-darkcyan-300 { background-color: #55b1b1; }
.text-darkcyan-300 { color: #55b1b1; }
.border-darkcyan-300 { border-color: #55b1b1; }
.outline-darkcyan-300 { outline-color: #55b1b1; }

.bg-darkcyan-400 { background-color: #2a9e9e; }
.text-darkcyan-400 { color: #2a9e9e; }
.border-darkcyan-400 { border-color: #2a9e9e; }
.outline-darkcyan-400 { outline-color: #2a9e9e; }

.bg-darkcyan-500 { background-color: #008b8b; }
.text-darkcyan-500 { color: #008b8b; }
.border-darkcyan-500 { border-color: #008b8b; }
.outline-darkcyan-500 { outline-color: #008b8b; }

.bg-darkcyan-600 { background-color: #007373; }
.text-darkcyan-600 { color: #007373; }
.border-darkcyan-600 { border-color: #007373; }
.outline-darkcyan-600 { outline-color: #007373; }

.bg-darkcyan-700 { background-color: #005c5c; }
.text-darkcyan-700 { color: #005c5c; }
.border-darkcyan-700 { border-color: #005c5c; }
.outline-darkcyan-700 { outline-color: #005c5c; }

.bg-darkcyan-800 { background-color: #004545; }
.text-darkcyan-800 { color: #004545; }
.border-darkcyan-800 { border-color: #004545; }
.outline-darkcyan-800 { outline-color: #004545; }

.bg-darkcyan-900 { background-color: #002e2e; }
.text-darkcyan-900 { color: #002e2e; }
.border-darkcyan-900 { border-color: #002e2e; }
.outline-darkcyan-900 { outline-color: #002e2e; }

.bg-darkcyan-950 { background-color: #001717; }
.text-darkcyan-950 { color: #001717; }
.border-darkcyan-950 { border-color: #001717; }
.outline-darkcyan-950 { outline-color: #001717; }

