



.bg-darkkhaki-50 { background-color: #f4f3e6; }
.text-darkkhaki-50 { color: #f4f3e6; }
.border-darkkhaki-50 { border-color: #f4f3e6; }
.outline-darkkhaki-50 { outline-color: #f4f3e6; }

.bg-darkkhaki-100 { background-color: #e9e7cd; }
.text-darkkhaki-100 { color: #e9e7cd; }
.border-darkkhaki-100 { border-color: #e9e7cd; }
.outline-darkkhaki-100 { outline-color: #e9e7cd; }

.bg-darkkhaki-200 { background-color: #dedbb5; }
.text-darkkhaki-200 { color: #dedbb5; }
.border-darkkhaki-200 { border-color: #dedbb5; }
.outline-darkkhaki-200 { outline-color: #dedbb5; }

.bg-darkkhaki-300 { background-color: #d3cf9c; }
.text-darkkhaki-300 { color: #d3cf9c; }
.border-darkkhaki-300 { border-color: #d3cf9c; }
.outline-darkkhaki-300 { outline-color: #d3cf9c; }

.bg-darkkhaki-400 { background-color: #c8c383; }
.text-darkkhaki-400 { color: #c8c383; }
.border-darkkhaki-400 { border-color: #c8c383; }
.outline-darkkhaki-400 { outline-color: #c8c383; }

.bg-darkkhaki-500 { background-color: #bdb76b; }
.text-darkkhaki-500 { color: #bdb76b; }
.border-darkkhaki-500 { border-color: #bdb76b; }
.outline-darkkhaki-500 { outline-color: #bdb76b; }

.bg-darkkhaki-600 { background-color: #9d9859; }
.text-darkkhaki-600 { color: #9d9859; }
.border-darkkhaki-600 { border-color: #9d9859; }
.outline-darkkhaki-600 { outline-color: #9d9859; }

.bg-darkkhaki-700 { background-color: #7e7a47; }
.text-darkkhaki-700 { color: #7e7a47; }
.border-darkkhaki-700 { border-color: #7e7a47; }
.outline-darkkhaki-700 { outline-color: #7e7a47; }

.bg-darkkhaki-800 { background-color: #5e5b35; }
.text-darkkhaki-800 { color: #5e5b35; }
.border-darkkhaki-800 { border-color: #5e5b35; }
.outline-darkkhaki-800 { outline-color: #5e5b35; }

.bg-darkkhaki-900 { background-color: #3f3d23; }
.text-darkkhaki-900 { color: #3f3d23; }
.border-darkkhaki-900 { border-color: #3f3d23; }
.outline-darkkhaki-900 { outline-color: #3f3d23; }

.bg-darkkhaki-950 { background-color: #1f1e11; }
.text-darkkhaki-950 { color: #1f1e11; }
.border-darkkhaki-950 { border-color: #1f1e11; }
.outline-darkkhaki-950 { outline-color: #1f1e11; }


