



.bg-darkslateblue-50 { background-color: #e0deeb; }
.text-darkslateblue-50 { color: #e0deeb; }
.border-darkslateblue-50 { border-color: #e0deeb; }
.outline-darkslateblue-50 { outline-color: #e0deeb; }

.bg-darkslateblue-100 { background-color: #c2bed8; }
.text-darkslateblue-100 { color: #c2bed8; }
.border-darkslateblue-100 { border-color: #c2bed8; }
.outline-darkslateblue-100 { outline-color: #c2bed8; }

.bg-darkslateblue-200 { background-color: #a39ec5; }
.text-darkslateblue-200 { color: #a39ec5; }
.border-darkslateblue-200 { border-color: #a39ec5; }
.outline-darkslateblue-200 { outline-color: #a39ec5; }

.bg-darkslateblue-300 { background-color: #857db1; }
.text-darkslateblue-300 { color: #857db1; }
.border-darkslateblue-300 { border-color: #857db1; }
.outline-darkslateblue-300 { outline-color: #857db1; }

.bg-darkslateblue-400 { background-color: #665d9e; }
.text-darkslateblue-400 { color: #665d9e; }
.border-darkslateblue-400 { border-color: #665d9e; }
.outline-darkslateblue-400 { outline-color: #665d9e; }

.bg-darkslateblue-500 { background-color: #483d8b; }
.text-darkslateblue-500 { color: #483d8b; }
.border-darkslateblue-500 { border-color: #483d8b; }
.outline-darkslateblue-500 { outline-color: #483d8b; }

.bg-darkslateblue-600 { background-color: #3c3273; }
.text-darkslateblue-600 { color: #3c3273; }
.border-darkslateblue-600 { border-color: #3c3273; }
.outline-darkslateblue-600 { outline-color: #3c3273; }

.bg-darkslateblue-700 { background-color: #30285c; }
.text-darkslateblue-700 { color: #30285c; }
.border-darkslateblue-700 { border-color: #30285c; }
.outline-darkslateblue-700 { outline-color: #30285c; }

.bg-darkslateblue-800 { background-color: #241e45; }
.text-darkslateblue-800 { color: #241e45; }
.border-darkslateblue-800 { border-color: #241e45; }
.outline-darkslateblue-800 { outline-color: #241e45; }

.bg-darkslateblue-900 { background-color: #18142e; }
.text-darkslateblue-900 { color: #18142e; }
.border-darkslateblue-900 { border-color: #18142e; }
.outline-darkslateblue-900 { outline-color: #18142e; }

.bg-darkslateblue-950 { background-color: #0c0a17; }
.text-darkslateblue-950 { color: #0c0a17; }
.border-darkslateblue-950 { border-color: #0c0a17; }
.outline-darkslateblue-950 { outline-color: #0c0a17; }


