



.bg-darkcyan-50 { background-color: #d2eaea; }
.text-darkcyan-50 { color: #d2eaea; }
.border-darkcyan-50 { border-color: #d2eaea; }
.outline-darkcyan-50 { outline-color: #d2eaea; }

.bg-darkcyan-100 { background-color: #a8d7d7; }
.text-darkcyan-100 { color: #a8d7d7; }
.border-darkcyan-100 { border-color: #a8d7d7; }
.outline-darkcyan-100 { outline-color: #a8d7d7; }

.bg-darkcyan-200 { background-color: #7ec4c4; }
.text-darkcyan-200 { color: #7ec4c4; }
.border-darkcyan-200 { border-color: #7ec4c4; }
.outline-darkcyan-200 { outline-color: #7ec4c4; }

.bg-darkcyan-300 { background-color: #54b1b1; }
.text-darkcyan-300 { color: #54b1b1; }
.border-darkcyan-300 { border-color: #54b1b1; }
.outline-darkcyan-300 { outline-color: #54b1b1; }

.bg-darkcyan-400 { background-color: #2a9e9e; }
.text-darkcyan-400 { color: #2a9e9e; }
.border-darkcyan-400 { border-color: #2a9e9e; }
.outline-darkcyan-400 { outline-color: #2a9e9e; }

.bg-darkcyan-500 { background-color: #008b8b; }
.text-darkcyan-500 { color: #008b8b; }
.border-darkcyan-500 { border-color: #008b8b; }
.outline-darkcyan-500 { outline-color: #008b8b; }

.bg-darkcyan-600 { background-color: #007373; }
.text-darkcyan-600 { color: #007373; }
.border-darkcyan-600 { border-color: #007373; }
.outline-darkcyan-600 { outline-color: #007373; }

.bg-darkcyan-700 { background-color: #005b5b; }
.text-darkcyan-700 { color: #005b5b; }
.border-darkcyan-700 { border-color: #005b5b; }
.outline-darkcyan-700 { outline-color: #005b5b; }

.bg-darkcyan-800 { background-color: #004343; }
.text-darkcyan-800 { color: #004343; }
.border-darkcyan-800 { border-color: #004343; }
.outline-darkcyan-800 { outline-color: #004343; }

.bg-darkcyan-900 { background-color: #002b2b; }
.text-darkcyan-900 { color: #002b2b; }
.border-darkcyan-900 { border-color: #002b2b; }
.outline-darkcyan-900 { outline-color: #002b2b; }

.bg-darkcyan-950 { background-color: #001313; }
.text-darkcyan-950 { color: #001313; }
.border-darkcyan-950 { border-color: #001313; }
.outline-darkcyan-950 { outline-color: #001313; }


