



.bg-darksalmon-50 { background-color: #fbede8; }
.text-darksalmon-50 { color: #fbede8; }
.border-darksalmon-50 { border-color: #fbede8; }
.outline-darksalmon-50 { outline-color: #fbede8; }

.bg-darksalmon-100 { background-color: #f7dcd2; }
.text-darksalmon-100 { color: #f7dcd2; }
.border-darksalmon-100 { border-color: #f7dcd2; }
.outline-darksalmon-100 { outline-color: #f7dcd2; }

.bg-darksalmon-200 { background-color: #f4cabc; }
.text-darksalmon-200 { color: #f4cabc; }
.border-darksalmon-200 { border-color: #f4cabc; }
.outline-darksalmon-200 { outline-color: #f4cabc; }

.bg-darksalmon-300 { background-color: #f0b9a6; }
.text-darksalmon-300 { color: #f0b9a6; }
.border-darksalmon-300 { border-color: #f0b9a6; }
.outline-darksalmon-300 { outline-color: #f0b9a6; }

.bg-darksalmon-400 { background-color: #eca790; }
.text-darksalmon-400 { color: #eca790; }
.border-darksalmon-400 { border-color: #eca790; }
.outline-darksalmon-400 { outline-color: #eca790; }

.bg-darksalmon-500 { background-color: #e9967a; }
.text-darksalmon-500 { color: #e9967a; }
.border-darksalmon-500 { border-color: #e9967a; }
.outline-darksalmon-500 { outline-color: #e9967a; }

.bg-darksalmon-600 { background-color: #c27d65; }
.text-darksalmon-600 { color: #c27d65; }
.border-darksalmon-600 { border-color: #c27d65; }
.outline-darksalmon-600 { outline-color: #c27d65; }

.bg-darksalmon-700 { background-color: #9b6451; }
.text-darksalmon-700 { color: #9b6451; }
.border-darksalmon-700 { border-color: #9b6451; }
.outline-darksalmon-700 { outline-color: #9b6451; }

.bg-darksalmon-800 { background-color: #744b3d; }
.text-darksalmon-800 { color: #744b3d; }
.border-darksalmon-800 { border-color: #744b3d; }
.outline-darksalmon-800 { outline-color: #744b3d; }

.bg-darksalmon-900 { background-color: #4d3228; }
.text-darksalmon-900 { color: #4d3228; }
.border-darksalmon-900 { border-color: #4d3228; }
.outline-darksalmon-900 { outline-color: #4d3228; }

.bg-darksalmon-950 { background-color: #261914; }
.text-darksalmon-950 { color: #261914; }
.border-darksalmon-950 { border-color: #261914; }
.outline-darksalmon-950 { outline-color: #261914; }


