
.bg-darkred-50 { background-color: #ebd4d4; }
.text-darkred-50 { color: #ebd4d4; }
.border-darkred-50 { border-color: #ebd4d4; }
.outline-darkred-50 { outline-color: #ebd4d4; }

.bg-darkred-100 { background-color: #d8aaaa; }
.text-darkred-100 { color: #d8aaaa; }
.border-darkred-100 { border-color: #d8aaaa; }
.outline-darkred-100 { outline-color: #d8aaaa; }

.bg-darkred-200 { background-color: #c57f7f; }
.text-darkred-200 { color: #c57f7f; }
.border-darkred-200 { border-color: #c57f7f; }
.outline-darkred-200 { outline-color: #c57f7f; }

.bg-darkred-300 { background-color: #b15555; }
.text-darkred-300 { color: #b15555; }
.border-darkred-300 { border-color: #b15555; }
.outline-darkred-300 { outline-color: #b15555; }

.bg-darkred-400 { background-color: #9e2a2a; }
.text-darkred-400 { color: #9e2a2a; }
.border-darkred-400 { border-color: #9e2a2a; }
.outline-darkred-400 { outline-color: #9e2a2a; }

.bg-darkred-500 { background-color: #8b0000; }
.text-darkred-500 { color: #8b0000; }
.border-darkred-500 { border-color: #8b0000; }
.outline-darkred-500 { outline-color: #8b0000; }

.bg-darkred-600 { background-color: #730000; }
.text-darkred-600 { color: #730000; }
.border-darkred-600 { border-color: #730000; }
.outline-darkred-600 { outline-color: #730000; }

.bg-darkred-700 { background-color: #5c0000; }
.text-darkred-700 { color: #5c0000; }
.border-darkred-700 { border-color: #5c0000; }
.outline-darkred-700 { outline-color: #5c0000; }

.bg-darkred-800 { background-color: #450000; }
.text-darkred-800 { color: #450000; }
.border-darkred-800 { border-color: #450000; }
.outline-darkred-800 { outline-color: #450000; }

.bg-darkred-900 { background-color: #2e0000; }
.text-darkred-900 { color: #2e0000; }
.border-darkred-900 { border-color: #2e0000; }
.outline-darkred-900 { outline-color: #2e0000; }

.bg-darkred-950 { background-color: #170000; }
.text-darkred-950 { color: #170000; }
.border-darkred-950 { border-color: #170000; }
.outline-darkred-950 { outline-color: #170000; }
