



.bg-darkmagenta-50 { background-color: #ead2ea; }
.text-darkmagenta-50 { color: #ead2ea; }
.border-darkmagenta-50 { border-color: #ead2ea; }
.outline-darkmagenta-50 { outline-color: #ead2ea; }

.bg-darkmagenta-100 { background-color: #d7a8d7; }
.text-darkmagenta-100 { color: #d7a8d7; }
.border-darkmagenta-100 { border-color: #d7a8d7; }
.outline-darkmagenta-100 { outline-color: #d7a8d7; }

.bg-darkmagenta-200 { background-color: #c47ec4; }
.text-darkmagenta-200 { color: #c47ec4; }
.border-darkmagenta-200 { border-color: #c47ec4; }
.outline-darkmagenta-200 { outline-color: #c47ec4; }

.bg-darkmagenta-300 { background-color: #b154b1; }
.text-darkmagenta-300 { color: #b154b1; }
.border-darkmagenta-300 { border-color: #b154b1; }
.outline-darkmagenta-300 { outline-color: #b154b1; }

.bg-darkmagenta-400 { background-color: #9e2a9e; }
.text-darkmagenta-400 { color: #9e2a9e; }
.border-darkmagenta-400 { border-color: #9e2a9e; }
.outline-darkmagenta-400 { outline-color: #9e2a9e; }

.bg-darkmagenta-500 { background-color: #8b008b; }
.text-darkmagenta-500 { color: #8b008b; }
.border-darkmagenta-500 { border-color: #8b008b; }
.outline-darkmagenta-500 { outline-color: #8b008b; }

.bg-darkmagenta-600 { background-color: #730073; }
.text-darkmagenta-600 { color: #730073; }
.border-darkmagenta-600 { border-color: #730073; }
.outline-darkmagenta-600 { outline-color: #730073; }

.bg-darkmagenta-700 { background-color: #5b005b; }
.text-darkmagenta-700 { color: #5b005b; }
.border-darkmagenta-700 { border-color: #5b005b; }
.outline-darkmagenta-700 { outline-color: #5b005b; }

.bg-darkmagenta-800 { background-color: #430043; }
.text-darkmagenta-800 { color: #430043; }
.border-darkmagenta-800 { border-color: #430043; }
.outline-darkmagenta-800 { outline-color: #430043; }

.bg-darkmagenta-900 { background-color: #2b002b; }
.text-darkmagenta-900 { color: #2b002b; }
.border-darkmagenta-900 { border-color: #2b002b; }
.outline-darkmagenta-900 { outline-color: #2b002b; }

.bg-darkmagenta-950 { background-color: #130013; }
.text-darkmagenta-950 { color: #130013; }
.border-darkmagenta-950 { border-color: #130013; }
.outline-darkmagenta-950 { outline-color: #130013; }


