
.bg-darkblue-50 { background-color: #d4d4eb; }
.text-darkblue-50 { color: #d4d4eb; }
.border-darkblue-50 { border-color: #d4d4eb; }
.outline-darkblue-50 { outline-color: #d4d4eb; }

.bg-darkblue-100 { background-color: #aaaad8; }
.text-darkblue-100 { color: #aaaad8; }
.border-darkblue-100 { border-color: #aaaad8; }
.outline-darkblue-100 { outline-color: #aaaad8; }

.bg-darkblue-200 { background-color: #7f7fc5; }
.text-darkblue-200 { color: #7f7fc5; }
.border-darkblue-200 { border-color: #7f7fc5; }
.outline-darkblue-200 { outline-color: #7f7fc5; }

.bg-darkblue-300 { background-color: #5555b1; }
.text-darkblue-300 { color: #5555b1; }
.border-darkblue-300 { border-color: #5555b1; }
.outline-darkblue-300 { outline-color: #5555b1; }

.bg-darkblue-400 { background-color: #2a2a9e; }
.text-darkblue-400 { color: #2a2a9e; }
.border-darkblue-400 { border-color: #2a2a9e; }
.outline-darkblue-400 { outline-color: #2a2a9e; }

.bg-darkblue-500 { background-color: #00008b; }
.text-darkblue-500 { color: #00008b; }
.border-darkblue-500 { border-color: #00008b; }
.outline-darkblue-500 { outline-color: #00008b; }

.bg-darkblue-600 { background-color: #000073; }
.text-darkblue-600 { color: #000073; }
.border-darkblue-600 { border-color: #000073; }
.outline-darkblue-600 { outline-color: #000073; }

.bg-darkblue-700 { background-color: #00005c; }
.text-darkblue-700 { color: #00005c; }
.border-darkblue-700 { border-color: #00005c; }
.outline-darkblue-700 { outline-color: #00005c; }

.bg-darkblue-800 { background-color: #000045; }
.text-darkblue-800 { color: #000045; }
.border-darkblue-800 { border-color: #000045; }
.outline-darkblue-800 { outline-color: #000045; }

.bg-darkblue-900 { background-color: #00002e; }
.text-darkblue-900 { color: #00002e; }
.border-darkblue-900 { border-color: #00002e; }
.outline-darkblue-900 { outline-color: #00002e; }

.bg-darkblue-950 { background-color: #000017; }
.text-darkblue-950 { color: #000017; }
.border-darkblue-950 { border-color: #000017; }
.outline-darkblue-950 { outline-color: #000017; }
