
.bg-deepskyblue-50 { background-color: #d4f4ff; }
.text-deepskyblue-50 { color: #d4f4ff; }
.border-deepskyblue-50 { border-color: #d4f4ff; }
.outline-deepskyblue-50 { outline-color: #d4f4ff; }

.bg-deepskyblue-100 { background-color: #aae9ff; }
.text-deepskyblue-100 { color: #aae9ff; }
.border-deepskyblue-100 { border-color: #aae9ff; }
.outline-deepskyblue-100 { outline-color: #aae9ff; }

.bg-deepskyblue-200 { background-color: #7fdfff; }
.text-deepskyblue-200 { color: #7fdfff; }
.border-deepskyblue-200 { border-color: #7fdfff; }
.outline-deepskyblue-200 { outline-color: #7fdfff; }

.bg-deepskyblue-300 { background-color: #55d4ff; }
.text-deepskyblue-300 { color: #55d4ff; }
.border-deepskyblue-300 { border-color: #55d4ff; }
.outline-deepskyblue-300 { outline-color: #55d4ff; }

.bg-deepskyblue-400 { background-color: #2ac9ff; }
.text-deepskyblue-400 { color: #2ac9ff; }
.border-deepskyblue-400 { border-color: #2ac9ff; }
.outline-deepskyblue-400 { outline-color: #2ac9ff; }

.bg-deepskyblue-500 { background-color: #00bfff; }
.text-deepskyblue-500 { color: #00bfff; }
.border-deepskyblue-500 { border-color: #00bfff; }
.outline-deepskyblue-500 { outline-color: #00bfff; }

.bg-deepskyblue-600 { background-color: #009fd4; }
.text-deepskyblue-600 { color: #009fd4; }
.border-deepskyblue-600 { border-color: #009fd4; }
.outline-deepskyblue-600 { outline-color: #009fd4; }

.bg-deepskyblue-700 { background-color: #007faa; }
.text-deepskyblue-700 { color: #007faa; }
.border-deepskyblue-700 { border-color: #007faa; }
.outline-deepskyblue-700 { outline-color: #007faa; }

.bg-deepskyblue-800 { background-color: #005f7f; }
.text-deepskyblue-800 { color: #005f7f; }
.border-deepskyblue-800 { border-color: #005f7f; }
.outline-deepskyblue-800 { outline-color: #005f7f; }

.bg-deepskyblue-900 { background-color: #003f55; }
.text-deepskyblue-900 { color: #003f55; }
.border-deepskyblue-900 { border-color: #003f55; }
.outline-deepskyblue-900 { outline-color: #003f55; }

.bg-deepskyblue-950 { background-color: #001f2a; }
.text-deepskyblue-950 { color: #001f2a; }
.border-deepskyblue-950 { border-color: #001f2a; }
.outline-deepskyblue-950 { outline-color: #001f2a; }
