



.bg-deeppink-50 { background-color: #ffd7ed; }
.text-deeppink-50 { color: #ffd7ed; }
.border-deeppink-50 { border-color: #ffd7ed; }
.outline-deeppink-50 { outline-color: #ffd7ed; }

.bg-deeppink-100 { background-color: #ffb0db; }
.text-deeppink-100 { color: #ffb0db; }
.border-deeppink-100 { border-color: #ffb0db; }
.outline-deeppink-100 { outline-color: #ffb0db; }

.bg-deeppink-200 { background-color: #ff89c9; }
.text-deeppink-200 { color: #ff89c9; }
.border-deeppink-200 { border-color: #ff89c9; }
.outline-deeppink-200 { outline-color: #ff89c9; }

.bg-deeppink-300 { background-color: #ff62b7; }
.text-deeppink-300 { color: #ff62b7; }
.border-deeppink-300 { border-color: #ff62b7; }
.outline-deeppink-300 { outline-color: #ff62b7; }

.bg-deeppink-400 { background-color: #ff3ba5; }
.text-deeppink-400 { color: #ff3ba5; }
.border-deeppink-400 { border-color: #ff3ba5; }
.outline-deeppink-400 { outline-color: #ff3ba5; }

.bg-deeppink-500 { background-color: #ff1493; }
.text-deeppink-500 { color: #ff1493; }
.border-deeppink-500 { border-color: #ff1493; }
.outline-deeppink-500 { outline-color: #ff1493; }

.bg-deeppink-600 { background-color: #d4107a; }
.text-deeppink-600 { color: #d4107a; }
.border-deeppink-600 { border-color: #d4107a; }
.outline-deeppink-600 { outline-color: #d4107a; }

.bg-deeppink-700 { background-color: #aa0d62; }
.text-deeppink-700 { color: #aa0d62; }
.border-deeppink-700 { border-color: #aa0d62; }
.outline-deeppink-700 { outline-color: #aa0d62; }

.bg-deeppink-800 { background-color: #7f0a49; }
.text-deeppink-800 { color: #7f0a49; }
.border-deeppink-800 { border-color: #7f0a49; }
.outline-deeppink-800 { outline-color: #7f0a49; }

.bg-deeppink-900 { background-color: #550631; }
.text-deeppink-900 { color: #550631; }
.border-deeppink-900 { border-color: #550631; }
.outline-deeppink-900 { outline-color: #550631; }

.bg-deeppink-950 { background-color: #2a0318; }
.text-deeppink-950 { color: #2a0318; }
.border-deeppink-950 { border-color: #2a0318; }
.outline-deeppink-950 { outline-color: #2a0318; }


