



.bg-deepskyblue-50 { background-color: #d2f1ff; }
.text-deepskyblue-50 { color: #d2f1ff; }
.border-deepskyblue-50 { border-color: #d2f1ff; }
.outline-deepskyblue-50 { outline-color: #d2f1ff; }

.bg-deepskyblue-100 { background-color: #a8e7ff; }
.text-deepskyblue-100 { color: #a8e7ff; }
.border-deepskyblue-100 { border-color: #a8e7ff; }
.outline-deepskyblue-100 { outline-color: #a8e7ff; }

.bg-deepskyblue-200 { background-color: #7eddff; }
.text-deepskyblue-200 { color: #7eddff; }
.border-deepskyblue-200 { border-color: #7eddff; }
.outline-deepskyblue-200 { outline-color: #7eddff; }

.bg-deepskyblue-300 { background-color: #54d3ff; }
.text-deepskyblue-300 { color: #54d3ff; }
.border-deepskyblue-300 { border-color: #54d3ff; }
.outline-deepskyblue-300 { outline-color: #54d3ff; }

.bg-deepskyblue-400 { background-color: #2ac9ff; }
.text-deepskyblue-400 { color: #2ac9ff; }
.border-deepskyblue-400 { border-color: #2ac9ff; }
.outline-deepskyblue-400 { outline-color: #2ac9ff; }

.bg-deepskyblue-500 { background-color: #00bfff; }
.text-deepskyblue-500 { color: #00bfff; }
.border-deepskyblue-500 { border-color: #00bfff; }
.outline-deepskyblue-500 { outline-color: #00bfff; }

.bg-deepskyblue-600 { background-color: #009fd4; }
.text-deepskyblue-600 { color: #009fd4; }
.border-deepskyblue-600 { border-color: #009fd4; }
.outline-deepskyblue-600 { outline-color: #009fd4; }

.bg-deepskyblue-700 { background-color: #007fa9; }
.text-deepskyblue-700 { color: #007fa9; }
.border-deepskyblue-700 { border-color: #007fa9; }
.outline-deepskyblue-700 { outline-color: #007fa9; }

.bg-deepskyblue-800 { background-color: #005f7e; }
.text-deepskyblue-800 { color: #005f7e; }
.border-deepskyblue-800 { border-color: #005f7e; }
.outline-deepskyblue-800 { outline-color: #005f7e; }

.bg-deepskyblue-900 { background-color: #003f53; }
.text-deepskyblue-900 { color: #003f53; }
.border-deepskyblue-900 { border-color: #003f53; }
.outline-deepskyblue-900 { outline-color: #003f53; }

.bg-deepskyblue-950 { background-color: #001f28; }
.text-deepskyblue-950 { color: #001f28; }
.border-deepskyblue-950 { border-color: #001f28; }
.outline-deepskyblue-950 { outline-color: #001f28; }


