



.bg-dimgray-50 { background-color: #e6e6e6; }
.text-dimgray-50 { color: #e6e6e6; }
.border-dimgray-50 { border-color: #e6e6e6; }
.outline-dimgray-50 { outline-color: #e6e6e6; }

.bg-dimgray-100 { background-color: #cdcdcd; }
.text-dimgray-100 { color: #cdcdcd; }
.border-dimgray-100 { border-color: #cdcdcd; }
.outline-dimgray-100 { outline-color: #cdcdcd; }

.bg-dimgray-200 { background-color: #b4b4b4; }
.text-dimgray-200 { color: #b4b4b4; }
.border-dimgray-200 { border-color: #b4b4b4; }
.outline-dimgray-200 { outline-color: #b4b4b4; }

.bg-dimgray-300 { background-color: #9b9b9b; }
.text-dimgray-300 { color: #9b9b9b; }
.border-dimgray-300 { border-color: #9b9b9b; }
.outline-dimgray-300 { outline-color: #9b9b9b; }

.bg-dimgray-400 { background-color: #828282; }
.text-dimgray-400 { color: #828282; }
.border-dimgray-400 { border-color: #828282; }
.outline-dimgray-400 { outline-color: #828282; }

.bg-dimgray-500 { background-color: #696969; }
.text-dimgray-500 { color: #696969; }
.border-dimgray-500 { border-color: #696969; }
.outline-dimgray-500 { outline-color: #696969; }

.bg-dimgray-600 { background-color: #575757; }
.text-dimgray-600 { color: #575757; }
.border-dimgray-600 { border-color: #575757; }
.outline-dimgray-600 { outline-color: #575757; }

.bg-dimgray-700 { background-color: #464646; }
.text-dimgray-700 { color: #464646; }
.border-dimgray-700 { border-color: #464646; }
.outline-dimgray-700 { outline-color: #464646; }

.bg-dimgray-800 { background-color: #343434; }
.text-dimgray-800 { color: #343434; }
.border-dimgray-800 { border-color: #343434; }
.outline-dimgray-800 { outline-color: #343434; }

.bg-dimgray-900 { background-color: #232323; }
.text-dimgray-900 { color: #232323; }
.border-dimgray-900 { border-color: #232323; }
.outline-dimgray-900 { outline-color: #232323; }

.bg-dimgray-950 { background-color: #111111; }
.text-dimgray-950 { color: #111111; }
.border-dimgray-950 { border-color: #111111; }
.outline-dimgray-950 { outline-color: #111111; }


