



.bg-dimgrey-50 { background-color: #e6e6e6; }
.text-dimgrey-50 { color: #e6e6e6; }
.border-dimgrey-50 { border-color: #e6e6e6; }
.outline-dimgrey-50 { outline-color: #e6e6e6; }

.bg-dimgrey-100 { background-color: #cdcdcd; }
.text-dimgrey-100 { color: #cdcdcd; }
.border-dimgrey-100 { border-color: #cdcdcd; }
.outline-dimgrey-100 { outline-color: #cdcdcd; }

.bg-dimgrey-200 { background-color: #b4b4b4; }
.text-dimgrey-200 { color: #b4b4b4; }
.border-dimgrey-200 { border-color: #b4b4b4; }
.outline-dimgrey-200 { outline-color: #b4b4b4; }

.bg-dimgrey-300 { background-color: #9b9b9b; }
.text-dimgrey-300 { color: #9b9b9b; }
.border-dimgrey-300 { border-color: #9b9b9b; }
.outline-dimgrey-300 { outline-color: #9b9b9b; }

.bg-dimgrey-400 { background-color: #828282; }
.text-dimgrey-400 { color: #828282; }
.border-dimgrey-400 { border-color: #828282; }
.outline-dimgrey-400 { outline-color: #828282; }

.bg-dimgrey-500 { background-color: #696969; }
.text-dimgrey-500 { color: #696969; }
.border-dimgrey-500 { border-color: #696969; }
.outline-dimgrey-500 { outline-color: #696969; }

.bg-dimgrey-600 { background-color: #575757; }
.text-dimgrey-600 { color: #575757; }
.border-dimgrey-600 { border-color: #575757; }
.outline-dimgrey-600 { outline-color: #575757; }

.bg-dimgrey-700 { background-color: #454545; }
.text-dimgrey-700 { color: #454545; }
.border-dimgrey-700 { border-color: #454545; }
.outline-dimgrey-700 { outline-color: #454545; }

.bg-dimgrey-800 { background-color: #333333; }
.text-dimgrey-800 { color: #333333; }
.border-dimgrey-800 { border-color: #333333; }
.outline-dimgrey-800 { outline-color: #333333; }

.bg-dimgrey-900 { background-color: #212121; }
.text-dimgrey-900 { color: #212121; }
.border-dimgrey-900 { border-color: #212121; }
.outline-dimgrey-900 { outline-color: #212121; }

.bg-dimgrey-950 { background-color: #0f0f0f; }
.text-dimgrey-950 { color: #0f0f0f; }
.border-dimgrey-950 { border-color: #0f0f0f; }
.outline-dimgrey-950 { outline-color: #0f0f0f; }


