
/* github: https://github.com/iaseth/html-color-names */

.bg-dodgerblue-50 { background-color: #d9ecff; }
.text-dodgerblue-50 { color: #d9ecff; }
.border-dodgerblue-50 { border-color: #d9ecff; }
.outline-dodgerblue-50 { outline-color: #d9ecff; }

.bg-dodgerblue-100 { background-color: #b4daff; }
.text-dodgerblue-100 { color: #b4daff; }
.border-dodgerblue-100 { border-color: #b4daff; }
.outline-dodgerblue-100 { outline-color: #b4daff; }

.bg-dodgerblue-200 { background-color: #8ec7ff; }
.text-dodgerblue-200 { color: #8ec7ff; }
.border-dodgerblue-200 { border-color: #8ec7ff; }
.outline-dodgerblue-200 { outline-color: #8ec7ff; }

.bg-dodgerblue-300 { background-color: #69b5ff; }
.text-dodgerblue-300 { color: #69b5ff; }
.border-dodgerblue-300 { border-color: #69b5ff; }
.outline-dodgerblue-300 { outline-color: #69b5ff; }

.bg-dodgerblue-400 { background-color: #43a2ff; }
.text-dodgerblue-400 { color: #43a2ff; }
.border-dodgerblue-400 { border-color: #43a2ff; }
.outline-dodgerblue-400 { outline-color: #43a2ff; }

.bg-dodgerblue-500 { background-color: #1e90ff; }
.text-dodgerblue-500 { color: #1e90ff; }
.border-dodgerblue-500 { border-color: #1e90ff; }
.outline-dodgerblue-500 { outline-color: #1e90ff; }

.bg-dodgerblue-600 { background-color: #1978d4; }
.text-dodgerblue-600 { color: #1978d4; }
.border-dodgerblue-600 { border-color: #1978d4; }
.outline-dodgerblue-600 { outline-color: #1978d4; }

.bg-dodgerblue-700 { background-color: #1460aa; }
.text-dodgerblue-700 { color: #1460aa; }
.border-dodgerblue-700 { border-color: #1460aa; }
.outline-dodgerblue-700 { outline-color: #1460aa; }

.bg-dodgerblue-800 { background-color: #0f487f; }
.text-dodgerblue-800 { color: #0f487f; }
.border-dodgerblue-800 { border-color: #0f487f; }
.outline-dodgerblue-800 { outline-color: #0f487f; }

.bg-dodgerblue-900 { background-color: #0a3055; }
.text-dodgerblue-900 { color: #0a3055; }
.border-dodgerblue-900 { border-color: #0a3055; }
.outline-dodgerblue-900 { outline-color: #0a3055; }

.bg-dodgerblue-950 { background-color: #05182a; }
.text-dodgerblue-950 { color: #05182a; }
.border-dodgerblue-950 { border-color: #05182a; }
.outline-dodgerblue-950 { outline-color: #05182a; }

