



.bg-firebrick-50 { background-color: #f2dada; }
.text-firebrick-50 { color: #f2dada; }
.border-firebrick-50 { border-color: #f2dada; }
.outline-firebrick-50 { outline-color: #f2dada; }

.bg-firebrick-100 { background-color: #e5b5b5; }
.text-firebrick-100 { color: #e5b5b5; }
.border-firebrick-100 { border-color: #e5b5b5; }
.outline-firebrick-100 { outline-color: #e5b5b5; }

.bg-firebrick-200 { background-color: #d89090; }
.text-firebrick-200 { color: #d89090; }
.border-firebrick-200 { border-color: #d89090; }
.outline-firebrick-200 { outline-color: #d89090; }

.bg-firebrick-300 { background-color: #cb6b6b; }
.text-firebrick-300 { color: #cb6b6b; }
.border-firebrick-300 { border-color: #cb6b6b; }
.outline-firebrick-300 { outline-color: #cb6b6b; }

.bg-firebrick-400 { background-color: #be4646; }
.text-firebrick-400 { color: #be4646; }
.border-firebrick-400 { border-color: #be4646; }
.outline-firebrick-400 { outline-color: #be4646; }

.bg-firebrick-500 { background-color: #b22222; }
.text-firebrick-500 { color: #b22222; }
.border-firebrick-500 { border-color: #b22222; }
.outline-firebrick-500 { outline-color: #b22222; }

.bg-firebrick-600 { background-color: #941c1c; }
.text-firebrick-600 { color: #941c1c; }
.border-firebrick-600 { border-color: #941c1c; }
.outline-firebrick-600 { outline-color: #941c1c; }

.bg-firebrick-700 { background-color: #761616; }
.text-firebrick-700 { color: #761616; }
.border-firebrick-700 { border-color: #761616; }
.outline-firebrick-700 { outline-color: #761616; }

.bg-firebrick-800 { background-color: #591111; }
.text-firebrick-800 { color: #591111; }
.border-firebrick-800 { border-color: #591111; }
.outline-firebrick-800 { outline-color: #591111; }

.bg-firebrick-900 { background-color: #3b0b0b; }
.text-firebrick-900 { color: #3b0b0b; }
.border-firebrick-900 { border-color: #3b0b0b; }
.outline-firebrick-900 { outline-color: #3b0b0b; }

.bg-firebrick-950 { background-color: #1d0505; }
.text-firebrick-950 { color: #1d0505; }
.border-firebrick-950 { border-color: #1d0505; }
.outline-firebrick-950 { outline-color: #1d0505; }


