



.bg-firebrick-50 { background-color: #eed6d6; }
.text-firebrick-50 { color: #eed6d6; }
.border-firebrick-50 { border-color: #eed6d6; }
.outline-firebrick-50 { outline-color: #eed6d6; }

.bg-firebrick-100 { background-color: #e2b2b2; }
.text-firebrick-100 { color: #e2b2b2; }
.border-firebrick-100 { border-color: #e2b2b2; }
.outline-firebrick-100 { outline-color: #e2b2b2; }

.bg-firebrick-200 { background-color: #d68e8e; }
.text-firebrick-200 { color: #d68e8e; }
.border-firebrick-200 { border-color: #d68e8e; }
.outline-firebrick-200 { outline-color: #d68e8e; }

.bg-firebrick-300 { background-color: #ca6a6a; }
.text-firebrick-300 { color: #ca6a6a; }
.border-firebrick-300 { border-color: #ca6a6a; }
.outline-firebrick-300 { outline-color: #ca6a6a; }

.bg-firebrick-400 { background-color: #be4646; }
.text-firebrick-400 { color: #be4646; }
.border-firebrick-400 { border-color: #be4646; }
.outline-firebrick-400 { outline-color: #be4646; }

.bg-firebrick-500 { background-color: #b22222; }
.text-firebrick-500 { color: #b22222; }
.border-firebrick-500 { border-color: #b22222; }
.outline-firebrick-500 { outline-color: #b22222; }

.bg-firebrick-600 { background-color: #941c1c; }
.text-firebrick-600 { color: #941c1c; }
.border-firebrick-600 { border-color: #941c1c; }
.outline-firebrick-600 { outline-color: #941c1c; }

.bg-firebrick-700 { background-color: #761616; }
.text-firebrick-700 { color: #761616; }
.border-firebrick-700 { border-color: #761616; }
.outline-firebrick-700 { outline-color: #761616; }

.bg-firebrick-800 { background-color: #581010; }
.text-firebrick-800 { color: #581010; }
.border-firebrick-800 { border-color: #581010; }
.outline-firebrick-800 { outline-color: #581010; }

.bg-firebrick-900 { background-color: #3a0a0a; }
.text-firebrick-900 { color: #3a0a0a; }
.border-firebrick-900 { border-color: #3a0a0a; }
.outline-firebrick-900 { outline-color: #3a0a0a; }

.bg-firebrick-950 { background-color: #1c0404; }
.text-firebrick-950 { color: #1c0404; }
.border-firebrick-950 { border-color: #1c0404; }
.outline-firebrick-950 { outline-color: #1c0404; }


