



.bg-floralwhite-50 { background-color: #fffafa; }
.text-floralwhite-50 { color: #fffafa; }
.border-floralwhite-50 { border-color: #fffafa; }
.outline-floralwhite-50 { outline-color: #fffafa; }

.bg-floralwhite-100 { background-color: #fffaf8; }
.text-floralwhite-100 { color: #fffaf8; }
.border-floralwhite-100 { border-color: #fffaf8; }
.outline-floralwhite-100 { outline-color: #fffaf8; }

.bg-floralwhite-200 { background-color: #fffaf6; }
.text-floralwhite-200 { color: #fffaf6; }
.border-floralwhite-200 { border-color: #fffaf6; }
.outline-floralwhite-200 { outline-color: #fffaf6; }

.bg-floralwhite-300 { background-color: #fffaf4; }
.text-floralwhite-300 { color: #fffaf4; }
.border-floralwhite-300 { border-color: #fffaf4; }
.outline-floralwhite-300 { outline-color: #fffaf4; }

.bg-floralwhite-400 { background-color: #fffaf2; }
.text-floralwhite-400 { color: #fffaf2; }
.border-floralwhite-400 { border-color: #fffaf2; }
.outline-floralwhite-400 { outline-color: #fffaf2; }

.bg-floralwhite-500 { background-color: #fffaf0; }
.text-floralwhite-500 { color: #fffaf0; }
.border-floralwhite-500 { border-color: #fffaf0; }
.outline-floralwhite-500 { outline-color: #fffaf0; }

.bg-floralwhite-600 { background-color: #d4d0c8; }
.text-floralwhite-600 { color: #d4d0c8; }
.border-floralwhite-600 { border-color: #d4d0c8; }
.outline-floralwhite-600 { outline-color: #d4d0c8; }

.bg-floralwhite-700 { background-color: #a9a6a0; }
.text-floralwhite-700 { color: #a9a6a0; }
.border-floralwhite-700 { border-color: #a9a6a0; }
.outline-floralwhite-700 { outline-color: #a9a6a0; }

.bg-floralwhite-800 { background-color: #7e7c78; }
.text-floralwhite-800 { color: #7e7c78; }
.border-floralwhite-800 { border-color: #7e7c78; }
.outline-floralwhite-800 { outline-color: #7e7c78; }

.bg-floralwhite-900 { background-color: #535250; }
.text-floralwhite-900 { color: #535250; }
.border-floralwhite-900 { border-color: #535250; }
.outline-floralwhite-900 { outline-color: #535250; }

.bg-floralwhite-950 { background-color: #282828; }
.text-floralwhite-950 { color: #282828; }
.border-floralwhite-950 { border-color: #282828; }
.outline-floralwhite-950 { outline-color: #282828; }


