



.bg-floralwhite-50 { background-color: #fffefc; }
.text-floralwhite-50 { color: #fffefc; }
.border-floralwhite-50 { border-color: #fffefc; }
.outline-floralwhite-50 { outline-color: #fffefc; }

.bg-floralwhite-100 { background-color: #fffdfa; }
.text-floralwhite-100 { color: #fffdfa; }
.border-floralwhite-100 { border-color: #fffdfa; }
.outline-floralwhite-100 { outline-color: #fffdfa; }

.bg-floralwhite-200 { background-color: #fffcf7; }
.text-floralwhite-200 { color: #fffcf7; }
.border-floralwhite-200 { border-color: #fffcf7; }
.outline-floralwhite-200 { outline-color: #fffcf7; }

.bg-floralwhite-300 { background-color: #fffbf5; }
.text-floralwhite-300 { color: #fffbf5; }
.border-floralwhite-300 { border-color: #fffbf5; }
.outline-floralwhite-300 { outline-color: #fffbf5; }

.bg-floralwhite-400 { background-color: #fffaf2; }
.text-floralwhite-400 { color: #fffaf2; }
.border-floralwhite-400 { border-color: #fffaf2; }
.outline-floralwhite-400 { outline-color: #fffaf2; }

.bg-floralwhite-500 { background-color: #fffaf0; }
.text-floralwhite-500 { color: #fffaf0; }
.border-floralwhite-500 { border-color: #fffaf0; }
.outline-floralwhite-500 { outline-color: #fffaf0; }

.bg-floralwhite-600 { background-color: #d4d0c8; }
.text-floralwhite-600 { color: #d4d0c8; }
.border-floralwhite-600 { border-color: #d4d0c8; }
.outline-floralwhite-600 { outline-color: #d4d0c8; }

.bg-floralwhite-700 { background-color: #aaa6a0; }
.text-floralwhite-700 { color: #aaa6a0; }
.border-floralwhite-700 { border-color: #aaa6a0; }
.outline-floralwhite-700 { outline-color: #aaa6a0; }

.bg-floralwhite-800 { background-color: #7f7d78; }
.text-floralwhite-800 { color: #7f7d78; }
.border-floralwhite-800 { border-color: #7f7d78; }
.outline-floralwhite-800 { outline-color: #7f7d78; }

.bg-floralwhite-900 { background-color: #555350; }
.text-floralwhite-900 { color: #555350; }
.border-floralwhite-900 { border-color: #555350; }
.outline-floralwhite-900 { outline-color: #555350; }

.bg-floralwhite-950 { background-color: #2a2928; }
.text-floralwhite-950 { color: #2a2928; }
.border-floralwhite-950 { border-color: #2a2928; }
.outline-floralwhite-950 { outline-color: #2a2928; }


