
.bg-forestgreen-50 { background-color: #daebda; }
.text-forestgreen-50 { color: #daebda; }
.border-forestgreen-50 { border-color: #daebda; }
.outline-forestgreen-50 { outline-color: #daebda; }

.bg-forestgreen-100 { background-color: #b5d8b5; }
.text-forestgreen-100 { color: #b5d8b5; }
.border-forestgreen-100 { border-color: #b5d8b5; }
.outline-forestgreen-100 { outline-color: #b5d8b5; }

.bg-forestgreen-200 { background-color: #90c590; }
.text-forestgreen-200 { color: #90c590; }
.border-forestgreen-200 { border-color: #90c590; }
.outline-forestgreen-200 { outline-color: #90c590; }

.bg-forestgreen-300 { background-color: #6bb16b; }
.text-forestgreen-300 { color: #6bb16b; }
.border-forestgreen-300 { border-color: #6bb16b; }
.outline-forestgreen-300 { outline-color: #6bb16b; }

.bg-forestgreen-400 { background-color: #469e46; }
.text-forestgreen-400 { color: #469e46; }
.border-forestgreen-400 { border-color: #469e46; }
.outline-forestgreen-400 { outline-color: #469e46; }

.bg-forestgreen-500 { background-color: #228b22; }
.text-forestgreen-500 { color: #228b22; }
.border-forestgreen-500 { border-color: #228b22; }
.outline-forestgreen-500 { outline-color: #228b22; }

.bg-forestgreen-600 { background-color: #1c731c; }
.text-forestgreen-600 { color: #1c731c; }
.border-forestgreen-600 { border-color: #1c731c; }
.outline-forestgreen-600 { outline-color: #1c731c; }

.bg-forestgreen-700 { background-color: #165c16; }
.text-forestgreen-700 { color: #165c16; }
.border-forestgreen-700 { border-color: #165c16; }
.outline-forestgreen-700 { outline-color: #165c16; }

.bg-forestgreen-800 { background-color: #114511; }
.text-forestgreen-800 { color: #114511; }
.border-forestgreen-800 { border-color: #114511; }
.outline-forestgreen-800 { outline-color: #114511; }

.bg-forestgreen-900 { background-color: #0b2e0b; }
.text-forestgreen-900 { color: #0b2e0b; }
.border-forestgreen-900 { border-color: #0b2e0b; }
.outline-forestgreen-900 { outline-color: #0b2e0b; }

.bg-forestgreen-950 { background-color: #051705; }
.text-forestgreen-950 { color: #051705; }
.border-forestgreen-950 { border-color: #051705; }
.outline-forestgreen-950 { outline-color: #051705; }
