



.bg-forestgreen-50 { background-color: #d6ead6; }
.text-forestgreen-50 { color: #d6ead6; }
.border-forestgreen-50 { border-color: #d6ead6; }
.outline-forestgreen-50 { outline-color: #d6ead6; }

.bg-forestgreen-100 { background-color: #b2d7b2; }
.text-forestgreen-100 { color: #b2d7b2; }
.border-forestgreen-100 { border-color: #b2d7b2; }
.outline-forestgreen-100 { outline-color: #b2d7b2; }

.bg-forestgreen-200 { background-color: #8ec48e; }
.text-forestgreen-200 { color: #8ec48e; }
.border-forestgreen-200 { border-color: #8ec48e; }
.outline-forestgreen-200 { outline-color: #8ec48e; }

.bg-forestgreen-300 { background-color: #6ab16a; }
.text-forestgreen-300 { color: #6ab16a; }
.border-forestgreen-300 { border-color: #6ab16a; }
.outline-forestgreen-300 { outline-color: #6ab16a; }

.bg-forestgreen-400 { background-color: #469e46; }
.text-forestgreen-400 { color: #469e46; }
.border-forestgreen-400 { border-color: #469e46; }
.outline-forestgreen-400 { outline-color: #469e46; }

.bg-forestgreen-500 { background-color: #228b22; }
.text-forestgreen-500 { color: #228b22; }
.border-forestgreen-500 { border-color: #228b22; }
.outline-forestgreen-500 { outline-color: #228b22; }

.bg-forestgreen-600 { background-color: #1c731c; }
.text-forestgreen-600 { color: #1c731c; }
.border-forestgreen-600 { border-color: #1c731c; }
.outline-forestgreen-600 { outline-color: #1c731c; }

.bg-forestgreen-700 { background-color: #165b16; }
.text-forestgreen-700 { color: #165b16; }
.border-forestgreen-700 { border-color: #165b16; }
.outline-forestgreen-700 { outline-color: #165b16; }

.bg-forestgreen-800 { background-color: #104310; }
.text-forestgreen-800 { color: #104310; }
.border-forestgreen-800 { border-color: #104310; }
.outline-forestgreen-800 { outline-color: #104310; }

.bg-forestgreen-900 { background-color: #0a2b0a; }
.text-forestgreen-900 { color: #0a2b0a; }
.border-forestgreen-900 { border-color: #0a2b0a; }
.outline-forestgreen-900 { outline-color: #0a2b0a; }

.bg-forestgreen-950 { background-color: #041304; }
.text-forestgreen-950 { color: #041304; }
.border-forestgreen-950 { border-color: #041304; }
.outline-forestgreen-950 { outline-color: #041304; }


