



.bg-fuchsia-50 { background-color: #ffd2ff; }
.text-fuchsia-50 { color: #ffd2ff; }
.border-fuchsia-50 { border-color: #ffd2ff; }
.outline-fuchsia-50 { outline-color: #ffd2ff; }

.bg-fuchsia-100 { background-color: #ffa8ff; }
.text-fuchsia-100 { color: #ffa8ff; }
.border-fuchsia-100 { border-color: #ffa8ff; }
.outline-fuchsia-100 { outline-color: #ffa8ff; }

.bg-fuchsia-200 { background-color: #ff7eff; }
.text-fuchsia-200 { color: #ff7eff; }
.border-fuchsia-200 { border-color: #ff7eff; }
.outline-fuchsia-200 { outline-color: #ff7eff; }

.bg-fuchsia-300 { background-color: #ff54ff; }
.text-fuchsia-300 { color: #ff54ff; }
.border-fuchsia-300 { border-color: #ff54ff; }
.outline-fuchsia-300 { outline-color: #ff54ff; }

.bg-fuchsia-400 { background-color: #ff2aff; }
.text-fuchsia-400 { color: #ff2aff; }
.border-fuchsia-400 { border-color: #ff2aff; }
.outline-fuchsia-400 { outline-color: #ff2aff; }

.bg-fuchsia-500 { background-color: #ff00ff; }
.text-fuchsia-500 { color: #ff00ff; }
.border-fuchsia-500 { border-color: #ff00ff; }
.outline-fuchsia-500 { outline-color: #ff00ff; }

.bg-fuchsia-600 { background-color: #d400d4; }
.text-fuchsia-600 { color: #d400d4; }
.border-fuchsia-600 { border-color: #d400d4; }
.outline-fuchsia-600 { outline-color: #d400d4; }

.bg-fuchsia-700 { background-color: #a900a9; }
.text-fuchsia-700 { color: #a900a9; }
.border-fuchsia-700 { border-color: #a900a9; }
.outline-fuchsia-700 { outline-color: #a900a9; }

.bg-fuchsia-800 { background-color: #7e007e; }
.text-fuchsia-800 { color: #7e007e; }
.border-fuchsia-800 { border-color: #7e007e; }
.outline-fuchsia-800 { outline-color: #7e007e; }

.bg-fuchsia-900 { background-color: #530053; }
.text-fuchsia-900 { color: #530053; }
.border-fuchsia-900 { border-color: #530053; }
.outline-fuchsia-900 { outline-color: #530053; }

.bg-fuchsia-950 { background-color: #280028; }
.text-fuchsia-950 { color: #280028; }
.border-fuchsia-950 { border-color: #280028; }
.outline-fuchsia-950 { outline-color: #280028; }


