
/* github: https://github.com/iaseth/html-color-names */

.bg-gainsboro-50 { background-color: #f9f9f9; }
.text-gainsboro-50 { color: #f9f9f9; }
.border-gainsboro-50 { border-color: #f9f9f9; }
.outline-gainsboro-50 { outline-color: #f9f9f9; }

.bg-gainsboro-100 { background-color: #f3f3f3; }
.text-gainsboro-100 { color: #f3f3f3; }
.border-gainsboro-100 { border-color: #f3f3f3; }
.outline-gainsboro-100 { outline-color: #f3f3f3; }

.bg-gainsboro-200 { background-color: #ededed; }
.text-gainsboro-200 { color: #ededed; }
.border-gainsboro-200 { border-color: #ededed; }
.outline-gainsboro-200 { outline-color: #ededed; }

.bg-gainsboro-300 { background-color: #e7e7e7; }
.text-gainsboro-300 { color: #e7e7e7; }
.border-gainsboro-300 { border-color: #e7e7e7; }
.outline-gainsboro-300 { outline-color: #e7e7e7; }

.bg-gainsboro-400 { background-color: #e1e1e1; }
.text-gainsboro-400 { color: #e1e1e1; }
.border-gainsboro-400 { border-color: #e1e1e1; }
.outline-gainsboro-400 { outline-color: #e1e1e1; }

.bg-gainsboro-500 { background-color: #dcdcdc; }
.text-gainsboro-500 { color: #dcdcdc; }
.border-gainsboro-500 { border-color: #dcdcdc; }
.outline-gainsboro-500 { outline-color: #dcdcdc; }

.bg-gainsboro-600 { background-color: #b7b7b7; }
.text-gainsboro-600 { color: #b7b7b7; }
.border-gainsboro-600 { border-color: #b7b7b7; }
.outline-gainsboro-600 { outline-color: #b7b7b7; }

.bg-gainsboro-700 { background-color: #929292; }
.text-gainsboro-700 { color: #929292; }
.border-gainsboro-700 { border-color: #929292; }
.outline-gainsboro-700 { outline-color: #929292; }

.bg-gainsboro-800 { background-color: #6e6e6e; }
.text-gainsboro-800 { color: #6e6e6e; }
.border-gainsboro-800 { border-color: #6e6e6e; }
.outline-gainsboro-800 { outline-color: #6e6e6e; }

.bg-gainsboro-900 { background-color: #494949; }
.text-gainsboro-900 { color: #494949; }
.border-gainsboro-900 { border-color: #494949; }
.outline-gainsboro-900 { outline-color: #494949; }

.bg-gainsboro-950 { background-color: #242424; }
.text-gainsboro-950 { color: #242424; }
.border-gainsboro-950 { border-color: #242424; }
.outline-gainsboro-950 { outline-color: #242424; }

