
.bg-ghostwhite-50 { background-color: #fdfdff; }
.text-ghostwhite-50 { color: #fdfdff; }
.border-ghostwhite-50 { border-color: #fdfdff; }
.outline-ghostwhite-50 { outline-color: #fdfdff; }

.bg-ghostwhite-100 { background-color: #fcfcff; }
.text-ghostwhite-100 { color: #fcfcff; }
.border-ghostwhite-100 { border-color: #fcfcff; }
.outline-ghostwhite-100 { outline-color: #fcfcff; }

.bg-ghostwhite-200 { background-color: #fbfbff; }
.text-ghostwhite-200 { color: #fbfbff; }
.border-ghostwhite-200 { border-color: #fbfbff; }
.outline-ghostwhite-200 { outline-color: #fbfbff; }

.bg-ghostwhite-300 { background-color: #fafaff; }
.text-ghostwhite-300 { color: #fafaff; }
.border-ghostwhite-300 { border-color: #fafaff; }
.outline-ghostwhite-300 { outline-color: #fafaff; }

.bg-ghostwhite-400 { background-color: #f9f9ff; }
.text-ghostwhite-400 { color: #f9f9ff; }
.border-ghostwhite-400 { border-color: #f9f9ff; }
.outline-ghostwhite-400 { outline-color: #f9f9ff; }

.bg-ghostwhite-500 { background-color: #f8f8ff; }
.text-ghostwhite-500 { color: #f8f8ff; }
.border-ghostwhite-500 { border-color: #f8f8ff; }
.outline-ghostwhite-500 { outline-color: #f8f8ff; }

.bg-ghostwhite-600 { background-color: #ceced4; }
.text-ghostwhite-600 { color: #ceced4; }
.border-ghostwhite-600 { border-color: #ceced4; }
.outline-ghostwhite-600 { outline-color: #ceced4; }

.bg-ghostwhite-700 { background-color: #a5a5aa; }
.text-ghostwhite-700 { color: #a5a5aa; }
.border-ghostwhite-700 { border-color: #a5a5aa; }
.outline-ghostwhite-700 { outline-color: #a5a5aa; }

.bg-ghostwhite-800 { background-color: #7c7c7f; }
.text-ghostwhite-800 { color: #7c7c7f; }
.border-ghostwhite-800 { border-color: #7c7c7f; }
.outline-ghostwhite-800 { outline-color: #7c7c7f; }

.bg-ghostwhite-900 { background-color: #525255; }
.text-ghostwhite-900 { color: #525255; }
.border-ghostwhite-900 { border-color: #525255; }
.outline-ghostwhite-900 { outline-color: #525255; }

.bg-ghostwhite-950 { background-color: #29292a; }
.text-ghostwhite-950 { color: #29292a; }
.border-ghostwhite-950 { border-color: #29292a; }
.outline-ghostwhite-950 { outline-color: #29292a; }
