
/* github: https://github.com/iaseth/html-color-names */

.bg-gold-50 { background-color: #fff8d4; }
.text-gold-50 { color: #fff8d4; }
.border-gold-50 { border-color: #fff8d4; }
.outline-gold-50 { outline-color: #fff8d4; }

.bg-gold-100 { background-color: #fff1aa; }
.text-gold-100 { color: #fff1aa; }
.border-gold-100 { border-color: #fff1aa; }
.outline-gold-100 { outline-color: #fff1aa; }

.bg-gold-200 { background-color: #ffeb7f; }
.text-gold-200 { color: #ffeb7f; }
.border-gold-200 { border-color: #ffeb7f; }
.outline-gold-200 { outline-color: #ffeb7f; }

.bg-gold-300 { background-color: #ffe455; }
.text-gold-300 { color: #ffe455; }
.border-gold-300 { border-color: #ffe455; }
.outline-gold-300 { outline-color: #ffe455; }

.bg-gold-400 { background-color: #ffdd2a; }
.text-gold-400 { color: #ffdd2a; }
.border-gold-400 { border-color: #ffdd2a; }
.outline-gold-400 { outline-color: #ffdd2a; }

.bg-gold-500 { background-color: #ffd700; }
.text-gold-500 { color: #ffd700; }
.border-gold-500 { border-color: #ffd700; }
.outline-gold-500 { outline-color: #ffd700; }

.bg-gold-600 { background-color: #d4b300; }
.text-gold-600 { color: #d4b300; }
.border-gold-600 { border-color: #d4b300; }
.outline-gold-600 { outline-color: #d4b300; }

.bg-gold-700 { background-color: #aa8f00; }
.text-gold-700 { color: #aa8f00; }
.border-gold-700 { border-color: #aa8f00; }
.outline-gold-700 { outline-color: #aa8f00; }

.bg-gold-800 { background-color: #7f6b00; }
.text-gold-800 { color: #7f6b00; }
.border-gold-800 { border-color: #7f6b00; }
.outline-gold-800 { outline-color: #7f6b00; }

.bg-gold-900 { background-color: #554700; }
.text-gold-900 { color: #554700; }
.border-gold-900 { border-color: #554700; }
.outline-gold-900 { outline-color: #554700; }

.bg-gold-950 { background-color: #2a2300; }
.text-gold-950 { color: #2a2300; }
.border-gold-950 { border-color: #2a2300; }
.outline-gold-950 { outline-color: #2a2300; }

