



.bg-gold-50 { background-color: #fff5d2; }
.text-gold-50 { color: #fff5d2; }
.border-gold-50 { border-color: #fff5d2; }
.outline-gold-50 { outline-color: #fff5d2; }

.bg-gold-100 { background-color: #ffefa8; }
.text-gold-100 { color: #ffefa8; }
.border-gold-100 { border-color: #ffefa8; }
.outline-gold-100 { outline-color: #ffefa8; }

.bg-gold-200 { background-color: #ffe97e; }
.text-gold-200 { color: #ffe97e; }
.border-gold-200 { border-color: #ffe97e; }
.outline-gold-200 { outline-color: #ffe97e; }

.bg-gold-300 { background-color: #ffe354; }
.text-gold-300 { color: #ffe354; }
.border-gold-300 { border-color: #ffe354; }
.outline-gold-300 { outline-color: #ffe354; }

.bg-gold-400 { background-color: #ffdd2a; }
.text-gold-400 { color: #ffdd2a; }
.border-gold-400 { border-color: #ffdd2a; }
.outline-gold-400 { outline-color: #ffdd2a; }

.bg-gold-500 { background-color: #ffd700; }
.text-gold-500 { color: #ffd700; }
.border-gold-500 { border-color: #ffd700; }
.outline-gold-500 { outline-color: #ffd700; }

.bg-gold-600 { background-color: #d4b300; }
.text-gold-600 { color: #d4b300; }
.border-gold-600 { border-color: #d4b300; }
.outline-gold-600 { outline-color: #d4b300; }

.bg-gold-700 { background-color: #a98f00; }
.text-gold-700 { color: #a98f00; }
.border-gold-700 { border-color: #a98f00; }
.outline-gold-700 { outline-color: #a98f00; }

.bg-gold-800 { background-color: #7e6b00; }
.text-gold-800 { color: #7e6b00; }
.border-gold-800 { border-color: #7e6b00; }
.outline-gold-800 { outline-color: #7e6b00; }

.bg-gold-900 { background-color: #534700; }
.text-gold-900 { color: #534700; }
.border-gold-900 { border-color: #534700; }
.outline-gold-900 { outline-color: #534700; }

.bg-gold-950 { background-color: #282300; }
.text-gold-950 { color: #282300; }
.border-gold-950 { border-color: #282300; }
.outline-gold-950 { outline-color: #282300; }


