



.bg-goldenrod-50 { background-color: #f8f0d9; }
.text-goldenrod-50 { color: #f8f0d9; }
.border-goldenrod-50 { border-color: #f8f0d9; }
.outline-goldenrod-50 { outline-color: #f8f0d9; }

.bg-goldenrod-100 { background-color: #f2e1b4; }
.text-goldenrod-100 { color: #f2e1b4; }
.border-goldenrod-100 { border-color: #f2e1b4; }
.outline-goldenrod-100 { outline-color: #f2e1b4; }

.bg-goldenrod-200 { background-color: #ecd28f; }
.text-goldenrod-200 { color: #ecd28f; }
.border-goldenrod-200 { border-color: #ecd28f; }
.outline-goldenrod-200 { outline-color: #ecd28f; }

.bg-goldenrod-300 { background-color: #e6c36a; }
.text-goldenrod-300 { color: #e6c36a; }
.border-goldenrod-300 { border-color: #e6c36a; }
.outline-goldenrod-300 { outline-color: #e6c36a; }

.bg-goldenrod-400 { background-color: #e0b445; }
.text-goldenrod-400 { color: #e0b445; }
.border-goldenrod-400 { border-color: #e0b445; }
.outline-goldenrod-400 { outline-color: #e0b445; }

.bg-goldenrod-500 { background-color: #daa520; }
.text-goldenrod-500 { color: #daa520; }
.border-goldenrod-500 { border-color: #daa520; }
.outline-goldenrod-500 { outline-color: #daa520; }

.bg-goldenrod-600 { background-color: #b5891a; }
.text-goldenrod-600 { color: #b5891a; }
.border-goldenrod-600 { border-color: #b5891a; }
.outline-goldenrod-600 { outline-color: #b5891a; }

.bg-goldenrod-700 { background-color: #916e15; }
.text-goldenrod-700 { color: #916e15; }
.border-goldenrod-700 { border-color: #916e15; }
.outline-goldenrod-700 { outline-color: #916e15; }

.bg-goldenrod-800 { background-color: #6d5210; }
.text-goldenrod-800 { color: #6d5210; }
.border-goldenrod-800 { border-color: #6d5210; }
.outline-goldenrod-800 { outline-color: #6d5210; }

.bg-goldenrod-900 { background-color: #48370a; }
.text-goldenrod-900 { color: #48370a; }
.border-goldenrod-900 { border-color: #48370a; }
.outline-goldenrod-900 { outline-color: #48370a; }

.bg-goldenrod-950 { background-color: #241b05; }
.text-goldenrod-950 { color: #241b05; }
.border-goldenrod-950 { border-color: #241b05; }
.outline-goldenrod-950 { outline-color: #241b05; }


