
.bg-gray-50 { background-color: #e9e9e9; }
.text-gray-50 { color: #e9e9e9; }
.border-gray-50 { border-color: #e9e9e9; }
.outline-gray-50 { outline-color: #e9e9e9; }

.bg-gray-100 { background-color: #d4d4d4; }
.text-gray-100 { color: #d4d4d4; }
.border-gray-100 { border-color: #d4d4d4; }
.outline-gray-100 { outline-color: #d4d4d4; }

.bg-gray-200 { background-color: #bfbfbf; }
.text-gray-200 { color: #bfbfbf; }
.border-gray-200 { border-color: #bfbfbf; }
.outline-gray-200 { outline-color: #bfbfbf; }

.bg-gray-300 { background-color: #aaaaaa; }
.text-gray-300 { color: #aaaaaa; }
.border-gray-300 { border-color: #aaaaaa; }
.outline-gray-300 { outline-color: #aaaaaa; }

.bg-gray-400 { background-color: #959595; }
.text-gray-400 { color: #959595; }
.border-gray-400 { border-color: #959595; }
.outline-gray-400 { outline-color: #959595; }

.bg-gray-500 { background-color: #808080; }
.text-gray-500 { color: #808080; }
.border-gray-500 { border-color: #808080; }
.outline-gray-500 { outline-color: #808080; }

.bg-gray-600 { background-color: #6a6a6a; }
.text-gray-600 { color: #6a6a6a; }
.border-gray-600 { border-color: #6a6a6a; }
.outline-gray-600 { outline-color: #6a6a6a; }

.bg-gray-700 { background-color: #555555; }
.text-gray-700 { color: #555555; }
.border-gray-700 { border-color: #555555; }
.outline-gray-700 { outline-color: #555555; }

.bg-gray-800 { background-color: #404040; }
.text-gray-800 { color: #404040; }
.border-gray-800 { border-color: #404040; }
.outline-gray-800 { outline-color: #404040; }

.bg-gray-900 { background-color: #2a2a2a; }
.text-gray-900 { color: #2a2a2a; }
.border-gray-900 { border-color: #2a2a2a; }
.outline-gray-900 { outline-color: #2a2a2a; }

.bg-gray-950 { background-color: #151515; }
.text-gray-950 { color: #151515; }
.border-gray-950 { border-color: #151515; }
.outline-gray-950 { outline-color: #151515; }
