
.bg-green-50 { background-color: #d4e9d4; }
.text-green-50 { color: #d4e9d4; }
.border-green-50 { border-color: #d4e9d4; }
.outline-green-50 { outline-color: #d4e9d4; }

.bg-green-100 { background-color: #aad4aa; }
.text-green-100 { color: #aad4aa; }
.border-green-100 { border-color: #aad4aa; }
.outline-green-100 { outline-color: #aad4aa; }

.bg-green-200 { background-color: #7fbf7f; }
.text-green-200 { color: #7fbf7f; }
.border-green-200 { border-color: #7fbf7f; }
.outline-green-200 { outline-color: #7fbf7f; }

.bg-green-300 { background-color: #55aa55; }
.text-green-300 { color: #55aa55; }
.border-green-300 { border-color: #55aa55; }
.outline-green-300 { outline-color: #55aa55; }

.bg-green-400 { background-color: #2a952a; }
.text-green-400 { color: #2a952a; }
.border-green-400 { border-color: #2a952a; }
.outline-green-400 { outline-color: #2a952a; }

.bg-green-500 { background-color: #008000; }
.text-green-500 { color: #008000; }
.border-green-500 { border-color: #008000; }
.outline-green-500 { outline-color: #008000; }

.bg-green-600 { background-color: #006a00; }
.text-green-600 { color: #006a00; }
.border-green-600 { border-color: #006a00; }
.outline-green-600 { outline-color: #006a00; }

.bg-green-700 { background-color: #005500; }
.text-green-700 { color: #005500; }
.border-green-700 { border-color: #005500; }
.outline-green-700 { outline-color: #005500; }

.bg-green-800 { background-color: #004000; }
.text-green-800 { color: #004000; }
.border-green-800 { border-color: #004000; }
.outline-green-800 { outline-color: #004000; }

.bg-green-900 { background-color: #002a00; }
.text-green-900 { color: #002a00; }
.border-green-900 { border-color: #002a00; }
.outline-green-900 { outline-color: #002a00; }

.bg-green-950 { background-color: #001500; }
.text-green-950 { color: #001500; }
.border-green-950 { border-color: #001500; }
.outline-green-950 { outline-color: #001500; }
