
/* github: https://github.com/iaseth/html-color-names */

.bg-greenyellow-50 { background-color: #f1ffdc; }
.text-greenyellow-50 { color: #f1ffdc; }
.border-greenyellow-50 { border-color: #f1ffdc; }
.outline-greenyellow-50 { outline-color: #f1ffdc; }

.bg-greenyellow-100 { background-color: #e3ffb9; }
.text-greenyellow-100 { color: #e3ffb9; }
.border-greenyellow-100 { border-color: #e3ffb9; }
.outline-greenyellow-100 { outline-color: #e3ffb9; }

.bg-greenyellow-200 { background-color: #d6ff97; }
.text-greenyellow-200 { color: #d6ff97; }
.border-greenyellow-200 { border-color: #d6ff97; }
.outline-greenyellow-200 { outline-color: #d6ff97; }

.bg-greenyellow-300 { background-color: #c8ff74; }
.text-greenyellow-300 { color: #c8ff74; }
.border-greenyellow-300 { border-color: #c8ff74; }
.outline-greenyellow-300 { outline-color: #c8ff74; }

.bg-greenyellow-400 { background-color: #baff51; }
.text-greenyellow-400 { color: #baff51; }
.border-greenyellow-400 { border-color: #baff51; }
.outline-greenyellow-400 { outline-color: #baff51; }

.bg-greenyellow-500 { background-color: #adff2f; }
.text-greenyellow-500 { color: #adff2f; }
.border-greenyellow-500 { border-color: #adff2f; }
.outline-greenyellow-500 { outline-color: #adff2f; }

.bg-greenyellow-600 { background-color: #90d427; }
.text-greenyellow-600 { color: #90d427; }
.border-greenyellow-600 { border-color: #90d427; }
.outline-greenyellow-600 { outline-color: #90d427; }

.bg-greenyellow-700 { background-color: #73aa1f; }
.text-greenyellow-700 { color: #73aa1f; }
.border-greenyellow-700 { border-color: #73aa1f; }
.outline-greenyellow-700 { outline-color: #73aa1f; }

.bg-greenyellow-800 { background-color: #567f17; }
.text-greenyellow-800 { color: #567f17; }
.border-greenyellow-800 { border-color: #567f17; }
.outline-greenyellow-800 { outline-color: #567f17; }

.bg-greenyellow-900 { background-color: #39550f; }
.text-greenyellow-900 { color: #39550f; }
.border-greenyellow-900 { border-color: #39550f; }
.outline-greenyellow-900 { outline-color: #39550f; }

.bg-greenyellow-950 { background-color: #1c2a07; }
.text-greenyellow-950 { color: #1c2a07; }
.border-greenyellow-950 { border-color: #1c2a07; }
.outline-greenyellow-950 { outline-color: #1c2a07; }

