



.bg-greenyellow-50 { background-color: #eeffd9; }
.text-greenyellow-50 { color: #eeffd9; }
.border-greenyellow-50 { border-color: #eeffd9; }
.outline-greenyellow-50 { outline-color: #eeffd9; }

.bg-greenyellow-100 { background-color: #e1ffb7; }
.text-greenyellow-100 { color: #e1ffb7; }
.border-greenyellow-100 { border-color: #e1ffb7; }
.outline-greenyellow-100 { outline-color: #e1ffb7; }

.bg-greenyellow-200 { background-color: #d4ff95; }
.text-greenyellow-200 { color: #d4ff95; }
.border-greenyellow-200 { border-color: #d4ff95; }
.outline-greenyellow-200 { outline-color: #d4ff95; }

.bg-greenyellow-300 { background-color: #c7ff73; }
.text-greenyellow-300 { color: #c7ff73; }
.border-greenyellow-300 { border-color: #c7ff73; }
.outline-greenyellow-300 { outline-color: #c7ff73; }

.bg-greenyellow-400 { background-color: #baff51; }
.text-greenyellow-400 { color: #baff51; }
.border-greenyellow-400 { border-color: #baff51; }
.outline-greenyellow-400 { outline-color: #baff51; }

.bg-greenyellow-500 { background-color: #adff2f; }
.text-greenyellow-500 { color: #adff2f; }
.border-greenyellow-500 { border-color: #adff2f; }
.outline-greenyellow-500 { outline-color: #adff2f; }

.bg-greenyellow-600 { background-color: #90d427; }
.text-greenyellow-600 { color: #90d427; }
.border-greenyellow-600 { border-color: #90d427; }
.outline-greenyellow-600 { outline-color: #90d427; }

.bg-greenyellow-700 { background-color: #73a91f; }
.text-greenyellow-700 { color: #73a91f; }
.border-greenyellow-700 { border-color: #73a91f; }
.outline-greenyellow-700 { outline-color: #73a91f; }

.bg-greenyellow-800 { background-color: #567e17; }
.text-greenyellow-800 { color: #567e17; }
.border-greenyellow-800 { border-color: #567e17; }
.outline-greenyellow-800 { outline-color: #567e17; }

.bg-greenyellow-900 { background-color: #39530f; }
.text-greenyellow-900 { color: #39530f; }
.border-greenyellow-900 { border-color: #39530f; }
.outline-greenyellow-900 { outline-color: #39530f; }

.bg-greenyellow-950 { background-color: #1c2807; }
.text-greenyellow-950 { color: #1c2807; }
.border-greenyellow-950 { border-color: #1c2807; }
.outline-greenyellow-950 { outline-color: #1c2807; }


