
/* github: https://github.com/iaseth/html-color-names */

.bg-grey-50 { background-color: #e9e9e9; }
.text-grey-50 { color: #e9e9e9; }
.border-grey-50 { border-color: #e9e9e9; }
.outline-grey-50 { outline-color: #e9e9e9; }

.bg-grey-100 { background-color: #d4d4d4; }
.text-grey-100 { color: #d4d4d4; }
.border-grey-100 { border-color: #d4d4d4; }
.outline-grey-100 { outline-color: #d4d4d4; }

.bg-grey-200 { background-color: #bfbfbf; }
.text-grey-200 { color: #bfbfbf; }
.border-grey-200 { border-color: #bfbfbf; }
.outline-grey-200 { outline-color: #bfbfbf; }

.bg-grey-300 { background-color: #aaaaaa; }
.text-grey-300 { color: #aaaaaa; }
.border-grey-300 { border-color: #aaaaaa; }
.outline-grey-300 { outline-color: #aaaaaa; }

.bg-grey-400 { background-color: #959595; }
.text-grey-400 { color: #959595; }
.border-grey-400 { border-color: #959595; }
.outline-grey-400 { outline-color: #959595; }

.bg-grey-500 { background-color: #808080; }
.text-grey-500 { color: #808080; }
.border-grey-500 { border-color: #808080; }
.outline-grey-500 { outline-color: #808080; }

.bg-grey-600 { background-color: #6a6a6a; }
.text-grey-600 { color: #6a6a6a; }
.border-grey-600 { border-color: #6a6a6a; }
.outline-grey-600 { outline-color: #6a6a6a; }

.bg-grey-700 { background-color: #555555; }
.text-grey-700 { color: #555555; }
.border-grey-700 { border-color: #555555; }
.outline-grey-700 { outline-color: #555555; }

.bg-grey-800 { background-color: #404040; }
.text-grey-800 { color: #404040; }
.border-grey-800 { border-color: #404040; }
.outline-grey-800 { outline-color: #404040; }

.bg-grey-900 { background-color: #2a2a2a; }
.text-grey-900 { color: #2a2a2a; }
.border-grey-900 { border-color: #2a2a2a; }
.outline-grey-900 { outline-color: #2a2a2a; }

.bg-grey-950 { background-color: #151515; }
.text-grey-950 { color: #151515; }
.border-grey-950 { border-color: #151515; }
.outline-grey-950 { outline-color: #151515; }

