



.bg-honeydew-50 { background-color: #fafffa; }
.text-honeydew-50 { color: #fafffa; }
.border-honeydew-50 { border-color: #fafffa; }
.outline-honeydew-50 { outline-color: #fafffa; }

.bg-honeydew-100 { background-color: #f8fff8; }
.text-honeydew-100 { color: #f8fff8; }
.border-honeydew-100 { border-color: #f8fff8; }
.outline-honeydew-100 { outline-color: #f8fff8; }

.bg-honeydew-200 { background-color: #f6fff6; }
.text-honeydew-200 { color: #f6fff6; }
.border-honeydew-200 { border-color: #f6fff6; }
.outline-honeydew-200 { outline-color: #f6fff6; }

.bg-honeydew-300 { background-color: #f4fff4; }
.text-honeydew-300 { color: #f4fff4; }
.border-honeydew-300 { border-color: #f4fff4; }
.outline-honeydew-300 { outline-color: #f4fff4; }

.bg-honeydew-400 { background-color: #f2fff2; }
.text-honeydew-400 { color: #f2fff2; }
.border-honeydew-400 { border-color: #f2fff2; }
.outline-honeydew-400 { outline-color: #f2fff2; }

.bg-honeydew-500 { background-color: #f0fff0; }
.text-honeydew-500 { color: #f0fff0; }
.border-honeydew-500 { border-color: #f0fff0; }
.outline-honeydew-500 { outline-color: #f0fff0; }

.bg-honeydew-600 { background-color: #c8d4c8; }
.text-honeydew-600 { color: #c8d4c8; }
.border-honeydew-600 { border-color: #c8d4c8; }
.outline-honeydew-600 { outline-color: #c8d4c8; }

.bg-honeydew-700 { background-color: #a0a9a0; }
.text-honeydew-700 { color: #a0a9a0; }
.border-honeydew-700 { border-color: #a0a9a0; }
.outline-honeydew-700 { outline-color: #a0a9a0; }

.bg-honeydew-800 { background-color: #787e78; }
.text-honeydew-800 { color: #787e78; }
.border-honeydew-800 { border-color: #787e78; }
.outline-honeydew-800 { outline-color: #787e78; }

.bg-honeydew-900 { background-color: #505350; }
.text-honeydew-900 { color: #505350; }
.border-honeydew-900 { border-color: #505350; }
.outline-honeydew-900 { outline-color: #505350; }

.bg-honeydew-950 { background-color: #282828; }
.text-honeydew-950 { color: #282828; }
.border-honeydew-950 { border-color: #282828; }
.outline-honeydew-950 { outline-color: #282828; }


