
/* github: https://github.com/iaseth/html-color-names */

.bg-honeydew-50 { background-color: #fcfffc; }
.text-honeydew-50 { color: #fcfffc; }
.border-honeydew-50 { border-color: #fcfffc; }
.outline-honeydew-50 { outline-color: #fcfffc; }

.bg-honeydew-100 { background-color: #fafffa; }
.text-honeydew-100 { color: #fafffa; }
.border-honeydew-100 { border-color: #fafffa; }
.outline-honeydew-100 { outline-color: #fafffa; }

.bg-honeydew-200 { background-color: #f7fff7; }
.text-honeydew-200 { color: #f7fff7; }
.border-honeydew-200 { border-color: #f7fff7; }
.outline-honeydew-200 { outline-color: #f7fff7; }

.bg-honeydew-300 { background-color: #f5fff5; }
.text-honeydew-300 { color: #f5fff5; }
.border-honeydew-300 { border-color: #f5fff5; }
.outline-honeydew-300 { outline-color: #f5fff5; }

.bg-honeydew-400 { background-color: #f2fff2; }
.text-honeydew-400 { color: #f2fff2; }
.border-honeydew-400 { border-color: #f2fff2; }
.outline-honeydew-400 { outline-color: #f2fff2; }

.bg-honeydew-500 { background-color: #f0fff0; }
.text-honeydew-500 { color: #f0fff0; }
.border-honeydew-500 { border-color: #f0fff0; }
.outline-honeydew-500 { outline-color: #f0fff0; }

.bg-honeydew-600 { background-color: #c8d4c8; }
.text-honeydew-600 { color: #c8d4c8; }
.border-honeydew-600 { border-color: #c8d4c8; }
.outline-honeydew-600 { outline-color: #c8d4c8; }

.bg-honeydew-700 { background-color: #a0aaa0; }
.text-honeydew-700 { color: #a0aaa0; }
.border-honeydew-700 { border-color: #a0aaa0; }
.outline-honeydew-700 { outline-color: #a0aaa0; }

.bg-honeydew-800 { background-color: #787f78; }
.text-honeydew-800 { color: #787f78; }
.border-honeydew-800 { border-color: #787f78; }
.outline-honeydew-800 { outline-color: #787f78; }

.bg-honeydew-900 { background-color: #505550; }
.text-honeydew-900 { color: #505550; }
.border-honeydew-900 { border-color: #505550; }
.outline-honeydew-900 { outline-color: #505550; }

.bg-honeydew-950 { background-color: #282a28; }
.text-honeydew-950 { color: #282a28; }
.border-honeydew-950 { border-color: #282a28; }
.outline-honeydew-950 { outline-color: #282a28; }

