



.bg-hotpink-50 { background-color: #ffe6f0; }
.text-hotpink-50 { color: #ffe6f0; }
.border-hotpink-50 { border-color: #ffe6f0; }
.outline-hotpink-50 { outline-color: #ffe6f0; }

.bg-hotpink-100 { background-color: #ffcde4; }
.text-hotpink-100 { color: #ffcde4; }
.border-hotpink-100 { border-color: #ffcde4; }
.outline-hotpink-100 { outline-color: #ffcde4; }

.bg-hotpink-200 { background-color: #ffb4d8; }
.text-hotpink-200 { color: #ffb4d8; }
.border-hotpink-200 { border-color: #ffb4d8; }
.outline-hotpink-200 { outline-color: #ffb4d8; }

.bg-hotpink-300 { background-color: #ff9bcc; }
.text-hotpink-300 { color: #ff9bcc; }
.border-hotpink-300 { border-color: #ff9bcc; }
.outline-hotpink-300 { outline-color: #ff9bcc; }

.bg-hotpink-400 { background-color: #ff82c0; }
.text-hotpink-400 { color: #ff82c0; }
.border-hotpink-400 { border-color: #ff82c0; }
.outline-hotpink-400 { outline-color: #ff82c0; }

.bg-hotpink-500 { background-color: #ff69b4; }
.text-hotpink-500 { color: #ff69b4; }
.border-hotpink-500 { border-color: #ff69b4; }
.outline-hotpink-500 { outline-color: #ff69b4; }

.bg-hotpink-600 { background-color: #d45796; }
.text-hotpink-600 { color: #d45796; }
.border-hotpink-600 { border-color: #d45796; }
.outline-hotpink-600 { outline-color: #d45796; }

.bg-hotpink-700 { background-color: #a94578; }
.text-hotpink-700 { color: #a94578; }
.border-hotpink-700 { border-color: #a94578; }
.outline-hotpink-700 { outline-color: #a94578; }

.bg-hotpink-800 { background-color: #7e335a; }
.text-hotpink-800 { color: #7e335a; }
.border-hotpink-800 { border-color: #7e335a; }
.outline-hotpink-800 { outline-color: #7e335a; }

.bg-hotpink-900 { background-color: #53213c; }
.text-hotpink-900 { color: #53213c; }
.border-hotpink-900 { border-color: #53213c; }
.outline-hotpink-900 { outline-color: #53213c; }

.bg-hotpink-950 { background-color: #280f1e; }
.text-hotpink-950 { color: #280f1e; }
.border-hotpink-950 { border-color: #280f1e; }
.outline-hotpink-950 { outline-color: #280f1e; }


