



.bg-indigo-50 { background-color: #e1d2e6; }
.text-indigo-50 { color: #e1d2e6; }
.border-indigo-50 { border-color: #e1d2e6; }
.outline-indigo-50 { outline-color: #e1d2e6; }

.bg-indigo-100 { background-color: #c3a8d2; }
.text-indigo-100 { color: #c3a8d2; }
.border-indigo-100 { border-color: #c3a8d2; }
.outline-indigo-100 { outline-color: #c3a8d2; }

.bg-indigo-200 { background-color: #a57ebe; }
.text-indigo-200 { color: #a57ebe; }
.border-indigo-200 { border-color: #a57ebe; }
.outline-indigo-200 { outline-color: #a57ebe; }

.bg-indigo-300 { background-color: #8754aa; }
.text-indigo-300 { color: #8754aa; }
.border-indigo-300 { border-color: #8754aa; }
.outline-indigo-300 { outline-color: #8754aa; }

.bg-indigo-400 { background-color: #692a96; }
.text-indigo-400 { color: #692a96; }
.border-indigo-400 { border-color: #692a96; }
.outline-indigo-400 { outline-color: #692a96; }

.bg-indigo-500 { background-color: #4b0082; }
.text-indigo-500 { color: #4b0082; }
.border-indigo-500 { border-color: #4b0082; }
.outline-indigo-500 { outline-color: #4b0082; }

.bg-indigo-600 { background-color: #3e006c; }
.text-indigo-600 { color: #3e006c; }
.border-indigo-600 { border-color: #3e006c; }
.outline-indigo-600 { outline-color: #3e006c; }

.bg-indigo-700 { background-color: #310056; }
.text-indigo-700 { color: #310056; }
.border-indigo-700 { border-color: #310056; }
.outline-indigo-700 { outline-color: #310056; }

.bg-indigo-800 { background-color: #240040; }
.text-indigo-800 { color: #240040; }
.border-indigo-800 { border-color: #240040; }
.outline-indigo-800 { outline-color: #240040; }

.bg-indigo-900 { background-color: #17002a; }
.text-indigo-900 { color: #17002a; }
.border-indigo-900 { border-color: #17002a; }
.outline-indigo-900 { outline-color: #17002a; }

.bg-indigo-950 { background-color: #0a0014; }
.text-indigo-950 { color: #0a0014; }
.border-indigo-950 { border-color: #0a0014; }
.outline-indigo-950 { outline-color: #0a0014; }


