
/* github: https://github.com/iaseth/html-color-names */

.bg-indianred-50 { background-color: #f6e3e3; }
.text-indianred-50 { color: #f6e3e3; }
.border-indianred-50 { border-color: #f6e3e3; }
.outline-indianred-50 { outline-color: #f6e3e3; }

.bg-indianred-100 { background-color: #eec8c8; }
.text-indianred-100 { color: #eec8c8; }
.border-indianred-100 { border-color: #eec8c8; }
.outline-indianred-100 { outline-color: #eec8c8; }

.bg-indianred-200 { background-color: #e6adad; }
.text-indianred-200 { color: #e6adad; }
.border-indianred-200 { border-color: #e6adad; }
.outline-indianred-200 { outline-color: #e6adad; }

.bg-indianred-300 { background-color: #dd9292; }
.text-indianred-300 { color: #dd9292; }
.border-indianred-300 { border-color: #dd9292; }
.outline-indianred-300 { outline-color: #dd9292; }

.bg-indianred-400 { background-color: #d57777; }
.text-indianred-400 { color: #d57777; }
.border-indianred-400 { border-color: #d57777; }
.outline-indianred-400 { outline-color: #d57777; }

.bg-indianred-500 { background-color: #cd5c5c; }
.text-indianred-500 { color: #cd5c5c; }
.border-indianred-500 { border-color: #cd5c5c; }
.outline-indianred-500 { outline-color: #cd5c5c; }

.bg-indianred-600 { background-color: #aa4c4c; }
.text-indianred-600 { color: #aa4c4c; }
.border-indianred-600 { border-color: #aa4c4c; }
.outline-indianred-600 { outline-color: #aa4c4c; }

.bg-indianred-700 { background-color: #883d3d; }
.text-indianred-700 { color: #883d3d; }
.border-indianred-700 { border-color: #883d3d; }
.outline-indianred-700 { outline-color: #883d3d; }

.bg-indianred-800 { background-color: #662e2e; }
.text-indianred-800 { color: #662e2e; }
.border-indianred-800 { border-color: #662e2e; }
.outline-indianred-800 { outline-color: #662e2e; }

.bg-indianred-900 { background-color: #441e1e; }
.text-indianred-900 { color: #441e1e; }
.border-indianred-900 { border-color: #441e1e; }
.outline-indianred-900 { outline-color: #441e1e; }

.bg-indianred-950 { background-color: #220f0f; }
.text-indianred-950 { color: #220f0f; }
.border-indianred-950 { border-color: #220f0f; }
.outline-indianred-950 { outline-color: #220f0f; }

