



.bg-indianred-50 { background-color: #f5e3e3; }
.text-indianred-50 { color: #f5e3e3; }
.border-indianred-50 { border-color: #f5e3e3; }
.outline-indianred-50 { outline-color: #f5e3e3; }

.bg-indianred-100 { background-color: #edc8c8; }
.text-indianred-100 { color: #edc8c8; }
.border-indianred-100 { border-color: #edc8c8; }
.outline-indianred-100 { outline-color: #edc8c8; }

.bg-indianred-200 { background-color: #e5adad; }
.text-indianred-200 { color: #e5adad; }
.border-indianred-200 { border-color: #e5adad; }
.outline-indianred-200 { outline-color: #e5adad; }

.bg-indianred-300 { background-color: #dd9292; }
.text-indianred-300 { color: #dd9292; }
.border-indianred-300 { border-color: #dd9292; }
.outline-indianred-300 { outline-color: #dd9292; }

.bg-indianred-400 { background-color: #d57777; }
.text-indianred-400 { color: #d57777; }
.border-indianred-400 { border-color: #d57777; }
.outline-indianred-400 { outline-color: #d57777; }

.bg-indianred-500 { background-color: #cd5c5c; }
.text-indianred-500 { color: #cd5c5c; }
.border-indianred-500 { border-color: #cd5c5c; }
.outline-indianred-500 { outline-color: #cd5c5c; }

.bg-indianred-600 { background-color: #aa4c4c; }
.text-indianred-600 { color: #aa4c4c; }
.border-indianred-600 { border-color: #aa4c4c; }
.outline-indianred-600 { outline-color: #aa4c4c; }

.bg-indianred-700 { background-color: #873c3c; }
.text-indianred-700 { color: #873c3c; }
.border-indianred-700 { border-color: #873c3c; }
.outline-indianred-700 { outline-color: #873c3c; }

.bg-indianred-800 { background-color: #642c2c; }
.text-indianred-800 { color: #642c2c; }
.border-indianred-800 { border-color: #642c2c; }
.outline-indianred-800 { outline-color: #642c2c; }

.bg-indianred-900 { background-color: #411c1c; }
.text-indianred-900 { color: #411c1c; }
.border-indianred-900 { border-color: #411c1c; }
.outline-indianred-900 { outline-color: #411c1c; }

.bg-indianred-950 { background-color: #1e0c0c; }
.text-indianred-950 { color: #1e0c0c; }
.border-indianred-950 { border-color: #1e0c0c; }
.outline-indianred-950 { outline-color: #1e0c0c; }


