
.bg-ivory-50 { background-color: #fffffc; }
.text-ivory-50 { color: #fffffc; }
.border-ivory-50 { border-color: #fffffc; }
.outline-ivory-50 { outline-color: #fffffc; }

.bg-ivory-100 { background-color: #fffffa; }
.text-ivory-100 { color: #fffffa; }
.border-ivory-100 { border-color: #fffffa; }
.outline-ivory-100 { outline-color: #fffffa; }

.bg-ivory-200 { background-color: #fffff7; }
.text-ivory-200 { color: #fffff7; }
.border-ivory-200 { border-color: #fffff7; }
.outline-ivory-200 { outline-color: #fffff7; }

.bg-ivory-300 { background-color: #fffff5; }
.text-ivory-300 { color: #fffff5; }
.border-ivory-300 { border-color: #fffff5; }
.outline-ivory-300 { outline-color: #fffff5; }

.bg-ivory-400 { background-color: #fffff2; }
.text-ivory-400 { color: #fffff2; }
.border-ivory-400 { border-color: #fffff2; }
.outline-ivory-400 { outline-color: #fffff2; }

.bg-ivory-500 { background-color: #fffff0; }
.text-ivory-500 { color: #fffff0; }
.border-ivory-500 { border-color: #fffff0; }
.outline-ivory-500 { outline-color: #fffff0; }

.bg-ivory-600 { background-color: #d4d4c8; }
.text-ivory-600 { color: #d4d4c8; }
.border-ivory-600 { border-color: #d4d4c8; }
.outline-ivory-600 { outline-color: #d4d4c8; }

.bg-ivory-700 { background-color: #aaaaa0; }
.text-ivory-700 { color: #aaaaa0; }
.border-ivory-700 { border-color: #aaaaa0; }
.outline-ivory-700 { outline-color: #aaaaa0; }

.bg-ivory-800 { background-color: #7f7f78; }
.text-ivory-800 { color: #7f7f78; }
.border-ivory-800 { border-color: #7f7f78; }
.outline-ivory-800 { outline-color: #7f7f78; }

.bg-ivory-900 { background-color: #555550; }
.text-ivory-900 { color: #555550; }
.border-ivory-900 { border-color: #555550; }
.outline-ivory-900 { outline-color: #555550; }

.bg-ivory-950 { background-color: #2a2a28; }
.text-ivory-950 { color: #2a2a28; }
.border-ivory-950 { border-color: #2a2a28; }
.outline-ivory-950 { outline-color: #2a2a28; }
