



.bg-ivory-50 { background-color: #fffffa; }
.text-ivory-50 { color: #fffffa; }
.border-ivory-50 { border-color: #fffffa; }
.outline-ivory-50 { outline-color: #fffffa; }

.bg-ivory-100 { background-color: #fffff8; }
.text-ivory-100 { color: #fffff8; }
.border-ivory-100 { border-color: #fffff8; }
.outline-ivory-100 { outline-color: #fffff8; }

.bg-ivory-200 { background-color: #fffff6; }
.text-ivory-200 { color: #fffff6; }
.border-ivory-200 { border-color: #fffff6; }
.outline-ivory-200 { outline-color: #fffff6; }

.bg-ivory-300 { background-color: #fffff4; }
.text-ivory-300 { color: #fffff4; }
.border-ivory-300 { border-color: #fffff4; }
.outline-ivory-300 { outline-color: #fffff4; }

.bg-ivory-400 { background-color: #fffff2; }
.text-ivory-400 { color: #fffff2; }
.border-ivory-400 { border-color: #fffff2; }
.outline-ivory-400 { outline-color: #fffff2; }

.bg-ivory-500 { background-color: #fffff0; }
.text-ivory-500 { color: #fffff0; }
.border-ivory-500 { border-color: #fffff0; }
.outline-ivory-500 { outline-color: #fffff0; }

.bg-ivory-600 { background-color: #d4d4c8; }
.text-ivory-600 { color: #d4d4c8; }
.border-ivory-600 { border-color: #d4d4c8; }
.outline-ivory-600 { outline-color: #d4d4c8; }

.bg-ivory-700 { background-color: #a9a9a0; }
.text-ivory-700 { color: #a9a9a0; }
.border-ivory-700 { border-color: #a9a9a0; }
.outline-ivory-700 { outline-color: #a9a9a0; }

.bg-ivory-800 { background-color: #7e7e78; }
.text-ivory-800 { color: #7e7e78; }
.border-ivory-800 { border-color: #7e7e78; }
.outline-ivory-800 { outline-color: #7e7e78; }

.bg-ivory-900 { background-color: #535350; }
.text-ivory-900 { color: #535350; }
.border-ivory-900 { border-color: #535350; }
.outline-ivory-900 { outline-color: #535350; }

.bg-ivory-950 { background-color: #282828; }
.text-ivory-950 { color: #282828; }
.border-ivory-950 { border-color: #282828; }
.outline-ivory-950 { outline-color: #282828; }


