
.bg-khaki-50 { background-color: #fcfaeb; }
.text-khaki-50 { color: #fcfaeb; }
.border-khaki-50 { border-color: #fcfaeb; }
.outline-khaki-50 { outline-color: #fcfaeb; }

.bg-khaki-100 { background-color: #faf6d8; }
.text-khaki-100 { color: #faf6d8; }
.border-khaki-100 { border-color: #faf6d8; }
.outline-khaki-100 { outline-color: #faf6d8; }

.bg-khaki-200 { background-color: #f7f2c5; }
.text-khaki-200 { color: #f7f2c5; }
.border-khaki-200 { border-color: #f7f2c5; }
.outline-khaki-200 { outline-color: #f7f2c5; }

.bg-khaki-300 { background-color: #f5eeb2; }
.text-khaki-300 { color: #f5eeb2; }
.border-khaki-300 { border-color: #f5eeb2; }
.outline-khaki-300 { outline-color: #f5eeb2; }

.bg-khaki-400 { background-color: #f2ea9f; }
.text-khaki-400 { color: #f2ea9f; }
.border-khaki-400 { border-color: #f2ea9f; }
.outline-khaki-400 { outline-color: #f2ea9f; }

.bg-khaki-500 { background-color: #f0e68c; }
.text-khaki-500 { color: #f0e68c; }
.border-khaki-500 { border-color: #f0e68c; }
.outline-khaki-500 { outline-color: #f0e68c; }

.bg-khaki-600 { background-color: #c8bf74; }
.text-khaki-600 { color: #c8bf74; }
.border-khaki-600 { border-color: #c8bf74; }
.outline-khaki-600 { outline-color: #c8bf74; }

.bg-khaki-700 { background-color: #a0995d; }
.text-khaki-700 { color: #a0995d; }
.border-khaki-700 { border-color: #a0995d; }
.outline-khaki-700 { outline-color: #a0995d; }

.bg-khaki-800 { background-color: #787346; }
.text-khaki-800 { color: #787346; }
.border-khaki-800 { border-color: #787346; }
.outline-khaki-800 { outline-color: #787346; }

.bg-khaki-900 { background-color: #504c2e; }
.text-khaki-900 { color: #504c2e; }
.border-khaki-900 { border-color: #504c2e; }
.outline-khaki-900 { outline-color: #504c2e; }

.bg-khaki-950 { background-color: #282617; }
.text-khaki-950 { color: #282617; }
.border-khaki-950 { border-color: #282617; }
.outline-khaki-950 { outline-color: #282617; }
