



.bg-lavender-50 { background-color: #fafafa; }
.text-lavender-50 { color: #fafafa; }
.border-lavender-50 { border-color: #fafafa; }
.outline-lavender-50 { outline-color: #fafafa; }

.bg-lavender-100 { background-color: #f6f6fa; }
.text-lavender-100 { color: #f6f6fa; }
.border-lavender-100 { border-color: #f6f6fa; }
.outline-lavender-100 { outline-color: #f6f6fa; }

.bg-lavender-200 { background-color: #f2f2fa; }
.text-lavender-200 { color: #f2f2fa; }
.border-lavender-200 { border-color: #f2f2fa; }
.outline-lavender-200 { outline-color: #f2f2fa; }

.bg-lavender-300 { background-color: #eeeefa; }
.text-lavender-300 { color: #eeeefa; }
.border-lavender-300 { border-color: #eeeefa; }
.outline-lavender-300 { outline-color: #eeeefa; }

.bg-lavender-400 { background-color: #eaeafa; }
.text-lavender-400 { color: #eaeafa; }
.border-lavender-400 { border-color: #eaeafa; }
.outline-lavender-400 { outline-color: #eaeafa; }

.bg-lavender-500 { background-color: #e6e6fa; }
.text-lavender-500 { color: #e6e6fa; }
.border-lavender-500 { border-color: #e6e6fa; }
.outline-lavender-500 { outline-color: #e6e6fa; }

.bg-lavender-600 { background-color: #bfbfd0; }
.text-lavender-600 { color: #bfbfd0; }
.border-lavender-600 { border-color: #bfbfd0; }
.outline-lavender-600 { outline-color: #bfbfd0; }

.bg-lavender-700 { background-color: #9898a6; }
.text-lavender-700 { color: #9898a6; }
.border-lavender-700 { border-color: #9898a6; }
.outline-lavender-700 { outline-color: #9898a6; }

.bg-lavender-800 { background-color: #71717c; }
.text-lavender-800 { color: #71717c; }
.border-lavender-800 { border-color: #71717c; }
.outline-lavender-800 { outline-color: #71717c; }

.bg-lavender-900 { background-color: #4a4a52; }
.text-lavender-900 { color: #4a4a52; }
.border-lavender-900 { border-color: #4a4a52; }
.outline-lavender-900 { outline-color: #4a4a52; }

.bg-lavender-950 { background-color: #232328; }
.text-lavender-950 { color: #232328; }
.border-lavender-950 { border-color: #232328; }
.outline-lavender-950 { outline-color: #232328; }


