



.bg-lavenderblush-50 { background-color: #fffcfd; }
.text-lavenderblush-50 { color: #fffcfd; }
.border-lavenderblush-50 { border-color: #fffcfd; }
.outline-lavenderblush-50 { outline-color: #fffcfd; }

.bg-lavenderblush-100 { background-color: #fffafb; }
.text-lavenderblush-100 { color: #fffafb; }
.border-lavenderblush-100 { border-color: #fffafb; }
.outline-lavenderblush-100 { outline-color: #fffafb; }

.bg-lavenderblush-200 { background-color: #fff7fa; }
.text-lavenderblush-200 { color: #fff7fa; }
.border-lavenderblush-200 { border-color: #fff7fa; }
.outline-lavenderblush-200 { outline-color: #fff7fa; }

.bg-lavenderblush-300 { background-color: #fff5f8; }
.text-lavenderblush-300 { color: #fff5f8; }
.border-lavenderblush-300 { border-color: #fff5f8; }
.outline-lavenderblush-300 { outline-color: #fff5f8; }

.bg-lavenderblush-400 { background-color: #fff2f6; }
.text-lavenderblush-400 { color: #fff2f6; }
.border-lavenderblush-400 { border-color: #fff2f6; }
.outline-lavenderblush-400 { outline-color: #fff2f6; }

.bg-lavenderblush-500 { background-color: #fff0f5; }
.text-lavenderblush-500 { color: #fff0f5; }
.border-lavenderblush-500 { border-color: #fff0f5; }
.outline-lavenderblush-500 { outline-color: #fff0f5; }

.bg-lavenderblush-600 { background-color: #d4c8cc; }
.text-lavenderblush-600 { color: #d4c8cc; }
.border-lavenderblush-600 { border-color: #d4c8cc; }
.outline-lavenderblush-600 { outline-color: #d4c8cc; }

.bg-lavenderblush-700 { background-color: #aaa0a3; }
.text-lavenderblush-700 { color: #aaa0a3; }
.border-lavenderblush-700 { border-color: #aaa0a3; }
.outline-lavenderblush-700 { outline-color: #aaa0a3; }

.bg-lavenderblush-800 { background-color: #7f787a; }
.text-lavenderblush-800 { color: #7f787a; }
.border-lavenderblush-800 { border-color: #7f787a; }
.outline-lavenderblush-800 { outline-color: #7f787a; }

.bg-lavenderblush-900 { background-color: #555051; }
.text-lavenderblush-900 { color: #555051; }
.border-lavenderblush-900 { border-color: #555051; }
.outline-lavenderblush-900 { outline-color: #555051; }

.bg-lavenderblush-950 { background-color: #2a2828; }
.text-lavenderblush-950 { color: #2a2828; }
.border-lavenderblush-950 { border-color: #2a2828; }
.outline-lavenderblush-950 { outline-color: #2a2828; }


