



.bg-lavenderblush-50 { background-color: #fffafa; }
.text-lavenderblush-50 { color: #fffafa; }
.border-lavenderblush-50 { border-color: #fffafa; }
.outline-lavenderblush-50 { outline-color: #fffafa; }

.bg-lavenderblush-100 { background-color: #fff8f9; }
.text-lavenderblush-100 { color: #fff8f9; }
.border-lavenderblush-100 { border-color: #fff8f9; }
.outline-lavenderblush-100 { outline-color: #fff8f9; }

.bg-lavenderblush-200 { background-color: #fff6f8; }
.text-lavenderblush-200 { color: #fff6f8; }
.border-lavenderblush-200 { border-color: #fff6f8; }
.outline-lavenderblush-200 { outline-color: #fff6f8; }

.bg-lavenderblush-300 { background-color: #fff4f7; }
.text-lavenderblush-300 { color: #fff4f7; }
.border-lavenderblush-300 { border-color: #fff4f7; }
.outline-lavenderblush-300 { outline-color: #fff4f7; }

.bg-lavenderblush-400 { background-color: #fff2f6; }
.text-lavenderblush-400 { color: #fff2f6; }
.border-lavenderblush-400 { border-color: #fff2f6; }
.outline-lavenderblush-400 { outline-color: #fff2f6; }

.bg-lavenderblush-500 { background-color: #fff0f5; }
.text-lavenderblush-500 { color: #fff0f5; }
.border-lavenderblush-500 { border-color: #fff0f5; }
.outline-lavenderblush-500 { outline-color: #fff0f5; }

.bg-lavenderblush-600 { background-color: #d4c8cc; }
.text-lavenderblush-600 { color: #d4c8cc; }
.border-lavenderblush-600 { border-color: #d4c8cc; }
.outline-lavenderblush-600 { outline-color: #d4c8cc; }

.bg-lavenderblush-700 { background-color: #a9a0a3; }
.text-lavenderblush-700 { color: #a9a0a3; }
.border-lavenderblush-700 { border-color: #a9a0a3; }
.outline-lavenderblush-700 { outline-color: #a9a0a3; }

.bg-lavenderblush-800 { background-color: #7e787a; }
.text-lavenderblush-800 { color: #7e787a; }
.border-lavenderblush-800 { border-color: #7e787a; }
.outline-lavenderblush-800 { outline-color: #7e787a; }

.bg-lavenderblush-900 { background-color: #535051; }
.text-lavenderblush-900 { color: #535051; }
.border-lavenderblush-900 { border-color: #535051; }
.outline-lavenderblush-900 { outline-color: #535051; }

.bg-lavenderblush-950 { background-color: #282828; }
.text-lavenderblush-950 { color: #282828; }
.border-lavenderblush-950 { border-color: #282828; }
.outline-lavenderblush-950 { outline-color: #282828; }


