



.bg-lawngreen-50 { background-color: #e5fcd2; }
.text-lawngreen-50 { color: #e5fcd2; }
.border-lawngreen-50 { border-color: #e5fcd2; }
.outline-lawngreen-50 { outline-color: #e5fcd2; }

.bg-lawngreen-100 { background-color: #d0fca8; }
.text-lawngreen-100 { color: #d0fca8; }
.border-lawngreen-100 { border-color: #d0fca8; }
.outline-lawngreen-100 { outline-color: #d0fca8; }

.bg-lawngreen-200 { background-color: #bbfc7e; }
.text-lawngreen-200 { color: #bbfc7e; }
.border-lawngreen-200 { border-color: #bbfc7e; }
.outline-lawngreen-200 { outline-color: #bbfc7e; }

.bg-lawngreen-300 { background-color: #a6fc54; }
.text-lawngreen-300 { color: #a6fc54; }
.border-lawngreen-300 { border-color: #a6fc54; }
.outline-lawngreen-300 { outline-color: #a6fc54; }

.bg-lawngreen-400 { background-color: #91fc2a; }
.text-lawngreen-400 { color: #91fc2a; }
.border-lawngreen-400 { border-color: #91fc2a; }
.outline-lawngreen-400 { outline-color: #91fc2a; }

.bg-lawngreen-500 { background-color: #7cfc00; }
.text-lawngreen-500 { color: #7cfc00; }
.border-lawngreen-500 { border-color: #7cfc00; }
.outline-lawngreen-500 { outline-color: #7cfc00; }

.bg-lawngreen-600 { background-color: #67d200; }
.text-lawngreen-600 { color: #67d200; }
.border-lawngreen-600 { border-color: #67d200; }
.outline-lawngreen-600 { outline-color: #67d200; }

.bg-lawngreen-700 { background-color: #52a800; }
.text-lawngreen-700 { color: #52a800; }
.border-lawngreen-700 { border-color: #52a800; }
.outline-lawngreen-700 { outline-color: #52a800; }

.bg-lawngreen-800 { background-color: #3d7e00; }
.text-lawngreen-800 { color: #3d7e00; }
.border-lawngreen-800 { border-color: #3d7e00; }
.outline-lawngreen-800 { outline-color: #3d7e00; }

.bg-lawngreen-900 { background-color: #285400; }
.text-lawngreen-900 { color: #285400; }
.border-lawngreen-900 { border-color: #285400; }
.outline-lawngreen-900 { outline-color: #285400; }

.bg-lawngreen-950 { background-color: #132a00; }
.text-lawngreen-950 { color: #132a00; }
.border-lawngreen-950 { border-color: #132a00; }
.outline-lawngreen-950 { outline-color: #132a00; }


