
.bg-lawngreen-50 { background-color: #e9fed4; }
.text-lawngreen-50 { color: #e9fed4; }
.border-lawngreen-50 { border-color: #e9fed4; }
.outline-lawngreen-50 { outline-color: #e9fed4; }

.bg-lawngreen-100 { background-color: #d3feaa; }
.text-lawngreen-100 { color: #d3feaa; }
.border-lawngreen-100 { border-color: #d3feaa; }
.outline-lawngreen-100 { outline-color: #d3feaa; }

.bg-lawngreen-200 { background-color: #bdfd7f; }
.text-lawngreen-200 { color: #bdfd7f; }
.border-lawngreen-200 { border-color: #bdfd7f; }
.outline-lawngreen-200 { outline-color: #bdfd7f; }

.bg-lawngreen-300 { background-color: #a7fd55; }
.text-lawngreen-300 { color: #a7fd55; }
.border-lawngreen-300 { border-color: #a7fd55; }
.outline-lawngreen-300 { outline-color: #a7fd55; }

.bg-lawngreen-400 { background-color: #91fc2a; }
.text-lawngreen-400 { color: #91fc2a; }
.border-lawngreen-400 { border-color: #91fc2a; }
.outline-lawngreen-400 { outline-color: #91fc2a; }

.bg-lawngreen-500 { background-color: #7cfc00; }
.text-lawngreen-500 { color: #7cfc00; }
.border-lawngreen-500 { border-color: #7cfc00; }
.outline-lawngreen-500 { outline-color: #7cfc00; }

.bg-lawngreen-600 { background-color: #67d200; }
.text-lawngreen-600 { color: #67d200; }
.border-lawngreen-600 { border-color: #67d200; }
.outline-lawngreen-600 { outline-color: #67d200; }

.bg-lawngreen-700 { background-color: #52a800; }
.text-lawngreen-700 { color: #52a800; }
.border-lawngreen-700 { border-color: #52a800; }
.outline-lawngreen-700 { outline-color: #52a800; }

.bg-lawngreen-800 { background-color: #3e7e00; }
.text-lawngreen-800 { color: #3e7e00; }
.border-lawngreen-800 { border-color: #3e7e00; }
.outline-lawngreen-800 { outline-color: #3e7e00; }

.bg-lawngreen-900 { background-color: #295400; }
.text-lawngreen-900 { color: #295400; }
.border-lawngreen-900 { border-color: #295400; }
.outline-lawngreen-900 { outline-color: #295400; }

.bg-lawngreen-950 { background-color: #142a00; }
.text-lawngreen-950 { color: #142a00; }
.border-lawngreen-950 { border-color: #142a00; }
.outline-lawngreen-950 { outline-color: #142a00; }
