



.bg-lemonchiffon-50 { background-color: #fffaf5; }
.text-lemonchiffon-50 { color: #fffaf5; }
.border-lemonchiffon-50 { border-color: #fffaf5; }
.outline-lemonchiffon-50 { outline-color: #fffaf5; }

.bg-lemonchiffon-100 { background-color: #fffaed; }
.text-lemonchiffon-100 { color: #fffaed; }
.border-lemonchiffon-100 { border-color: #fffaed; }
.outline-lemonchiffon-100 { outline-color: #fffaed; }

.bg-lemonchiffon-200 { background-color: #fffae5; }
.text-lemonchiffon-200 { color: #fffae5; }
.border-lemonchiffon-200 { border-color: #fffae5; }
.outline-lemonchiffon-200 { outline-color: #fffae5; }

.bg-lemonchiffon-300 { background-color: #fffadd; }
.text-lemonchiffon-300 { color: #fffadd; }
.border-lemonchiffon-300 { border-color: #fffadd; }
.outline-lemonchiffon-300 { outline-color: #fffadd; }

.bg-lemonchiffon-400 { background-color: #fffad5; }
.text-lemonchiffon-400 { color: #fffad5; }
.border-lemonchiffon-400 { border-color: #fffad5; }
.outline-lemonchiffon-400 { outline-color: #fffad5; }

.bg-lemonchiffon-500 { background-color: #fffacd; }
.text-lemonchiffon-500 { color: #fffacd; }
.border-lemonchiffon-500 { border-color: #fffacd; }
.outline-lemonchiffon-500 { outline-color: #fffacd; }

.bg-lemonchiffon-600 { background-color: #d4d0aa; }
.text-lemonchiffon-600 { color: #d4d0aa; }
.border-lemonchiffon-600 { border-color: #d4d0aa; }
.outline-lemonchiffon-600 { outline-color: #d4d0aa; }

.bg-lemonchiffon-700 { background-color: #a9a687; }
.text-lemonchiffon-700 { color: #a9a687; }
.border-lemonchiffon-700 { border-color: #a9a687; }
.outline-lemonchiffon-700 { outline-color: #a9a687; }

.bg-lemonchiffon-800 { background-color: #7e7c64; }
.text-lemonchiffon-800 { color: #7e7c64; }
.border-lemonchiffon-800 { border-color: #7e7c64; }
.outline-lemonchiffon-800 { outline-color: #7e7c64; }

.bg-lemonchiffon-900 { background-color: #535241; }
.text-lemonchiffon-900 { color: #535241; }
.border-lemonchiffon-900 { border-color: #535241; }
.outline-lemonchiffon-900 { outline-color: #535241; }

.bg-lemonchiffon-950 { background-color: #28281e; }
.text-lemonchiffon-950 { color: #28281e; }
.border-lemonchiffon-950 { border-color: #28281e; }
.outline-lemonchiffon-950 { outline-color: #28281e; }


