



.bg-lemonchiffon-50 { background-color: #fffef6; }
.text-lemonchiffon-50 { color: #fffef6; }
.border-lemonchiffon-50 { border-color: #fffef6; }
.outline-lemonchiffon-50 { outline-color: #fffef6; }

.bg-lemonchiffon-100 { background-color: #fffdee; }
.text-lemonchiffon-100 { color: #fffdee; }
.border-lemonchiffon-100 { border-color: #fffdee; }
.outline-lemonchiffon-100 { outline-color: #fffdee; }

.bg-lemonchiffon-200 { background-color: #fffce6; }
.text-lemonchiffon-200 { color: #fffce6; }
.border-lemonchiffon-200 { border-color: #fffce6; }
.outline-lemonchiffon-200 { outline-color: #fffce6; }

.bg-lemonchiffon-300 { background-color: #fffbdd; }
.text-lemonchiffon-300 { color: #fffbdd; }
.border-lemonchiffon-300 { border-color: #fffbdd; }
.outline-lemonchiffon-300 { outline-color: #fffbdd; }

.bg-lemonchiffon-400 { background-color: #fffad5; }
.text-lemonchiffon-400 { color: #fffad5; }
.border-lemonchiffon-400 { border-color: #fffad5; }
.outline-lemonchiffon-400 { outline-color: #fffad5; }

.bg-lemonchiffon-500 { background-color: #fffacd; }
.text-lemonchiffon-500 { color: #fffacd; }
.border-lemonchiffon-500 { border-color: #fffacd; }
.outline-lemonchiffon-500 { outline-color: #fffacd; }

.bg-lemonchiffon-600 { background-color: #d4d0aa; }
.text-lemonchiffon-600 { color: #d4d0aa; }
.border-lemonchiffon-600 { border-color: #d4d0aa; }
.outline-lemonchiffon-600 { outline-color: #d4d0aa; }

.bg-lemonchiffon-700 { background-color: #aaa688; }
.text-lemonchiffon-700 { color: #aaa688; }
.border-lemonchiffon-700 { border-color: #aaa688; }
.outline-lemonchiffon-700 { outline-color: #aaa688; }

.bg-lemonchiffon-800 { background-color: #7f7d66; }
.text-lemonchiffon-800 { color: #7f7d66; }
.border-lemonchiffon-800 { border-color: #7f7d66; }
.outline-lemonchiffon-800 { outline-color: #7f7d66; }

.bg-lemonchiffon-900 { background-color: #555344; }
.text-lemonchiffon-900 { color: #555344; }
.border-lemonchiffon-900 { border-color: #555344; }
.outline-lemonchiffon-900 { outline-color: #555344; }

.bg-lemonchiffon-950 { background-color: #2a2922; }
.text-lemonchiffon-950 { color: #2a2922; }
.border-lemonchiffon-950 { border-color: #2a2922; }
.outline-lemonchiffon-950 { outline-color: #2a2922; }


