
.bg-lightsalmon-50 { background-color: #ffefe8; }
.text-lightsalmon-50 { color: #ffefe8; }
.border-lightsalmon-50 { border-color: #ffefe8; }
.outline-lightsalmon-50 { outline-color: #ffefe8; }

.bg-lightsalmon-100 { background-color: #ffdfd2; }
.text-lightsalmon-100 { color: #ffdfd2; }
.border-lightsalmon-100 { border-color: #ffdfd2; }
.outline-lightsalmon-100 { outline-color: #ffdfd2; }

.bg-lightsalmon-200 { background-color: #ffcfbc; }
.text-lightsalmon-200 { color: #ffcfbc; }
.border-lightsalmon-200 { border-color: #ffcfbc; }
.outline-lightsalmon-200 { outline-color: #ffcfbc; }

.bg-lightsalmon-300 { background-color: #ffbfa6; }
.text-lightsalmon-300 { color: #ffbfa6; }
.border-lightsalmon-300 { border-color: #ffbfa6; }
.outline-lightsalmon-300 { outline-color: #ffbfa6; }

.bg-lightsalmon-400 { background-color: #ffaf90; }
.text-lightsalmon-400 { color: #ffaf90; }
.border-lightsalmon-400 { border-color: #ffaf90; }
.outline-lightsalmon-400 { outline-color: #ffaf90; }

.bg-lightsalmon-500 { background-color: #ffa07a; }
.text-lightsalmon-500 { color: #ffa07a; }
.border-lightsalmon-500 { border-color: #ffa07a; }
.outline-lightsalmon-500 { outline-color: #ffa07a; }

.bg-lightsalmon-600 { background-color: #d48565; }
.text-lightsalmon-600 { color: #d48565; }
.border-lightsalmon-600 { border-color: #d48565; }
.outline-lightsalmon-600 { outline-color: #d48565; }

.bg-lightsalmon-700 { background-color: #aa6a51; }
.text-lightsalmon-700 { color: #aa6a51; }
.border-lightsalmon-700 { border-color: #aa6a51; }
.outline-lightsalmon-700 { outline-color: #aa6a51; }

.bg-lightsalmon-800 { background-color: #7f503d; }
.text-lightsalmon-800 { color: #7f503d; }
.border-lightsalmon-800 { border-color: #7f503d; }
.outline-lightsalmon-800 { outline-color: #7f503d; }

.bg-lightsalmon-900 { background-color: #553528; }
.text-lightsalmon-900 { color: #553528; }
.border-lightsalmon-900 { border-color: #553528; }
.outline-lightsalmon-900 { outline-color: #553528; }

.bg-lightsalmon-950 { background-color: #2a1a14; }
.text-lightsalmon-950 { color: #2a1a14; }
.border-lightsalmon-950 { border-color: #2a1a14; }
.outline-lightsalmon-950 { outline-color: #2a1a14; }
