
.bg-lightgray-50 { background-color: #f7f7f7; }
.text-lightgray-50 { color: #f7f7f7; }
.border-lightgray-50 { border-color: #f7f7f7; }
.outline-lightgray-50 { outline-color: #f7f7f7; }

.bg-lightgray-100 { background-color: #f0f0f0; }
.text-lightgray-100 { color: #f0f0f0; }
.border-lightgray-100 { border-color: #f0f0f0; }
.outline-lightgray-100 { outline-color: #f0f0f0; }

.bg-lightgray-200 { background-color: #e9e9e9; }
.text-lightgray-200 { color: #e9e9e9; }
.border-lightgray-200 { border-color: #e9e9e9; }
.outline-lightgray-200 { outline-color: #e9e9e9; }

.bg-lightgray-300 { background-color: #e1e1e1; }
.text-lightgray-300 { color: #e1e1e1; }
.border-lightgray-300 { border-color: #e1e1e1; }
.outline-lightgray-300 { outline-color: #e1e1e1; }

.bg-lightgray-400 { background-color: #dadada; }
.text-lightgray-400 { color: #dadada; }
.border-lightgray-400 { border-color: #dadada; }
.outline-lightgray-400 { outline-color: #dadada; }

.bg-lightgray-500 { background-color: #d3d3d3; }
.text-lightgray-500 { color: #d3d3d3; }
.border-lightgray-500 { border-color: #d3d3d3; }
.outline-lightgray-500 { outline-color: #d3d3d3; }

.bg-lightgray-600 { background-color: #afafaf; }
.text-lightgray-600 { color: #afafaf; }
.border-lightgray-600 { border-color: #afafaf; }
.outline-lightgray-600 { outline-color: #afafaf; }

.bg-lightgray-700 { background-color: #8c8c8c; }
.text-lightgray-700 { color: #8c8c8c; }
.border-lightgray-700 { border-color: #8c8c8c; }
.outline-lightgray-700 { outline-color: #8c8c8c; }

.bg-lightgray-800 { background-color: #696969; }
.text-lightgray-800 { color: #696969; }
.border-lightgray-800 { border-color: #696969; }
.outline-lightgray-800 { outline-color: #696969; }

.bg-lightgray-900 { background-color: #464646; }
.text-lightgray-900 { color: #464646; }
.border-lightgray-900 { border-color: #464646; }
.outline-lightgray-900 { outline-color: #464646; }

.bg-lightgray-950 { background-color: #232323; }
.text-lightgray-950 { color: #232323; }
.border-lightgray-950 { border-color: #232323; }
.outline-lightgray-950 { outline-color: #232323; }
