



.bg-lightsalmon-50 { background-color: #ffebe8; }
.text-lightsalmon-50 { color: #ffebe8; }
.border-lightsalmon-50 { border-color: #ffebe8; }
.outline-lightsalmon-50 { outline-color: #ffebe8; }

.bg-lightsalmon-100 { background-color: #ffdcd2; }
.text-lightsalmon-100 { color: #ffdcd2; }
.border-lightsalmon-100 { border-color: #ffdcd2; }
.outline-lightsalmon-100 { outline-color: #ffdcd2; }

.bg-lightsalmon-200 { background-color: #ffcdbc; }
.text-lightsalmon-200 { color: #ffcdbc; }
.border-lightsalmon-200 { border-color: #ffcdbc; }
.outline-lightsalmon-200 { outline-color: #ffcdbc; }

.bg-lightsalmon-300 { background-color: #ffbea6; }
.text-lightsalmon-300 { color: #ffbea6; }
.border-lightsalmon-300 { border-color: #ffbea6; }
.outline-lightsalmon-300 { outline-color: #ffbea6; }

.bg-lightsalmon-400 { background-color: #ffaf90; }
.text-lightsalmon-400 { color: #ffaf90; }
.border-lightsalmon-400 { border-color: #ffaf90; }
.outline-lightsalmon-400 { outline-color: #ffaf90; }

.bg-lightsalmon-500 { background-color: #ffa07a; }
.text-lightsalmon-500 { color: #ffa07a; }
.border-lightsalmon-500 { border-color: #ffa07a; }
.outline-lightsalmon-500 { outline-color: #ffa07a; }

.bg-lightsalmon-600 { background-color: #d48565; }
.text-lightsalmon-600 { color: #d48565; }
.border-lightsalmon-600 { border-color: #d48565; }
.outline-lightsalmon-600 { outline-color: #d48565; }

.bg-lightsalmon-700 { background-color: #a96a50; }
.text-lightsalmon-700 { color: #a96a50; }
.border-lightsalmon-700 { border-color: #a96a50; }
.outline-lightsalmon-700 { outline-color: #a96a50; }

.bg-lightsalmon-800 { background-color: #7e4f3b; }
.text-lightsalmon-800 { color: #7e4f3b; }
.border-lightsalmon-800 { border-color: #7e4f3b; }
.outline-lightsalmon-800 { outline-color: #7e4f3b; }

.bg-lightsalmon-900 { background-color: #533426; }
.text-lightsalmon-900 { color: #533426; }
.border-lightsalmon-900 { border-color: #533426; }
.outline-lightsalmon-900 { outline-color: #533426; }

.bg-lightsalmon-950 { background-color: #281911; }
.text-lightsalmon-950 { color: #281911; }
.border-lightsalmon-950 { border-color: #281911; }
.outline-lightsalmon-950 { outline-color: #281911; }


