
.bg-lightgoldenrodyellow-50 { background-color: #fefef7; }
.text-lightgoldenrodyellow-50 { color: #fefef7; }
.border-lightgoldenrodyellow-50 { border-color: #fefef7; }
.outline-lightgoldenrodyellow-50 { outline-color: #fefef7; }

.bg-lightgoldenrodyellow-100 { background-color: #fdfdf0; }
.text-lightgoldenrodyellow-100 { color: #fdfdf0; }
.border-lightgoldenrodyellow-100 { border-color: #fdfdf0; }
.outline-lightgoldenrodyellow-100 { outline-color: #fdfdf0; }

.bg-lightgoldenrodyellow-200 { background-color: #fcfce8; }
.text-lightgoldenrodyellow-200 { color: #fcfce8; }
.border-lightgoldenrodyellow-200 { border-color: #fcfce8; }
.outline-lightgoldenrodyellow-200 { outline-color: #fcfce8; }

.bg-lightgoldenrodyellow-300 { background-color: #fbfbe1; }
.text-lightgoldenrodyellow-300 { color: #fbfbe1; }
.border-lightgoldenrodyellow-300 { border-color: #fbfbe1; }
.outline-lightgoldenrodyellow-300 { outline-color: #fbfbe1; }

.bg-lightgoldenrodyellow-400 { background-color: #fafad9; }
.text-lightgoldenrodyellow-400 { color: #fafad9; }
.border-lightgoldenrodyellow-400 { border-color: #fafad9; }
.outline-lightgoldenrodyellow-400 { outline-color: #fafad9; }

.bg-lightgoldenrodyellow-500 { background-color: #fafad2; }
.text-lightgoldenrodyellow-500 { color: #fafad2; }
.border-lightgoldenrodyellow-500 { border-color: #fafad2; }
.outline-lightgoldenrodyellow-500 { outline-color: #fafad2; }

.bg-lightgoldenrodyellow-600 { background-color: #d0d0af; }
.text-lightgoldenrodyellow-600 { color: #d0d0af; }
.border-lightgoldenrodyellow-600 { border-color: #d0d0af; }
.outline-lightgoldenrodyellow-600 { outline-color: #d0d0af; }

.bg-lightgoldenrodyellow-700 { background-color: #a6a68c; }
.text-lightgoldenrodyellow-700 { color: #a6a68c; }
.border-lightgoldenrodyellow-700 { border-color: #a6a68c; }
.outline-lightgoldenrodyellow-700 { outline-color: #a6a68c; }

.bg-lightgoldenrodyellow-800 { background-color: #7d7d69; }
.text-lightgoldenrodyellow-800 { color: #7d7d69; }
.border-lightgoldenrodyellow-800 { border-color: #7d7d69; }
.outline-lightgoldenrodyellow-800 { outline-color: #7d7d69; }

.bg-lightgoldenrodyellow-900 { background-color: #535346; }
.text-lightgoldenrodyellow-900 { color: #535346; }
.border-lightgoldenrodyellow-900 { border-color: #535346; }
.outline-lightgoldenrodyellow-900 { outline-color: #535346; }

.bg-lightgoldenrodyellow-950 { background-color: #292923; }
.text-lightgoldenrodyellow-950 { color: #292923; }
.border-lightgoldenrodyellow-950 { border-color: #292923; }
.outline-lightgoldenrodyellow-950 { outline-color: #292923; }
