



.bg-lightslategrey-50 { background-color: #e5e7ee; }
.text-lightslategrey-50 { color: #e5e7ee; }
.border-lightslategrey-50 { border-color: #e5e7ee; }
.outline-lightslategrey-50 { outline-color: #e5e7ee; }

.bg-lightslategrey-100 { background-color: #cfd4dd; }
.text-lightslategrey-100 { color: #cfd4dd; }
.border-lightslategrey-100 { border-color: #cfd4dd; }
.outline-lightslategrey-100 { outline-color: #cfd4dd; }

.bg-lightslategrey-200 { background-color: #b9c1cc; }
.text-lightslategrey-200 { color: #b9c1cc; }
.border-lightslategrey-200 { border-color: #b9c1cc; }
.outline-lightslategrey-200 { outline-color: #b9c1cc; }

.bg-lightslategrey-300 { background-color: #a3aebb; }
.text-lightslategrey-300 { color: #a3aebb; }
.border-lightslategrey-300 { border-color: #a3aebb; }
.outline-lightslategrey-300 { outline-color: #a3aebb; }

.bg-lightslategrey-400 { background-color: #8d9baa; }
.text-lightslategrey-400 { color: #8d9baa; }
.border-lightslategrey-400 { border-color: #8d9baa; }
.outline-lightslategrey-400 { outline-color: #8d9baa; }

.bg-lightslategrey-500 { background-color: #778899; }
.text-lightslategrey-500 { color: #778899; }
.border-lightslategrey-500 { border-color: #778899; }
.outline-lightslategrey-500 { outline-color: #778899; }

.bg-lightslategrey-600 { background-color: #63717f; }
.text-lightslategrey-600 { color: #63717f; }
.border-lightslategrey-600 { border-color: #63717f; }
.outline-lightslategrey-600 { outline-color: #63717f; }

.bg-lightslategrey-700 { background-color: #4f5a65; }
.text-lightslategrey-700 { color: #4f5a65; }
.border-lightslategrey-700 { border-color: #4f5a65; }
.outline-lightslategrey-700 { outline-color: #4f5a65; }

.bg-lightslategrey-800 { background-color: #3b434b; }
.text-lightslategrey-800 { color: #3b434b; }
.border-lightslategrey-800 { border-color: #3b434b; }
.outline-lightslategrey-800 { outline-color: #3b434b; }

.bg-lightslategrey-900 { background-color: #272c31; }
.text-lightslategrey-900 { color: #272c31; }
.border-lightslategrey-900 { border-color: #272c31; }
.outline-lightslategrey-900 { outline-color: #272c31; }

.bg-lightslategrey-950 { background-color: #131517; }
.text-lightslategrey-950 { color: #131517; }
.border-lightslategrey-950 { border-color: #131517; }
.outline-lightslategrey-950 { outline-color: #131517; }


