
.bg-lightgrey-50 { background-color: #f7f7f7; }
.text-lightgrey-50 { color: #f7f7f7; }
.border-lightgrey-50 { border-color: #f7f7f7; }
.outline-lightgrey-50 { outline-color: #f7f7f7; }

.bg-lightgrey-100 { background-color: #f0f0f0; }
.text-lightgrey-100 { color: #f0f0f0; }
.border-lightgrey-100 { border-color: #f0f0f0; }
.outline-lightgrey-100 { outline-color: #f0f0f0; }

.bg-lightgrey-200 { background-color: #e9e9e9; }
.text-lightgrey-200 { color: #e9e9e9; }
.border-lightgrey-200 { border-color: #e9e9e9; }
.outline-lightgrey-200 { outline-color: #e9e9e9; }

.bg-lightgrey-300 { background-color: #e1e1e1; }
.text-lightgrey-300 { color: #e1e1e1; }
.border-lightgrey-300 { border-color: #e1e1e1; }
.outline-lightgrey-300 { outline-color: #e1e1e1; }

.bg-lightgrey-400 { background-color: #dadada; }
.text-lightgrey-400 { color: #dadada; }
.border-lightgrey-400 { border-color: #dadada; }
.outline-lightgrey-400 { outline-color: #dadada; }

.bg-lightgrey-500 { background-color: #d3d3d3; }
.text-lightgrey-500 { color: #d3d3d3; }
.border-lightgrey-500 { border-color: #d3d3d3; }
.outline-lightgrey-500 { outline-color: #d3d3d3; }

.bg-lightgrey-600 { background-color: #afafaf; }
.text-lightgrey-600 { color: #afafaf; }
.border-lightgrey-600 { border-color: #afafaf; }
.outline-lightgrey-600 { outline-color: #afafaf; }

.bg-lightgrey-700 { background-color: #8c8c8c; }
.text-lightgrey-700 { color: #8c8c8c; }
.border-lightgrey-700 { border-color: #8c8c8c; }
.outline-lightgrey-700 { outline-color: #8c8c8c; }

.bg-lightgrey-800 { background-color: #696969; }
.text-lightgrey-800 { color: #696969; }
.border-lightgrey-800 { border-color: #696969; }
.outline-lightgrey-800 { outline-color: #696969; }

.bg-lightgrey-900 { background-color: #464646; }
.text-lightgrey-900 { color: #464646; }
.border-lightgrey-900 { border-color: #464646; }
.outline-lightgrey-900 { outline-color: #464646; }

.bg-lightgrey-950 { background-color: #232323; }
.text-lightgrey-950 { color: #232323; }
.border-lightgrey-950 { border-color: #232323; }
.outline-lightgrey-950 { outline-color: #232323; }
