



.bg-lightsteelblue-50 { background-color: #f1f5f9; }
.text-lightsteelblue-50 { color: #f1f5f9; }
.border-lightsteelblue-50 { border-color: #f1f5f9; }
.outline-lightsteelblue-50 { outline-color: #f1f5f9; }

.bg-lightsteelblue-100 { background-color: #e4ebf4; }
.text-lightsteelblue-100 { color: #e4ebf4; }
.border-lightsteelblue-100 { border-color: #e4ebf4; }
.outline-lightsteelblue-100 { outline-color: #e4ebf4; }

.bg-lightsteelblue-200 { background-color: #d7e1ee; }
.text-lightsteelblue-200 { color: #d7e1ee; }
.border-lightsteelblue-200 { border-color: #d7e1ee; }
.outline-lightsteelblue-200 { outline-color: #d7e1ee; }

.bg-lightsteelblue-300 { background-color: #cad7e9; }
.text-lightsteelblue-300 { color: #cad7e9; }
.border-lightsteelblue-300 { border-color: #cad7e9; }
.outline-lightsteelblue-300 { outline-color: #cad7e9; }

.bg-lightsteelblue-400 { background-color: #bdcde3; }
.text-lightsteelblue-400 { color: #bdcde3; }
.border-lightsteelblue-400 { border-color: #bdcde3; }
.outline-lightsteelblue-400 { outline-color: #bdcde3; }

.bg-lightsteelblue-500 { background-color: #b0c4de; }
.text-lightsteelblue-500 { color: #b0c4de; }
.border-lightsteelblue-500 { border-color: #b0c4de; }
.outline-lightsteelblue-500 { outline-color: #b0c4de; }

.bg-lightsteelblue-600 { background-color: #92a3b9; }
.text-lightsteelblue-600 { color: #92a3b9; }
.border-lightsteelblue-600 { border-color: #92a3b9; }
.outline-lightsteelblue-600 { outline-color: #92a3b9; }

.bg-lightsteelblue-700 { background-color: #758294; }
.text-lightsteelblue-700 { color: #758294; }
.border-lightsteelblue-700 { border-color: #758294; }
.outline-lightsteelblue-700 { outline-color: #758294; }

.bg-lightsteelblue-800 { background-color: #58626f; }
.text-lightsteelblue-800 { color: #58626f; }
.border-lightsteelblue-800 { border-color: #58626f; }
.outline-lightsteelblue-800 { outline-color: #58626f; }

.bg-lightsteelblue-900 { background-color: #3a414a; }
.text-lightsteelblue-900 { color: #3a414a; }
.border-lightsteelblue-900 { border-color: #3a414a; }
.outline-lightsteelblue-900 { outline-color: #3a414a; }

.bg-lightsteelblue-950 { background-color: #1d2025; }
.text-lightsteelblue-950 { color: #1d2025; }
.border-lightsteelblue-950 { border-color: #1d2025; }
.outline-lightsteelblue-950 { outline-color: #1d2025; }


