
.bg-lightseagreen-50 { background-color: #d9f2f0; }
.text-lightseagreen-50 { color: #d9f2f0; }
.border-lightseagreen-50 { border-color: #d9f2f0; }
.outline-lightseagreen-50 { outline-color: #d9f2f0; }

.bg-lightseagreen-100 { background-color: #b4e5e2; }
.text-lightseagreen-100 { color: #b4e5e2; }
.border-lightseagreen-100 { border-color: #b4e5e2; }
.outline-lightseagreen-100 { outline-color: #b4e5e2; }

.bg-lightseagreen-200 { background-color: #8fd8d4; }
.text-lightseagreen-200 { color: #8fd8d4; }
.border-lightseagreen-200 { border-color: #8fd8d4; }
.outline-lightseagreen-200 { outline-color: #8fd8d4; }

.bg-lightseagreen-300 { background-color: #6acbc6; }
.text-lightseagreen-300 { color: #6acbc6; }
.border-lightseagreen-300 { border-color: #6acbc6; }
.outline-lightseagreen-300 { outline-color: #6acbc6; }

.bg-lightseagreen-400 { background-color: #45beb8; }
.text-lightseagreen-400 { color: #45beb8; }
.border-lightseagreen-400 { border-color: #45beb8; }
.outline-lightseagreen-400 { outline-color: #45beb8; }

.bg-lightseagreen-500 { background-color: #20b2aa; }
.text-lightseagreen-500 { color: #20b2aa; }
.border-lightseagreen-500 { border-color: #20b2aa; }
.outline-lightseagreen-500 { outline-color: #20b2aa; }

.bg-lightseagreen-600 { background-color: #1a948d; }
.text-lightseagreen-600 { color: #1a948d; }
.border-lightseagreen-600 { border-color: #1a948d; }
.outline-lightseagreen-600 { outline-color: #1a948d; }

.bg-lightseagreen-700 { background-color: #157671; }
.text-lightseagreen-700 { color: #157671; }
.border-lightseagreen-700 { border-color: #157671; }
.outline-lightseagreen-700 { outline-color: #157671; }

.bg-lightseagreen-800 { background-color: #105955; }
.text-lightseagreen-800 { color: #105955; }
.border-lightseagreen-800 { border-color: #105955; }
.outline-lightseagreen-800 { outline-color: #105955; }

.bg-lightseagreen-900 { background-color: #0a3b38; }
.text-lightseagreen-900 { color: #0a3b38; }
.border-lightseagreen-900 { border-color: #0a3b38; }
.outline-lightseagreen-900 { outline-color: #0a3b38; }

.bg-lightseagreen-950 { background-color: #051d1c; }
.text-lightseagreen-950 { color: #051d1c; }
.border-lightseagreen-950 { border-color: #051d1c; }
.outline-lightseagreen-950 { outline-color: #051d1c; }
