
/* github: https://github.com/iaseth/html-color-names */

.bg-lightskyblue-50 { background-color: #ebf6fe; }
.text-lightskyblue-50 { color: #ebf6fe; }
.border-lightskyblue-50 { border-color: #ebf6fe; }
.outline-lightskyblue-50 { outline-color: #ebf6fe; }

.bg-lightskyblue-100 { background-color: #d7eefd; }
.text-lightskyblue-100 { color: #d7eefd; }
.border-lightskyblue-100 { border-color: #d7eefd; }
.outline-lightskyblue-100 { outline-color: #d7eefd; }

.bg-lightskyblue-200 { background-color: #c3e6fc; }
.text-lightskyblue-200 { color: #c3e6fc; }
.border-lightskyblue-200 { border-color: #c3e6fc; }
.outline-lightskyblue-200 { outline-color: #c3e6fc; }

.bg-lightskyblue-300 { background-color: #afdefb; }
.text-lightskyblue-300 { color: #afdefb; }
.border-lightskyblue-300 { border-color: #afdefb; }
.outline-lightskyblue-300 { outline-color: #afdefb; }

.bg-lightskyblue-400 { background-color: #9bd6fa; }
.text-lightskyblue-400 { color: #9bd6fa; }
.border-lightskyblue-400 { border-color: #9bd6fa; }
.outline-lightskyblue-400 { outline-color: #9bd6fa; }

.bg-lightskyblue-500 { background-color: #87cefa; }
.text-lightskyblue-500 { color: #87cefa; }
.border-lightskyblue-500 { border-color: #87cefa; }
.outline-lightskyblue-500 { outline-color: #87cefa; }

.bg-lightskyblue-600 { background-color: #70abd0; }
.text-lightskyblue-600 { color: #70abd0; }
.border-lightskyblue-600 { border-color: #70abd0; }
.outline-lightskyblue-600 { outline-color: #70abd0; }

.bg-lightskyblue-700 { background-color: #5a89a6; }
.text-lightskyblue-700 { color: #5a89a6; }
.border-lightskyblue-700 { border-color: #5a89a6; }
.outline-lightskyblue-700 { outline-color: #5a89a6; }

.bg-lightskyblue-800 { background-color: #43677d; }
.text-lightskyblue-800 { color: #43677d; }
.border-lightskyblue-800 { border-color: #43677d; }
.outline-lightskyblue-800 { outline-color: #43677d; }

.bg-lightskyblue-900 { background-color: #2d4453; }
.text-lightskyblue-900 { color: #2d4453; }
.border-lightskyblue-900 { border-color: #2d4453; }
.outline-lightskyblue-900 { outline-color: #2d4453; }

.bg-lightskyblue-950 { background-color: #162229; }
.text-lightskyblue-950 { color: #162229; }
.border-lightskyblue-950 { border-color: #162229; }
.outline-lightskyblue-950 { outline-color: #162229; }

