



.bg-lightgray-50 { background-color: #f6f6f6; }
.text-lightgray-50 { color: #f6f6f6; }
.border-lightgray-50 { border-color: #f6f6f6; }
.outline-lightgray-50 { outline-color: #f6f6f6; }

.bg-lightgray-100 { background-color: #efefef; }
.text-lightgray-100 { color: #efefef; }
.border-lightgray-100 { border-color: #efefef; }
.outline-lightgray-100 { outline-color: #efefef; }

.bg-lightgray-200 { background-color: #e8e8e8; }
.text-lightgray-200 { color: #e8e8e8; }
.border-lightgray-200 { border-color: #e8e8e8; }
.outline-lightgray-200 { outline-color: #e8e8e8; }

.bg-lightgray-300 { background-color: #e1e1e1; }
.text-lightgray-300 { color: #e1e1e1; }
.border-lightgray-300 { border-color: #e1e1e1; }
.outline-lightgray-300 { outline-color: #e1e1e1; }

.bg-lightgray-400 { background-color: #dadada; }
.text-lightgray-400 { color: #dadada; }
.border-lightgray-400 { border-color: #dadada; }
.outline-lightgray-400 { outline-color: #dadada; }

.bg-lightgray-500 { background-color: #d3d3d3; }
.text-lightgray-500 { color: #d3d3d3; }
.border-lightgray-500 { border-color: #d3d3d3; }
.outline-lightgray-500 { outline-color: #d3d3d3; }

.bg-lightgray-600 { background-color: #afafaf; }
.text-lightgray-600 { color: #afafaf; }
.border-lightgray-600 { border-color: #afafaf; }
.outline-lightgray-600 { outline-color: #afafaf; }

.bg-lightgray-700 { background-color: #8b8b8b; }
.text-lightgray-700 { color: #8b8b8b; }
.border-lightgray-700 { border-color: #8b8b8b; }
.outline-lightgray-700 { outline-color: #8b8b8b; }

.bg-lightgray-800 { background-color: #676767; }
.text-lightgray-800 { color: #676767; }
.border-lightgray-800 { border-color: #676767; }
.outline-lightgray-800 { outline-color: #676767; }

.bg-lightgray-900 { background-color: #434343; }
.text-lightgray-900 { color: #434343; }
.border-lightgray-900 { border-color: #434343; }
.outline-lightgray-900 { outline-color: #434343; }

.bg-lightgray-950 { background-color: #1f1f1f; }
.text-lightgray-950 { color: #1f1f1f; }
.border-lightgray-950 { border-color: #1f1f1f; }
.outline-lightgray-950 { outline-color: #1f1f1f; }


