



.bg-lightgrey-50 { background-color: #f6f6f6; }
.text-lightgrey-50 { color: #f6f6f6; }
.border-lightgrey-50 { border-color: #f6f6f6; }
.outline-lightgrey-50 { outline-color: #f6f6f6; }

.bg-lightgrey-100 { background-color: #efefef; }
.text-lightgrey-100 { color: #efefef; }
.border-lightgrey-100 { border-color: #efefef; }
.outline-lightgrey-100 { outline-color: #efefef; }

.bg-lightgrey-200 { background-color: #e8e8e8; }
.text-lightgrey-200 { color: #e8e8e8; }
.border-lightgrey-200 { border-color: #e8e8e8; }
.outline-lightgrey-200 { outline-color: #e8e8e8; }

.bg-lightgrey-300 { background-color: #e1e1e1; }
.text-lightgrey-300 { color: #e1e1e1; }
.border-lightgrey-300 { border-color: #e1e1e1; }
.outline-lightgrey-300 { outline-color: #e1e1e1; }

.bg-lightgrey-400 { background-color: #dadada; }
.text-lightgrey-400 { color: #dadada; }
.border-lightgrey-400 { border-color: #dadada; }
.outline-lightgrey-400 { outline-color: #dadada; }

.bg-lightgrey-500 { background-color: #d3d3d3; }
.text-lightgrey-500 { color: #d3d3d3; }
.border-lightgrey-500 { border-color: #d3d3d3; }
.outline-lightgrey-500 { outline-color: #d3d3d3; }

.bg-lightgrey-600 { background-color: #afafaf; }
.text-lightgrey-600 { color: #afafaf; }
.border-lightgrey-600 { border-color: #afafaf; }
.outline-lightgrey-600 { outline-color: #afafaf; }

.bg-lightgrey-700 { background-color: #8b8b8b; }
.text-lightgrey-700 { color: #8b8b8b; }
.border-lightgrey-700 { border-color: #8b8b8b; }
.outline-lightgrey-700 { outline-color: #8b8b8b; }

.bg-lightgrey-800 { background-color: #676767; }
.text-lightgrey-800 { color: #676767; }
.border-lightgrey-800 { border-color: #676767; }
.outline-lightgrey-800 { outline-color: #676767; }

.bg-lightgrey-900 { background-color: #434343; }
.text-lightgrey-900 { color: #434343; }
.border-lightgrey-900 { border-color: #434343; }
.outline-lightgrey-900 { outline-color: #434343; }

.bg-lightgrey-950 { background-color: #1f1f1f; }
.text-lightgrey-950 { color: #1f1f1f; }
.border-lightgrey-950 { border-color: #1f1f1f; }
.outline-lightgrey-950 { outline-color: #1f1f1f; }


