
.bg-lightcyan-50 { background-color: #f9ffff; }
.text-lightcyan-50 { color: #f9ffff; }
.border-lightcyan-50 { border-color: #f9ffff; }
.outline-lightcyan-50 { outline-color: #f9ffff; }

.bg-lightcyan-100 { background-color: #f4ffff; }
.text-lightcyan-100 { color: #f4ffff; }
.border-lightcyan-100 { border-color: #f4ffff; }
.outline-lightcyan-100 { outline-color: #f4ffff; }

.bg-lightcyan-200 { background-color: #efffff; }
.text-lightcyan-200 { color: #efffff; }
.border-lightcyan-200 { border-color: #efffff; }
.outline-lightcyan-200 { outline-color: #efffff; }

.bg-lightcyan-300 { background-color: #eaffff; }
.text-lightcyan-300 { color: #eaffff; }
.border-lightcyan-300 { border-color: #eaffff; }
.outline-lightcyan-300 { outline-color: #eaffff; }

.bg-lightcyan-400 { background-color: #e5ffff; }
.text-lightcyan-400 { color: #e5ffff; }
.border-lightcyan-400 { border-color: #e5ffff; }
.outline-lightcyan-400 { outline-color: #e5ffff; }

.bg-lightcyan-500 { background-color: #e0ffff; }
.text-lightcyan-500 { color: #e0ffff; }
.border-lightcyan-500 { border-color: #e0ffff; }
.outline-lightcyan-500 { outline-color: #e0ffff; }

.bg-lightcyan-600 { background-color: #bad4d4; }
.text-lightcyan-600 { color: #bad4d4; }
.border-lightcyan-600 { border-color: #bad4d4; }
.outline-lightcyan-600 { outline-color: #bad4d4; }

.bg-lightcyan-700 { background-color: #95aaaa; }
.text-lightcyan-700 { color: #95aaaa; }
.border-lightcyan-700 { border-color: #95aaaa; }
.outline-lightcyan-700 { outline-color: #95aaaa; }

.bg-lightcyan-800 { background-color: #707f7f; }
.text-lightcyan-800 { color: #707f7f; }
.border-lightcyan-800 { border-color: #707f7f; }
.outline-lightcyan-800 { outline-color: #707f7f; }

.bg-lightcyan-900 { background-color: #4a5555; }
.text-lightcyan-900 { color: #4a5555; }
.border-lightcyan-900 { border-color: #4a5555; }
.outline-lightcyan-900 { outline-color: #4a5555; }

.bg-lightcyan-950 { background-color: #252a2a; }
.text-lightcyan-950 { color: #252a2a; }
.border-lightcyan-950 { border-color: #252a2a; }
.outline-lightcyan-950 { outline-color: #252a2a; }
