
.bg-lightblue-50 { background-color: #f1f8fa; }
.text-lightblue-50 { color: #f1f8fa; }
.border-lightblue-50 { border-color: #f1f8fa; }
.outline-lightblue-50 { outline-color: #f1f8fa; }

.bg-lightblue-100 { background-color: #e3f2f6; }
.text-lightblue-100 { color: #e3f2f6; }
.border-lightblue-100 { border-color: #e3f2f6; }
.outline-lightblue-100 { outline-color: #e3f2f6; }

.bg-lightblue-200 { background-color: #d6ebf2; }
.text-lightblue-200 { color: #d6ebf2; }
.border-lightblue-200 { border-color: #d6ebf2; }
.outline-lightblue-200 { outline-color: #d6ebf2; }

.bg-lightblue-300 { background-color: #c8e5ee; }
.text-lightblue-300 { color: #c8e5ee; }
.border-lightblue-300 { border-color: #c8e5ee; }
.outline-lightblue-300 { outline-color: #c8e5ee; }

.bg-lightblue-400 { background-color: #badeea; }
.text-lightblue-400 { color: #badeea; }
.border-lightblue-400 { border-color: #badeea; }
.outline-lightblue-400 { outline-color: #badeea; }

.bg-lightblue-500 { background-color: #add8e6; }
.text-lightblue-500 { color: #add8e6; }
.border-lightblue-500 { border-color: #add8e6; }
.outline-lightblue-500 { outline-color: #add8e6; }

.bg-lightblue-600 { background-color: #90b4bf; }
.text-lightblue-600 { color: #90b4bf; }
.border-lightblue-600 { border-color: #90b4bf; }
.outline-lightblue-600 { outline-color: #90b4bf; }

.bg-lightblue-700 { background-color: #739099; }
.text-lightblue-700 { color: #739099; }
.border-lightblue-700 { border-color: #739099; }
.outline-lightblue-700 { outline-color: #739099; }

.bg-lightblue-800 { background-color: #566c73; }
.text-lightblue-800 { color: #566c73; }
.border-lightblue-800 { border-color: #566c73; }
.outline-lightblue-800 { outline-color: #566c73; }

.bg-lightblue-900 { background-color: #39484c; }
.text-lightblue-900 { color: #39484c; }
.border-lightblue-900 { border-color: #39484c; }
.outline-lightblue-900 { outline-color: #39484c; }

.bg-lightblue-950 { background-color: #1c2426; }
.text-lightblue-950 { color: #1c2426; }
.border-lightblue-950 { border-color: #1c2426; }
.outline-lightblue-950 { outline-color: #1c2426; }
