



.bg-lightsteelblue-50 { background-color: #f1f1f7; }
.text-lightsteelblue-50 { color: #f1f1f7; }
.border-lightsteelblue-50 { border-color: #f1f1f7; }
.outline-lightsteelblue-50 { outline-color: #f1f1f7; }

.bg-lightsteelblue-100 { background-color: #e4e8f2; }
.text-lightsteelblue-100 { color: #e4e8f2; }
.border-lightsteelblue-100 { border-color: #e4e8f2; }
.outline-lightsteelblue-100 { outline-color: #e4e8f2; }

.bg-lightsteelblue-200 { background-color: #d7dfed; }
.text-lightsteelblue-200 { color: #d7dfed; }
.border-lightsteelblue-200 { border-color: #d7dfed; }
.outline-lightsteelblue-200 { outline-color: #d7dfed; }

.bg-lightsteelblue-300 { background-color: #cad6e8; }
.text-lightsteelblue-300 { color: #cad6e8; }
.border-lightsteelblue-300 { border-color: #cad6e8; }
.outline-lightsteelblue-300 { outline-color: #cad6e8; }

.bg-lightsteelblue-400 { background-color: #bdcde3; }
.text-lightsteelblue-400 { color: #bdcde3; }
.border-lightsteelblue-400 { border-color: #bdcde3; }
.outline-lightsteelblue-400 { outline-color: #bdcde3; }

.bg-lightsteelblue-500 { background-color: #b0c4de; }
.text-lightsteelblue-500 { color: #b0c4de; }
.border-lightsteelblue-500 { border-color: #b0c4de; }
.outline-lightsteelblue-500 { outline-color: #b0c4de; }

.bg-lightsteelblue-600 { background-color: #92a3b9; }
.text-lightsteelblue-600 { color: #92a3b9; }
.border-lightsteelblue-600 { border-color: #92a3b9; }
.outline-lightsteelblue-600 { outline-color: #92a3b9; }

.bg-lightsteelblue-700 { background-color: #748294; }
.text-lightsteelblue-700 { color: #748294; }
.border-lightsteelblue-700 { border-color: #748294; }
.outline-lightsteelblue-700 { outline-color: #748294; }

.bg-lightsteelblue-800 { background-color: #56616f; }
.text-lightsteelblue-800 { color: #56616f; }
.border-lightsteelblue-800 { border-color: #56616f; }
.outline-lightsteelblue-800 { outline-color: #56616f; }

.bg-lightsteelblue-900 { background-color: #38404a; }
.text-lightsteelblue-900 { color: #38404a; }
.border-lightsteelblue-900 { border-color: #38404a; }
.outline-lightsteelblue-900 { outline-color: #38404a; }

.bg-lightsteelblue-950 { background-color: #1a1f25; }
.text-lightsteelblue-950 { color: #1a1f25; }
.border-lightsteelblue-950 { border-color: #1a1f25; }
.outline-lightsteelblue-950 { outline-color: #1a1f25; }


