



.bg-lightgoldenrodyellow-50 { background-color: #fafaf5; }
.text-lightgoldenrodyellow-50 { color: #fafaf5; }
.border-lightgoldenrodyellow-50 { border-color: #fafaf5; }
.outline-lightgoldenrodyellow-50 { outline-color: #fafaf5; }

.bg-lightgoldenrodyellow-100 { background-color: #fafaee; }
.text-lightgoldenrodyellow-100 { color: #fafaee; }
.border-lightgoldenrodyellow-100 { border-color: #fafaee; }
.outline-lightgoldenrodyellow-100 { outline-color: #fafaee; }

.bg-lightgoldenrodyellow-200 { background-color: #fafae7; }
.text-lightgoldenrodyellow-200 { color: #fafae7; }
.border-lightgoldenrodyellow-200 { border-color: #fafae7; }
.outline-lightgoldenrodyellow-200 { outline-color: #fafae7; }

.bg-lightgoldenrodyellow-300 { background-color: #fafae0; }
.text-lightgoldenrodyellow-300 { color: #fafae0; }
.border-lightgoldenrodyellow-300 { border-color: #fafae0; }
.outline-lightgoldenrodyellow-300 { outline-color: #fafae0; }

.bg-lightgoldenrodyellow-400 { background-color: #fafad9; }
.text-lightgoldenrodyellow-400 { color: #fafad9; }
.border-lightgoldenrodyellow-400 { border-color: #fafad9; }
.outline-lightgoldenrodyellow-400 { outline-color: #fafad9; }

.bg-lightgoldenrodyellow-500 { background-color: #fafad2; }
.text-lightgoldenrodyellow-500 { color: #fafad2; }
.border-lightgoldenrodyellow-500 { border-color: #fafad2; }
.outline-lightgoldenrodyellow-500 { outline-color: #fafad2; }

.bg-lightgoldenrodyellow-600 { background-color: #d0d0af; }
.text-lightgoldenrodyellow-600 { color: #d0d0af; }
.border-lightgoldenrodyellow-600 { border-color: #d0d0af; }
.outline-lightgoldenrodyellow-600 { outline-color: #d0d0af; }

.bg-lightgoldenrodyellow-700 { background-color: #a6a68c; }
.text-lightgoldenrodyellow-700 { color: #a6a68c; }
.border-lightgoldenrodyellow-700 { border-color: #a6a68c; }
.outline-lightgoldenrodyellow-700 { outline-color: #a6a68c; }

.bg-lightgoldenrodyellow-800 { background-color: #7c7c69; }
.text-lightgoldenrodyellow-800 { color: #7c7c69; }
.border-lightgoldenrodyellow-800 { border-color: #7c7c69; }
.outline-lightgoldenrodyellow-800 { outline-color: #7c7c69; }

.bg-lightgoldenrodyellow-900 { background-color: #525246; }
.text-lightgoldenrodyellow-900 { color: #525246; }
.border-lightgoldenrodyellow-900 { border-color: #525246; }
.outline-lightgoldenrodyellow-900 { outline-color: #525246; }

.bg-lightgoldenrodyellow-950 { background-color: #282823; }
.text-lightgoldenrodyellow-950 { color: #282823; }
.border-lightgoldenrodyellow-950 { border-color: #282823; }
.outline-lightgoldenrodyellow-950 { outline-color: #282823; }


