
.bg-lightgreen-50 { background-color: #ecfcec; }
.text-lightgreen-50 { color: #ecfcec; }
.border-lightgreen-50 { border-color: #ecfcec; }
.outline-lightgreen-50 { outline-color: #ecfcec; }

.bg-lightgreen-100 { background-color: #daf9da; }
.text-lightgreen-100 { color: #daf9da; }
.border-lightgreen-100 { border-color: #daf9da; }
.outline-lightgreen-100 { outline-color: #daf9da; }

.bg-lightgreen-200 { background-color: #c7f6c7; }
.text-lightgreen-200 { color: #c7f6c7; }
.border-lightgreen-200 { border-color: #c7f6c7; }
.outline-lightgreen-200 { outline-color: #c7f6c7; }

.bg-lightgreen-300 { background-color: #b5f3b5; }
.text-lightgreen-300 { color: #b5f3b5; }
.border-lightgreen-300 { border-color: #b5f3b5; }
.outline-lightgreen-300 { outline-color: #b5f3b5; }

.bg-lightgreen-400 { background-color: #a2f0a2; }
.text-lightgreen-400 { color: #a2f0a2; }
.border-lightgreen-400 { border-color: #a2f0a2; }
.outline-lightgreen-400 { outline-color: #a2f0a2; }

.bg-lightgreen-500 { background-color: #90ee90; }
.text-lightgreen-500 { color: #90ee90; }
.border-lightgreen-500 { border-color: #90ee90; }
.outline-lightgreen-500 { outline-color: #90ee90; }

.bg-lightgreen-600 { background-color: #78c678; }
.text-lightgreen-600 { color: #78c678; }
.border-lightgreen-600 { border-color: #78c678; }
.outline-lightgreen-600 { outline-color: #78c678; }

.bg-lightgreen-700 { background-color: #609e60; }
.text-lightgreen-700 { color: #609e60; }
.border-lightgreen-700 { border-color: #609e60; }
.outline-lightgreen-700 { outline-color: #609e60; }

.bg-lightgreen-800 { background-color: #487748; }
.text-lightgreen-800 { color: #487748; }
.border-lightgreen-800 { border-color: #487748; }
.outline-lightgreen-800 { outline-color: #487748; }

.bg-lightgreen-900 { background-color: #304f30; }
.text-lightgreen-900 { color: #304f30; }
.border-lightgreen-900 { border-color: #304f30; }
.outline-lightgreen-900 { outline-color: #304f30; }

.bg-lightgreen-950 { background-color: #182718; }
.text-lightgreen-950 { color: #182718; }
.border-lightgreen-950 { border-color: #182718; }
.outline-lightgreen-950 { outline-color: #182718; }
