



.bg-lightcoral-50 { background-color: #fae9e9; }
.text-lightcoral-50 { color: #fae9e9; }
.border-lightcoral-50 { border-color: #fae9e9; }
.outline-lightcoral-50 { outline-color: #fae9e9; }

.bg-lightcoral-100 { background-color: #f8d4d4; }
.text-lightcoral-100 { color: #f8d4d4; }
.border-lightcoral-100 { border-color: #f8d4d4; }
.outline-lightcoral-100 { outline-color: #f8d4d4; }

.bg-lightcoral-200 { background-color: #f6bfbf; }
.text-lightcoral-200 { color: #f6bfbf; }
.border-lightcoral-200 { border-color: #f6bfbf; }
.outline-lightcoral-200 { outline-color: #f6bfbf; }

.bg-lightcoral-300 { background-color: #f4aaaa; }
.text-lightcoral-300 { color: #f4aaaa; }
.border-lightcoral-300 { border-color: #f4aaaa; }
.outline-lightcoral-300 { outline-color: #f4aaaa; }

.bg-lightcoral-400 { background-color: #f29595; }
.text-lightcoral-400 { color: #f29595; }
.border-lightcoral-400 { border-color: #f29595; }
.outline-lightcoral-400 { outline-color: #f29595; }

.bg-lightcoral-500 { background-color: #f08080; }
.text-lightcoral-500 { color: #f08080; }
.border-lightcoral-500 { border-color: #f08080; }
.outline-lightcoral-500 { outline-color: #f08080; }

.bg-lightcoral-600 { background-color: #c86a6a; }
.text-lightcoral-600 { color: #c86a6a; }
.border-lightcoral-600 { border-color: #c86a6a; }
.outline-lightcoral-600 { outline-color: #c86a6a; }

.bg-lightcoral-700 { background-color: #a05454; }
.text-lightcoral-700 { color: #a05454; }
.border-lightcoral-700 { border-color: #a05454; }
.outline-lightcoral-700 { outline-color: #a05454; }

.bg-lightcoral-800 { background-color: #783e3e; }
.text-lightcoral-800 { color: #783e3e; }
.border-lightcoral-800 { border-color: #783e3e; }
.outline-lightcoral-800 { outline-color: #783e3e; }

.bg-lightcoral-900 { background-color: #502828; }
.text-lightcoral-900 { color: #502828; }
.border-lightcoral-900 { border-color: #502828; }
.outline-lightcoral-900 { outline-color: #502828; }

.bg-lightcoral-950 { background-color: #281212; }
.text-lightcoral-950 { color: #281212; }
.border-lightcoral-950 { border-color: #281212; }
.outline-lightcoral-950 { outline-color: #281212; }


