
.bg-lightcoral-50 { background-color: #fce9e9; }
.text-lightcoral-50 { color: #fce9e9; }
.border-lightcoral-50 { border-color: #fce9e9; }
.outline-lightcoral-50 { outline-color: #fce9e9; }

.bg-lightcoral-100 { background-color: #fad4d4; }
.text-lightcoral-100 { color: #fad4d4; }
.border-lightcoral-100 { border-color: #fad4d4; }
.outline-lightcoral-100 { outline-color: #fad4d4; }

.bg-lightcoral-200 { background-color: #f7bfbf; }
.text-lightcoral-200 { color: #f7bfbf; }
.border-lightcoral-200 { border-color: #f7bfbf; }
.outline-lightcoral-200 { outline-color: #f7bfbf; }

.bg-lightcoral-300 { background-color: #f5aaaa; }
.text-lightcoral-300 { color: #f5aaaa; }
.border-lightcoral-300 { border-color: #f5aaaa; }
.outline-lightcoral-300 { outline-color: #f5aaaa; }

.bg-lightcoral-400 { background-color: #f29595; }
.text-lightcoral-400 { color: #f29595; }
.border-lightcoral-400 { border-color: #f29595; }
.outline-lightcoral-400 { outline-color: #f29595; }

.bg-lightcoral-500 { background-color: #f08080; }
.text-lightcoral-500 { color: #f08080; }
.border-lightcoral-500 { border-color: #f08080; }
.outline-lightcoral-500 { outline-color: #f08080; }

.bg-lightcoral-600 { background-color: #c86a6a; }
.text-lightcoral-600 { color: #c86a6a; }
.border-lightcoral-600 { border-color: #c86a6a; }
.outline-lightcoral-600 { outline-color: #c86a6a; }

.bg-lightcoral-700 { background-color: #a05555; }
.text-lightcoral-700 { color: #a05555; }
.border-lightcoral-700 { border-color: #a05555; }
.outline-lightcoral-700 { outline-color: #a05555; }

.bg-lightcoral-800 { background-color: #784040; }
.text-lightcoral-800 { color: #784040; }
.border-lightcoral-800 { border-color: #784040; }
.outline-lightcoral-800 { outline-color: #784040; }

.bg-lightcoral-900 { background-color: #502a2a; }
.text-lightcoral-900 { color: #502a2a; }
.border-lightcoral-900 { border-color: #502a2a; }
.outline-lightcoral-900 { outline-color: #502a2a; }

.bg-lightcoral-950 { background-color: #281515; }
.text-lightcoral-950 { color: #281515; }
.border-lightcoral-950 { border-color: #281515; }
.outline-lightcoral-950 { outline-color: #281515; }
