
.bg-lightpink-50 { background-color: #fff2f4; }
.text-lightpink-50 { color: #fff2f4; }
.border-lightpink-50 { border-color: #fff2f4; }
.outline-lightpink-50 { outline-color: #fff2f4; }

.bg-lightpink-100 { background-color: #ffe6ea; }
.text-lightpink-100 { color: #ffe6ea; }
.border-lightpink-100 { border-color: #ffe6ea; }
.outline-lightpink-100 { outline-color: #ffe6ea; }

.bg-lightpink-200 { background-color: #ffdae0; }
.text-lightpink-200 { color: #ffdae0; }
.border-lightpink-200 { border-color: #ffdae0; }
.outline-lightpink-200 { outline-color: #ffdae0; }

.bg-lightpink-300 { background-color: #ffced5; }
.text-lightpink-300 { color: #ffced5; }
.border-lightpink-300 { border-color: #ffced5; }
.outline-lightpink-300 { outline-color: #ffced5; }

.bg-lightpink-400 { background-color: #ffc2cb; }
.text-lightpink-400 { color: #ffc2cb; }
.border-lightpink-400 { border-color: #ffc2cb; }
.outline-lightpink-400 { outline-color: #ffc2cb; }

.bg-lightpink-500 { background-color: #ffb6c1; }
.text-lightpink-500 { color: #ffb6c1; }
.border-lightpink-500 { border-color: #ffb6c1; }
.outline-lightpink-500 { outline-color: #ffb6c1; }

.bg-lightpink-600 { background-color: #d497a0; }
.text-lightpink-600 { color: #d497a0; }
.border-lightpink-600 { border-color: #d497a0; }
.outline-lightpink-600 { outline-color: #d497a0; }

.bg-lightpink-700 { background-color: #aa7980; }
.text-lightpink-700 { color: #aa7980; }
.border-lightpink-700 { border-color: #aa7980; }
.outline-lightpink-700 { outline-color: #aa7980; }

.bg-lightpink-800 { background-color: #7f5b60; }
.text-lightpink-800 { color: #7f5b60; }
.border-lightpink-800 { border-color: #7f5b60; }
.outline-lightpink-800 { outline-color: #7f5b60; }

.bg-lightpink-900 { background-color: #553c40; }
.text-lightpink-900 { color: #553c40; }
.border-lightpink-900 { border-color: #553c40; }
.outline-lightpink-900 { outline-color: #553c40; }

.bg-lightpink-950 { background-color: #2a1e20; }
.text-lightpink-950 { color: #2a1e20; }
.border-lightpink-950 { border-color: #2a1e20; }
.outline-lightpink-950 { outline-color: #2a1e20; }
