
/* github: https://github.com/iaseth/html-color-names */

.bg-lightslategrey-50 { background-color: #e8ebee; }
.text-lightslategrey-50 { color: #e8ebee; }
.border-lightslategrey-50 { border-color: #e8ebee; }
.outline-lightslategrey-50 { outline-color: #e8ebee; }

.bg-lightslategrey-100 { background-color: #d1d7dd; }
.text-lightslategrey-100 { color: #d1d7dd; }
.border-lightslategrey-100 { border-color: #d1d7dd; }
.outline-lightslategrey-100 { outline-color: #d1d7dd; }

.bg-lightslategrey-200 { background-color: #bbc3cc; }
.text-lightslategrey-200 { color: #bbc3cc; }
.border-lightslategrey-200 { border-color: #bbc3cc; }
.outline-lightslategrey-200 { outline-color: #bbc3cc; }

.bg-lightslategrey-300 { background-color: #a4afbb; }
.text-lightslategrey-300 { color: #a4afbb; }
.border-lightslategrey-300 { border-color: #a4afbb; }
.outline-lightslategrey-300 { outline-color: #a4afbb; }

.bg-lightslategrey-400 { background-color: #8d9baa; }
.text-lightslategrey-400 { color: #8d9baa; }
.border-lightslategrey-400 { border-color: #8d9baa; }
.outline-lightslategrey-400 { outline-color: #8d9baa; }

.bg-lightslategrey-500 { background-color: #778899; }
.text-lightslategrey-500 { color: #778899; }
.border-lightslategrey-500 { border-color: #778899; }
.outline-lightslategrey-500 { outline-color: #778899; }

.bg-lightslategrey-600 { background-color: #63717f; }
.text-lightslategrey-600 { color: #63717f; }
.border-lightslategrey-600 { border-color: #63717f; }
.outline-lightslategrey-600 { outline-color: #63717f; }

.bg-lightslategrey-700 { background-color: #4f5a66; }
.text-lightslategrey-700 { color: #4f5a66; }
.border-lightslategrey-700 { border-color: #4f5a66; }
.outline-lightslategrey-700 { outline-color: #4f5a66; }

.bg-lightslategrey-800 { background-color: #3b444c; }
.text-lightslategrey-800 { color: #3b444c; }
.border-lightslategrey-800 { border-color: #3b444c; }
.outline-lightslategrey-800 { outline-color: #3b444c; }

.bg-lightslategrey-900 { background-color: #272d33; }
.text-lightslategrey-900 { color: #272d33; }
.border-lightslategrey-900 { border-color: #272d33; }
.outline-lightslategrey-900 { outline-color: #272d33; }

.bg-lightslategrey-950 { background-color: #131619; }
.text-lightslategrey-950 { color: #131619; }
.border-lightslategrey-950 { border-color: #131619; }
.outline-lightslategrey-950 { outline-color: #131619; }

