



.bg-lightyellow-50 { background-color: #fffff9; }
.text-lightyellow-50 { color: #fffff9; }
.border-lightyellow-50 { border-color: #fffff9; }
.outline-lightyellow-50 { outline-color: #fffff9; }

.bg-lightyellow-100 { background-color: #fffff4; }
.text-lightyellow-100 { color: #fffff4; }
.border-lightyellow-100 { border-color: #fffff4; }
.outline-lightyellow-100 { outline-color: #fffff4; }

.bg-lightyellow-200 { background-color: #ffffef; }
.text-lightyellow-200 { color: #ffffef; }
.border-lightyellow-200 { border-color: #ffffef; }
.outline-lightyellow-200 { outline-color: #ffffef; }

.bg-lightyellow-300 { background-color: #ffffea; }
.text-lightyellow-300 { color: #ffffea; }
.border-lightyellow-300 { border-color: #ffffea; }
.outline-lightyellow-300 { outline-color: #ffffea; }

.bg-lightyellow-400 { background-color: #ffffe5; }
.text-lightyellow-400 { color: #ffffe5; }
.border-lightyellow-400 { border-color: #ffffe5; }
.outline-lightyellow-400 { outline-color: #ffffe5; }

.bg-lightyellow-500 { background-color: #ffffe0; }
.text-lightyellow-500 { color: #ffffe0; }
.border-lightyellow-500 { border-color: #ffffe0; }
.outline-lightyellow-500 { outline-color: #ffffe0; }

.bg-lightyellow-600 { background-color: #d4d4ba; }
.text-lightyellow-600 { color: #d4d4ba; }
.border-lightyellow-600 { border-color: #d4d4ba; }
.outline-lightyellow-600 { outline-color: #d4d4ba; }

.bg-lightyellow-700 { background-color: #aaaa95; }
.text-lightyellow-700 { color: #aaaa95; }
.border-lightyellow-700 { border-color: #aaaa95; }
.outline-lightyellow-700 { outline-color: #aaaa95; }

.bg-lightyellow-800 { background-color: #7f7f70; }
.text-lightyellow-800 { color: #7f7f70; }
.border-lightyellow-800 { border-color: #7f7f70; }
.outline-lightyellow-800 { outline-color: #7f7f70; }

.bg-lightyellow-900 { background-color: #55554a; }
.text-lightyellow-900 { color: #55554a; }
.border-lightyellow-900 { border-color: #55554a; }
.outline-lightyellow-900 { outline-color: #55554a; }

.bg-lightyellow-950 { background-color: #2a2a25; }
.text-lightyellow-950 { color: #2a2a25; }
.border-lightyellow-950 { border-color: #2a2a25; }
.outline-lightyellow-950 { outline-color: #2a2a25; }


