



.bg-lightskyblue-50 { background-color: #ebf6fa; }
.text-lightskyblue-50 { color: #ebf6fa; }
.border-lightskyblue-50 { border-color: #ebf6fa; }
.outline-lightskyblue-50 { outline-color: #ebf6fa; }

.bg-lightskyblue-100 { background-color: #d7eefa; }
.text-lightskyblue-100 { color: #d7eefa; }
.border-lightskyblue-100 { border-color: #d7eefa; }
.outline-lightskyblue-100 { outline-color: #d7eefa; }

.bg-lightskyblue-200 { background-color: #c3e6fa; }
.text-lightskyblue-200 { color: #c3e6fa; }
.border-lightskyblue-200 { border-color: #c3e6fa; }
.outline-lightskyblue-200 { outline-color: #c3e6fa; }

.bg-lightskyblue-300 { background-color: #afdefa; }
.text-lightskyblue-300 { color: #afdefa; }
.border-lightskyblue-300 { border-color: #afdefa; }
.outline-lightskyblue-300 { outline-color: #afdefa; }

.bg-lightskyblue-400 { background-color: #9bd6fa; }
.text-lightskyblue-400 { color: #9bd6fa; }
.border-lightskyblue-400 { border-color: #9bd6fa; }
.outline-lightskyblue-400 { outline-color: #9bd6fa; }

.bg-lightskyblue-500 { background-color: #87cefa; }
.text-lightskyblue-500 { color: #87cefa; }
.border-lightskyblue-500 { border-color: #87cefa; }
.outline-lightskyblue-500 { outline-color: #87cefa; }

.bg-lightskyblue-600 { background-color: #70abd0; }
.text-lightskyblue-600 { color: #70abd0; }
.border-lightskyblue-600 { border-color: #70abd0; }
.outline-lightskyblue-600 { outline-color: #70abd0; }

.bg-lightskyblue-700 { background-color: #5988a6; }
.text-lightskyblue-700 { color: #5988a6; }
.border-lightskyblue-700 { border-color: #5988a6; }
.outline-lightskyblue-700 { outline-color: #5988a6; }

.bg-lightskyblue-800 { background-color: #42657c; }
.text-lightskyblue-800 { color: #42657c; }
.border-lightskyblue-800 { border-color: #42657c; }
.outline-lightskyblue-800 { outline-color: #42657c; }

.bg-lightskyblue-900 { background-color: #2b4252; }
.text-lightskyblue-900 { color: #2b4252; }
.border-lightskyblue-900 { border-color: #2b4252; }
.outline-lightskyblue-900 { outline-color: #2b4252; }

.bg-lightskyblue-950 { background-color: #141f28; }
.text-lightskyblue-950 { color: #141f28; }
.border-lightskyblue-950 { border-color: #141f28; }
.outline-lightskyblue-950 { outline-color: #141f28; }


