



.bg-lightslategray-50 { background-color: #e5e7ee; }
.text-lightslategray-50 { color: #e5e7ee; }
.border-lightslategray-50 { border-color: #e5e7ee; }
.outline-lightslategray-50 { outline-color: #e5e7ee; }

.bg-lightslategray-100 { background-color: #cfd4dd; }
.text-lightslategray-100 { color: #cfd4dd; }
.border-lightslategray-100 { border-color: #cfd4dd; }
.outline-lightslategray-100 { outline-color: #cfd4dd; }

.bg-lightslategray-200 { background-color: #b9c1cc; }
.text-lightslategray-200 { color: #b9c1cc; }
.border-lightslategray-200 { border-color: #b9c1cc; }
.outline-lightslategray-200 { outline-color: #b9c1cc; }

.bg-lightslategray-300 { background-color: #a3aebb; }
.text-lightslategray-300 { color: #a3aebb; }
.border-lightslategray-300 { border-color: #a3aebb; }
.outline-lightslategray-300 { outline-color: #a3aebb; }

.bg-lightslategray-400 { background-color: #8d9baa; }
.text-lightslategray-400 { color: #8d9baa; }
.border-lightslategray-400 { border-color: #8d9baa; }
.outline-lightslategray-400 { outline-color: #8d9baa; }

.bg-lightslategray-500 { background-color: #778899; }
.text-lightslategray-500 { color: #778899; }
.border-lightslategray-500 { border-color: #778899; }
.outline-lightslategray-500 { outline-color: #778899; }

.bg-lightslategray-600 { background-color: #63717f; }
.text-lightslategray-600 { color: #63717f; }
.border-lightslategray-600 { border-color: #63717f; }
.outline-lightslategray-600 { outline-color: #63717f; }

.bg-lightslategray-700 { background-color: #4f5a65; }
.text-lightslategray-700 { color: #4f5a65; }
.border-lightslategray-700 { border-color: #4f5a65; }
.outline-lightslategray-700 { outline-color: #4f5a65; }

.bg-lightslategray-800 { background-color: #3b434b; }
.text-lightslategray-800 { color: #3b434b; }
.border-lightslategray-800 { border-color: #3b434b; }
.outline-lightslategray-800 { outline-color: #3b434b; }

.bg-lightslategray-900 { background-color: #272c31; }
.text-lightslategray-900 { color: #272c31; }
.border-lightslategray-900 { border-color: #272c31; }
.outline-lightslategray-900 { outline-color: #272c31; }

.bg-lightslategray-950 { background-color: #131517; }
.text-lightslategray-950 { color: #131517; }
.border-lightslategray-950 { border-color: #131517; }
.outline-lightslategray-950 { outline-color: #131517; }


