



.bg-lightgreen-50 { background-color: #eaf8ea; }
.text-lightgreen-50 { color: #eaf8ea; }
.border-lightgreen-50 { border-color: #eaf8ea; }
.outline-lightgreen-50 { outline-color: #eaf8ea; }

.bg-lightgreen-100 { background-color: #d8f6d8; }
.text-lightgreen-100 { color: #d8f6d8; }
.border-lightgreen-100 { border-color: #d8f6d8; }
.outline-lightgreen-100 { outline-color: #d8f6d8; }

.bg-lightgreen-200 { background-color: #c6f4c6; }
.text-lightgreen-200 { color: #c6f4c6; }
.border-lightgreen-200 { border-color: #c6f4c6; }
.outline-lightgreen-200 { outline-color: #c6f4c6; }

.bg-lightgreen-300 { background-color: #b4f2b4; }
.text-lightgreen-300 { color: #b4f2b4; }
.border-lightgreen-300 { border-color: #b4f2b4; }
.outline-lightgreen-300 { outline-color: #b4f2b4; }

.bg-lightgreen-400 { background-color: #a2f0a2; }
.text-lightgreen-400 { color: #a2f0a2; }
.border-lightgreen-400 { border-color: #a2f0a2; }
.outline-lightgreen-400 { outline-color: #a2f0a2; }

.bg-lightgreen-500 { background-color: #90ee90; }
.text-lightgreen-500 { color: #90ee90; }
.border-lightgreen-500 { border-color: #90ee90; }
.outline-lightgreen-500 { outline-color: #90ee90; }

.bg-lightgreen-600 { background-color: #78c678; }
.text-lightgreen-600 { color: #78c678; }
.border-lightgreen-600 { border-color: #78c678; }
.outline-lightgreen-600 { outline-color: #78c678; }

.bg-lightgreen-700 { background-color: #609e60; }
.text-lightgreen-700 { color: #609e60; }
.border-lightgreen-700 { border-color: #609e60; }
.outline-lightgreen-700 { outline-color: #609e60; }

.bg-lightgreen-800 { background-color: #487648; }
.text-lightgreen-800 { color: #487648; }
.border-lightgreen-800 { border-color: #487648; }
.outline-lightgreen-800 { outline-color: #487648; }

.bg-lightgreen-900 { background-color: #304e30; }
.text-lightgreen-900 { color: #304e30; }
.border-lightgreen-900 { border-color: #304e30; }
.outline-lightgreen-900 { outline-color: #304e30; }

.bg-lightgreen-950 { background-color: #182618; }
.text-lightgreen-950 { color: #182618; }
.border-lightgreen-950 { border-color: #182618; }
.outline-lightgreen-950 { outline-color: #182618; }


