
.bg-limegreen-50 { background-color: #dcf6dc; }
.text-limegreen-50 { color: #dcf6dc; }
.border-limegreen-50 { border-color: #dcf6dc; }
.outline-limegreen-50 { outline-color: #dcf6dc; }

.bg-limegreen-100 { background-color: #baeeba; }
.text-limegreen-100 { color: #baeeba; }
.border-limegreen-100 { border-color: #baeeba; }
.outline-limegreen-100 { outline-color: #baeeba; }

.bg-limegreen-200 { background-color: #98e698; }
.text-limegreen-200 { color: #98e698; }
.border-limegreen-200 { border-color: #98e698; }
.outline-limegreen-200 { outline-color: #98e698; }

.bg-limegreen-300 { background-color: #76dd76; }
.text-limegreen-300 { color: #76dd76; }
.border-limegreen-300 { border-color: #76dd76; }
.outline-limegreen-300 { outline-color: #76dd76; }

.bg-limegreen-400 { background-color: #54d554; }
.text-limegreen-400 { color: #54d554; }
.border-limegreen-400 { border-color: #54d554; }
.outline-limegreen-400 { outline-color: #54d554; }

.bg-limegreen-500 { background-color: #32cd32; }
.text-limegreen-500 { color: #32cd32; }
.border-limegreen-500 { border-color: #32cd32; }
.outline-limegreen-500 { outline-color: #32cd32; }

.bg-limegreen-600 { background-color: #29aa29; }
.text-limegreen-600 { color: #29aa29; }
.border-limegreen-600 { border-color: #29aa29; }
.outline-limegreen-600 { outline-color: #29aa29; }

.bg-limegreen-700 { background-color: #218821; }
.text-limegreen-700 { color: #218821; }
.border-limegreen-700 { border-color: #218821; }
.outline-limegreen-700 { outline-color: #218821; }

.bg-limegreen-800 { background-color: #196619; }
.text-limegreen-800 { color: #196619; }
.border-limegreen-800 { border-color: #196619; }
.outline-limegreen-800 { outline-color: #196619; }

.bg-limegreen-900 { background-color: #104410; }
.text-limegreen-900 { color: #104410; }
.border-limegreen-900 { border-color: #104410; }
.outline-limegreen-900 { outline-color: #104410; }

.bg-limegreen-950 { background-color: #082208; }
.text-limegreen-950 { color: #082208; }
.border-limegreen-950 { border-color: #082208; }
.outline-limegreen-950 { outline-color: #082208; }
