



.bg-lime-50 { background-color: #d2ffd2; }
.text-lime-50 { color: #d2ffd2; }
.border-lime-50 { border-color: #d2ffd2; }
.outline-lime-50 { outline-color: #d2ffd2; }

.bg-lime-100 { background-color: #a8ffa8; }
.text-lime-100 { color: #a8ffa8; }
.border-lime-100 { border-color: #a8ffa8; }
.outline-lime-100 { outline-color: #a8ffa8; }

.bg-lime-200 { background-color: #7eff7e; }
.text-lime-200 { color: #7eff7e; }
.border-lime-200 { border-color: #7eff7e; }
.outline-lime-200 { outline-color: #7eff7e; }

.bg-lime-300 { background-color: #54ff54; }
.text-lime-300 { color: #54ff54; }
.border-lime-300 { border-color: #54ff54; }
.outline-lime-300 { outline-color: #54ff54; }

.bg-lime-400 { background-color: #2aff2a; }
.text-lime-400 { color: #2aff2a; }
.border-lime-400 { border-color: #2aff2a; }
.outline-lime-400 { outline-color: #2aff2a; }

.bg-lime-500 { background-color: #00ff00; }
.text-lime-500 { color: #00ff00; }
.border-lime-500 { border-color: #00ff00; }
.outline-lime-500 { outline-color: #00ff00; }

.bg-lime-600 { background-color: #00d400; }
.text-lime-600 { color: #00d400; }
.border-lime-600 { border-color: #00d400; }
.outline-lime-600 { outline-color: #00d400; }

.bg-lime-700 { background-color: #00a900; }
.text-lime-700 { color: #00a900; }
.border-lime-700 { border-color: #00a900; }
.outline-lime-700 { outline-color: #00a900; }

.bg-lime-800 { background-color: #007e00; }
.text-lime-800 { color: #007e00; }
.border-lime-800 { border-color: #007e00; }
.outline-lime-800 { outline-color: #007e00; }

.bg-lime-900 { background-color: #005300; }
.text-lime-900 { color: #005300; }
.border-lime-900 { border-color: #005300; }
.outline-lime-900 { outline-color: #005300; }

.bg-lime-950 { background-color: #002800; }
.text-lime-950 { color: #002800; }
.border-lime-950 { border-color: #002800; }
.outline-lime-950 { outline-color: #002800; }


