



.bg-limegreen-50 { background-color: #dcf5dc; }
.text-limegreen-50 { color: #dcf5dc; }
.border-limegreen-50 { border-color: #dcf5dc; }
.outline-limegreen-50 { outline-color: #dcf5dc; }

.bg-limegreen-100 { background-color: #baedba; }
.text-limegreen-100 { color: #baedba; }
.border-limegreen-100 { border-color: #baedba; }
.outline-limegreen-100 { outline-color: #baedba; }

.bg-limegreen-200 { background-color: #98e598; }
.text-limegreen-200 { color: #98e598; }
.border-limegreen-200 { border-color: #98e598; }
.outline-limegreen-200 { outline-color: #98e598; }

.bg-limegreen-300 { background-color: #76dd76; }
.text-limegreen-300 { color: #76dd76; }
.border-limegreen-300 { border-color: #76dd76; }
.outline-limegreen-300 { outline-color: #76dd76; }

.bg-limegreen-400 { background-color: #54d554; }
.text-limegreen-400 { color: #54d554; }
.border-limegreen-400 { border-color: #54d554; }
.outline-limegreen-400 { outline-color: #54d554; }

.bg-limegreen-500 { background-color: #32cd32; }
.text-limegreen-500 { color: #32cd32; }
.border-limegreen-500 { border-color: #32cd32; }
.outline-limegreen-500 { outline-color: #32cd32; }

.bg-limegreen-600 { background-color: #29aa29; }
.text-limegreen-600 { color: #29aa29; }
.border-limegreen-600 { border-color: #29aa29; }
.outline-limegreen-600 { outline-color: #29aa29; }

.bg-limegreen-700 { background-color: #208720; }
.text-limegreen-700 { color: #208720; }
.border-limegreen-700 { border-color: #208720; }
.outline-limegreen-700 { outline-color: #208720; }

.bg-limegreen-800 { background-color: #176417; }
.text-limegreen-800 { color: #176417; }
.border-limegreen-800 { border-color: #176417; }
.outline-limegreen-800 { outline-color: #176417; }

.bg-limegreen-900 { background-color: #0e410e; }
.text-limegreen-900 { color: #0e410e; }
.border-limegreen-900 { border-color: #0e410e; }
.outline-limegreen-900 { outline-color: #0e410e; }

.bg-limegreen-950 { background-color: #051e05; }
.text-limegreen-950 { color: #051e05; }
.border-limegreen-950 { border-color: #051e05; }
.outline-limegreen-950 { outline-color: #051e05; }


