
/* github: https://github.com/iaseth/html-color-names */

.bg-lime-50 { background-color: #d4ffd4; }
.text-lime-50 { color: #d4ffd4; }
.border-lime-50 { border-color: #d4ffd4; }
.outline-lime-50 { outline-color: #d4ffd4; }

.bg-lime-100 { background-color: #aaffaa; }
.text-lime-100 { color: #aaffaa; }
.border-lime-100 { border-color: #aaffaa; }
.outline-lime-100 { outline-color: #aaffaa; }

.bg-lime-200 { background-color: #7fff7f; }
.text-lime-200 { color: #7fff7f; }
.border-lime-200 { border-color: #7fff7f; }
.outline-lime-200 { outline-color: #7fff7f; }

.bg-lime-300 { background-color: #55ff55; }
.text-lime-300 { color: #55ff55; }
.border-lime-300 { border-color: #55ff55; }
.outline-lime-300 { outline-color: #55ff55; }

.bg-lime-400 { background-color: #2aff2a; }
.text-lime-400 { color: #2aff2a; }
.border-lime-400 { border-color: #2aff2a; }
.outline-lime-400 { outline-color: #2aff2a; }

.bg-lime-500 { background-color: #00ff00; }
.text-lime-500 { color: #00ff00; }
.border-lime-500 { border-color: #00ff00; }
.outline-lime-500 { outline-color: #00ff00; }

.bg-lime-600 { background-color: #00d400; }
.text-lime-600 { color: #00d400; }
.border-lime-600 { border-color: #00d400; }
.outline-lime-600 { outline-color: #00d400; }

.bg-lime-700 { background-color: #00aa00; }
.text-lime-700 { color: #00aa00; }
.border-lime-700 { border-color: #00aa00; }
.outline-lime-700 { outline-color: #00aa00; }

.bg-lime-800 { background-color: #007f00; }
.text-lime-800 { color: #007f00; }
.border-lime-800 { border-color: #007f00; }
.outline-lime-800 { outline-color: #007f00; }

.bg-lime-900 { background-color: #005500; }
.text-lime-900 { color: #005500; }
.border-lime-900 { border-color: #005500; }
.outline-lime-900 { outline-color: #005500; }

.bg-lime-950 { background-color: #002a00; }
.text-lime-950 { color: #002a00; }
.border-lime-950 { border-color: #002a00; }
.outline-lime-950 { outline-color: #002a00; }

