
/* github: https://github.com/iaseth/html-color-names */

.bg-linen-50 { background-color: #fefcfa; }
.text-linen-50 { color: #fefcfa; }
.border-linen-50 { border-color: #fefcfa; }
.outline-linen-50 { outline-color: #fefcfa; }

.bg-linen-100 { background-color: #fdfaf6; }
.text-linen-100 { color: #fdfaf6; }
.border-linen-100 { border-color: #fdfaf6; }
.outline-linen-100 { outline-color: #fdfaf6; }

.bg-linen-200 { background-color: #fcf7f2; }
.text-linen-200 { color: #fcf7f2; }
.border-linen-200 { border-color: #fcf7f2; }
.outline-linen-200 { outline-color: #fcf7f2; }

.bg-linen-300 { background-color: #fbf5ee; }
.text-linen-300 { color: #fbf5ee; }
.border-linen-300 { border-color: #fbf5ee; }
.outline-linen-300 { outline-color: #fbf5ee; }

.bg-linen-400 { background-color: #faf2ea; }
.text-linen-400 { color: #faf2ea; }
.border-linen-400 { border-color: #faf2ea; }
.outline-linen-400 { outline-color: #faf2ea; }

.bg-linen-500 { background-color: #faf0e6; }
.text-linen-500 { color: #faf0e6; }
.border-linen-500 { border-color: #faf0e6; }
.outline-linen-500 { outline-color: #faf0e6; }

.bg-linen-600 { background-color: #d0c8bf; }
.text-linen-600 { color: #d0c8bf; }
.border-linen-600 { border-color: #d0c8bf; }
.outline-linen-600 { outline-color: #d0c8bf; }

.bg-linen-700 { background-color: #a6a099; }
.text-linen-700 { color: #a6a099; }
.border-linen-700 { border-color: #a6a099; }
.outline-linen-700 { outline-color: #a6a099; }

.bg-linen-800 { background-color: #7d7873; }
.text-linen-800 { color: #7d7873; }
.border-linen-800 { border-color: #7d7873; }
.outline-linen-800 { outline-color: #7d7873; }

.bg-linen-900 { background-color: #53504c; }
.text-linen-900 { color: #53504c; }
.border-linen-900 { border-color: #53504c; }
.outline-linen-900 { outline-color: #53504c; }

.bg-linen-950 { background-color: #292826; }
.text-linen-950 { color: #292826; }
.border-linen-950 { border-color: #292826; }
.outline-linen-950 { outline-color: #292826; }

