



.bg-magenta-50 { background-color: #ffd4ff; }
.text-magenta-50 { color: #ffd4ff; }
.border-magenta-50 { border-color: #ffd4ff; }
.outline-magenta-50 { outline-color: #ffd4ff; }

.bg-magenta-100 { background-color: #ffaaff; }
.text-magenta-100 { color: #ffaaff; }
.border-magenta-100 { border-color: #ffaaff; }
.outline-magenta-100 { outline-color: #ffaaff; }

.bg-magenta-200 { background-color: #ff7fff; }
.text-magenta-200 { color: #ff7fff; }
.border-magenta-200 { border-color: #ff7fff; }
.outline-magenta-200 { outline-color: #ff7fff; }

.bg-magenta-300 { background-color: #ff55ff; }
.text-magenta-300 { color: #ff55ff; }
.border-magenta-300 { border-color: #ff55ff; }
.outline-magenta-300 { outline-color: #ff55ff; }

.bg-magenta-400 { background-color: #ff2aff; }
.text-magenta-400 { color: #ff2aff; }
.border-magenta-400 { border-color: #ff2aff; }
.outline-magenta-400 { outline-color: #ff2aff; }

.bg-magenta-500 { background-color: #ff00ff; }
.text-magenta-500 { color: #ff00ff; }
.border-magenta-500 { border-color: #ff00ff; }
.outline-magenta-500 { outline-color: #ff00ff; }

.bg-magenta-600 { background-color: #d400d4; }
.text-magenta-600 { color: #d400d4; }
.border-magenta-600 { border-color: #d400d4; }
.outline-magenta-600 { outline-color: #d400d4; }

.bg-magenta-700 { background-color: #aa00aa; }
.text-magenta-700 { color: #aa00aa; }
.border-magenta-700 { border-color: #aa00aa; }
.outline-magenta-700 { outline-color: #aa00aa; }

.bg-magenta-800 { background-color: #7f007f; }
.text-magenta-800 { color: #7f007f; }
.border-magenta-800 { border-color: #7f007f; }
.outline-magenta-800 { outline-color: #7f007f; }

.bg-magenta-900 { background-color: #550055; }
.text-magenta-900 { color: #550055; }
.border-magenta-900 { border-color: #550055; }
.outline-magenta-900 { outline-color: #550055; }

.bg-magenta-950 { background-color: #2a002a; }
.text-magenta-950 { color: #2a002a; }
.border-magenta-950 { border-color: #2a002a; }
.outline-magenta-950 { outline-color: #2a002a; }


