



.bg-magenta-50 { background-color: #ffd2ff; }
.text-magenta-50 { color: #ffd2ff; }
.border-magenta-50 { border-color: #ffd2ff; }
.outline-magenta-50 { outline-color: #ffd2ff; }

.bg-magenta-100 { background-color: #ffa8ff; }
.text-magenta-100 { color: #ffa8ff; }
.border-magenta-100 { border-color: #ffa8ff; }
.outline-magenta-100 { outline-color: #ffa8ff; }

.bg-magenta-200 { background-color: #ff7eff; }
.text-magenta-200 { color: #ff7eff; }
.border-magenta-200 { border-color: #ff7eff; }
.outline-magenta-200 { outline-color: #ff7eff; }

.bg-magenta-300 { background-color: #ff54ff; }
.text-magenta-300 { color: #ff54ff; }
.border-magenta-300 { border-color: #ff54ff; }
.outline-magenta-300 { outline-color: #ff54ff; }

.bg-magenta-400 { background-color: #ff2aff; }
.text-magenta-400 { color: #ff2aff; }
.border-magenta-400 { border-color: #ff2aff; }
.outline-magenta-400 { outline-color: #ff2aff; }

.bg-magenta-500 { background-color: #ff00ff; }
.text-magenta-500 { color: #ff00ff; }
.border-magenta-500 { border-color: #ff00ff; }
.outline-magenta-500 { outline-color: #ff00ff; }

.bg-magenta-600 { background-color: #d400d4; }
.text-magenta-600 { color: #d400d4; }
.border-magenta-600 { border-color: #d400d4; }
.outline-magenta-600 { outline-color: #d400d4; }

.bg-magenta-700 { background-color: #a900a9; }
.text-magenta-700 { color: #a900a9; }
.border-magenta-700 { border-color: #a900a9; }
.outline-magenta-700 { outline-color: #a900a9; }

.bg-magenta-800 { background-color: #7e007e; }
.text-magenta-800 { color: #7e007e; }
.border-magenta-800 { border-color: #7e007e; }
.outline-magenta-800 { outline-color: #7e007e; }

.bg-magenta-900 { background-color: #530053; }
.text-magenta-900 { color: #530053; }
.border-magenta-900 { border-color: #530053; }
.outline-magenta-900 { outline-color: #530053; }

.bg-magenta-950 { background-color: #280028; }
.text-magenta-950 { color: #280028; }
.border-magenta-950 { border-color: #280028; }
.outline-magenta-950 { outline-color: #280028; }


