
.bg-maroon-50 { background-color: #e9d4d4; }
.text-maroon-50 { color: #e9d4d4; }
.border-maroon-50 { border-color: #e9d4d4; }
.outline-maroon-50 { outline-color: #e9d4d4; }

.bg-maroon-100 { background-color: #d4aaaa; }
.text-maroon-100 { color: #d4aaaa; }
.border-maroon-100 { border-color: #d4aaaa; }
.outline-maroon-100 { outline-color: #d4aaaa; }

.bg-maroon-200 { background-color: #bf7f7f; }
.text-maroon-200 { color: #bf7f7f; }
.border-maroon-200 { border-color: #bf7f7f; }
.outline-maroon-200 { outline-color: #bf7f7f; }

.bg-maroon-300 { background-color: #aa5555; }
.text-maroon-300 { color: #aa5555; }
.border-maroon-300 { border-color: #aa5555; }
.outline-maroon-300 { outline-color: #aa5555; }

.bg-maroon-400 { background-color: #952a2a; }
.text-maroon-400 { color: #952a2a; }
.border-maroon-400 { border-color: #952a2a; }
.outline-maroon-400 { outline-color: #952a2a; }

.bg-maroon-500 { background-color: #800000; }
.text-maroon-500 { color: #800000; }
.border-maroon-500 { border-color: #800000; }
.outline-maroon-500 { outline-color: #800000; }

.bg-maroon-600 { background-color: #6a0000; }
.text-maroon-600 { color: #6a0000; }
.border-maroon-600 { border-color: #6a0000; }
.outline-maroon-600 { outline-color: #6a0000; }

.bg-maroon-700 { background-color: #550000; }
.text-maroon-700 { color: #550000; }
.border-maroon-700 { border-color: #550000; }
.outline-maroon-700 { outline-color: #550000; }

.bg-maroon-800 { background-color: #400000; }
.text-maroon-800 { color: #400000; }
.border-maroon-800 { border-color: #400000; }
.outline-maroon-800 { outline-color: #400000; }

.bg-maroon-900 { background-color: #2a0000; }
.text-maroon-900 { color: #2a0000; }
.border-maroon-900 { border-color: #2a0000; }
.outline-maroon-900 { outline-color: #2a0000; }

.bg-maroon-950 { background-color: #150000; }
.text-maroon-950 { color: #150000; }
.border-maroon-950 { border-color: #150000; }
.outline-maroon-950 { outline-color: #150000; }
