



.bg-maroon-50 { background-color: #e9d2d2; }
.text-maroon-50 { color: #e9d2d2; }
.border-maroon-50 { border-color: #e9d2d2; }
.outline-maroon-50 { outline-color: #e9d2d2; }

.bg-maroon-100 { background-color: #d4a8a8; }
.text-maroon-100 { color: #d4a8a8; }
.border-maroon-100 { border-color: #d4a8a8; }
.outline-maroon-100 { outline-color: #d4a8a8; }

.bg-maroon-200 { background-color: #bf7e7e; }
.text-maroon-200 { color: #bf7e7e; }
.border-maroon-200 { border-color: #bf7e7e; }
.outline-maroon-200 { outline-color: #bf7e7e; }

.bg-maroon-300 { background-color: #aa5454; }
.text-maroon-300 { color: #aa5454; }
.border-maroon-300 { border-color: #aa5454; }
.outline-maroon-300 { outline-color: #aa5454; }

.bg-maroon-400 { background-color: #952a2a; }
.text-maroon-400 { color: #952a2a; }
.border-maroon-400 { border-color: #952a2a; }
.outline-maroon-400 { outline-color: #952a2a; }

.bg-maroon-500 { background-color: #800000; }
.text-maroon-500 { color: #800000; }
.border-maroon-500 { border-color: #800000; }
.outline-maroon-500 { outline-color: #800000; }

.bg-maroon-600 { background-color: #6a0000; }
.text-maroon-600 { color: #6a0000; }
.border-maroon-600 { border-color: #6a0000; }
.outline-maroon-600 { outline-color: #6a0000; }

.bg-maroon-700 { background-color: #540000; }
.text-maroon-700 { color: #540000; }
.border-maroon-700 { border-color: #540000; }
.outline-maroon-700 { outline-color: #540000; }

.bg-maroon-800 { background-color: #3e0000; }
.text-maroon-800 { color: #3e0000; }
.border-maroon-800 { border-color: #3e0000; }
.outline-maroon-800 { outline-color: #3e0000; }

.bg-maroon-900 { background-color: #280000; }
.text-maroon-900 { color: #280000; }
.border-maroon-900 { border-color: #280000; }
.outline-maroon-900 { outline-color: #280000; }

.bg-maroon-950 { background-color: #120000; }
.text-maroon-950 { color: #120000; }
.border-maroon-950 { border-color: #120000; }
.outline-maroon-950 { outline-color: #120000; }


