



.bg-mediumpurple-50 { background-color: #ede7f9; }
.text-mediumpurple-50 { color: #ede7f9; }
.border-mediumpurple-50 { border-color: #ede7f9; }
.outline-mediumpurple-50 { outline-color: #ede7f9; }

.bg-mediumpurple-100 { background-color: #dbcff3; }
.text-mediumpurple-100 { color: #dbcff3; }
.border-mediumpurple-100 { border-color: #dbcff3; }
.outline-mediumpurple-100 { outline-color: #dbcff3; }

.bg-mediumpurple-200 { background-color: #c9b7ed; }
.text-mediumpurple-200 { color: #c9b7ed; }
.border-mediumpurple-200 { border-color: #c9b7ed; }
.outline-mediumpurple-200 { outline-color: #c9b7ed; }

.bg-mediumpurple-300 { background-color: #b79fe7; }
.text-mediumpurple-300 { color: #b79fe7; }
.border-mediumpurple-300 { border-color: #b79fe7; }
.outline-mediumpurple-300 { outline-color: #b79fe7; }

.bg-mediumpurple-400 { background-color: #a587e1; }
.text-mediumpurple-400 { color: #a587e1; }
.border-mediumpurple-400 { border-color: #a587e1; }
.outline-mediumpurple-400 { outline-color: #a587e1; }

.bg-mediumpurple-500 { background-color: #9370db; }
.text-mediumpurple-500 { color: #9370db; }
.border-mediumpurple-500 { border-color: #9370db; }
.outline-mediumpurple-500 { outline-color: #9370db; }

.bg-mediumpurple-600 { background-color: #7a5db6; }
.text-mediumpurple-600 { color: #7a5db6; }
.border-mediumpurple-600 { border-color: #7a5db6; }
.outline-mediumpurple-600 { outline-color: #7a5db6; }

.bg-mediumpurple-700 { background-color: #624a92; }
.text-mediumpurple-700 { color: #624a92; }
.border-mediumpurple-700 { border-color: #624a92; }
.outline-mediumpurple-700 { outline-color: #624a92; }

.bg-mediumpurple-800 { background-color: #49386d; }
.text-mediumpurple-800 { color: #49386d; }
.border-mediumpurple-800 { border-color: #49386d; }
.outline-mediumpurple-800 { outline-color: #49386d; }

.bg-mediumpurple-900 { background-color: #312549; }
.text-mediumpurple-900 { color: #312549; }
.border-mediumpurple-900 { border-color: #312549; }
.outline-mediumpurple-900 { outline-color: #312549; }

.bg-mediumpurple-950 { background-color: #181224; }
.text-mediumpurple-950 { color: #181224; }
.border-mediumpurple-950 { border-color: #181224; }
.outline-mediumpurple-950 { outline-color: #181224; }


