



.bg-mediumorchid-50 { background-color: #f3e2f7; }
.text-mediumorchid-50 { color: #f3e2f7; }
.border-mediumorchid-50 { border-color: #f3e2f7; }
.outline-mediumorchid-50 { outline-color: #f3e2f7; }

.bg-mediumorchid-100 { background-color: #e8c6f0; }
.text-mediumorchid-100 { color: #e8c6f0; }
.border-mediumorchid-100 { border-color: #e8c6f0; }
.outline-mediumorchid-100 { outline-color: #e8c6f0; }

.bg-mediumorchid-200 { background-color: #dcaae9; }
.text-mediumorchid-200 { color: #dcaae9; }
.border-mediumorchid-200 { border-color: #dcaae9; }
.outline-mediumorchid-200 { outline-color: #dcaae9; }

.bg-mediumorchid-300 { background-color: #d18de1; }
.text-mediumorchid-300 { color: #d18de1; }
.border-mediumorchid-300 { border-color: #d18de1; }
.outline-mediumorchid-300 { outline-color: #d18de1; }

.bg-mediumorchid-400 { background-color: #c571da; }
.text-mediumorchid-400 { color: #c571da; }
.border-mediumorchid-400 { border-color: #c571da; }
.outline-mediumorchid-400 { outline-color: #c571da; }

.bg-mediumorchid-500 { background-color: #ba55d3; }
.text-mediumorchid-500 { color: #ba55d3; }
.border-mediumorchid-500 { border-color: #ba55d3; }
.outline-mediumorchid-500 { outline-color: #ba55d3; }

.bg-mediumorchid-600 { background-color: #9b46af; }
.text-mediumorchid-600 { color: #9b46af; }
.border-mediumorchid-600 { border-color: #9b46af; }
.outline-mediumorchid-600 { outline-color: #9b46af; }

.bg-mediumorchid-700 { background-color: #7c388c; }
.text-mediumorchid-700 { color: #7c388c; }
.border-mediumorchid-700 { border-color: #7c388c; }
.outline-mediumorchid-700 { outline-color: #7c388c; }

.bg-mediumorchid-800 { background-color: #5d2a69; }
.text-mediumorchid-800 { color: #5d2a69; }
.border-mediumorchid-800 { border-color: #5d2a69; }
.outline-mediumorchid-800 { outline-color: #5d2a69; }

.bg-mediumorchid-900 { background-color: #3e1c46; }
.text-mediumorchid-900 { color: #3e1c46; }
.border-mediumorchid-900 { border-color: #3e1c46; }
.outline-mediumorchid-900 { outline-color: #3e1c46; }

.bg-mediumorchid-950 { background-color: #1f0e23; }
.text-mediumorchid-950 { color: #1f0e23; }
.border-mediumorchid-950 { border-color: #1f0e23; }
.outline-mediumorchid-950 { outline-color: #1f0e23; }


