



.bg-mediumblue-50 { background-color: #d2d2f5; }
.text-mediumblue-50 { color: #d2d2f5; }
.border-mediumblue-50 { border-color: #d2d2f5; }
.outline-mediumblue-50 { outline-color: #d2d2f5; }

.bg-mediumblue-100 { background-color: #a8a8ed; }
.text-mediumblue-100 { color: #a8a8ed; }
.border-mediumblue-100 { border-color: #a8a8ed; }
.outline-mediumblue-100 { outline-color: #a8a8ed; }

.bg-mediumblue-200 { background-color: #7e7ee5; }
.text-mediumblue-200 { color: #7e7ee5; }
.border-mediumblue-200 { border-color: #7e7ee5; }
.outline-mediumblue-200 { outline-color: #7e7ee5; }

.bg-mediumblue-300 { background-color: #5454dd; }
.text-mediumblue-300 { color: #5454dd; }
.border-mediumblue-300 { border-color: #5454dd; }
.outline-mediumblue-300 { outline-color: #5454dd; }

.bg-mediumblue-400 { background-color: #2a2ad5; }
.text-mediumblue-400 { color: #2a2ad5; }
.border-mediumblue-400 { border-color: #2a2ad5; }
.outline-mediumblue-400 { outline-color: #2a2ad5; }

.bg-mediumblue-500 { background-color: #0000cd; }
.text-mediumblue-500 { color: #0000cd; }
.border-mediumblue-500 { border-color: #0000cd; }
.outline-mediumblue-500 { outline-color: #0000cd; }

.bg-mediumblue-600 { background-color: #0000aa; }
.text-mediumblue-600 { color: #0000aa; }
.border-mediumblue-600 { border-color: #0000aa; }
.outline-mediumblue-600 { outline-color: #0000aa; }

.bg-mediumblue-700 { background-color: #000087; }
.text-mediumblue-700 { color: #000087; }
.border-mediumblue-700 { border-color: #000087; }
.outline-mediumblue-700 { outline-color: #000087; }

.bg-mediumblue-800 { background-color: #000064; }
.text-mediumblue-800 { color: #000064; }
.border-mediumblue-800 { border-color: #000064; }
.outline-mediumblue-800 { outline-color: #000064; }

.bg-mediumblue-900 { background-color: #000041; }
.text-mediumblue-900 { color: #000041; }
.border-mediumblue-900 { border-color: #000041; }
.outline-mediumblue-900 { outline-color: #000041; }

.bg-mediumblue-950 { background-color: #00001e; }
.text-mediumblue-950 { color: #00001e; }
.border-mediumblue-950 { border-color: #00001e; }
.outline-mediumblue-950 { outline-color: #00001e; }


