
.bg-mediumblue-50 { background-color: #d4d4f6; }
.text-mediumblue-50 { color: #d4d4f6; }
.border-mediumblue-50 { border-color: #d4d4f6; }
.outline-mediumblue-50 { outline-color: #d4d4f6; }

.bg-mediumblue-100 { background-color: #aaaaee; }
.text-mediumblue-100 { color: #aaaaee; }
.border-mediumblue-100 { border-color: #aaaaee; }
.outline-mediumblue-100 { outline-color: #aaaaee; }

.bg-mediumblue-200 { background-color: #7f7fe6; }
.text-mediumblue-200 { color: #7f7fe6; }
.border-mediumblue-200 { border-color: #7f7fe6; }
.outline-mediumblue-200 { outline-color: #7f7fe6; }

.bg-mediumblue-300 { background-color: #5555dd; }
.text-mediumblue-300 { color: #5555dd; }
.border-mediumblue-300 { border-color: #5555dd; }
.outline-mediumblue-300 { outline-color: #5555dd; }

.bg-mediumblue-400 { background-color: #2a2ad5; }
.text-mediumblue-400 { color: #2a2ad5; }
.border-mediumblue-400 { border-color: #2a2ad5; }
.outline-mediumblue-400 { outline-color: #2a2ad5; }

.bg-mediumblue-500 { background-color: #0000cd; }
.text-mediumblue-500 { color: #0000cd; }
.border-mediumblue-500 { border-color: #0000cd; }
.outline-mediumblue-500 { outline-color: #0000cd; }

.bg-mediumblue-600 { background-color: #0000aa; }
.text-mediumblue-600 { color: #0000aa; }
.border-mediumblue-600 { border-color: #0000aa; }
.outline-mediumblue-600 { outline-color: #0000aa; }

.bg-mediumblue-700 { background-color: #000088; }
.text-mediumblue-700 { color: #000088; }
.border-mediumblue-700 { border-color: #000088; }
.outline-mediumblue-700 { outline-color: #000088; }

.bg-mediumblue-800 { background-color: #000066; }
.text-mediumblue-800 { color: #000066; }
.border-mediumblue-800 { border-color: #000066; }
.outline-mediumblue-800 { outline-color: #000066; }

.bg-mediumblue-900 { background-color: #000044; }
.text-mediumblue-900 { color: #000044; }
.border-mediumblue-900 { border-color: #000044; }
.outline-mediumblue-900 { outline-color: #000044; }

.bg-mediumblue-950 { background-color: #000022; }
.text-mediumblue-950 { color: #000022; }
.border-mediumblue-950 { border-color: #000022; }
.outline-mediumblue-950 { outline-color: #000022; }
