



.bg-mediumslateblue-50 { background-color: #e9e5f8; }
.text-mediumslateblue-50 { color: #e9e5f8; }
.border-mediumslateblue-50 { border-color: #e9e5f8; }
.outline-mediumslateblue-50 { outline-color: #e9e5f8; }

.bg-mediumslateblue-100 { background-color: #d3ccf6; }
.text-mediumslateblue-100 { color: #d3ccf6; }
.border-mediumslateblue-100 { border-color: #d3ccf6; }
.outline-mediumslateblue-100 { outline-color: #d3ccf6; }

.bg-mediumslateblue-200 { background-color: #bdb3f4; }
.text-mediumslateblue-200 { color: #bdb3f4; }
.border-mediumslateblue-200 { border-color: #bdb3f4; }
.outline-mediumslateblue-200 { outline-color: #bdb3f4; }

.bg-mediumslateblue-300 { background-color: #a79af2; }
.text-mediumslateblue-300 { color: #a79af2; }
.border-mediumslateblue-300 { border-color: #a79af2; }
.outline-mediumslateblue-300 { outline-color: #a79af2; }

.bg-mediumslateblue-400 { background-color: #9181f0; }
.text-mediumslateblue-400 { color: #9181f0; }
.border-mediumslateblue-400 { border-color: #9181f0; }
.outline-mediumslateblue-400 { outline-color: #9181f0; }

.bg-mediumslateblue-500 { background-color: #7b68ee; }
.text-mediumslateblue-500 { color: #7b68ee; }
.border-mediumslateblue-500 { border-color: #7b68ee; }
.outline-mediumslateblue-500 { outline-color: #7b68ee; }

.bg-mediumslateblue-600 { background-color: #6656c6; }
.text-mediumslateblue-600 { color: #6656c6; }
.border-mediumslateblue-600 { border-color: #6656c6; }
.outline-mediumslateblue-600 { outline-color: #6656c6; }

.bg-mediumslateblue-700 { background-color: #51449e; }
.text-mediumslateblue-700 { color: #51449e; }
.border-mediumslateblue-700 { border-color: #51449e; }
.outline-mediumslateblue-700 { outline-color: #51449e; }

.bg-mediumslateblue-800 { background-color: #3c3276; }
.text-mediumslateblue-800 { color: #3c3276; }
.border-mediumslateblue-800 { border-color: #3c3276; }
.outline-mediumslateblue-800 { outline-color: #3c3276; }

.bg-mediumslateblue-900 { background-color: #27204e; }
.text-mediumslateblue-900 { color: #27204e; }
.border-mediumslateblue-900 { border-color: #27204e; }
.outline-mediumslateblue-900 { outline-color: #27204e; }

.bg-mediumslateblue-950 { background-color: #120e26; }
.text-mediumslateblue-950 { color: #120e26; }
.border-mediumslateblue-950 { border-color: #120e26; }
.outline-mediumslateblue-950 { outline-color: #120e26; }


