
/* github: https://github.com/iaseth/html-color-names */

.bg-mediumturquoise-50 { background-color: #e0f7f6; }
.text-mediumturquoise-50 { color: #e0f7f6; }
.border-mediumturquoise-50 { border-color: #e0f7f6; }
.outline-mediumturquoise-50 { outline-color: #e0f7f6; }

.bg-mediumturquoise-100 { background-color: #c2efee; }
.text-mediumturquoise-100 { color: #c2efee; }
.border-mediumturquoise-100 { border-color: #c2efee; }
.outline-mediumturquoise-100 { outline-color: #c2efee; }

.bg-mediumturquoise-200 { background-color: #a3e8e5; }
.text-mediumturquoise-200 { color: #a3e8e5; }
.border-mediumturquoise-200 { border-color: #a3e8e5; }
.outline-mediumturquoise-200 { outline-color: #a3e8e5; }

.bg-mediumturquoise-300 { background-color: #85e0dd; }
.text-mediumturquoise-300 { color: #85e0dd; }
.border-mediumturquoise-300 { border-color: #85e0dd; }
.outline-mediumturquoise-300 { outline-color: #85e0dd; }

.bg-mediumturquoise-400 { background-color: #66d8d4; }
.text-mediumturquoise-400 { color: #66d8d4; }
.border-mediumturquoise-400 { border-color: #66d8d4; }
.outline-mediumturquoise-400 { outline-color: #66d8d4; }

.bg-mediumturquoise-500 { background-color: #48d1cc; }
.text-mediumturquoise-500 { color: #48d1cc; }
.border-mediumturquoise-500 { border-color: #48d1cc; }
.outline-mediumturquoise-500 { outline-color: #48d1cc; }

.bg-mediumturquoise-600 { background-color: #3caeaa; }
.text-mediumturquoise-600 { color: #3caeaa; }
.border-mediumturquoise-600 { border-color: #3caeaa; }
.outline-mediumturquoise-600 { outline-color: #3caeaa; }

.bg-mediumturquoise-700 { background-color: #308b88; }
.text-mediumturquoise-700 { color: #308b88; }
.border-mediumturquoise-700 { border-color: #308b88; }
.outline-mediumturquoise-700 { outline-color: #308b88; }

.bg-mediumturquoise-800 { background-color: #246866; }
.text-mediumturquoise-800 { color: #246866; }
.border-mediumturquoise-800 { border-color: #246866; }
.outline-mediumturquoise-800 { outline-color: #246866; }

.bg-mediumturquoise-900 { background-color: #184544; }
.text-mediumturquoise-900 { color: #184544; }
.border-mediumturquoise-900 { border-color: #184544; }
.outline-mediumturquoise-900 { outline-color: #184544; }

.bg-mediumturquoise-950 { background-color: #0c2222; }
.text-mediumturquoise-950 { color: #0c2222; }
.border-mediumturquoise-950 { border-color: #0c2222; }
.outline-mediumturquoise-950 { outline-color: #0c2222; }

