
.bg-mediumspringgreen-50 { background-color: #d4feee; }
.text-mediumspringgreen-50 { color: #d4feee; }
.border-mediumspringgreen-50 { border-color: #d4feee; }
.outline-mediumspringgreen-50 { outline-color: #d4feee; }

.bg-mediumspringgreen-100 { background-color: #aafddd; }
.text-mediumspringgreen-100 { color: #aafddd; }
.border-mediumspringgreen-100 { border-color: #aafddd; }
.outline-mediumspringgreen-100 { outline-color: #aafddd; }

.bg-mediumspringgreen-200 { background-color: #7ffccc; }
.text-mediumspringgreen-200 { color: #7ffccc; }
.border-mediumspringgreen-200 { border-color: #7ffccc; }
.outline-mediumspringgreen-200 { outline-color: #7ffccc; }

.bg-mediumspringgreen-300 { background-color: #55fbbb; }
.text-mediumspringgreen-300 { color: #55fbbb; }
.border-mediumspringgreen-300 { border-color: #55fbbb; }
.outline-mediumspringgreen-300 { outline-color: #55fbbb; }

.bg-mediumspringgreen-400 { background-color: #2afaaa; }
.text-mediumspringgreen-400 { color: #2afaaa; }
.border-mediumspringgreen-400 { border-color: #2afaaa; }
.outline-mediumspringgreen-400 { outline-color: #2afaaa; }

.bg-mediumspringgreen-500 { background-color: #00fa9a; }
.text-mediumspringgreen-500 { color: #00fa9a; }
.border-mediumspringgreen-500 { border-color: #00fa9a; }
.outline-mediumspringgreen-500 { outline-color: #00fa9a; }

.bg-mediumspringgreen-600 { background-color: #00d080; }
.text-mediumspringgreen-600 { color: #00d080; }
.border-mediumspringgreen-600 { border-color: #00d080; }
.outline-mediumspringgreen-600 { outline-color: #00d080; }

.bg-mediumspringgreen-700 { background-color: #00a666; }
.text-mediumspringgreen-700 { color: #00a666; }
.border-mediumspringgreen-700 { border-color: #00a666; }
.outline-mediumspringgreen-700 { outline-color: #00a666; }

.bg-mediumspringgreen-800 { background-color: #007d4d; }
.text-mediumspringgreen-800 { color: #007d4d; }
.border-mediumspringgreen-800 { border-color: #007d4d; }
.outline-mediumspringgreen-800 { outline-color: #007d4d; }

.bg-mediumspringgreen-900 { background-color: #005333; }
.text-mediumspringgreen-900 { color: #005333; }
.border-mediumspringgreen-900 { border-color: #005333; }
.outline-mediumspringgreen-900 { outline-color: #005333; }

.bg-mediumspringgreen-950 { background-color: #002919; }
.text-mediumspringgreen-950 { color: #002919; }
.border-mediumspringgreen-950 { border-color: #002919; }
.outline-mediumspringgreen-950 { outline-color: #002919; }
