



.bg-mediumorchid-50 { background-color: #f1e1f6; }
.text-mediumorchid-50 { color: #f1e1f6; }
.border-mediumorchid-50 { border-color: #f1e1f6; }
.outline-mediumorchid-50 { outline-color: #f1e1f6; }

.bg-mediumorchid-100 { background-color: #e6c5ef; }
.text-mediumorchid-100 { color: #e6c5ef; }
.border-mediumorchid-100 { border-color: #e6c5ef; }
.outline-mediumorchid-100 { outline-color: #e6c5ef; }

.bg-mediumorchid-200 { background-color: #dba9e8; }
.text-mediumorchid-200 { color: #dba9e8; }
.border-mediumorchid-200 { border-color: #dba9e8; }
.outline-mediumorchid-200 { outline-color: #dba9e8; }

.bg-mediumorchid-300 { background-color: #d08de1; }
.text-mediumorchid-300 { color: #d08de1; }
.border-mediumorchid-300 { border-color: #d08de1; }
.outline-mediumorchid-300 { outline-color: #d08de1; }

.bg-mediumorchid-400 { background-color: #c571da; }
.text-mediumorchid-400 { color: #c571da; }
.border-mediumorchid-400 { border-color: #c571da; }
.outline-mediumorchid-400 { outline-color: #c571da; }

.bg-mediumorchid-500 { background-color: #ba55d3; }
.text-mediumorchid-500 { color: #ba55d3; }
.border-mediumorchid-500 { border-color: #ba55d3; }
.outline-mediumorchid-500 { outline-color: #ba55d3; }

.bg-mediumorchid-600 { background-color: #9b46af; }
.text-mediumorchid-600 { color: #9b46af; }
.border-mediumorchid-600 { border-color: #9b46af; }
.outline-mediumorchid-600 { outline-color: #9b46af; }

.bg-mediumorchid-700 { background-color: #7c378b; }
.text-mediumorchid-700 { color: #7c378b; }
.border-mediumorchid-700 { border-color: #7c378b; }
.outline-mediumorchid-700 { outline-color: #7c378b; }

.bg-mediumorchid-800 { background-color: #5d2867; }
.text-mediumorchid-800 { color: #5d2867; }
.border-mediumorchid-800 { border-color: #5d2867; }
.outline-mediumorchid-800 { outline-color: #5d2867; }

.bg-mediumorchid-900 { background-color: #3e1943; }
.text-mediumorchid-900 { color: #3e1943; }
.border-mediumorchid-900 { border-color: #3e1943; }
.outline-mediumorchid-900 { outline-color: #3e1943; }

.bg-mediumorchid-950 { background-color: #1f0a1f; }
.text-mediumorchid-950 { color: #1f0a1f; }
.border-mediumorchid-950 { border-color: #1f0a1f; }
.outline-mediumorchid-950 { outline-color: #1f0a1f; }


