



.bg-mediumslateblue-50 { background-color: #e9e5fc; }
.text-mediumslateblue-50 { color: #e9e5fc; }
.border-mediumslateblue-50 { border-color: #e9e5fc; }
.outline-mediumslateblue-50 { outline-color: #e9e5fc; }

.bg-mediumslateblue-100 { background-color: #d3ccf9; }
.text-mediumslateblue-100 { color: #d3ccf9; }
.border-mediumslateblue-100 { border-color: #d3ccf9; }
.outline-mediumslateblue-100 { outline-color: #d3ccf9; }

.bg-mediumslateblue-200 { background-color: #bdb3f6; }
.text-mediumslateblue-200 { color: #bdb3f6; }
.border-mediumslateblue-200 { border-color: #bdb3f6; }
.outline-mediumslateblue-200 { outline-color: #bdb3f6; }

.bg-mediumslateblue-300 { background-color: #a79af3; }
.text-mediumslateblue-300 { color: #a79af3; }
.border-mediumslateblue-300 { border-color: #a79af3; }
.outline-mediumslateblue-300 { outline-color: #a79af3; }

.bg-mediumslateblue-400 { background-color: #9181f0; }
.text-mediumslateblue-400 { color: #9181f0; }
.border-mediumslateblue-400 { border-color: #9181f0; }
.outline-mediumslateblue-400 { outline-color: #9181f0; }

.bg-mediumslateblue-500 { background-color: #7b68ee; }
.text-mediumslateblue-500 { color: #7b68ee; }
.border-mediumslateblue-500 { border-color: #7b68ee; }
.outline-mediumslateblue-500 { outline-color: #7b68ee; }

.bg-mediumslateblue-600 { background-color: #6656c6; }
.text-mediumslateblue-600 { color: #6656c6; }
.border-mediumslateblue-600 { border-color: #6656c6; }
.outline-mediumslateblue-600 { outline-color: #6656c6; }

.bg-mediumslateblue-700 { background-color: #52459e; }
.text-mediumslateblue-700 { color: #52459e; }
.border-mediumslateblue-700 { border-color: #52459e; }
.outline-mediumslateblue-700 { outline-color: #52459e; }

.bg-mediumslateblue-800 { background-color: #3d3477; }
.text-mediumslateblue-800 { color: #3d3477; }
.border-mediumslateblue-800 { border-color: #3d3477; }
.outline-mediumslateblue-800 { outline-color: #3d3477; }

.bg-mediumslateblue-900 { background-color: #29224f; }
.text-mediumslateblue-900 { color: #29224f; }
.border-mediumslateblue-900 { border-color: #29224f; }
.outline-mediumslateblue-900 { outline-color: #29224f; }

.bg-mediumslateblue-950 { background-color: #141127; }
.text-mediumslateblue-950 { color: #141127; }
.border-mediumslateblue-950 { border-color: #141127; }
.outline-mediumslateblue-950 { outline-color: #141127; }


