
.bg-mediumvioletred-50 { background-color: #f5d8ea; }
.text-mediumvioletred-50 { color: #f5d8ea; }
.border-mediumvioletred-50 { border-color: #f5d8ea; }
.outline-mediumvioletred-50 { outline-color: #f5d8ea; }

.bg-mediumvioletred-100 { background-color: #ecb1d6; }
.text-mediumvioletred-100 { color: #ecb1d6; }
.border-mediumvioletred-100 { border-color: #ecb1d6; }
.outline-mediumvioletred-100 { outline-color: #ecb1d6; }

.bg-mediumvioletred-200 { background-color: #e38ac2; }
.text-mediumvioletred-200 { color: #e38ac2; }
.border-mediumvioletred-200 { border-color: #e38ac2; }
.outline-mediumvioletred-200 { outline-color: #e38ac2; }

.bg-mediumvioletred-300 { background-color: #d963ad; }
.text-mediumvioletred-300 { color: #d963ad; }
.border-mediumvioletred-300 { border-color: #d963ad; }
.outline-mediumvioletred-300 { outline-color: #d963ad; }

.bg-mediumvioletred-400 { background-color: #d03c99; }
.text-mediumvioletred-400 { color: #d03c99; }
.border-mediumvioletred-400 { border-color: #d03c99; }
.outline-mediumvioletred-400 { outline-color: #d03c99; }

.bg-mediumvioletred-500 { background-color: #c71585; }
.text-mediumvioletred-500 { color: #c71585; }
.border-mediumvioletred-500 { border-color: #c71585; }
.outline-mediumvioletred-500 { outline-color: #c71585; }

.bg-mediumvioletred-600 { background-color: #a5116e; }
.text-mediumvioletred-600 { color: #a5116e; }
.border-mediumvioletred-600 { border-color: #a5116e; }
.outline-mediumvioletred-600 { outline-color: #a5116e; }

.bg-mediumvioletred-700 { background-color: #840e58; }
.text-mediumvioletred-700 { color: #840e58; }
.border-mediumvioletred-700 { border-color: #840e58; }
.outline-mediumvioletred-700 { outline-color: #840e58; }

.bg-mediumvioletred-800 { background-color: #630a42; }
.text-mediumvioletred-800 { color: #630a42; }
.border-mediumvioletred-800 { border-color: #630a42; }
.outline-mediumvioletred-800 { outline-color: #630a42; }

.bg-mediumvioletred-900 { background-color: #42072c; }
.text-mediumvioletred-900 { color: #42072c; }
.border-mediumvioletred-900 { border-color: #42072c; }
.outline-mediumvioletred-900 { outline-color: #42072c; }

.bg-mediumvioletred-950 { background-color: #210316; }
.text-mediumvioletred-950 { color: #210316; }
.border-mediumvioletred-950 { border-color: #210316; }
.outline-mediumvioletred-950 { outline-color: #210316; }
