



.bg-mediumaquamarine-50 { background-color: #e3f5f0; }
.text-mediumaquamarine-50 { color: #e3f5f0; }
.border-mediumaquamarine-50 { border-color: #e3f5f0; }
.outline-mediumaquamarine-50 { outline-color: #e3f5f0; }

.bg-mediumaquamarine-100 { background-color: #caede2; }
.text-mediumaquamarine-100 { color: #caede2; }
.border-mediumaquamarine-100 { border-color: #caede2; }
.outline-mediumaquamarine-100 { outline-color: #caede2; }

.bg-mediumaquamarine-200 { background-color: #b1e5d4; }
.text-mediumaquamarine-200 { color: #b1e5d4; }
.border-mediumaquamarine-200 { border-color: #b1e5d4; }
.outline-mediumaquamarine-200 { outline-color: #b1e5d4; }

.bg-mediumaquamarine-300 { background-color: #98ddc6; }
.text-mediumaquamarine-300 { color: #98ddc6; }
.border-mediumaquamarine-300 { border-color: #98ddc6; }
.outline-mediumaquamarine-300 { outline-color: #98ddc6; }

.bg-mediumaquamarine-400 { background-color: #7fd5b8; }
.text-mediumaquamarine-400 { color: #7fd5b8; }
.border-mediumaquamarine-400 { border-color: #7fd5b8; }
.outline-mediumaquamarine-400 { outline-color: #7fd5b8; }

.bg-mediumaquamarine-500 { background-color: #66cdaa; }
.text-mediumaquamarine-500 { color: #66cdaa; }
.border-mediumaquamarine-500 { border-color: #66cdaa; }
.outline-mediumaquamarine-500 { outline-color: #66cdaa; }

.bg-mediumaquamarine-600 { background-color: #55aa8d; }
.text-mediumaquamarine-600 { color: #55aa8d; }
.border-mediumaquamarine-600 { border-color: #55aa8d; }
.outline-mediumaquamarine-600 { outline-color: #55aa8d; }

.bg-mediumaquamarine-700 { background-color: #448770; }
.text-mediumaquamarine-700 { color: #448770; }
.border-mediumaquamarine-700 { border-color: #448770; }
.outline-mediumaquamarine-700 { outline-color: #448770; }

.bg-mediumaquamarine-800 { background-color: #336453; }
.text-mediumaquamarine-800 { color: #336453; }
.border-mediumaquamarine-800 { border-color: #336453; }
.outline-mediumaquamarine-800 { outline-color: #336453; }

.bg-mediumaquamarine-900 { background-color: #224136; }
.text-mediumaquamarine-900 { color: #224136; }
.border-mediumaquamarine-900 { border-color: #224136; }
.outline-mediumaquamarine-900 { outline-color: #224136; }

.bg-mediumaquamarine-950 { background-color: #111e19; }
.text-mediumaquamarine-950 { color: #111e19; }
.border-mediumaquamarine-950 { border-color: #111e19; }
.outline-mediumaquamarine-950 { outline-color: #111e19; }


