



.bg-mediumseagreen-50 { background-color: #dcefe4; }
.text-mediumseagreen-50 { color: #dcefe4; }
.border-mediumseagreen-50 { border-color: #dcefe4; }
.outline-mediumseagreen-50 { outline-color: #dcefe4; }

.bg-mediumseagreen-100 { background-color: #bce3cd; }
.text-mediumseagreen-100 { color: #bce3cd; }
.border-mediumseagreen-100 { border-color: #bce3cd; }
.outline-mediumseagreen-100 { outline-color: #bce3cd; }

.bg-mediumseagreen-200 { background-color: #9cd7b6; }
.text-mediumseagreen-200 { color: #9cd7b6; }
.border-mediumseagreen-200 { border-color: #9cd7b6; }
.outline-mediumseagreen-200 { outline-color: #9cd7b6; }

.bg-mediumseagreen-300 { background-color: #7ccb9f; }
.text-mediumseagreen-300 { color: #7ccb9f; }
.border-mediumseagreen-300 { border-color: #7ccb9f; }
.outline-mediumseagreen-300 { outline-color: #7ccb9f; }

.bg-mediumseagreen-400 { background-color: #5cbf88; }
.text-mediumseagreen-400 { color: #5cbf88; }
.border-mediumseagreen-400 { border-color: #5cbf88; }
.outline-mediumseagreen-400 { outline-color: #5cbf88; }

.bg-mediumseagreen-500 { background-color: #3cb371; }
.text-mediumseagreen-500 { color: #3cb371; }
.border-mediumseagreen-500 { border-color: #3cb371; }
.outline-mediumseagreen-500 { outline-color: #3cb371; }

.bg-mediumseagreen-600 { background-color: #32955e; }
.text-mediumseagreen-600 { color: #32955e; }
.border-mediumseagreen-600 { border-color: #32955e; }
.outline-mediumseagreen-600 { outline-color: #32955e; }

.bg-mediumseagreen-700 { background-color: #28774b; }
.text-mediumseagreen-700 { color: #28774b; }
.border-mediumseagreen-700 { border-color: #28774b; }
.outline-mediumseagreen-700 { outline-color: #28774b; }

.bg-mediumseagreen-800 { background-color: #1e5938; }
.text-mediumseagreen-800 { color: #1e5938; }
.border-mediumseagreen-800 { border-color: #1e5938; }
.outline-mediumseagreen-800 { outline-color: #1e5938; }

.bg-mediumseagreen-900 { background-color: #143b25; }
.text-mediumseagreen-900 { color: #143b25; }
.border-mediumseagreen-900 { border-color: #143b25; }
.outline-mediumseagreen-900 { outline-color: #143b25; }

.bg-mediumseagreen-950 { background-color: #0a1d12; }
.text-mediumseagreen-950 { color: #0a1d12; }
.border-mediumseagreen-950 { border-color: #0a1d12; }
.outline-mediumseagreen-950 { outline-color: #0a1d12; }


