



.bg-mediumvioletred-50 { background-color: #f4d8e9; }
.text-mediumvioletred-50 { color: #f4d8e9; }
.border-mediumvioletred-50 { border-color: #f4d8e9; }
.outline-mediumvioletred-50 { outline-color: #f4d8e9; }

.bg-mediumvioletred-100 { background-color: #ebb1d5; }
.text-mediumvioletred-100 { color: #ebb1d5; }
.border-mediumvioletred-100 { border-color: #ebb1d5; }
.outline-mediumvioletred-100 { outline-color: #ebb1d5; }

.bg-mediumvioletred-200 { background-color: #e28ac1; }
.text-mediumvioletred-200 { color: #e28ac1; }
.border-mediumvioletred-200 { border-color: #e28ac1; }
.outline-mediumvioletred-200 { outline-color: #e28ac1; }

.bg-mediumvioletred-300 { background-color: #d963ad; }
.text-mediumvioletred-300 { color: #d963ad; }
.border-mediumvioletred-300 { border-color: #d963ad; }
.outline-mediumvioletred-300 { outline-color: #d963ad; }

.bg-mediumvioletred-400 { background-color: #d03c99; }
.text-mediumvioletred-400 { color: #d03c99; }
.border-mediumvioletred-400 { border-color: #d03c99; }
.outline-mediumvioletred-400 { outline-color: #d03c99; }

.bg-mediumvioletred-500 { background-color: #c71585; }
.text-mediumvioletred-500 { color: #c71585; }
.border-mediumvioletred-500 { border-color: #c71585; }
.outline-mediumvioletred-500 { outline-color: #c71585; }

.bg-mediumvioletred-600 { background-color: #a5116e; }
.text-mediumvioletred-600 { color: #a5116e; }
.border-mediumvioletred-600 { border-color: #a5116e; }
.outline-mediumvioletred-600 { outline-color: #a5116e; }

.bg-mediumvioletred-700 { background-color: #830d57; }
.text-mediumvioletred-700 { color: #830d57; }
.border-mediumvioletred-700 { border-color: #830d57; }
.outline-mediumvioletred-700 { outline-color: #830d57; }

.bg-mediumvioletred-800 { background-color: #610940; }
.text-mediumvioletred-800 { color: #610940; }
.border-mediumvioletred-800 { border-color: #610940; }
.outline-mediumvioletred-800 { outline-color: #610940; }

.bg-mediumvioletred-900 { background-color: #3f0529; }
.text-mediumvioletred-900 { color: #3f0529; }
.border-mediumvioletred-900 { border-color: #3f0529; }
.outline-mediumvioletred-900 { outline-color: #3f0529; }

.bg-mediumvioletred-950 { background-color: #1d0112; }
.text-mediumvioletred-950 { color: #1d0112; }
.border-mediumvioletred-950 { border-color: #1d0112; }
.outline-mediumvioletred-950 { outline-color: #1d0112; }


