



.bg-midnightblue-50 { background-color: #d7d7e3; }
.text-midnightblue-50 { color: #d7d7e3; }
.border-midnightblue-50 { border-color: #d7d7e3; }
.outline-midnightblue-50 { outline-color: #d7d7e3; }

.bg-midnightblue-100 { background-color: #b1b1cc; }
.text-midnightblue-100 { color: #b1b1cc; }
.border-midnightblue-100 { border-color: #b1b1cc; }
.outline-midnightblue-100 { outline-color: #b1b1cc; }

.bg-midnightblue-200 { background-color: #8b8bb5; }
.text-midnightblue-200 { color: #8b8bb5; }
.border-midnightblue-200 { border-color: #8b8bb5; }
.outline-midnightblue-200 { outline-color: #8b8bb5; }

.bg-midnightblue-300 { background-color: #65659e; }
.text-midnightblue-300 { color: #65659e; }
.border-midnightblue-300 { border-color: #65659e; }
.outline-midnightblue-300 { outline-color: #65659e; }

.bg-midnightblue-400 { background-color: #3f3f87; }
.text-midnightblue-400 { color: #3f3f87; }
.border-midnightblue-400 { border-color: #3f3f87; }
.outline-midnightblue-400 { outline-color: #3f3f87; }

.bg-midnightblue-500 { background-color: #191970; }
.text-midnightblue-500 { color: #191970; }
.border-midnightblue-500 { border-color: #191970; }
.outline-midnightblue-500 { outline-color: #191970; }

.bg-midnightblue-600 { background-color: #14145d; }
.text-midnightblue-600 { color: #14145d; }
.border-midnightblue-600 { border-color: #14145d; }
.outline-midnightblue-600 { outline-color: #14145d; }

.bg-midnightblue-700 { background-color: #0f0f4a; }
.text-midnightblue-700 { color: #0f0f4a; }
.border-midnightblue-700 { border-color: #0f0f4a; }
.outline-midnightblue-700 { outline-color: #0f0f4a; }

.bg-midnightblue-800 { background-color: #0a0a37; }
.text-midnightblue-800 { color: #0a0a37; }
.border-midnightblue-800 { border-color: #0a0a37; }
.outline-midnightblue-800 { outline-color: #0a0a37; }

.bg-midnightblue-900 { background-color: #050524; }
.text-midnightblue-900 { color: #050524; }
.border-midnightblue-900 { border-color: #050524; }
.outline-midnightblue-900 { outline-color: #050524; }

.bg-midnightblue-950 { background-color: #000011; }
.text-midnightblue-950 { color: #000011; }
.border-midnightblue-950 { border-color: #000011; }
.outline-midnightblue-950 { outline-color: #000011; }


