
/* github: https://github.com/iaseth/html-color-names */

.bg-midnightblue-50 { background-color: #d8d8e7; }
.text-midnightblue-50 { color: #d8d8e7; }
.border-midnightblue-50 { border-color: #d8d8e7; }
.outline-midnightblue-50 { outline-color: #d8d8e7; }

.bg-midnightblue-100 { background-color: #b2b2cf; }
.text-midnightblue-100 { color: #b2b2cf; }
.border-midnightblue-100 { border-color: #b2b2cf; }
.outline-midnightblue-100 { outline-color: #b2b2cf; }

.bg-midnightblue-200 { background-color: #8c8cb7; }
.text-midnightblue-200 { color: #8c8cb7; }
.border-midnightblue-200 { border-color: #8c8cb7; }
.outline-midnightblue-200 { outline-color: #8c8cb7; }

.bg-midnightblue-300 { background-color: #65659f; }
.text-midnightblue-300 { color: #65659f; }
.border-midnightblue-300 { border-color: #65659f; }
.outline-midnightblue-300 { outline-color: #65659f; }

.bg-midnightblue-400 { background-color: #3f3f87; }
.text-midnightblue-400 { color: #3f3f87; }
.border-midnightblue-400 { border-color: #3f3f87; }
.outline-midnightblue-400 { outline-color: #3f3f87; }

.bg-midnightblue-500 { background-color: #191970; }
.text-midnightblue-500 { color: #191970; }
.border-midnightblue-500 { border-color: #191970; }
.outline-midnightblue-500 { outline-color: #191970; }

.bg-midnightblue-600 { background-color: #14145d; }
.text-midnightblue-600 { color: #14145d; }
.border-midnightblue-600 { border-color: #14145d; }
.outline-midnightblue-600 { outline-color: #14145d; }

.bg-midnightblue-700 { background-color: #10104a; }
.text-midnightblue-700 { color: #10104a; }
.border-midnightblue-700 { border-color: #10104a; }
.outline-midnightblue-700 { outline-color: #10104a; }

.bg-midnightblue-800 { background-color: #0c0c38; }
.text-midnightblue-800 { color: #0c0c38; }
.border-midnightblue-800 { border-color: #0c0c38; }
.outline-midnightblue-800 { outline-color: #0c0c38; }

.bg-midnightblue-900 { background-color: #080825; }
.text-midnightblue-900 { color: #080825; }
.border-midnightblue-900 { border-color: #080825; }
.outline-midnightblue-900 { outline-color: #080825; }

.bg-midnightblue-950 { background-color: #040412; }
.text-midnightblue-950 { color: #040412; }
.border-midnightblue-950 { border-color: #040412; }
.outline-midnightblue-950 { outline-color: #040412; }

