



.bg-mintcream-50 { background-color: #fafffa; }
.text-mintcream-50 { color: #fafffa; }
.border-mintcream-50 { border-color: #fafffa; }
.outline-mintcream-50 { outline-color: #fafffa; }

.bg-mintcream-100 { background-color: #f9fffa; }
.text-mintcream-100 { color: #f9fffa; }
.border-mintcream-100 { border-color: #f9fffa; }
.outline-mintcream-100 { outline-color: #f9fffa; }

.bg-mintcream-200 { background-color: #f8fffa; }
.text-mintcream-200 { color: #f8fffa; }
.border-mintcream-200 { border-color: #f8fffa; }
.outline-mintcream-200 { outline-color: #f8fffa; }

.bg-mintcream-300 { background-color: #f7fffa; }
.text-mintcream-300 { color: #f7fffa; }
.border-mintcream-300 { border-color: #f7fffa; }
.outline-mintcream-300 { outline-color: #f7fffa; }

.bg-mintcream-400 { background-color: #f6fffa; }
.text-mintcream-400 { color: #f6fffa; }
.border-mintcream-400 { border-color: #f6fffa; }
.outline-mintcream-400 { outline-color: #f6fffa; }

.bg-mintcream-500 { background-color: #f5fffa; }
.text-mintcream-500 { color: #f5fffa; }
.border-mintcream-500 { border-color: #f5fffa; }
.outline-mintcream-500 { outline-color: #f5fffa; }

.bg-mintcream-600 { background-color: #ccd4d0; }
.text-mintcream-600 { color: #ccd4d0; }
.border-mintcream-600 { border-color: #ccd4d0; }
.outline-mintcream-600 { outline-color: #ccd4d0; }

.bg-mintcream-700 { background-color: #a3a9a6; }
.text-mintcream-700 { color: #a3a9a6; }
.border-mintcream-700 { border-color: #a3a9a6; }
.outline-mintcream-700 { outline-color: #a3a9a6; }

.bg-mintcream-800 { background-color: #7a7e7c; }
.text-mintcream-800 { color: #7a7e7c; }
.border-mintcream-800 { border-color: #7a7e7c; }
.outline-mintcream-800 { outline-color: #7a7e7c; }

.bg-mintcream-900 { background-color: #515352; }
.text-mintcream-900 { color: #515352; }
.border-mintcream-900 { border-color: #515352; }
.outline-mintcream-900 { outline-color: #515352; }

.bg-mintcream-950 { background-color: #282828; }
.text-mintcream-950 { color: #282828; }
.border-mintcream-950 { border-color: #282828; }
.outline-mintcream-950 { outline-color: #282828; }


