
/* github: https://github.com/iaseth/html-color-names */

.bg-mintcream-50 { background-color: #fdfffe; }
.text-mintcream-50 { color: #fdfffe; }
.border-mintcream-50 { border-color: #fdfffe; }
.outline-mintcream-50 { outline-color: #fdfffe; }

.bg-mintcream-100 { background-color: #fbfffd; }
.text-mintcream-100 { color: #fbfffd; }
.border-mintcream-100 { border-color: #fbfffd; }
.outline-mintcream-100 { outline-color: #fbfffd; }

.bg-mintcream-200 { background-color: #fafffc; }
.text-mintcream-200 { color: #fafffc; }
.border-mintcream-200 { border-color: #fafffc; }
.outline-mintcream-200 { outline-color: #fafffc; }

.bg-mintcream-300 { background-color: #f8fffb; }
.text-mintcream-300 { color: #f8fffb; }
.border-mintcream-300 { border-color: #f8fffb; }
.outline-mintcream-300 { outline-color: #f8fffb; }

.bg-mintcream-400 { background-color: #f6fffa; }
.text-mintcream-400 { color: #f6fffa; }
.border-mintcream-400 { border-color: #f6fffa; }
.outline-mintcream-400 { outline-color: #f6fffa; }

.bg-mintcream-500 { background-color: #f5fffa; }
.text-mintcream-500 { color: #f5fffa; }
.border-mintcream-500 { border-color: #f5fffa; }
.outline-mintcream-500 { outline-color: #f5fffa; }

.bg-mintcream-600 { background-color: #ccd4d0; }
.text-mintcream-600 { color: #ccd4d0; }
.border-mintcream-600 { border-color: #ccd4d0; }
.outline-mintcream-600 { outline-color: #ccd4d0; }

.bg-mintcream-700 { background-color: #a3aaa6; }
.text-mintcream-700 { color: #a3aaa6; }
.border-mintcream-700 { border-color: #a3aaa6; }
.outline-mintcream-700 { outline-color: #a3aaa6; }

.bg-mintcream-800 { background-color: #7a7f7d; }
.text-mintcream-800 { color: #7a7f7d; }
.border-mintcream-800 { border-color: #7a7f7d; }
.outline-mintcream-800 { outline-color: #7a7f7d; }

.bg-mintcream-900 { background-color: #515553; }
.text-mintcream-900 { color: #515553; }
.border-mintcream-900 { border-color: #515553; }
.outline-mintcream-900 { outline-color: #515553; }

.bg-mintcream-950 { background-color: #282a29; }
.text-mintcream-950 { color: #282a29; }
.border-mintcream-950 { border-color: #282a29; }
.outline-mintcream-950 { outline-color: #282a29; }

