



.bg-mistyrose-50 { background-color: #fffafa; }
.text-mistyrose-50 { color: #fffafa; }
.border-mistyrose-50 { border-color: #fffafa; }
.outline-mistyrose-50 { outline-color: #fffafa; }

.bg-mistyrose-100 { background-color: #fff6f5; }
.text-mistyrose-100 { color: #fff6f5; }
.border-mistyrose-100 { border-color: #fff6f5; }
.outline-mistyrose-100 { outline-color: #fff6f5; }

.bg-mistyrose-200 { background-color: #fff1f0; }
.text-mistyrose-200 { color: #fff1f0; }
.border-mistyrose-200 { border-color: #fff1f0; }
.outline-mistyrose-200 { outline-color: #fff1f0; }

.bg-mistyrose-300 { background-color: #ffedeb; }
.text-mistyrose-300 { color: #ffedeb; }
.border-mistyrose-300 { border-color: #ffedeb; }
.outline-mistyrose-300 { outline-color: #ffedeb; }

.bg-mistyrose-400 { background-color: #ffe8e6; }
.text-mistyrose-400 { color: #ffe8e6; }
.border-mistyrose-400 { border-color: #ffe8e6; }
.outline-mistyrose-400 { outline-color: #ffe8e6; }

.bg-mistyrose-500 { background-color: #ffe4e1; }
.text-mistyrose-500 { color: #ffe4e1; }
.border-mistyrose-500 { border-color: #ffe4e1; }
.outline-mistyrose-500 { outline-color: #ffe4e1; }

.bg-mistyrose-600 { background-color: #d4bebb; }
.text-mistyrose-600 { color: #d4bebb; }
.border-mistyrose-600 { border-color: #d4bebb; }
.outline-mistyrose-600 { outline-color: #d4bebb; }

.bg-mistyrose-700 { background-color: #aa9896; }
.text-mistyrose-700 { color: #aa9896; }
.border-mistyrose-700 { border-color: #aa9896; }
.outline-mistyrose-700 { outline-color: #aa9896; }

.bg-mistyrose-800 { background-color: #7f7270; }
.text-mistyrose-800 { color: #7f7270; }
.border-mistyrose-800 { border-color: #7f7270; }
.outline-mistyrose-800 { outline-color: #7f7270; }

.bg-mistyrose-900 { background-color: #554c4b; }
.text-mistyrose-900 { color: #554c4b; }
.border-mistyrose-900 { border-color: #554c4b; }
.outline-mistyrose-900 { outline-color: #554c4b; }

.bg-mistyrose-950 { background-color: #2a2625; }
.text-mistyrose-950 { color: #2a2625; }
.border-mistyrose-950 { border-color: #2a2625; }
.outline-mistyrose-950 { outline-color: #2a2625; }


