



.bg-mistyrose-50 { background-color: #fff8fa; }
.text-mistyrose-50 { color: #fff8fa; }
.border-mistyrose-50 { border-color: #fff8fa; }
.outline-mistyrose-50 { outline-color: #fff8fa; }

.bg-mistyrose-100 { background-color: #fff4f5; }
.text-mistyrose-100 { color: #fff4f5; }
.border-mistyrose-100 { border-color: #fff4f5; }
.outline-mistyrose-100 { outline-color: #fff4f5; }

.bg-mistyrose-200 { background-color: #fff0f0; }
.text-mistyrose-200 { color: #fff0f0; }
.border-mistyrose-200 { border-color: #fff0f0; }
.outline-mistyrose-200 { outline-color: #fff0f0; }

.bg-mistyrose-300 { background-color: #ffeceb; }
.text-mistyrose-300 { color: #ffeceb; }
.border-mistyrose-300 { border-color: #ffeceb; }
.outline-mistyrose-300 { outline-color: #ffeceb; }

.bg-mistyrose-400 { background-color: #ffe8e6; }
.text-mistyrose-400 { color: #ffe8e6; }
.border-mistyrose-400 { border-color: #ffe8e6; }
.outline-mistyrose-400 { outline-color: #ffe8e6; }

.bg-mistyrose-500 { background-color: #ffe4e1; }
.text-mistyrose-500 { color: #ffe4e1; }
.border-mistyrose-500 { border-color: #ffe4e1; }
.outline-mistyrose-500 { outline-color: #ffe4e1; }

.bg-mistyrose-600 { background-color: #d4bebb; }
.text-mistyrose-600 { color: #d4bebb; }
.border-mistyrose-600 { border-color: #d4bebb; }
.outline-mistyrose-600 { outline-color: #d4bebb; }

.bg-mistyrose-700 { background-color: #a99895; }
.text-mistyrose-700 { color: #a99895; }
.border-mistyrose-700 { border-color: #a99895; }
.outline-mistyrose-700 { outline-color: #a99895; }

.bg-mistyrose-800 { background-color: #7e726f; }
.text-mistyrose-800 { color: #7e726f; }
.border-mistyrose-800 { border-color: #7e726f; }
.outline-mistyrose-800 { outline-color: #7e726f; }

.bg-mistyrose-900 { background-color: #534c49; }
.text-mistyrose-900 { color: #534c49; }
.border-mistyrose-900 { border-color: #534c49; }
.outline-mistyrose-900 { outline-color: #534c49; }

.bg-mistyrose-950 { background-color: #282623; }
.text-mistyrose-950 { color: #282623; }
.border-mistyrose-950 { border-color: #282623; }
.outline-mistyrose-950 { outline-color: #282623; }


