



.bg-moccasin-50 { background-color: #fffaf2; }
.text-moccasin-50 { color: #fffaf2; }
.border-moccasin-50 { border-color: #fffaf2; }
.outline-moccasin-50 { outline-color: #fffaf2; }

.bg-moccasin-100 { background-color: #fff6e6; }
.text-moccasin-100 { color: #fff6e6; }
.border-moccasin-100 { border-color: #fff6e6; }
.outline-moccasin-100 { outline-color: #fff6e6; }

.bg-moccasin-200 { background-color: #fff1da; }
.text-moccasin-200 { color: #fff1da; }
.border-moccasin-200 { border-color: #fff1da; }
.outline-moccasin-200 { outline-color: #fff1da; }

.bg-moccasin-300 { background-color: #ffedcd; }
.text-moccasin-300 { color: #ffedcd; }
.border-moccasin-300 { border-color: #ffedcd; }
.outline-moccasin-300 { outline-color: #ffedcd; }

.bg-moccasin-400 { background-color: #ffe8c1; }
.text-moccasin-400 { color: #ffe8c1; }
.border-moccasin-400 { border-color: #ffe8c1; }
.outline-moccasin-400 { outline-color: #ffe8c1; }

.bg-moccasin-500 { background-color: #ffe4b5; }
.text-moccasin-500 { color: #ffe4b5; }
.border-moccasin-500 { border-color: #ffe4b5; }
.outline-moccasin-500 { outline-color: #ffe4b5; }

.bg-moccasin-600 { background-color: #d4be96; }
.text-moccasin-600 { color: #d4be96; }
.border-moccasin-600 { border-color: #d4be96; }
.outline-moccasin-600 { outline-color: #d4be96; }

.bg-moccasin-700 { background-color: #aa9878; }
.text-moccasin-700 { color: #aa9878; }
.border-moccasin-700 { border-color: #aa9878; }
.outline-moccasin-700 { outline-color: #aa9878; }

.bg-moccasin-800 { background-color: #7f725a; }
.text-moccasin-800 { color: #7f725a; }
.border-moccasin-800 { border-color: #7f725a; }
.outline-moccasin-800 { outline-color: #7f725a; }

.bg-moccasin-900 { background-color: #554c3c; }
.text-moccasin-900 { color: #554c3c; }
.border-moccasin-900 { border-color: #554c3c; }
.outline-moccasin-900 { outline-color: #554c3c; }

.bg-moccasin-950 { background-color: #2a261e; }
.text-moccasin-950 { color: #2a261e; }
.border-moccasin-950 { border-color: #2a261e; }
.outline-moccasin-950 { outline-color: #2a261e; }


