



.bg-moccasin-50 { background-color: #fff8f1; }
.text-moccasin-50 { color: #fff8f1; }
.border-moccasin-50 { border-color: #fff8f1; }
.outline-moccasin-50 { outline-color: #fff8f1; }

.bg-moccasin-100 { background-color: #fff4e5; }
.text-moccasin-100 { color: #fff4e5; }
.border-moccasin-100 { border-color: #fff4e5; }
.outline-moccasin-100 { outline-color: #fff4e5; }

.bg-moccasin-200 { background-color: #fff0d9; }
.text-moccasin-200 { color: #fff0d9; }
.border-moccasin-200 { border-color: #fff0d9; }
.outline-moccasin-200 { outline-color: #fff0d9; }

.bg-moccasin-300 { background-color: #ffeccd; }
.text-moccasin-300 { color: #ffeccd; }
.border-moccasin-300 { border-color: #ffeccd; }
.outline-moccasin-300 { outline-color: #ffeccd; }

.bg-moccasin-400 { background-color: #ffe8c1; }
.text-moccasin-400 { color: #ffe8c1; }
.border-moccasin-400 { border-color: #ffe8c1; }
.outline-moccasin-400 { outline-color: #ffe8c1; }

.bg-moccasin-500 { background-color: #ffe4b5; }
.text-moccasin-500 { color: #ffe4b5; }
.border-moccasin-500 { border-color: #ffe4b5; }
.outline-moccasin-500 { outline-color: #ffe4b5; }

.bg-moccasin-600 { background-color: #d4be96; }
.text-moccasin-600 { color: #d4be96; }
.border-moccasin-600 { border-color: #d4be96; }
.outline-moccasin-600 { outline-color: #d4be96; }

.bg-moccasin-700 { background-color: #a99877; }
.text-moccasin-700 { color: #a99877; }
.border-moccasin-700 { border-color: #a99877; }
.outline-moccasin-700 { outline-color: #a99877; }

.bg-moccasin-800 { background-color: #7e7258; }
.text-moccasin-800 { color: #7e7258; }
.border-moccasin-800 { border-color: #7e7258; }
.outline-moccasin-800 { outline-color: #7e7258; }

.bg-moccasin-900 { background-color: #534c39; }
.text-moccasin-900 { color: #534c39; }
.border-moccasin-900 { border-color: #534c39; }
.outline-moccasin-900 { outline-color: #534c39; }

.bg-moccasin-950 { background-color: #28261a; }
.text-moccasin-950 { color: #28261a; }
.border-moccasin-950 { border-color: #28261a; }
.outline-moccasin-950 { outline-color: #28261a; }


