
.bg-navajowhite-50 { background-color: #fff9f1; }
.text-navajowhite-50 { color: #fff9f1; }
.border-navajowhite-50 { border-color: #fff9f1; }
.outline-navajowhite-50 { outline-color: #fff9f1; }

.bg-navajowhite-100 { background-color: #fff4e3; }
.text-navajowhite-100 { color: #fff4e3; }
.border-navajowhite-100 { border-color: #fff4e3; }
.outline-navajowhite-100 { outline-color: #fff4e3; }

.bg-navajowhite-200 { background-color: #ffeed6; }
.text-navajowhite-200 { color: #ffeed6; }
.border-navajowhite-200 { border-color: #ffeed6; }
.outline-navajowhite-200 { outline-color: #ffeed6; }

.bg-navajowhite-300 { background-color: #ffe9c8; }
.text-navajowhite-300 { color: #ffe9c8; }
.border-navajowhite-300 { border-color: #ffe9c8; }
.outline-navajowhite-300 { outline-color: #ffe9c8; }

.bg-navajowhite-400 { background-color: #ffe3ba; }
.text-navajowhite-400 { color: #ffe3ba; }
.border-navajowhite-400 { border-color: #ffe3ba; }
.outline-navajowhite-400 { outline-color: #ffe3ba; }

.bg-navajowhite-500 { background-color: #ffdead; }
.text-navajowhite-500 { color: #ffdead; }
.border-navajowhite-500 { border-color: #ffdead; }
.outline-navajowhite-500 { outline-color: #ffdead; }

.bg-navajowhite-600 { background-color: #d4b990; }
.text-navajowhite-600 { color: #d4b990; }
.border-navajowhite-600 { border-color: #d4b990; }
.outline-navajowhite-600 { outline-color: #d4b990; }

.bg-navajowhite-700 { background-color: #aa9473; }
.text-navajowhite-700 { color: #aa9473; }
.border-navajowhite-700 { border-color: #aa9473; }
.outline-navajowhite-700 { outline-color: #aa9473; }

.bg-navajowhite-800 { background-color: #7f6f56; }
.text-navajowhite-800 { color: #7f6f56; }
.border-navajowhite-800 { border-color: #7f6f56; }
.outline-navajowhite-800 { outline-color: #7f6f56; }

.bg-navajowhite-900 { background-color: #554a39; }
.text-navajowhite-900 { color: #554a39; }
.border-navajowhite-900 { border-color: #554a39; }
.outline-navajowhite-900 { outline-color: #554a39; }

.bg-navajowhite-950 { background-color: #2a251c; }
.text-navajowhite-950 { color: #2a251c; }
.border-navajowhite-950 { border-color: #2a251c; }
.outline-navajowhite-950 { outline-color: #2a251c; }
