



.bg-navajowhite-50 { background-color: #fff7ee; }
.text-navajowhite-50 { color: #fff7ee; }
.border-navajowhite-50 { border-color: #fff7ee; }
.outline-navajowhite-50 { outline-color: #fff7ee; }

.bg-navajowhite-100 { background-color: #fff2e1; }
.text-navajowhite-100 { color: #fff2e1; }
.border-navajowhite-100 { border-color: #fff2e1; }
.outline-navajowhite-100 { outline-color: #fff2e1; }

.bg-navajowhite-200 { background-color: #ffedd4; }
.text-navajowhite-200 { color: #ffedd4; }
.border-navajowhite-200 { border-color: #ffedd4; }
.outline-navajowhite-200 { outline-color: #ffedd4; }

.bg-navajowhite-300 { background-color: #ffe8c7; }
.text-navajowhite-300 { color: #ffe8c7; }
.border-navajowhite-300 { border-color: #ffe8c7; }
.outline-navajowhite-300 { outline-color: #ffe8c7; }

.bg-navajowhite-400 { background-color: #ffe3ba; }
.text-navajowhite-400 { color: #ffe3ba; }
.border-navajowhite-400 { border-color: #ffe3ba; }
.outline-navajowhite-400 { outline-color: #ffe3ba; }

.bg-navajowhite-500 { background-color: #ffdead; }
.text-navajowhite-500 { color: #ffdead; }
.border-navajowhite-500 { border-color: #ffdead; }
.outline-navajowhite-500 { outline-color: #ffdead; }

.bg-navajowhite-600 { background-color: #d4b990; }
.text-navajowhite-600 { color: #d4b990; }
.border-navajowhite-600 { border-color: #d4b990; }
.outline-navajowhite-600 { outline-color: #d4b990; }

.bg-navajowhite-700 { background-color: #a99473; }
.text-navajowhite-700 { color: #a99473; }
.border-navajowhite-700 { border-color: #a99473; }
.outline-navajowhite-700 { outline-color: #a99473; }

.bg-navajowhite-800 { background-color: #7e6f56; }
.text-navajowhite-800 { color: #7e6f56; }
.border-navajowhite-800 { border-color: #7e6f56; }
.outline-navajowhite-800 { outline-color: #7e6f56; }

.bg-navajowhite-900 { background-color: #534a39; }
.text-navajowhite-900 { color: #534a39; }
.border-navajowhite-900 { border-color: #534a39; }
.outline-navajowhite-900 { outline-color: #534a39; }

.bg-navajowhite-950 { background-color: #28251c; }
.text-navajowhite-950 { color: #28251c; }
.border-navajowhite-950 { border-color: #28251c; }
.outline-navajowhite-950 { outline-color: #28251c; }


