



.bg-navy-50 { background-color: #d4d4e9; }
.text-navy-50 { color: #d4d4e9; }
.border-navy-50 { border-color: #d4d4e9; }
.outline-navy-50 { outline-color: #d4d4e9; }

.bg-navy-100 { background-color: #aaaad4; }
.text-navy-100 { color: #aaaad4; }
.border-navy-100 { border-color: #aaaad4; }
.outline-navy-100 { outline-color: #aaaad4; }

.bg-navy-200 { background-color: #7f7fbf; }
.text-navy-200 { color: #7f7fbf; }
.border-navy-200 { border-color: #7f7fbf; }
.outline-navy-200 { outline-color: #7f7fbf; }

.bg-navy-300 { background-color: #5555aa; }
.text-navy-300 { color: #5555aa; }
.border-navy-300 { border-color: #5555aa; }
.outline-navy-300 { outline-color: #5555aa; }

.bg-navy-400 { background-color: #2a2a95; }
.text-navy-400 { color: #2a2a95; }
.border-navy-400 { border-color: #2a2a95; }
.outline-navy-400 { outline-color: #2a2a95; }

.bg-navy-500 { background-color: #000080; }
.text-navy-500 { color: #000080; }
.border-navy-500 { border-color: #000080; }
.outline-navy-500 { outline-color: #000080; }

.bg-navy-600 { background-color: #00006a; }
.text-navy-600 { color: #00006a; }
.border-navy-600 { border-color: #00006a; }
.outline-navy-600 { outline-color: #00006a; }

.bg-navy-700 { background-color: #000055; }
.text-navy-700 { color: #000055; }
.border-navy-700 { border-color: #000055; }
.outline-navy-700 { outline-color: #000055; }

.bg-navy-800 { background-color: #000040; }
.text-navy-800 { color: #000040; }
.border-navy-800 { border-color: #000040; }
.outline-navy-800 { outline-color: #000040; }

.bg-navy-900 { background-color: #00002a; }
.text-navy-900 { color: #00002a; }
.border-navy-900 { border-color: #00002a; }
.outline-navy-900 { outline-color: #00002a; }

.bg-navy-950 { background-color: #000015; }
.text-navy-950 { color: #000015; }
.border-navy-950 { border-color: #000015; }
.outline-navy-950 { outline-color: #000015; }


