



.bg-navy-50 { background-color: #d2d2e9; }
.text-navy-50 { color: #d2d2e9; }
.border-navy-50 { border-color: #d2d2e9; }
.outline-navy-50 { outline-color: #d2d2e9; }

.bg-navy-100 { background-color: #a8a8d4; }
.text-navy-100 { color: #a8a8d4; }
.border-navy-100 { border-color: #a8a8d4; }
.outline-navy-100 { outline-color: #a8a8d4; }

.bg-navy-200 { background-color: #7e7ebf; }
.text-navy-200 { color: #7e7ebf; }
.border-navy-200 { border-color: #7e7ebf; }
.outline-navy-200 { outline-color: #7e7ebf; }

.bg-navy-300 { background-color: #5454aa; }
.text-navy-300 { color: #5454aa; }
.border-navy-300 { border-color: #5454aa; }
.outline-navy-300 { outline-color: #5454aa; }

.bg-navy-400 { background-color: #2a2a95; }
.text-navy-400 { color: #2a2a95; }
.border-navy-400 { border-color: #2a2a95; }
.outline-navy-400 { outline-color: #2a2a95; }

.bg-navy-500 { background-color: #000080; }
.text-navy-500 { color: #000080; }
.border-navy-500 { border-color: #000080; }
.outline-navy-500 { outline-color: #000080; }

.bg-navy-600 { background-color: #00006a; }
.text-navy-600 { color: #00006a; }
.border-navy-600 { border-color: #00006a; }
.outline-navy-600 { outline-color: #00006a; }

.bg-navy-700 { background-color: #000054; }
.text-navy-700 { color: #000054; }
.border-navy-700 { border-color: #000054; }
.outline-navy-700 { outline-color: #000054; }

.bg-navy-800 { background-color: #00003e; }
.text-navy-800 { color: #00003e; }
.border-navy-800 { border-color: #00003e; }
.outline-navy-800 { outline-color: #00003e; }

.bg-navy-900 { background-color: #000028; }
.text-navy-900 { color: #000028; }
.border-navy-900 { border-color: #000028; }
.outline-navy-900 { outline-color: #000028; }

.bg-navy-950 { background-color: #000012; }
.text-navy-950 { color: #000012; }
.border-navy-950 { border-color: #000012; }
.outline-navy-950 { outline-color: #000012; }


