



.bg-oldlace-50 { background-color: #fefdfa; }
.text-oldlace-50 { color: #fefdfa; }
.border-oldlace-50 { border-color: #fefdfa; }
.outline-oldlace-50 { outline-color: #fefdfa; }

.bg-oldlace-100 { background-color: #fefbf6; }
.text-oldlace-100 { color: #fefbf6; }
.border-oldlace-100 { border-color: #fefbf6; }
.outline-oldlace-100 { outline-color: #fefbf6; }

.bg-oldlace-200 { background-color: #fefaf2; }
.text-oldlace-200 { color: #fefaf2; }
.border-oldlace-200 { border-color: #fefaf2; }
.outline-oldlace-200 { outline-color: #fefaf2; }

.bg-oldlace-300 { background-color: #fdf8ee; }
.text-oldlace-300 { color: #fdf8ee; }
.border-oldlace-300 { border-color: #fdf8ee; }
.outline-oldlace-300 { outline-color: #fdf8ee; }

.bg-oldlace-400 { background-color: #fdf6ea; }
.text-oldlace-400 { color: #fdf6ea; }
.border-oldlace-400 { border-color: #fdf6ea; }
.outline-oldlace-400 { outline-color: #fdf6ea; }

.bg-oldlace-500 { background-color: #fdf5e6; }
.text-oldlace-500 { color: #fdf5e6; }
.border-oldlace-500 { border-color: #fdf5e6; }
.outline-oldlace-500 { outline-color: #fdf5e6; }

.bg-oldlace-600 { background-color: #d2ccbf; }
.text-oldlace-600 { color: #d2ccbf; }
.border-oldlace-600 { border-color: #d2ccbf; }
.outline-oldlace-600 { outline-color: #d2ccbf; }

.bg-oldlace-700 { background-color: #a8a399; }
.text-oldlace-700 { color: #a8a399; }
.border-oldlace-700 { border-color: #a8a399; }
.outline-oldlace-700 { outline-color: #a8a399; }

.bg-oldlace-800 { background-color: #7e7a73; }
.text-oldlace-800 { color: #7e7a73; }
.border-oldlace-800 { border-color: #7e7a73; }
.outline-oldlace-800 { outline-color: #7e7a73; }

.bg-oldlace-900 { background-color: #54514c; }
.text-oldlace-900 { color: #54514c; }
.border-oldlace-900 { border-color: #54514c; }
.outline-oldlace-900 { outline-color: #54514c; }

.bg-oldlace-950 { background-color: #2a2826; }
.text-oldlace-950 { color: #2a2826; }
.border-oldlace-950 { border-color: #2a2826; }
.outline-oldlace-950 { outline-color: #2a2826; }


