



.bg-olivedrab-50 { background-color: #e3e8d7; }
.text-olivedrab-50 { color: #e3e8d7; }
.border-olivedrab-50 { border-color: #e3e8d7; }
.outline-olivedrab-50 { outline-color: #e3e8d7; }

.bg-olivedrab-100 { background-color: #cbd6b3; }
.text-olivedrab-100 { color: #cbd6b3; }
.border-olivedrab-100 { border-color: #cbd6b3; }
.outline-olivedrab-100 { outline-color: #cbd6b3; }

.bg-olivedrab-200 { background-color: #b3c48f; }
.text-olivedrab-200 { color: #b3c48f; }
.border-olivedrab-200 { border-color: #b3c48f; }
.outline-olivedrab-200 { outline-color: #b3c48f; }

.bg-olivedrab-300 { background-color: #9bb26b; }
.text-olivedrab-300 { color: #9bb26b; }
.border-olivedrab-300 { border-color: #9bb26b; }
.outline-olivedrab-300 { outline-color: #9bb26b; }

.bg-olivedrab-400 { background-color: #83a047; }
.text-olivedrab-400 { color: #83a047; }
.border-olivedrab-400 { border-color: #83a047; }
.outline-olivedrab-400 { outline-color: #83a047; }

.bg-olivedrab-500 { background-color: #6b8e23; }
.text-olivedrab-500 { color: #6b8e23; }
.border-olivedrab-500 { border-color: #6b8e23; }
.outline-olivedrab-500 { outline-color: #6b8e23; }

.bg-olivedrab-600 { background-color: #59761d; }
.text-olivedrab-600 { color: #59761d; }
.border-olivedrab-600 { border-color: #59761d; }
.outline-olivedrab-600 { outline-color: #59761d; }

.bg-olivedrab-700 { background-color: #475e17; }
.text-olivedrab-700 { color: #475e17; }
.border-olivedrab-700 { border-color: #475e17; }
.outline-olivedrab-700 { outline-color: #475e17; }

.bg-olivedrab-800 { background-color: #354611; }
.text-olivedrab-800 { color: #354611; }
.border-olivedrab-800 { border-color: #354611; }
.outline-olivedrab-800 { outline-color: #354611; }

.bg-olivedrab-900 { background-color: #232e0b; }
.text-olivedrab-900 { color: #232e0b; }
.border-olivedrab-900 { border-color: #232e0b; }
.outline-olivedrab-900 { outline-color: #232e0b; }

.bg-olivedrab-950 { background-color: #111605; }
.text-olivedrab-950 { color: #111605; }
.border-olivedrab-950 { border-color: #111605; }
.outline-olivedrab-950 { outline-color: #111605; }


