
/* github: https://github.com/iaseth/html-color-names */

.bg-olive-50 { background-color: #e9e9d4; }
.text-olive-50 { color: #e9e9d4; }
.border-olive-50 { border-color: #e9e9d4; }
.outline-olive-50 { outline-color: #e9e9d4; }

.bg-olive-100 { background-color: #d4d4aa; }
.text-olive-100 { color: #d4d4aa; }
.border-olive-100 { border-color: #d4d4aa; }
.outline-olive-100 { outline-color: #d4d4aa; }

.bg-olive-200 { background-color: #bfbf7f; }
.text-olive-200 { color: #bfbf7f; }
.border-olive-200 { border-color: #bfbf7f; }
.outline-olive-200 { outline-color: #bfbf7f; }

.bg-olive-300 { background-color: #aaaa55; }
.text-olive-300 { color: #aaaa55; }
.border-olive-300 { border-color: #aaaa55; }
.outline-olive-300 { outline-color: #aaaa55; }

.bg-olive-400 { background-color: #95952a; }
.text-olive-400 { color: #95952a; }
.border-olive-400 { border-color: #95952a; }
.outline-olive-400 { outline-color: #95952a; }

.bg-olive-500 { background-color: #808000; }
.text-olive-500 { color: #808000; }
.border-olive-500 { border-color: #808000; }
.outline-olive-500 { outline-color: #808000; }

.bg-olive-600 { background-color: #6a6a00; }
.text-olive-600 { color: #6a6a00; }
.border-olive-600 { border-color: #6a6a00; }
.outline-olive-600 { outline-color: #6a6a00; }

.bg-olive-700 { background-color: #555500; }
.text-olive-700 { color: #555500; }
.border-olive-700 { border-color: #555500; }
.outline-olive-700 { outline-color: #555500; }

.bg-olive-800 { background-color: #404000; }
.text-olive-800 { color: #404000; }
.border-olive-800 { border-color: #404000; }
.outline-olive-800 { outline-color: #404000; }

.bg-olive-900 { background-color: #2a2a00; }
.text-olive-900 { color: #2a2a00; }
.border-olive-900 { border-color: #2a2a00; }
.outline-olive-900 { outline-color: #2a2a00; }

.bg-olive-950 { background-color: #151500; }
.text-olive-950 { color: #151500; }
.border-olive-950 { border-color: #151500; }
.outline-olive-950 { outline-color: #151500; }

