
.bg-olivedrab-50 { background-color: #e6ecda; }
.text-olivedrab-50 { color: #e6ecda; }
.border-olivedrab-50 { border-color: #e6ecda; }
.outline-olivedrab-50 { outline-color: #e6ecda; }

.bg-olivedrab-100 { background-color: #cdd9b5; }
.text-olivedrab-100 { color: #cdd9b5; }
.border-olivedrab-100 { border-color: #cdd9b5; }
.outline-olivedrab-100 { outline-color: #cdd9b5; }

.bg-olivedrab-200 { background-color: #b5c691; }
.text-olivedrab-200 { color: #b5c691; }
.border-olivedrab-200 { border-color: #b5c691; }
.outline-olivedrab-200 { outline-color: #b5c691; }

.bg-olivedrab-300 { background-color: #9cb36c; }
.text-olivedrab-300 { color: #9cb36c; }
.border-olivedrab-300 { border-color: #9cb36c; }
.outline-olivedrab-300 { outline-color: #9cb36c; }

.bg-olivedrab-400 { background-color: #83a047; }
.text-olivedrab-400 { color: #83a047; }
.border-olivedrab-400 { border-color: #83a047; }
.outline-olivedrab-400 { outline-color: #83a047; }

.bg-olivedrab-500 { background-color: #6b8e23; }
.text-olivedrab-500 { color: #6b8e23; }
.border-olivedrab-500 { border-color: #6b8e23; }
.outline-olivedrab-500 { outline-color: #6b8e23; }

.bg-olivedrab-600 { background-color: #59761d; }
.text-olivedrab-600 { color: #59761d; }
.border-olivedrab-600 { border-color: #59761d; }
.outline-olivedrab-600 { outline-color: #59761d; }

.bg-olivedrab-700 { background-color: #475e17; }
.text-olivedrab-700 { color: #475e17; }
.border-olivedrab-700 { border-color: #475e17; }
.outline-olivedrab-700 { outline-color: #475e17; }

.bg-olivedrab-800 { background-color: #354711; }
.text-olivedrab-800 { color: #354711; }
.border-olivedrab-800 { border-color: #354711; }
.outline-olivedrab-800 { outline-color: #354711; }

.bg-olivedrab-900 { background-color: #232f0b; }
.text-olivedrab-900 { color: #232f0b; }
.border-olivedrab-900 { border-color: #232f0b; }
.outline-olivedrab-900 { outline-color: #232f0b; }

.bg-olivedrab-950 { background-color: #111705; }
.text-olivedrab-950 { color: #111705; }
.border-olivedrab-950 { border-color: #111705; }
.outline-olivedrab-950 { outline-color: #111705; }
