
/* github: https://github.com/iaseth/html-color-names */

.bg-orange-50 { background-color: #fff0d4; }
.text-orange-50 { color: #fff0d4; }
.border-orange-50 { border-color: #fff0d4; }
.outline-orange-50 { outline-color: #fff0d4; }

.bg-orange-100 { background-color: #ffe1aa; }
.text-orange-100 { color: #ffe1aa; }
.border-orange-100 { border-color: #ffe1aa; }
.outline-orange-100 { outline-color: #ffe1aa; }

.bg-orange-200 { background-color: #ffd27f; }
.text-orange-200 { color: #ffd27f; }
.border-orange-200 { border-color: #ffd27f; }
.outline-orange-200 { outline-color: #ffd27f; }

.bg-orange-300 { background-color: #ffc355; }
.text-orange-300 { color: #ffc355; }
.border-orange-300 { border-color: #ffc355; }
.outline-orange-300 { outline-color: #ffc355; }

.bg-orange-400 { background-color: #ffb42a; }
.text-orange-400 { color: #ffb42a; }
.border-orange-400 { border-color: #ffb42a; }
.outline-orange-400 { outline-color: #ffb42a; }

.bg-orange-500 { background-color: #ffa500; }
.text-orange-500 { color: #ffa500; }
.border-orange-500 { border-color: #ffa500; }
.outline-orange-500 { outline-color: #ffa500; }

.bg-orange-600 { background-color: #d48900; }
.text-orange-600 { color: #d48900; }
.border-orange-600 { border-color: #d48900; }
.outline-orange-600 { outline-color: #d48900; }

.bg-orange-700 { background-color: #aa6e00; }
.text-orange-700 { color: #aa6e00; }
.border-orange-700 { border-color: #aa6e00; }
.outline-orange-700 { outline-color: #aa6e00; }

.bg-orange-800 { background-color: #7f5200; }
.text-orange-800 { color: #7f5200; }
.border-orange-800 { border-color: #7f5200; }
.outline-orange-800 { outline-color: #7f5200; }

.bg-orange-900 { background-color: #553700; }
.text-orange-900 { color: #553700; }
.border-orange-900 { border-color: #553700; }
.outline-orange-900 { outline-color: #553700; }

.bg-orange-950 { background-color: #2a1b00; }
.text-orange-950 { color: #2a1b00; }
.border-orange-950 { border-color: #2a1b00; }
.outline-orange-950 { outline-color: #2a1b00; }

