



.bg-orangered-50 { background-color: #ffe0d2; }
.text-orangered-50 { color: #ffe0d2; }
.border-orangered-50 { border-color: #ffe0d2; }
.outline-orangered-50 { outline-color: #ffe0d2; }

.bg-orangered-100 { background-color: #ffc1a8; }
.text-orangered-100 { color: #ffc1a8; }
.border-orangered-100 { border-color: #ffc1a8; }
.outline-orangered-100 { outline-color: #ffc1a8; }

.bg-orangered-200 { background-color: #ffa27e; }
.text-orangered-200 { color: #ffa27e; }
.border-orangered-200 { border-color: #ffa27e; }
.outline-orangered-200 { outline-color: #ffa27e; }

.bg-orangered-300 { background-color: #ff8354; }
.text-orangered-300 { color: #ff8354; }
.border-orangered-300 { border-color: #ff8354; }
.outline-orangered-300 { outline-color: #ff8354; }

.bg-orangered-400 { background-color: #ff642a; }
.text-orangered-400 { color: #ff642a; }
.border-orangered-400 { border-color: #ff642a; }
.outline-orangered-400 { outline-color: #ff642a; }

.bg-orangered-500 { background-color: #ff4500; }
.text-orangered-500 { color: #ff4500; }
.border-orangered-500 { border-color: #ff4500; }
.outline-orangered-500 { outline-color: #ff4500; }

.bg-orangered-600 { background-color: #d43900; }
.text-orangered-600 { color: #d43900; }
.border-orangered-600 { border-color: #d43900; }
.outline-orangered-600 { outline-color: #d43900; }

.bg-orangered-700 { background-color: #a92d00; }
.text-orangered-700 { color: #a92d00; }
.border-orangered-700 { border-color: #a92d00; }
.outline-orangered-700 { outline-color: #a92d00; }

.bg-orangered-800 { background-color: #7e2100; }
.text-orangered-800 { color: #7e2100; }
.border-orangered-800 { border-color: #7e2100; }
.outline-orangered-800 { outline-color: #7e2100; }

.bg-orangered-900 { background-color: #531500; }
.text-orangered-900 { color: #531500; }
.border-orangered-900 { border-color: #531500; }
.outline-orangered-900 { outline-color: #531500; }

.bg-orangered-950 { background-color: #280900; }
.text-orangered-950 { color: #280900; }
.border-orangered-950 { border-color: #280900; }
.outline-orangered-950 { outline-color: #280900; }


