
/* github: https://github.com/iaseth/html-color-names */

.bg-orangered-50 { background-color: #ffe0d4; }
.text-orangered-50 { color: #ffe0d4; }
.border-orangered-50 { border-color: #ffe0d4; }
.outline-orangered-50 { outline-color: #ffe0d4; }

.bg-orangered-100 { background-color: #ffc1aa; }
.text-orangered-100 { color: #ffc1aa; }
.border-orangered-100 { border-color: #ffc1aa; }
.outline-orangered-100 { outline-color: #ffc1aa; }

.bg-orangered-200 { background-color: #ffa27f; }
.text-orangered-200 { color: #ffa27f; }
.border-orangered-200 { border-color: #ffa27f; }
.outline-orangered-200 { outline-color: #ffa27f; }

.bg-orangered-300 { background-color: #ff8355; }
.text-orangered-300 { color: #ff8355; }
.border-orangered-300 { border-color: #ff8355; }
.outline-orangered-300 { outline-color: #ff8355; }

.bg-orangered-400 { background-color: #ff642a; }
.text-orangered-400 { color: #ff642a; }
.border-orangered-400 { border-color: #ff642a; }
.outline-orangered-400 { outline-color: #ff642a; }

.bg-orangered-500 { background-color: #ff4500; }
.text-orangered-500 { color: #ff4500; }
.border-orangered-500 { border-color: #ff4500; }
.outline-orangered-500 { outline-color: #ff4500; }

.bg-orangered-600 { background-color: #d43900; }
.text-orangered-600 { color: #d43900; }
.border-orangered-600 { border-color: #d43900; }
.outline-orangered-600 { outline-color: #d43900; }

.bg-orangered-700 { background-color: #aa2e00; }
.text-orangered-700 { color: #aa2e00; }
.border-orangered-700 { border-color: #aa2e00; }
.outline-orangered-700 { outline-color: #aa2e00; }

.bg-orangered-800 { background-color: #7f2200; }
.text-orangered-800 { color: #7f2200; }
.border-orangered-800 { border-color: #7f2200; }
.outline-orangered-800 { outline-color: #7f2200; }

.bg-orangered-900 { background-color: #551700; }
.text-orangered-900 { color: #551700; }
.border-orangered-900 { border-color: #551700; }
.outline-orangered-900 { outline-color: #551700; }

.bg-orangered-950 { background-color: #2a0b00; }
.text-orangered-950 { color: #2a0b00; }
.border-orangered-950 { border-color: #2a0b00; }
.outline-orangered-950 { outline-color: #2a0b00; }

