



.bg-orchid-50 { background-color: #f8e7f8; }
.text-orchid-50 { color: #f8e7f8; }
.border-orchid-50 { border-color: #f8e7f8; }
.outline-orchid-50 { outline-color: #f8e7f8; }

.bg-orchid-100 { background-color: #f2cff1; }
.text-orchid-100 { color: #f2cff1; }
.border-orchid-100 { border-color: #f2cff1; }
.outline-orchid-100 { outline-color: #f2cff1; }

.bg-orchid-200 { background-color: #ecb7ea; }
.text-orchid-200 { color: #ecb7ea; }
.border-orchid-200 { border-color: #ecb7ea; }
.outline-orchid-200 { outline-color: #ecb7ea; }

.bg-orchid-300 { background-color: #e69fe3; }
.text-orchid-300 { color: #e69fe3; }
.border-orchid-300 { border-color: #e69fe3; }
.outline-orchid-300 { outline-color: #e69fe3; }

.bg-orchid-400 { background-color: #e087dc; }
.text-orchid-400 { color: #e087dc; }
.border-orchid-400 { border-color: #e087dc; }
.outline-orchid-400 { outline-color: #e087dc; }

.bg-orchid-500 { background-color: #da70d6; }
.text-orchid-500 { color: #da70d6; }
.border-orchid-500 { border-color: #da70d6; }
.outline-orchid-500 { outline-color: #da70d6; }

.bg-orchid-600 { background-color: #b55db2; }
.text-orchid-600 { color: #b55db2; }
.border-orchid-600 { border-color: #b55db2; }
.outline-orchid-600 { outline-color: #b55db2; }

.bg-orchid-700 { background-color: #914a8e; }
.text-orchid-700 { color: #914a8e; }
.border-orchid-700 { border-color: #914a8e; }
.outline-orchid-700 { outline-color: #914a8e; }

.bg-orchid-800 { background-color: #6d386b; }
.text-orchid-800 { color: #6d386b; }
.border-orchid-800 { border-color: #6d386b; }
.outline-orchid-800 { outline-color: #6d386b; }

.bg-orchid-900 { background-color: #482547; }
.text-orchid-900 { color: #482547; }
.border-orchid-900 { border-color: #482547; }
.outline-orchid-900 { outline-color: #482547; }

.bg-orchid-950 { background-color: #241223; }
.text-orchid-950 { color: #241223; }
.border-orchid-950 { border-color: #241223; }
.outline-orchid-950 { outline-color: #241223; }


