



.bg-orchid-50 { background-color: #f8e3f4; }
.text-orchid-50 { color: #f8e3f4; }
.border-orchid-50 { border-color: #f8e3f4; }
.outline-orchid-50 { outline-color: #f8e3f4; }

.bg-orchid-100 { background-color: #f2ccee; }
.text-orchid-100 { color: #f2ccee; }
.border-orchid-100 { border-color: #f2ccee; }
.outline-orchid-100 { outline-color: #f2ccee; }

.bg-orchid-200 { background-color: #ecb5e8; }
.text-orchid-200 { color: #ecb5e8; }
.border-orchid-200 { border-color: #ecb5e8; }
.outline-orchid-200 { outline-color: #ecb5e8; }

.bg-orchid-300 { background-color: #e69ee2; }
.text-orchid-300 { color: #e69ee2; }
.border-orchid-300 { border-color: #e69ee2; }
.outline-orchid-300 { outline-color: #e69ee2; }

.bg-orchid-400 { background-color: #e087dc; }
.text-orchid-400 { color: #e087dc; }
.border-orchid-400 { border-color: #e087dc; }
.outline-orchid-400 { outline-color: #e087dc; }

.bg-orchid-500 { background-color: #da70d6; }
.text-orchid-500 { color: #da70d6; }
.border-orchid-500 { border-color: #da70d6; }
.outline-orchid-500 { outline-color: #da70d6; }

.bg-orchid-600 { background-color: #b55db2; }
.text-orchid-600 { color: #b55db2; }
.border-orchid-600 { border-color: #b55db2; }
.outline-orchid-600 { outline-color: #b55db2; }

.bg-orchid-700 { background-color: #904a8e; }
.text-orchid-700 { color: #904a8e; }
.border-orchid-700 { border-color: #904a8e; }
.outline-orchid-700 { outline-color: #904a8e; }

.bg-orchid-800 { background-color: #6b376a; }
.text-orchid-800 { color: #6b376a; }
.border-orchid-800 { border-color: #6b376a; }
.outline-orchid-800 { outline-color: #6b376a; }

.bg-orchid-900 { background-color: #462446; }
.text-orchid-900 { color: #462446; }
.border-orchid-900 { border-color: #462446; }
.outline-orchid-900 { outline-color: #462446; }

.bg-orchid-950 { background-color: #211122; }
.text-orchid-950 { color: #211122; }
.border-orchid-950 { border-color: #211122; }
.outline-orchid-950 { outline-color: #211122; }


