
/* github: https://github.com/iaseth/html-color-names */

.bg-palegreen-50 { background-color: #edfeed; }
.text-palegreen-50 { color: #edfeed; }
.border-palegreen-50 { border-color: #edfeed; }
.outline-palegreen-50 { outline-color: #edfeed; }

.bg-palegreen-100 { background-color: #dcfddc; }
.text-palegreen-100 { color: #dcfddc; }
.border-palegreen-100 { border-color: #dcfddc; }
.outline-palegreen-100 { outline-color: #dcfddc; }

.bg-palegreen-200 { background-color: #cbfdcb; }
.text-palegreen-200 { color: #cbfdcb; }
.border-palegreen-200 { border-color: #cbfdcb; }
.outline-palegreen-200 { outline-color: #cbfdcb; }

.bg-palegreen-300 { background-color: #bafcba; }
.text-palegreen-300 { color: #bafcba; }
.border-palegreen-300 { border-color: #bafcba; }
.outline-palegreen-300 { outline-color: #bafcba; }

.bg-palegreen-400 { background-color: #a9fba9; }
.text-palegreen-400 { color: #a9fba9; }
.border-palegreen-400 { border-color: #a9fba9; }
.outline-palegreen-400 { outline-color: #a9fba9; }

.bg-palegreen-500 { background-color: #98fb98; }
.text-palegreen-500 { color: #98fb98; }
.border-palegreen-500 { border-color: #98fb98; }
.outline-palegreen-500 { outline-color: #98fb98; }

.bg-palegreen-600 { background-color: #7ed17e; }
.text-palegreen-600 { color: #7ed17e; }
.border-palegreen-600 { border-color: #7ed17e; }
.outline-palegreen-600 { outline-color: #7ed17e; }

.bg-palegreen-700 { background-color: #65a765; }
.text-palegreen-700 { color: #65a765; }
.border-palegreen-700 { border-color: #65a765; }
.outline-palegreen-700 { outline-color: #65a765; }

.bg-palegreen-800 { background-color: #4c7d4c; }
.text-palegreen-800 { color: #4c7d4c; }
.border-palegreen-800 { border-color: #4c7d4c; }
.outline-palegreen-800 { outline-color: #4c7d4c; }

.bg-palegreen-900 { background-color: #325332; }
.text-palegreen-900 { color: #325332; }
.border-palegreen-900 { border-color: #325332; }
.outline-palegreen-900 { outline-color: #325332; }

.bg-palegreen-950 { background-color: #192919; }
.text-palegreen-950 { color: #192919; }
.border-palegreen-950 { border-color: #192919; }
.outline-palegreen-950 { outline-color: #192919; }

