



.bg-paleturquoise-50 { background-color: #f0f8f8; }
.text-paleturquoise-50 { color: #f0f8f8; }
.border-paleturquoise-50 { border-color: #f0f8f8; }
.outline-paleturquoise-50 { outline-color: #f0f8f8; }

.bg-paleturquoise-100 { background-color: #e3f6f6; }
.text-paleturquoise-100 { color: #e3f6f6; }
.border-paleturquoise-100 { border-color: #e3f6f6; }
.outline-paleturquoise-100 { outline-color: #e3f6f6; }

.bg-paleturquoise-200 { background-color: #d6f4f4; }
.text-paleturquoise-200 { color: #d6f4f4; }
.border-paleturquoise-200 { border-color: #d6f4f4; }
.outline-paleturquoise-200 { outline-color: #d6f4f4; }

.bg-paleturquoise-300 { background-color: #c9f2f2; }
.text-paleturquoise-300 { color: #c9f2f2; }
.border-paleturquoise-300 { border-color: #c9f2f2; }
.outline-paleturquoise-300 { outline-color: #c9f2f2; }

.bg-paleturquoise-400 { background-color: #bcf0f0; }
.text-paleturquoise-400 { color: #bcf0f0; }
.border-paleturquoise-400 { border-color: #bcf0f0; }
.outline-paleturquoise-400 { outline-color: #bcf0f0; }

.bg-paleturquoise-500 { background-color: #afeeee; }
.text-paleturquoise-500 { color: #afeeee; }
.border-paleturquoise-500 { border-color: #afeeee; }
.outline-paleturquoise-500 { outline-color: #afeeee; }

.bg-paleturquoise-600 { background-color: #91c6c6; }
.text-paleturquoise-600 { color: #91c6c6; }
.border-paleturquoise-600 { border-color: #91c6c6; }
.outline-paleturquoise-600 { outline-color: #91c6c6; }

.bg-paleturquoise-700 { background-color: #739e9e; }
.text-paleturquoise-700 { color: #739e9e; }
.border-paleturquoise-700 { border-color: #739e9e; }
.outline-paleturquoise-700 { outline-color: #739e9e; }

.bg-paleturquoise-800 { background-color: #557676; }
.text-paleturquoise-800 { color: #557676; }
.border-paleturquoise-800 { border-color: #557676; }
.outline-paleturquoise-800 { outline-color: #557676; }

.bg-paleturquoise-900 { background-color: #374e4e; }
.text-paleturquoise-900 { color: #374e4e; }
.border-paleturquoise-900 { border-color: #374e4e; }
.outline-paleturquoise-900 { outline-color: #374e4e; }

.bg-paleturquoise-950 { background-color: #192626; }
.text-paleturquoise-950 { color: #192626; }
.border-paleturquoise-950 { border-color: #192626; }
.outline-paleturquoise-950 { outline-color: #192626; }


