



.bg-palevioletred-50 { background-color: #f9e3ed; }
.text-palevioletred-50 { color: #f9e3ed; }
.border-palevioletred-50 { border-color: #f9e3ed; }
.outline-palevioletred-50 { outline-color: #f9e3ed; }

.bg-palevioletred-100 { background-color: #f3ccdb; }
.text-palevioletred-100 { color: #f3ccdb; }
.border-palevioletred-100 { border-color: #f3ccdb; }
.outline-palevioletred-100 { outline-color: #f3ccdb; }

.bg-palevioletred-200 { background-color: #edb5c9; }
.text-palevioletred-200 { color: #edb5c9; }
.border-palevioletred-200 { border-color: #edb5c9; }
.outline-palevioletred-200 { outline-color: #edb5c9; }

.bg-palevioletred-300 { background-color: #e79eb7; }
.text-palevioletred-300 { color: #e79eb7; }
.border-palevioletred-300 { border-color: #e79eb7; }
.outline-palevioletred-300 { outline-color: #e79eb7; }

.bg-palevioletred-400 { background-color: #e187a5; }
.text-palevioletred-400 { color: #e187a5; }
.border-palevioletred-400 { border-color: #e187a5; }
.outline-palevioletred-400 { outline-color: #e187a5; }

.bg-palevioletred-500 { background-color: #db7093; }
.text-palevioletred-500 { color: #db7093; }
.border-palevioletred-500 { border-color: #db7093; }
.outline-palevioletred-500 { outline-color: #db7093; }

.bg-palevioletred-600 { background-color: #b65d7a; }
.text-palevioletred-600 { color: #b65d7a; }
.border-palevioletred-600 { border-color: #b65d7a; }
.outline-palevioletred-600 { outline-color: #b65d7a; }

.bg-palevioletred-700 { background-color: #914a61; }
.text-palevioletred-700 { color: #914a61; }
.border-palevioletred-700 { border-color: #914a61; }
.outline-palevioletred-700 { outline-color: #914a61; }

.bg-palevioletred-800 { background-color: #6c3748; }
.text-palevioletred-800 { color: #6c3748; }
.border-palevioletred-800 { border-color: #6c3748; }
.outline-palevioletred-800 { outline-color: #6c3748; }

.bg-palevioletred-900 { background-color: #47242f; }
.text-palevioletred-900 { color: #47242f; }
.border-palevioletred-900 { border-color: #47242f; }
.outline-palevioletred-900 { outline-color: #47242f; }

.bg-palevioletred-950 { background-color: #221116; }
.text-palevioletred-950 { color: #221116; }
.border-palevioletred-950 { border-color: #221116; }
.outline-palevioletred-950 { outline-color: #221116; }


