
.bg-paleturquoise-50 { background-color: #f1fcfc; }
.text-paleturquoise-50 { color: #f1fcfc; }
.border-paleturquoise-50 { border-color: #f1fcfc; }
.outline-paleturquoise-50 { outline-color: #f1fcfc; }

.bg-paleturquoise-100 { background-color: #e4f9f9; }
.text-paleturquoise-100 { color: #e4f9f9; }
.border-paleturquoise-100 { border-color: #e4f9f9; }
.outline-paleturquoise-100 { outline-color: #e4f9f9; }

.bg-paleturquoise-200 { background-color: #d7f6f6; }
.text-paleturquoise-200 { color: #d7f6f6; }
.border-paleturquoise-200 { border-color: #d7f6f6; }
.outline-paleturquoise-200 { outline-color: #d7f6f6; }

.bg-paleturquoise-300 { background-color: #c9f3f3; }
.text-paleturquoise-300 { color: #c9f3f3; }
.border-paleturquoise-300 { border-color: #c9f3f3; }
.outline-paleturquoise-300 { outline-color: #c9f3f3; }

.bg-paleturquoise-400 { background-color: #bcf0f0; }
.text-paleturquoise-400 { color: #bcf0f0; }
.border-paleturquoise-400 { border-color: #bcf0f0; }
.outline-paleturquoise-400 { outline-color: #bcf0f0; }

.bg-paleturquoise-500 { background-color: #afeeee; }
.text-paleturquoise-500 { color: #afeeee; }
.border-paleturquoise-500 { border-color: #afeeee; }
.outline-paleturquoise-500 { outline-color: #afeeee; }

.bg-paleturquoise-600 { background-color: #91c6c6; }
.text-paleturquoise-600 { color: #91c6c6; }
.border-paleturquoise-600 { border-color: #91c6c6; }
.outline-paleturquoise-600 { outline-color: #91c6c6; }

.bg-paleturquoise-700 { background-color: #749e9e; }
.text-paleturquoise-700 { color: #749e9e; }
.border-paleturquoise-700 { border-color: #749e9e; }
.outline-paleturquoise-700 { outline-color: #749e9e; }

.bg-paleturquoise-800 { background-color: #577777; }
.text-paleturquoise-800 { color: #577777; }
.border-paleturquoise-800 { border-color: #577777; }
.outline-paleturquoise-800 { outline-color: #577777; }

.bg-paleturquoise-900 { background-color: #3a4f4f; }
.text-paleturquoise-900 { color: #3a4f4f; }
.border-paleturquoise-900 { border-color: #3a4f4f; }
.outline-paleturquoise-900 { outline-color: #3a4f4f; }

.bg-paleturquoise-950 { background-color: #1d2727; }
.text-paleturquoise-950 { color: #1d2727; }
.border-paleturquoise-950 { border-color: #1d2727; }
.outline-paleturquoise-950 { outline-color: #1d2727; }
