



.bg-palegreen-50 { background-color: #edfbed; }
.text-palegreen-50 { color: #edfbed; }
.border-palegreen-50 { border-color: #edfbed; }
.outline-palegreen-50 { outline-color: #edfbed; }

.bg-palegreen-100 { background-color: #dcfbdc; }
.text-palegreen-100 { color: #dcfbdc; }
.border-palegreen-100 { border-color: #dcfbdc; }
.outline-palegreen-100 { outline-color: #dcfbdc; }

.bg-palegreen-200 { background-color: #cbfbcb; }
.text-palegreen-200 { color: #cbfbcb; }
.border-palegreen-200 { border-color: #cbfbcb; }
.outline-palegreen-200 { outline-color: #cbfbcb; }

.bg-palegreen-300 { background-color: #bafbba; }
.text-palegreen-300 { color: #bafbba; }
.border-palegreen-300 { border-color: #bafbba; }
.outline-palegreen-300 { outline-color: #bafbba; }

.bg-palegreen-400 { background-color: #a9fba9; }
.text-palegreen-400 { color: #a9fba9; }
.border-palegreen-400 { border-color: #a9fba9; }
.outline-palegreen-400 { outline-color: #a9fba9; }

.bg-palegreen-500 { background-color: #98fb98; }
.text-palegreen-500 { color: #98fb98; }
.border-palegreen-500 { border-color: #98fb98; }
.outline-palegreen-500 { outline-color: #98fb98; }

.bg-palegreen-600 { background-color: #7ed17e; }
.text-palegreen-600 { color: #7ed17e; }
.border-palegreen-600 { border-color: #7ed17e; }
.outline-palegreen-600 { outline-color: #7ed17e; }

.bg-palegreen-700 { background-color: #64a764; }
.text-palegreen-700 { color: #64a764; }
.border-palegreen-700 { border-color: #64a764; }
.outline-palegreen-700 { outline-color: #64a764; }

.bg-palegreen-800 { background-color: #4a7d4a; }
.text-palegreen-800 { color: #4a7d4a; }
.border-palegreen-800 { border-color: #4a7d4a; }
.outline-palegreen-800 { outline-color: #4a7d4a; }

.bg-palegreen-900 { background-color: #305330; }
.text-palegreen-900 { color: #305330; }
.border-palegreen-900 { border-color: #305330; }
.outline-palegreen-900 { outline-color: #305330; }

.bg-palegreen-950 { background-color: #162916; }
.text-palegreen-950 { color: #162916; }
.border-palegreen-950 { border-color: #162916; }
.outline-palegreen-950 { outline-color: #162916; }


