
/* github: https://github.com/iaseth/html-color-names */

.bg-palevioletred-50 { background-color: #f9e7ed; }
.text-palevioletred-50 { color: #f9e7ed; }
.border-palevioletred-50 { border-color: #f9e7ed; }
.outline-palevioletred-50 { outline-color: #f9e7ed; }

.bg-palevioletred-100 { background-color: #f3cfdb; }
.text-palevioletred-100 { color: #f3cfdb; }
.border-palevioletred-100 { border-color: #f3cfdb; }
.outline-palevioletred-100 { outline-color: #f3cfdb; }

.bg-palevioletred-200 { background-color: #edb7c9; }
.text-palevioletred-200 { color: #edb7c9; }
.border-palevioletred-200 { border-color: #edb7c9; }
.outline-palevioletred-200 { outline-color: #edb7c9; }

.bg-palevioletred-300 { background-color: #e79fb7; }
.text-palevioletred-300 { color: #e79fb7; }
.border-palevioletred-300 { border-color: #e79fb7; }
.outline-palevioletred-300 { outline-color: #e79fb7; }

.bg-palevioletred-400 { background-color: #e187a5; }
.text-palevioletred-400 { color: #e187a5; }
.border-palevioletred-400 { border-color: #e187a5; }
.outline-palevioletred-400 { outline-color: #e187a5; }

.bg-palevioletred-500 { background-color: #db7093; }
.text-palevioletred-500 { color: #db7093; }
.border-palevioletred-500 { border-color: #db7093; }
.outline-palevioletred-500 { outline-color: #db7093; }

.bg-palevioletred-600 { background-color: #b65d7a; }
.text-palevioletred-600 { color: #b65d7a; }
.border-palevioletred-600 { border-color: #b65d7a; }
.outline-palevioletred-600 { outline-color: #b65d7a; }

.bg-palevioletred-700 { background-color: #924a62; }
.text-palevioletred-700 { color: #924a62; }
.border-palevioletred-700 { border-color: #924a62; }
.outline-palevioletred-700 { outline-color: #924a62; }

.bg-palevioletred-800 { background-color: #6d3849; }
.text-palevioletred-800 { color: #6d3849; }
.border-palevioletred-800 { border-color: #6d3849; }
.outline-palevioletred-800 { outline-color: #6d3849; }

.bg-palevioletred-900 { background-color: #492531; }
.text-palevioletred-900 { color: #492531; }
.border-palevioletred-900 { border-color: #492531; }
.outline-palevioletred-900 { outline-color: #492531; }

.bg-palevioletred-950 { background-color: #241218; }
.text-palevioletred-950 { color: #241218; }
.border-palevioletred-950 { border-color: #241218; }
.outline-palevioletred-950 { outline-color: #241218; }

