
.bg-palegoldenrod-50 { background-color: #fcfbf0; }
.text-palegoldenrod-50 { color: #fcfbf0; }
.border-palegoldenrod-50 { border-color: #fcfbf0; }
.outline-palegoldenrod-50 { outline-color: #fcfbf0; }

.bg-palegoldenrod-100 { background-color: #f9f7e2; }
.text-palegoldenrod-100 { color: #f9f7e2; }
.border-palegoldenrod-100 { border-color: #f9f7e2; }
.outline-palegoldenrod-100 { outline-color: #f9f7e2; }

.bg-palegoldenrod-200 { background-color: #f6f3d4; }
.text-palegoldenrod-200 { color: #f6f3d4; }
.border-palegoldenrod-200 { border-color: #f6f3d4; }
.outline-palegoldenrod-200 { outline-color: #f6f3d4; }

.bg-palegoldenrod-300 { background-color: #f3efc6; }
.text-palegoldenrod-300 { color: #f3efc6; }
.border-palegoldenrod-300 { border-color: #f3efc6; }
.outline-palegoldenrod-300 { outline-color: #f3efc6; }

.bg-palegoldenrod-400 { background-color: #f0ebb8; }
.text-palegoldenrod-400 { color: #f0ebb8; }
.border-palegoldenrod-400 { border-color: #f0ebb8; }
.outline-palegoldenrod-400 { outline-color: #f0ebb8; }

.bg-palegoldenrod-500 { background-color: #eee8aa; }
.text-palegoldenrod-500 { color: #eee8aa; }
.border-palegoldenrod-500 { border-color: #eee8aa; }
.outline-palegoldenrod-500 { outline-color: #eee8aa; }

.bg-palegoldenrod-600 { background-color: #c6c18d; }
.text-palegoldenrod-600 { color: #c6c18d; }
.border-palegoldenrod-600 { border-color: #c6c18d; }
.outline-palegoldenrod-600 { outline-color: #c6c18d; }

.bg-palegoldenrod-700 { background-color: #9e9a71; }
.text-palegoldenrod-700 { color: #9e9a71; }
.border-palegoldenrod-700 { border-color: #9e9a71; }
.outline-palegoldenrod-700 { outline-color: #9e9a71; }

.bg-palegoldenrod-800 { background-color: #777455; }
.text-palegoldenrod-800 { color: #777455; }
.border-palegoldenrod-800 { border-color: #777455; }
.outline-palegoldenrod-800 { outline-color: #777455; }

.bg-palegoldenrod-900 { background-color: #4f4d38; }
.text-palegoldenrod-900 { color: #4f4d38; }
.border-palegoldenrod-900 { border-color: #4f4d38; }
.outline-palegoldenrod-900 { outline-color: #4f4d38; }

.bg-palegoldenrod-950 { background-color: #27261c; }
.text-palegoldenrod-950 { color: #27261c; }
.border-palegoldenrod-950 { border-color: #27261c; }
.outline-palegoldenrod-950 { outline-color: #27261c; }
