



.bg-papayawhip-50 { background-color: #fff9f8; }
.text-papayawhip-50 { color: #fff9f8; }
.border-papayawhip-50 { border-color: #fff9f8; }
.outline-papayawhip-50 { outline-color: #fff9f8; }

.bg-papayawhip-100 { background-color: #fff7f1; }
.text-papayawhip-100 { color: #fff7f1; }
.border-papayawhip-100 { border-color: #fff7f1; }
.outline-papayawhip-100 { outline-color: #fff7f1; }

.bg-papayawhip-200 { background-color: #fff5ea; }
.text-papayawhip-200 { color: #fff5ea; }
.border-papayawhip-200 { border-color: #fff5ea; }
.outline-papayawhip-200 { outline-color: #fff5ea; }

.bg-papayawhip-300 { background-color: #fff3e3; }
.text-papayawhip-300 { color: #fff3e3; }
.border-papayawhip-300 { border-color: #fff3e3; }
.outline-papayawhip-300 { outline-color: #fff3e3; }

.bg-papayawhip-400 { background-color: #fff1dc; }
.text-papayawhip-400 { color: #fff1dc; }
.border-papayawhip-400 { border-color: #fff1dc; }
.outline-papayawhip-400 { outline-color: #fff1dc; }

.bg-papayawhip-500 { background-color: #ffefd5; }
.text-papayawhip-500 { color: #ffefd5; }
.border-papayawhip-500 { border-color: #ffefd5; }
.outline-papayawhip-500 { outline-color: #ffefd5; }

.bg-papayawhip-600 { background-color: #d4c7b1; }
.text-papayawhip-600 { color: #d4c7b1; }
.border-papayawhip-600 { border-color: #d4c7b1; }
.outline-papayawhip-600 { outline-color: #d4c7b1; }

.bg-papayawhip-700 { background-color: #a99f8d; }
.text-papayawhip-700 { color: #a99f8d; }
.border-papayawhip-700 { border-color: #a99f8d; }
.outline-papayawhip-700 { outline-color: #a99f8d; }

.bg-papayawhip-800 { background-color: #7e7769; }
.text-papayawhip-800 { color: #7e7769; }
.border-papayawhip-800 { border-color: #7e7769; }
.outline-papayawhip-800 { outline-color: #7e7769; }

.bg-papayawhip-900 { background-color: #534f45; }
.text-papayawhip-900 { color: #534f45; }
.border-papayawhip-900 { border-color: #534f45; }
.outline-papayawhip-900 { outline-color: #534f45; }

.bg-papayawhip-950 { background-color: #282721; }
.text-papayawhip-950 { color: #282721; }
.border-papayawhip-950 { border-color: #282721; }
.outline-papayawhip-950 { outline-color: #282721; }


