
/* github: https://github.com/iaseth/html-color-names */

.bg-papayawhip-50 { background-color: #fffcf8; }
.text-papayawhip-50 { color: #fffcf8; }
.border-papayawhip-50 { border-color: #fffcf8; }
.outline-papayawhip-50 { outline-color: #fffcf8; }

.bg-papayawhip-100 { background-color: #fff9f1; }
.text-papayawhip-100 { color: #fff9f1; }
.border-papayawhip-100 { border-color: #fff9f1; }
.outline-papayawhip-100 { outline-color: #fff9f1; }

.bg-papayawhip-200 { background-color: #fff7ea; }
.text-papayawhip-200 { color: #fff7ea; }
.border-papayawhip-200 { border-color: #fff7ea; }
.outline-papayawhip-200 { outline-color: #fff7ea; }

.bg-papayawhip-300 { background-color: #fff4e3; }
.text-papayawhip-300 { color: #fff4e3; }
.border-papayawhip-300 { border-color: #fff4e3; }
.outline-papayawhip-300 { outline-color: #fff4e3; }

.bg-papayawhip-400 { background-color: #fff1dc; }
.text-papayawhip-400 { color: #fff1dc; }
.border-papayawhip-400 { border-color: #fff1dc; }
.outline-papayawhip-400 { outline-color: #fff1dc; }

.bg-papayawhip-500 { background-color: #ffefd5; }
.text-papayawhip-500 { color: #ffefd5; }
.border-papayawhip-500 { border-color: #ffefd5; }
.outline-papayawhip-500 { outline-color: #ffefd5; }

.bg-papayawhip-600 { background-color: #d4c7b1; }
.text-papayawhip-600 { color: #d4c7b1; }
.border-papayawhip-600 { border-color: #d4c7b1; }
.outline-papayawhip-600 { outline-color: #d4c7b1; }

.bg-papayawhip-700 { background-color: #aa9f8e; }
.text-papayawhip-700 { color: #aa9f8e; }
.border-papayawhip-700 { border-color: #aa9f8e; }
.outline-papayawhip-700 { outline-color: #aa9f8e; }

.bg-papayawhip-800 { background-color: #7f776a; }
.text-papayawhip-800 { color: #7f776a; }
.border-papayawhip-800 { border-color: #7f776a; }
.outline-papayawhip-800 { outline-color: #7f776a; }

.bg-papayawhip-900 { background-color: #554f47; }
.text-papayawhip-900 { color: #554f47; }
.border-papayawhip-900 { border-color: #554f47; }
.outline-papayawhip-900 { outline-color: #554f47; }

.bg-papayawhip-950 { background-color: #2a2723; }
.text-papayawhip-950 { color: #2a2723; }
.border-papayawhip-950 { border-color: #2a2723; }
.outline-papayawhip-950 { outline-color: #2a2723; }

