
/* github: https://github.com/iaseth/html-color-names */

.bg-peachpuff-50 { background-color: #fff8f3; }
.text-peachpuff-50 { color: #fff8f3; }
.border-peachpuff-50 { border-color: #fff8f3; }
.outline-peachpuff-50 { outline-color: #fff8f3; }

.bg-peachpuff-100 { background-color: #fff2e7; }
.text-peachpuff-100 { color: #fff2e7; }
.border-peachpuff-100 { border-color: #fff2e7; }
.outline-peachpuff-100 { outline-color: #fff2e7; }

.bg-peachpuff-200 { background-color: #ffecdc; }
.text-peachpuff-200 { color: #ffecdc; }
.border-peachpuff-200 { border-color: #ffecdc; }
.outline-peachpuff-200 { outline-color: #ffecdc; }

.bg-peachpuff-300 { background-color: #ffe6d0; }
.text-peachpuff-300 { color: #ffe6d0; }
.border-peachpuff-300 { border-color: #ffe6d0; }
.outline-peachpuff-300 { outline-color: #ffe6d0; }

.bg-peachpuff-400 { background-color: #ffe0c4; }
.text-peachpuff-400 { color: #ffe0c4; }
.border-peachpuff-400 { border-color: #ffe0c4; }
.outline-peachpuff-400 { outline-color: #ffe0c4; }

.bg-peachpuff-500 { background-color: #ffdab9; }
.text-peachpuff-500 { color: #ffdab9; }
.border-peachpuff-500 { border-color: #ffdab9; }
.outline-peachpuff-500 { outline-color: #ffdab9; }

.bg-peachpuff-600 { background-color: #d4b59a; }
.text-peachpuff-600 { color: #d4b59a; }
.border-peachpuff-600 { border-color: #d4b59a; }
.outline-peachpuff-600 { outline-color: #d4b59a; }

.bg-peachpuff-700 { background-color: #aa917b; }
.text-peachpuff-700 { color: #aa917b; }
.border-peachpuff-700 { border-color: #aa917b; }
.outline-peachpuff-700 { outline-color: #aa917b; }

.bg-peachpuff-800 { background-color: #7f6d5c; }
.text-peachpuff-800 { color: #7f6d5c; }
.border-peachpuff-800 { border-color: #7f6d5c; }
.outline-peachpuff-800 { outline-color: #7f6d5c; }

.bg-peachpuff-900 { background-color: #55483d; }
.text-peachpuff-900 { color: #55483d; }
.border-peachpuff-900 { border-color: #55483d; }
.outline-peachpuff-900 { outline-color: #55483d; }

.bg-peachpuff-950 { background-color: #2a241e; }
.text-peachpuff-950 { color: #2a241e; }
.border-peachpuff-950 { border-color: #2a241e; }
.outline-peachpuff-950 { outline-color: #2a241e; }

