



.bg-peachpuff-50 { background-color: #fff8f0; }
.text-peachpuff-50 { color: #fff8f0; }
.border-peachpuff-50 { border-color: #fff8f0; }
.outline-peachpuff-50 { outline-color: #fff8f0; }

.bg-peachpuff-100 { background-color: #fff2e5; }
.text-peachpuff-100 { color: #fff2e5; }
.border-peachpuff-100 { border-color: #fff2e5; }
.outline-peachpuff-100 { outline-color: #fff2e5; }

.bg-peachpuff-200 { background-color: #ffecda; }
.text-peachpuff-200 { color: #ffecda; }
.border-peachpuff-200 { border-color: #ffecda; }
.outline-peachpuff-200 { outline-color: #ffecda; }

.bg-peachpuff-300 { background-color: #ffe6cf; }
.text-peachpuff-300 { color: #ffe6cf; }
.border-peachpuff-300 { border-color: #ffe6cf; }
.outline-peachpuff-300 { outline-color: #ffe6cf; }

.bg-peachpuff-400 { background-color: #ffe0c4; }
.text-peachpuff-400 { color: #ffe0c4; }
.border-peachpuff-400 { border-color: #ffe0c4; }
.outline-peachpuff-400 { outline-color: #ffe0c4; }

.bg-peachpuff-500 { background-color: #ffdab9; }
.text-peachpuff-500 { color: #ffdab9; }
.border-peachpuff-500 { border-color: #ffdab9; }
.outline-peachpuff-500 { outline-color: #ffdab9; }

.bg-peachpuff-600 { background-color: #d4b59a; }
.text-peachpuff-600 { color: #d4b59a; }
.border-peachpuff-600 { border-color: #d4b59a; }
.outline-peachpuff-600 { outline-color: #d4b59a; }

.bg-peachpuff-700 { background-color: #a9907b; }
.text-peachpuff-700 { color: #a9907b; }
.border-peachpuff-700 { border-color: #a9907b; }
.outline-peachpuff-700 { outline-color: #a9907b; }

.bg-peachpuff-800 { background-color: #7e6b5c; }
.text-peachpuff-800 { color: #7e6b5c; }
.border-peachpuff-800 { border-color: #7e6b5c; }
.outline-peachpuff-800 { outline-color: #7e6b5c; }

.bg-peachpuff-900 { background-color: #53463d; }
.text-peachpuff-900 { color: #53463d; }
.border-peachpuff-900 { border-color: #53463d; }
.outline-peachpuff-900 { outline-color: #53463d; }

.bg-peachpuff-950 { background-color: #28211e; }
.text-peachpuff-950 { color: #28211e; }
.border-peachpuff-950 { border-color: #28211e; }
.outline-peachpuff-950 { outline-color: #28211e; }


