



.bg-peru-50 { background-color: #f6eadf; }
.text-peru-50 { color: #f6eadf; }
.border-peru-50 { border-color: #f6eadf; }
.outline-peru-50 { outline-color: #f6eadf; }

.bg-peru-100 { background-color: #eed6bf; }
.text-peru-100 { color: #eed6bf; }
.border-peru-100 { border-color: #eed6bf; }
.outline-peru-100 { outline-color: #eed6bf; }

.bg-peru-200 { background-color: #e6c29f; }
.text-peru-200 { color: #e6c29f; }
.border-peru-200 { border-color: #e6c29f; }
.outline-peru-200 { outline-color: #e6c29f; }

.bg-peru-300 { background-color: #ddad7f; }
.text-peru-300 { color: #ddad7f; }
.border-peru-300 { border-color: #ddad7f; }
.outline-peru-300 { outline-color: #ddad7f; }

.bg-peru-400 { background-color: #d5995f; }
.text-peru-400 { color: #d5995f; }
.border-peru-400 { border-color: #d5995f; }
.outline-peru-400 { outline-color: #d5995f; }

.bg-peru-500 { background-color: #cd853f; }
.text-peru-500 { color: #cd853f; }
.border-peru-500 { border-color: #cd853f; }
.outline-peru-500 { outline-color: #cd853f; }

.bg-peru-600 { background-color: #aa6e34; }
.text-peru-600 { color: #aa6e34; }
.border-peru-600 { border-color: #aa6e34; }
.outline-peru-600 { outline-color: #aa6e34; }

.bg-peru-700 { background-color: #88582a; }
.text-peru-700 { color: #88582a; }
.border-peru-700 { border-color: #88582a; }
.outline-peru-700 { outline-color: #88582a; }

.bg-peru-800 { background-color: #66421f; }
.text-peru-800 { color: #66421f; }
.border-peru-800 { border-color: #66421f; }
.outline-peru-800 { outline-color: #66421f; }

.bg-peru-900 { background-color: #442c15; }
.text-peru-900 { color: #442c15; }
.border-peru-900 { border-color: #442c15; }
.outline-peru-900 { outline-color: #442c15; }

.bg-peru-950 { background-color: #22160a; }
.text-peru-950 { color: #22160a; }
.border-peru-950 { border-color: #22160a; }
.outline-peru-950 { outline-color: #22160a; }


