



.bg-peru-50 { background-color: #f5e9df; }
.text-peru-50 { color: #f5e9df; }
.border-peru-50 { border-color: #f5e9df; }
.outline-peru-50 { outline-color: #f5e9df; }

.bg-peru-100 { background-color: #edd5bf; }
.text-peru-100 { color: #edd5bf; }
.border-peru-100 { border-color: #edd5bf; }
.outline-peru-100 { outline-color: #edd5bf; }

.bg-peru-200 { background-color: #e5c19f; }
.text-peru-200 { color: #e5c19f; }
.border-peru-200 { border-color: #e5c19f; }
.outline-peru-200 { outline-color: #e5c19f; }

.bg-peru-300 { background-color: #ddad7f; }
.text-peru-300 { color: #ddad7f; }
.border-peru-300 { border-color: #ddad7f; }
.outline-peru-300 { outline-color: #ddad7f; }

.bg-peru-400 { background-color: #d5995f; }
.text-peru-400 { color: #d5995f; }
.border-peru-400 { border-color: #d5995f; }
.outline-peru-400 { outline-color: #d5995f; }

.bg-peru-500 { background-color: #cd853f; }
.text-peru-500 { color: #cd853f; }
.border-peru-500 { border-color: #cd853f; }
.outline-peru-500 { outline-color: #cd853f; }

.bg-peru-600 { background-color: #aa6e34; }
.text-peru-600 { color: #aa6e34; }
.border-peru-600 { border-color: #aa6e34; }
.outline-peru-600 { outline-color: #aa6e34; }

.bg-peru-700 { background-color: #875729; }
.text-peru-700 { color: #875729; }
.border-peru-700 { border-color: #875729; }
.outline-peru-700 { outline-color: #875729; }

.bg-peru-800 { background-color: #64401e; }
.text-peru-800 { color: #64401e; }
.border-peru-800 { border-color: #64401e; }
.outline-peru-800 { outline-color: #64401e; }

.bg-peru-900 { background-color: #412913; }
.text-peru-900 { color: #412913; }
.border-peru-900 { border-color: #412913; }
.outline-peru-900 { outline-color: #412913; }

.bg-peru-950 { background-color: #1e1208; }
.text-peru-950 { color: #1e1208; }
.border-peru-950 { border-color: #1e1208; }
.outline-peru-950 { outline-color: #1e1208; }


