
.bg-pink-50 { background-color: #fff4f6; }
.text-pink-50 { color: #fff4f6; }
.border-pink-50 { border-color: #fff4f6; }
.outline-pink-50 { outline-color: #fff4f6; }

.bg-pink-100 { background-color: #ffeaed; }
.text-pink-100 { color: #ffeaed; }
.border-pink-100 { border-color: #ffeaed; }
.outline-pink-100 { outline-color: #ffeaed; }

.bg-pink-200 { background-color: #ffdfe5; }
.text-pink-200 { color: #ffdfe5; }
.border-pink-200 { border-color: #ffdfe5; }
.outline-pink-200 { outline-color: #ffdfe5; }

.bg-pink-300 { background-color: #ffd5dc; }
.text-pink-300 { color: #ffd5dc; }
.border-pink-300 { border-color: #ffd5dc; }
.outline-pink-300 { outline-color: #ffd5dc; }

.bg-pink-400 { background-color: #ffcad3; }
.text-pink-400 { color: #ffcad3; }
.border-pink-400 { border-color: #ffcad3; }
.outline-pink-400 { outline-color: #ffcad3; }

.bg-pink-500 { background-color: #ffc0cb; }
.text-pink-500 { color: #ffc0cb; }
.border-pink-500 { border-color: #ffc0cb; }
.outline-pink-500 { outline-color: #ffc0cb; }

.bg-pink-600 { background-color: #d4a0a9; }
.text-pink-600 { color: #d4a0a9; }
.border-pink-600 { border-color: #d4a0a9; }
.outline-pink-600 { outline-color: #d4a0a9; }

.bg-pink-700 { background-color: #aa8087; }
.text-pink-700 { color: #aa8087; }
.border-pink-700 { border-color: #aa8087; }
.outline-pink-700 { outline-color: #aa8087; }

.bg-pink-800 { background-color: #7f6065; }
.text-pink-800 { color: #7f6065; }
.border-pink-800 { border-color: #7f6065; }
.outline-pink-800 { outline-color: #7f6065; }

.bg-pink-900 { background-color: #554043; }
.text-pink-900 { color: #554043; }
.border-pink-900 { border-color: #554043; }
.outline-pink-900 { outline-color: #554043; }

.bg-pink-950 { background-color: #2a2021; }
.text-pink-950 { color: #2a2021; }
.border-pink-950 { border-color: #2a2021; }
.outline-pink-950 { outline-color: #2a2021; }
