
.bg-plum-50 { background-color: #f9eff9; }
.text-plum-50 { color: #f9eff9; }
.border-plum-50 { border-color: #f9eff9; }
.outline-plum-50 { outline-color: #f9eff9; }

.bg-plum-100 { background-color: #f3dff3; }
.text-plum-100 { color: #f3dff3; }
.border-plum-100 { border-color: #f3dff3; }
.outline-plum-100 { outline-color: #f3dff3; }

.bg-plum-200 { background-color: #eecfee; }
.text-plum-200 { color: #eecfee; }
.border-plum-200 { border-color: #eecfee; }
.outline-plum-200 { outline-color: #eecfee; }

.bg-plum-300 { background-color: #e8bfe8; }
.text-plum-300 { color: #e8bfe8; }
.border-plum-300 { border-color: #e8bfe8; }
.outline-plum-300 { outline-color: #e8bfe8; }

.bg-plum-400 { background-color: #e2afe2; }
.text-plum-400 { color: #e2afe2; }
.border-plum-400 { border-color: #e2afe2; }
.outline-plum-400 { outline-color: #e2afe2; }

.bg-plum-500 { background-color: #dda0dd; }
.text-plum-500 { color: #dda0dd; }
.border-plum-500 { border-color: #dda0dd; }
.outline-plum-500 { outline-color: #dda0dd; }

.bg-plum-600 { background-color: #b885b8; }
.text-plum-600 { color: #b885b8; }
.border-plum-600 { border-color: #b885b8; }
.outline-plum-600 { outline-color: #b885b8; }

.bg-plum-700 { background-color: #936a93; }
.text-plum-700 { color: #936a93; }
.border-plum-700 { border-color: #936a93; }
.outline-plum-700 { outline-color: #936a93; }

.bg-plum-800 { background-color: #6e506e; }
.text-plum-800 { color: #6e506e; }
.border-plum-800 { border-color: #6e506e; }
.outline-plum-800 { outline-color: #6e506e; }

.bg-plum-900 { background-color: #493549; }
.text-plum-900 { color: #493549; }
.border-plum-900 { border-color: #493549; }
.outline-plum-900 { outline-color: #493549; }

.bg-plum-950 { background-color: #241a24; }
.text-plum-950 { color: #241a24; }
.border-plum-950 { border-color: #241a24; }
.outline-plum-950 { outline-color: #241a24; }
