



.bg-powderblue-50 { background-color: #f1f9fa; }
.text-powderblue-50 { color: #f1f9fa; }
.border-powderblue-50 { border-color: #f1f9fa; }
.outline-powderblue-50 { outline-color: #f1f9fa; }

.bg-powderblue-100 { background-color: #e4f4f6; }
.text-powderblue-100 { color: #e4f4f6; }
.border-powderblue-100 { border-color: #e4f4f6; }
.outline-powderblue-100 { outline-color: #e4f4f6; }

.bg-powderblue-200 { background-color: #d7eff2; }
.text-powderblue-200 { color: #d7eff2; }
.border-powderblue-200 { border-color: #d7eff2; }
.outline-powderblue-200 { outline-color: #d7eff2; }

.bg-powderblue-300 { background-color: #caeaee; }
.text-powderblue-300 { color: #caeaee; }
.border-powderblue-300 { border-color: #caeaee; }
.outline-powderblue-300 { outline-color: #caeaee; }

.bg-powderblue-400 { background-color: #bde5ea; }
.text-powderblue-400 { color: #bde5ea; }
.border-powderblue-400 { border-color: #bde5ea; }
.outline-powderblue-400 { outline-color: #bde5ea; }

.bg-powderblue-500 { background-color: #b0e0e6; }
.text-powderblue-500 { color: #b0e0e6; }
.border-powderblue-500 { border-color: #b0e0e6; }
.outline-powderblue-500 { outline-color: #b0e0e6; }

.bg-powderblue-600 { background-color: #92babf; }
.text-powderblue-600 { color: #92babf; }
.border-powderblue-600 { border-color: #92babf; }
.outline-powderblue-600 { outline-color: #92babf; }

.bg-powderblue-700 { background-color: #759599; }
.text-powderblue-700 { color: #759599; }
.border-powderblue-700 { border-color: #759599; }
.outline-powderblue-700 { outline-color: #759599; }

.bg-powderblue-800 { background-color: #587073; }
.text-powderblue-800 { color: #587073; }
.border-powderblue-800 { border-color: #587073; }
.outline-powderblue-800 { outline-color: #587073; }

.bg-powderblue-900 { background-color: #3a4a4c; }
.text-powderblue-900 { color: #3a4a4c; }
.border-powderblue-900 { border-color: #3a4a4c; }
.outline-powderblue-900 { outline-color: #3a4a4c; }

.bg-powderblue-950 { background-color: #1d2526; }
.text-powderblue-950 { color: #1d2526; }
.border-powderblue-950 { border-color: #1d2526; }
.outline-powderblue-950 { outline-color: #1d2526; }


