



.bg-purple-50 { background-color: #e9d2e9; }
.text-purple-50 { color: #e9d2e9; }
.border-purple-50 { border-color: #e9d2e9; }
.outline-purple-50 { outline-color: #e9d2e9; }

.bg-purple-100 { background-color: #d4a8d4; }
.text-purple-100 { color: #d4a8d4; }
.border-purple-100 { border-color: #d4a8d4; }
.outline-purple-100 { outline-color: #d4a8d4; }

.bg-purple-200 { background-color: #bf7ebf; }
.text-purple-200 { color: #bf7ebf; }
.border-purple-200 { border-color: #bf7ebf; }
.outline-purple-200 { outline-color: #bf7ebf; }

.bg-purple-300 { background-color: #aa54aa; }
.text-purple-300 { color: #aa54aa; }
.border-purple-300 { border-color: #aa54aa; }
.outline-purple-300 { outline-color: #aa54aa; }

.bg-purple-400 { background-color: #952a95; }
.text-purple-400 { color: #952a95; }
.border-purple-400 { border-color: #952a95; }
.outline-purple-400 { outline-color: #952a95; }

.bg-purple-500 { background-color: #800080; }
.text-purple-500 { color: #800080; }
.border-purple-500 { border-color: #800080; }
.outline-purple-500 { outline-color: #800080; }

.bg-purple-600 { background-color: #6a006a; }
.text-purple-600 { color: #6a006a; }
.border-purple-600 { border-color: #6a006a; }
.outline-purple-600 { outline-color: #6a006a; }

.bg-purple-700 { background-color: #540054; }
.text-purple-700 { color: #540054; }
.border-purple-700 { border-color: #540054; }
.outline-purple-700 { outline-color: #540054; }

.bg-purple-800 { background-color: #3e003e; }
.text-purple-800 { color: #3e003e; }
.border-purple-800 { border-color: #3e003e; }
.outline-purple-800 { outline-color: #3e003e; }

.bg-purple-900 { background-color: #280028; }
.text-purple-900 { color: #280028; }
.border-purple-900 { border-color: #280028; }
.outline-purple-900 { outline-color: #280028; }

.bg-purple-950 { background-color: #120012; }
.text-purple-950 { color: #120012; }
.border-purple-950 { border-color: #120012; }
.outline-purple-950 { outline-color: #120012; }


