



.bg-purple-50 { background-color: #e9d4e9; }
.text-purple-50 { color: #e9d4e9; }
.border-purple-50 { border-color: #e9d4e9; }
.outline-purple-50 { outline-color: #e9d4e9; }

.bg-purple-100 { background-color: #d4aad4; }
.text-purple-100 { color: #d4aad4; }
.border-purple-100 { border-color: #d4aad4; }
.outline-purple-100 { outline-color: #d4aad4; }

.bg-purple-200 { background-color: #bf7fbf; }
.text-purple-200 { color: #bf7fbf; }
.border-purple-200 { border-color: #bf7fbf; }
.outline-purple-200 { outline-color: #bf7fbf; }

.bg-purple-300 { background-color: #aa55aa; }
.text-purple-300 { color: #aa55aa; }
.border-purple-300 { border-color: #aa55aa; }
.outline-purple-300 { outline-color: #aa55aa; }

.bg-purple-400 { background-color: #952a95; }
.text-purple-400 { color: #952a95; }
.border-purple-400 { border-color: #952a95; }
.outline-purple-400 { outline-color: #952a95; }

.bg-purple-500 { background-color: #800080; }
.text-purple-500 { color: #800080; }
.border-purple-500 { border-color: #800080; }
.outline-purple-500 { outline-color: #800080; }

.bg-purple-600 { background-color: #6a006a; }
.text-purple-600 { color: #6a006a; }
.border-purple-600 { border-color: #6a006a; }
.outline-purple-600 { outline-color: #6a006a; }

.bg-purple-700 { background-color: #550055; }
.text-purple-700 { color: #550055; }
.border-purple-700 { border-color: #550055; }
.outline-purple-700 { outline-color: #550055; }

.bg-purple-800 { background-color: #400040; }
.text-purple-800 { color: #400040; }
.border-purple-800 { border-color: #400040; }
.outline-purple-800 { outline-color: #400040; }

.bg-purple-900 { background-color: #2a002a; }
.text-purple-900 { color: #2a002a; }
.border-purple-900 { border-color: #2a002a; }
.outline-purple-900 { outline-color: #2a002a; }

.bg-purple-950 { background-color: #150015; }
.text-purple-950 { color: #150015; }
.border-purple-950 { border-color: #150015; }
.outline-purple-950 { outline-color: #150015; }


