



.bg-rebeccapurple-50 { background-color: #e3ddee; }
.text-rebeccapurple-50 { color: #e3ddee; }
.border-rebeccapurple-50 { border-color: #e3ddee; }
.outline-rebeccapurple-50 { outline-color: #e3ddee; }

.bg-rebeccapurple-100 { background-color: #cabbdd; }
.text-rebeccapurple-100 { color: #cabbdd; }
.border-rebeccapurple-100 { border-color: #cabbdd; }
.outline-rebeccapurple-100 { outline-color: #cabbdd; }

.bg-rebeccapurple-200 { background-color: #b199cc; }
.text-rebeccapurple-200 { color: #b199cc; }
.border-rebeccapurple-200 { border-color: #b199cc; }
.outline-rebeccapurple-200 { outline-color: #b199cc; }

.bg-rebeccapurple-300 { background-color: #9877bb; }
.text-rebeccapurple-300 { color: #9877bb; }
.border-rebeccapurple-300 { border-color: #9877bb; }
.outline-rebeccapurple-300 { outline-color: #9877bb; }

.bg-rebeccapurple-400 { background-color: #7f55aa; }
.text-rebeccapurple-400 { color: #7f55aa; }
.border-rebeccapurple-400 { border-color: #7f55aa; }
.outline-rebeccapurple-400 { outline-color: #7f55aa; }

.bg-rebeccapurple-500 { background-color: #663399; }
.text-rebeccapurple-500 { color: #663399; }
.border-rebeccapurple-500 { border-color: #663399; }
.outline-rebeccapurple-500 { outline-color: #663399; }

.bg-rebeccapurple-600 { background-color: #552a7f; }
.text-rebeccapurple-600 { color: #552a7f; }
.border-rebeccapurple-600 { border-color: #552a7f; }
.outline-rebeccapurple-600 { outline-color: #552a7f; }

.bg-rebeccapurple-700 { background-color: #442165; }
.text-rebeccapurple-700 { color: #442165; }
.border-rebeccapurple-700 { border-color: #442165; }
.outline-rebeccapurple-700 { outline-color: #442165; }

.bg-rebeccapurple-800 { background-color: #33184b; }
.text-rebeccapurple-800 { color: #33184b; }
.border-rebeccapurple-800 { border-color: #33184b; }
.outline-rebeccapurple-800 { outline-color: #33184b; }

.bg-rebeccapurple-900 { background-color: #220f31; }
.text-rebeccapurple-900 { color: #220f31; }
.border-rebeccapurple-900 { border-color: #220f31; }
.outline-rebeccapurple-900 { outline-color: #220f31; }

.bg-rebeccapurple-950 { background-color: #110617; }
.text-rebeccapurple-950 { color: #110617; }
.border-rebeccapurple-950 { border-color: #110617; }
.outline-rebeccapurple-950 { outline-color: #110617; }


