
.bg-rebeccapurple-50 { background-color: #e5ddee; }
.text-rebeccapurple-50 { color: #e5ddee; }
.border-rebeccapurple-50 { border-color: #e5ddee; }
.outline-rebeccapurple-50 { outline-color: #e5ddee; }

.bg-rebeccapurple-100 { background-color: #ccbbdd; }
.text-rebeccapurple-100 { color: #ccbbdd; }
.border-rebeccapurple-100 { border-color: #ccbbdd; }
.outline-rebeccapurple-100 { outline-color: #ccbbdd; }

.bg-rebeccapurple-200 { background-color: #b299cc; }
.text-rebeccapurple-200 { color: #b299cc; }
.border-rebeccapurple-200 { border-color: #b299cc; }
.outline-rebeccapurple-200 { outline-color: #b299cc; }

.bg-rebeccapurple-300 { background-color: #9977bb; }
.text-rebeccapurple-300 { color: #9977bb; }
.border-rebeccapurple-300 { border-color: #9977bb; }
.outline-rebeccapurple-300 { outline-color: #9977bb; }

.bg-rebeccapurple-400 { background-color: #7f55aa; }
.text-rebeccapurple-400 { color: #7f55aa; }
.border-rebeccapurple-400 { border-color: #7f55aa; }
.outline-rebeccapurple-400 { outline-color: #7f55aa; }

.bg-rebeccapurple-500 { background-color: #663399; }
.text-rebeccapurple-500 { color: #663399; }
.border-rebeccapurple-500 { border-color: #663399; }
.outline-rebeccapurple-500 { outline-color: #663399; }

.bg-rebeccapurple-600 { background-color: #552a7f; }
.text-rebeccapurple-600 { color: #552a7f; }
.border-rebeccapurple-600 { border-color: #552a7f; }
.outline-rebeccapurple-600 { outline-color: #552a7f; }

.bg-rebeccapurple-700 { background-color: #442266; }
.text-rebeccapurple-700 { color: #442266; }
.border-rebeccapurple-700 { border-color: #442266; }
.outline-rebeccapurple-700 { outline-color: #442266; }

.bg-rebeccapurple-800 { background-color: #33194c; }
.text-rebeccapurple-800 { color: #33194c; }
.border-rebeccapurple-800 { border-color: #33194c; }
.outline-rebeccapurple-800 { outline-color: #33194c; }

.bg-rebeccapurple-900 { background-color: #221133; }
.text-rebeccapurple-900 { color: #221133; }
.border-rebeccapurple-900 { border-color: #221133; }
.outline-rebeccapurple-900 { outline-color: #221133; }

.bg-rebeccapurple-950 { background-color: #110819; }
.text-rebeccapurple-950 { color: #110819; }
.border-rebeccapurple-950 { border-color: #110819; }
.outline-rebeccapurple-950 { outline-color: #110819; }
