



.bg-red-50 { background-color: #ffd2d2; }
.text-red-50 { color: #ffd2d2; }
.border-red-50 { border-color: #ffd2d2; }
.outline-red-50 { outline-color: #ffd2d2; }

.bg-red-100 { background-color: #ffa8a8; }
.text-red-100 { color: #ffa8a8; }
.border-red-100 { border-color: #ffa8a8; }
.outline-red-100 { outline-color: #ffa8a8; }

.bg-red-200 { background-color: #ff7e7e; }
.text-red-200 { color: #ff7e7e; }
.border-red-200 { border-color: #ff7e7e; }
.outline-red-200 { outline-color: #ff7e7e; }

.bg-red-300 { background-color: #ff5454; }
.text-red-300 { color: #ff5454; }
.border-red-300 { border-color: #ff5454; }
.outline-red-300 { outline-color: #ff5454; }

.bg-red-400 { background-color: #ff2a2a; }
.text-red-400 { color: #ff2a2a; }
.border-red-400 { border-color: #ff2a2a; }
.outline-red-400 { outline-color: #ff2a2a; }

.bg-red-500 { background-color: #ff0000; }
.text-red-500 { color: #ff0000; }
.border-red-500 { border-color: #ff0000; }
.outline-red-500 { outline-color: #ff0000; }

.bg-red-600 { background-color: #d40000; }
.text-red-600 { color: #d40000; }
.border-red-600 { border-color: #d40000; }
.outline-red-600 { outline-color: #d40000; }

.bg-red-700 { background-color: #a90000; }
.text-red-700 { color: #a90000; }
.border-red-700 { border-color: #a90000; }
.outline-red-700 { outline-color: #a90000; }

.bg-red-800 { background-color: #7e0000; }
.text-red-800 { color: #7e0000; }
.border-red-800 { border-color: #7e0000; }
.outline-red-800 { outline-color: #7e0000; }

.bg-red-900 { background-color: #530000; }
.text-red-900 { color: #530000; }
.border-red-900 { border-color: #530000; }
.outline-red-900 { outline-color: #530000; }

.bg-red-950 { background-color: #280000; }
.text-red-950 { color: #280000; }
.border-red-950 { border-color: #280000; }
.outline-red-950 { outline-color: #280000; }


