



.bg-red-50 { background-color: #ffd4d4; }
.text-red-50 { color: #ffd4d4; }
.border-red-50 { border-color: #ffd4d4; }
.outline-red-50 { outline-color: #ffd4d4; }

.bg-red-100 { background-color: #ffaaaa; }
.text-red-100 { color: #ffaaaa; }
.border-red-100 { border-color: #ffaaaa; }
.outline-red-100 { outline-color: #ffaaaa; }

.bg-red-200 { background-color: #ff7f7f; }
.text-red-200 { color: #ff7f7f; }
.border-red-200 { border-color: #ff7f7f; }
.outline-red-200 { outline-color: #ff7f7f; }

.bg-red-300 { background-color: #ff5555; }
.text-red-300 { color: #ff5555; }
.border-red-300 { border-color: #ff5555; }
.outline-red-300 { outline-color: #ff5555; }

.bg-red-400 { background-color: #ff2a2a; }
.text-red-400 { color: #ff2a2a; }
.border-red-400 { border-color: #ff2a2a; }
.outline-red-400 { outline-color: #ff2a2a; }

.bg-red-500 { background-color: #ff0000; }
.text-red-500 { color: #ff0000; }
.border-red-500 { border-color: #ff0000; }
.outline-red-500 { outline-color: #ff0000; }

.bg-red-600 { background-color: #d40000; }
.text-red-600 { color: #d40000; }
.border-red-600 { border-color: #d40000; }
.outline-red-600 { outline-color: #d40000; }

.bg-red-700 { background-color: #aa0000; }
.text-red-700 { color: #aa0000; }
.border-red-700 { border-color: #aa0000; }
.outline-red-700 { outline-color: #aa0000; }

.bg-red-800 { background-color: #7f0000; }
.text-red-800 { color: #7f0000; }
.border-red-800 { border-color: #7f0000; }
.outline-red-800 { outline-color: #7f0000; }

.bg-red-900 { background-color: #550000; }
.text-red-900 { color: #550000; }
.border-red-900 { border-color: #550000; }
.outline-red-900 { outline-color: #550000; }

.bg-red-950 { background-color: #2a0000; }
.text-red-950 { color: #2a0000; }
.border-red-950 { border-color: #2a0000; }
.outline-red-950 { outline-color: #2a0000; }


