



.bg-rosybrown-50 { background-color: #f3ecec; }
.text-rosybrown-50 { color: #f3ecec; }
.border-rosybrown-50 { border-color: #f3ecec; }
.outline-rosybrown-50 { outline-color: #f3ecec; }

.bg-rosybrown-100 { background-color: #e8d9d9; }
.text-rosybrown-100 { color: #e8d9d9; }
.border-rosybrown-100 { border-color: #e8d9d9; }
.outline-rosybrown-100 { outline-color: #e8d9d9; }

.bg-rosybrown-200 { background-color: #ddc7c7; }
.text-rosybrown-200 { color: #ddc7c7; }
.border-rosybrown-200 { border-color: #ddc7c7; }
.outline-rosybrown-200 { outline-color: #ddc7c7; }

.bg-rosybrown-300 { background-color: #d2b4b4; }
.text-rosybrown-300 { color: #d2b4b4; }
.border-rosybrown-300 { border-color: #d2b4b4; }
.outline-rosybrown-300 { outline-color: #d2b4b4; }

.bg-rosybrown-400 { background-color: #c7a1a1; }
.text-rosybrown-400 { color: #c7a1a1; }
.border-rosybrown-400 { border-color: #c7a1a1; }
.outline-rosybrown-400 { outline-color: #c7a1a1; }

.bg-rosybrown-500 { background-color: #bc8f8f; }
.text-rosybrown-500 { color: #bc8f8f; }
.border-rosybrown-500 { border-color: #bc8f8f; }
.outline-rosybrown-500 { outline-color: #bc8f8f; }

.bg-rosybrown-600 { background-color: #9c7777; }
.text-rosybrown-600 { color: #9c7777; }
.border-rosybrown-600 { border-color: #9c7777; }
.outline-rosybrown-600 { outline-color: #9c7777; }

.bg-rosybrown-700 { background-color: #7d5f5f; }
.text-rosybrown-700 { color: #7d5f5f; }
.border-rosybrown-700 { border-color: #7d5f5f; }
.outline-rosybrown-700 { outline-color: #7d5f5f; }

.bg-rosybrown-800 { background-color: #5e4747; }
.text-rosybrown-800 { color: #5e4747; }
.border-rosybrown-800 { border-color: #5e4747; }
.outline-rosybrown-800 { outline-color: #5e4747; }

.bg-rosybrown-900 { background-color: #3e2f2f; }
.text-rosybrown-900 { color: #3e2f2f; }
.border-rosybrown-900 { border-color: #3e2f2f; }
.outline-rosybrown-900 { outline-color: #3e2f2f; }

.bg-rosybrown-950 { background-color: #1f1717; }
.text-rosybrown-950 { color: #1f1717; }
.border-rosybrown-950 { border-color: #1f1717; }
.outline-rosybrown-950 { outline-color: #1f1717; }


