
.bg-royalblue-50 { background-color: #dfe6fa; }
.text-royalblue-50 { color: #dfe6fa; }
.border-royalblue-50 { border-color: #dfe6fa; }
.outline-royalblue-50 { outline-color: #dfe6fa; }

.bg-royalblue-100 { background-color: #bfcdf5; }
.text-royalblue-100 { color: #bfcdf5; }
.border-royalblue-100 { border-color: #bfcdf5; }
.outline-royalblue-100 { outline-color: #bfcdf5; }

.bg-royalblue-200 { background-color: #a0b4f0; }
.text-royalblue-200 { color: #a0b4f0; }
.border-royalblue-200 { border-color: #a0b4f0; }
.outline-royalblue-200 { outline-color: #a0b4f0; }

.bg-royalblue-300 { background-color: #809beb; }
.text-royalblue-300 { color: #809beb; }
.border-royalblue-300 { border-color: #809beb; }
.outline-royalblue-300 { outline-color: #809beb; }

.bg-royalblue-400 { background-color: #6082e6; }
.text-royalblue-400 { color: #6082e6; }
.border-royalblue-400 { border-color: #6082e6; }
.outline-royalblue-400 { outline-color: #6082e6; }

.bg-royalblue-500 { background-color: #4169e1; }
.text-royalblue-500 { color: #4169e1; }
.border-royalblue-500 { border-color: #4169e1; }
.outline-royalblue-500 { outline-color: #4169e1; }

.bg-royalblue-600 { background-color: #3657bb; }
.text-royalblue-600 { color: #3657bb; }
.border-royalblue-600 { border-color: #3657bb; }
.outline-royalblue-600 { outline-color: #3657bb; }

.bg-royalblue-700 { background-color: #2b4696; }
.text-royalblue-700 { color: #2b4696; }
.border-royalblue-700 { border-color: #2b4696; }
.outline-royalblue-700 { outline-color: #2b4696; }

.bg-royalblue-800 { background-color: #203470; }
.text-royalblue-800 { color: #203470; }
.border-royalblue-800 { border-color: #203470; }
.outline-royalblue-800 { outline-color: #203470; }

.bg-royalblue-900 { background-color: #15234b; }
.text-royalblue-900 { color: #15234b; }
.border-royalblue-900 { border-color: #15234b; }
.outline-royalblue-900 { outline-color: #15234b; }

.bg-royalblue-950 { background-color: #0a1125; }
.text-royalblue-950 { color: #0a1125; }
.border-royalblue-950 { border-color: #0a1125; }
.outline-royalblue-950 { outline-color: #0a1125; }
