



.bg-royalblue-50 { background-color: #dce6fa; }
.text-royalblue-50 { color: #dce6fa; }
.border-royalblue-50 { border-color: #dce6fa; }
.outline-royalblue-50 { outline-color: #dce6fa; }

.bg-royalblue-100 { background-color: #bdcdf5; }
.text-royalblue-100 { color: #bdcdf5; }
.border-royalblue-100 { border-color: #bdcdf5; }
.outline-royalblue-100 { outline-color: #bdcdf5; }

.bg-royalblue-200 { background-color: #9eb4f0; }
.text-royalblue-200 { color: #9eb4f0; }
.border-royalblue-200 { border-color: #9eb4f0; }
.outline-royalblue-200 { outline-color: #9eb4f0; }

.bg-royalblue-300 { background-color: #7f9beb; }
.text-royalblue-300 { color: #7f9beb; }
.border-royalblue-300 { border-color: #7f9beb; }
.outline-royalblue-300 { outline-color: #7f9beb; }

.bg-royalblue-400 { background-color: #6082e6; }
.text-royalblue-400 { color: #6082e6; }
.border-royalblue-400 { border-color: #6082e6; }
.outline-royalblue-400 { outline-color: #6082e6; }

.bg-royalblue-500 { background-color: #4169e1; }
.text-royalblue-500 { color: #4169e1; }
.border-royalblue-500 { border-color: #4169e1; }
.outline-royalblue-500 { outline-color: #4169e1; }

.bg-royalblue-600 { background-color: #3657bb; }
.text-royalblue-600 { color: #3657bb; }
.border-royalblue-600 { border-color: #3657bb; }
.outline-royalblue-600 { outline-color: #3657bb; }

.bg-royalblue-700 { background-color: #2b4595; }
.text-royalblue-700 { color: #2b4595; }
.border-royalblue-700 { border-color: #2b4595; }
.outline-royalblue-700 { outline-color: #2b4595; }

.bg-royalblue-800 { background-color: #20336f; }
.text-royalblue-800 { color: #20336f; }
.border-royalblue-800 { border-color: #20336f; }
.outline-royalblue-800 { outline-color: #20336f; }

.bg-royalblue-900 { background-color: #152149; }
.text-royalblue-900 { color: #152149; }
.border-royalblue-900 { border-color: #152149; }
.outline-royalblue-900 { outline-color: #152149; }

.bg-royalblue-950 { background-color: #0a0f23; }
.text-royalblue-950 { color: #0a0f23; }
.border-royalblue-950 { border-color: #0a0f23; }
.outline-royalblue-950 { outline-color: #0a0f23; }


