



.bg-saddlebrown-50 { background-color: #eae0d6; }
.text-saddlebrown-50 { color: #eae0d6; }
.border-saddlebrown-50 { border-color: #eae0d6; }
.outline-saddlebrown-50 { outline-color: #eae0d6; }

.bg-saddlebrown-100 { background-color: #d7c1af; }
.text-saddlebrown-100 { color: #d7c1af; }
.border-saddlebrown-100 { border-color: #d7c1af; }
.outline-saddlebrown-100 { outline-color: #d7c1af; }

.bg-saddlebrown-200 { background-color: #c4a288; }
.text-saddlebrown-200 { color: #c4a288; }
.border-saddlebrown-200 { border-color: #c4a288; }
.outline-saddlebrown-200 { outline-color: #c4a288; }

.bg-saddlebrown-300 { background-color: #b18361; }
.text-saddlebrown-300 { color: #b18361; }
.border-saddlebrown-300 { border-color: #b18361; }
.outline-saddlebrown-300 { outline-color: #b18361; }

.bg-saddlebrown-400 { background-color: #9e643a; }
.text-saddlebrown-400 { color: #9e643a; }
.border-saddlebrown-400 { border-color: #9e643a; }
.outline-saddlebrown-400 { outline-color: #9e643a; }

.bg-saddlebrown-500 { background-color: #8b4513; }
.text-saddlebrown-500 { color: #8b4513; }
.border-saddlebrown-500 { border-color: #8b4513; }
.outline-saddlebrown-500 { outline-color: #8b4513; }

.bg-saddlebrown-600 { background-color: #73390f; }
.text-saddlebrown-600 { color: #73390f; }
.border-saddlebrown-600 { border-color: #73390f; }
.outline-saddlebrown-600 { outline-color: #73390f; }

.bg-saddlebrown-700 { background-color: #5b2d0b; }
.text-saddlebrown-700 { color: #5b2d0b; }
.border-saddlebrown-700 { border-color: #5b2d0b; }
.outline-saddlebrown-700 { outline-color: #5b2d0b; }

.bg-saddlebrown-800 { background-color: #432107; }
.text-saddlebrown-800 { color: #432107; }
.border-saddlebrown-800 { border-color: #432107; }
.outline-saddlebrown-800 { outline-color: #432107; }

.bg-saddlebrown-900 { background-color: #2b1503; }
.text-saddlebrown-900 { color: #2b1503; }
.border-saddlebrown-900 { border-color: #2b1503; }
.outline-saddlebrown-900 { outline-color: #2b1503; }

.bg-saddlebrown-950 { background-color: #1309-1; }
.text-saddlebrown-950 { color: #1309-1; }
.border-saddlebrown-950 { border-color: #1309-1; }
.outline-saddlebrown-950 { outline-color: #1309-1; }


