
.bg-saddlebrown-50 { background-color: #ebe0d7; }
.text-saddlebrown-50 { color: #ebe0d7; }
.border-saddlebrown-50 { border-color: #ebe0d7; }
.outline-saddlebrown-50 { outline-color: #ebe0d7; }

.bg-saddlebrown-100 { background-color: #d8c1b0; }
.text-saddlebrown-100 { color: #d8c1b0; }
.border-saddlebrown-100 { border-color: #d8c1b0; }
.outline-saddlebrown-100 { outline-color: #d8c1b0; }

.bg-saddlebrown-200 { background-color: #c5a289; }
.text-saddlebrown-200 { color: #c5a289; }
.border-saddlebrown-200 { border-color: #c5a289; }
.outline-saddlebrown-200 { outline-color: #c5a289; }

.bg-saddlebrown-300 { background-color: #b18361; }
.text-saddlebrown-300 { color: #b18361; }
.border-saddlebrown-300 { border-color: #b18361; }
.outline-saddlebrown-300 { outline-color: #b18361; }

.bg-saddlebrown-400 { background-color: #9e643a; }
.text-saddlebrown-400 { color: #9e643a; }
.border-saddlebrown-400 { border-color: #9e643a; }
.outline-saddlebrown-400 { outline-color: #9e643a; }

.bg-saddlebrown-500 { background-color: #8b4513; }
.text-saddlebrown-500 { color: #8b4513; }
.border-saddlebrown-500 { border-color: #8b4513; }
.outline-saddlebrown-500 { outline-color: #8b4513; }

.bg-saddlebrown-600 { background-color: #73390f; }
.text-saddlebrown-600 { color: #73390f; }
.border-saddlebrown-600 { border-color: #73390f; }
.outline-saddlebrown-600 { outline-color: #73390f; }

.bg-saddlebrown-700 { background-color: #5c2e0c; }
.text-saddlebrown-700 { color: #5c2e0c; }
.border-saddlebrown-700 { border-color: #5c2e0c; }
.outline-saddlebrown-700 { outline-color: #5c2e0c; }

.bg-saddlebrown-800 { background-color: #452209; }
.text-saddlebrown-800 { color: #452209; }
.border-saddlebrown-800 { border-color: #452209; }
.outline-saddlebrown-800 { outline-color: #452209; }

.bg-saddlebrown-900 { background-color: #2e1706; }
.text-saddlebrown-900 { color: #2e1706; }
.border-saddlebrown-900 { border-color: #2e1706; }
.outline-saddlebrown-900 { outline-color: #2e1706; }

.bg-saddlebrown-950 { background-color: #170b03; }
.text-saddlebrown-950 { color: #170b03; }
.border-saddlebrown-950 { border-color: #170b03; }
.outline-saddlebrown-950 { outline-color: #170b03; }
