
/* github: https://github.com/iaseth/html-color-names */

.bg-salmon-50 { background-color: #fee9e7; }
.text-salmon-50 { color: #fee9e7; }
.border-salmon-50 { border-color: #fee9e7; }
.outline-salmon-50 { outline-color: #fee9e7; }

.bg-salmon-100 { background-color: #fdd4d0; }
.text-salmon-100 { color: #fdd4d0; }
.border-salmon-100 { border-color: #fdd4d0; }
.outline-salmon-100 { outline-color: #fdd4d0; }

.bg-salmon-200 { background-color: #fcbfb8; }
.text-salmon-200 { color: #fcbfb8; }
.border-salmon-200 { border-color: #fcbfb8; }
.outline-salmon-200 { outline-color: #fcbfb8; }

.bg-salmon-300 { background-color: #fbaaa1; }
.text-salmon-300 { color: #fbaaa1; }
.border-salmon-300 { border-color: #fbaaa1; }
.outline-salmon-300 { outline-color: #fbaaa1; }

.bg-salmon-400 { background-color: #fa9589; }
.text-salmon-400 { color: #fa9589; }
.border-salmon-400 { border-color: #fa9589; }
.outline-salmon-400 { outline-color: #fa9589; }

.bg-salmon-500 { background-color: #fa8072; }
.text-salmon-500 { color: #fa8072; }
.border-salmon-500 { border-color: #fa8072; }
.outline-salmon-500 { outline-color: #fa8072; }

.bg-salmon-600 { background-color: #d06a5f; }
.text-salmon-600 { color: #d06a5f; }
.border-salmon-600 { border-color: #d06a5f; }
.outline-salmon-600 { outline-color: #d06a5f; }

.bg-salmon-700 { background-color: #a6554c; }
.text-salmon-700 { color: #a6554c; }
.border-salmon-700 { border-color: #a6554c; }
.outline-salmon-700 { outline-color: #a6554c; }

.bg-salmon-800 { background-color: #7d4039; }
.text-salmon-800 { color: #7d4039; }
.border-salmon-800 { border-color: #7d4039; }
.outline-salmon-800 { outline-color: #7d4039; }

.bg-salmon-900 { background-color: #532a26; }
.text-salmon-900 { color: #532a26; }
.border-salmon-900 { border-color: #532a26; }
.outline-salmon-900 { outline-color: #532a26; }

.bg-salmon-950 { background-color: #291513; }
.text-salmon-950 { color: #291513; }
.border-salmon-950 { border-color: #291513; }
.outline-salmon-950 { outline-color: #291513; }

