



.bg-salmon-50 { background-color: #fae9e5; }
.text-salmon-50 { color: #fae9e5; }
.border-salmon-50 { border-color: #fae9e5; }
.outline-salmon-50 { outline-color: #fae9e5; }

.bg-salmon-100 { background-color: #fad4ce; }
.text-salmon-100 { color: #fad4ce; }
.border-salmon-100 { border-color: #fad4ce; }
.outline-salmon-100 { outline-color: #fad4ce; }

.bg-salmon-200 { background-color: #fabfb7; }
.text-salmon-200 { color: #fabfb7; }
.border-salmon-200 { border-color: #fabfb7; }
.outline-salmon-200 { outline-color: #fabfb7; }

.bg-salmon-300 { background-color: #faaaa0; }
.text-salmon-300 { color: #faaaa0; }
.border-salmon-300 { border-color: #faaaa0; }
.outline-salmon-300 { outline-color: #faaaa0; }

.bg-salmon-400 { background-color: #fa9589; }
.text-salmon-400 { color: #fa9589; }
.border-salmon-400 { border-color: #fa9589; }
.outline-salmon-400 { outline-color: #fa9589; }

.bg-salmon-500 { background-color: #fa8072; }
.text-salmon-500 { color: #fa8072; }
.border-salmon-500 { border-color: #fa8072; }
.outline-salmon-500 { outline-color: #fa8072; }

.bg-salmon-600 { background-color: #d06a5f; }
.text-salmon-600 { color: #d06a5f; }
.border-salmon-600 { border-color: #d06a5f; }
.outline-salmon-600 { outline-color: #d06a5f; }

.bg-salmon-700 { background-color: #a6544c; }
.text-salmon-700 { color: #a6544c; }
.border-salmon-700 { border-color: #a6544c; }
.outline-salmon-700 { outline-color: #a6544c; }

.bg-salmon-800 { background-color: #7c3e39; }
.text-salmon-800 { color: #7c3e39; }
.border-salmon-800 { border-color: #7c3e39; }
.outline-salmon-800 { outline-color: #7c3e39; }

.bg-salmon-900 { background-color: #522826; }
.text-salmon-900 { color: #522826; }
.border-salmon-900 { border-color: #522826; }
.outline-salmon-900 { outline-color: #522826; }

.bg-salmon-950 { background-color: #281213; }
.text-salmon-950 { color: #281213; }
.border-salmon-950 { border-color: #281213; }
.outline-salmon-950 { outline-color: #281213; }


