
.bg-sandybrown-50 { background-color: #fdefe4; }
.text-sandybrown-50 { color: #fdefe4; }
.border-sandybrown-50 { border-color: #fdefe4; }
.outline-sandybrown-50 { outline-color: #fdefe4; }

.bg-sandybrown-100 { background-color: #fbe0ca; }
.text-sandybrown-100 { color: #fbe0ca; }
.border-sandybrown-100 { border-color: #fbe0ca; }
.outline-sandybrown-100 { outline-color: #fbe0ca; }

.bg-sandybrown-200 { background-color: #f9d1af; }
.text-sandybrown-200 { color: #f9d1af; }
.border-sandybrown-200 { border-color: #f9d1af; }
.outline-sandybrown-200 { outline-color: #f9d1af; }

.bg-sandybrown-300 { background-color: #f7c295; }
.text-sandybrown-300 { color: #f7c295; }
.border-sandybrown-300 { border-color: #f7c295; }
.outline-sandybrown-300 { outline-color: #f7c295; }

.bg-sandybrown-400 { background-color: #f5b37a; }
.text-sandybrown-400 { color: #f5b37a; }
.border-sandybrown-400 { border-color: #f5b37a; }
.outline-sandybrown-400 { outline-color: #f5b37a; }

.bg-sandybrown-500 { background-color: #f4a460; }
.text-sandybrown-500 { color: #f4a460; }
.border-sandybrown-500 { border-color: #f4a460; }
.outline-sandybrown-500 { outline-color: #f4a460; }

.bg-sandybrown-600 { background-color: #cb8850; }
.text-sandybrown-600 { color: #cb8850; }
.border-sandybrown-600 { border-color: #cb8850; }
.outline-sandybrown-600 { outline-color: #cb8850; }

.bg-sandybrown-700 { background-color: #a26d40; }
.text-sandybrown-700 { color: #a26d40; }
.border-sandybrown-700 { border-color: #a26d40; }
.outline-sandybrown-700 { outline-color: #a26d40; }

.bg-sandybrown-800 { background-color: #7a5230; }
.text-sandybrown-800 { color: #7a5230; }
.border-sandybrown-800 { border-color: #7a5230; }
.outline-sandybrown-800 { outline-color: #7a5230; }

.bg-sandybrown-900 { background-color: #513620; }
.text-sandybrown-900 { color: #513620; }
.border-sandybrown-900 { border-color: #513620; }
.outline-sandybrown-900 { outline-color: #513620; }

.bg-sandybrown-950 { background-color: #281b10; }
.text-sandybrown-950 { color: #281b10; }
.border-sandybrown-950 { border-color: #281b10; }
.outline-sandybrown-950 { outline-color: #281b10; }
