



.bg-seagreen-50 { background-color: #dcebe3; }
.text-seagreen-50 { color: #dcebe3; }
.border-seagreen-50 { border-color: #dcebe3; }
.outline-seagreen-50 { outline-color: #dcebe3; }

.bg-seagreen-100 { background-color: #b9d8c7; }
.text-seagreen-100 { color: #b9d8c7; }
.border-seagreen-100 { border-color: #b9d8c7; }
.outline-seagreen-100 { outline-color: #b9d8c7; }

.bg-seagreen-200 { background-color: #96c5ab; }
.text-seagreen-200 { color: #96c5ab; }
.border-seagreen-200 { border-color: #96c5ab; }
.outline-seagreen-200 { outline-color: #96c5ab; }

.bg-seagreen-300 { background-color: #73b18f; }
.text-seagreen-300 { color: #73b18f; }
.border-seagreen-300 { border-color: #73b18f; }
.outline-seagreen-300 { outline-color: #73b18f; }

.bg-seagreen-400 { background-color: #509e73; }
.text-seagreen-400 { color: #509e73; }
.border-seagreen-400 { border-color: #509e73; }
.outline-seagreen-400 { outline-color: #509e73; }

.bg-seagreen-500 { background-color: #2e8b57; }
.text-seagreen-500 { color: #2e8b57; }
.border-seagreen-500 { border-color: #2e8b57; }
.outline-seagreen-500 { outline-color: #2e8b57; }

.bg-seagreen-600 { background-color: #267348; }
.text-seagreen-600 { color: #267348; }
.border-seagreen-600 { border-color: #267348; }
.outline-seagreen-600 { outline-color: #267348; }

.bg-seagreen-700 { background-color: #1e5c3a; }
.text-seagreen-700 { color: #1e5c3a; }
.border-seagreen-700 { border-color: #1e5c3a; }
.outline-seagreen-700 { outline-color: #1e5c3a; }

.bg-seagreen-800 { background-color: #17452b; }
.text-seagreen-800 { color: #17452b; }
.border-seagreen-800 { border-color: #17452b; }
.outline-seagreen-800 { outline-color: #17452b; }

.bg-seagreen-900 { background-color: #0f2e1d; }
.text-seagreen-900 { color: #0f2e1d; }
.border-seagreen-900 { border-color: #0f2e1d; }
.outline-seagreen-900 { outline-color: #0f2e1d; }

.bg-seagreen-950 { background-color: #07170e; }
.text-seagreen-950 { color: #07170e; }
.border-seagreen-950 { border-color: #07170e; }
.outline-seagreen-950 { outline-color: #07170e; }


