



.bg-seagreen-50 { background-color: #d8eae3; }
.text-seagreen-50 { color: #d8eae3; }
.border-seagreen-50 { border-color: #d8eae3; }
.outline-seagreen-50 { outline-color: #d8eae3; }

.bg-seagreen-100 { background-color: #b6d7c7; }
.text-seagreen-100 { color: #b6d7c7; }
.border-seagreen-100 { border-color: #b6d7c7; }
.outline-seagreen-100 { outline-color: #b6d7c7; }

.bg-seagreen-200 { background-color: #94c4ab; }
.text-seagreen-200 { color: #94c4ab; }
.border-seagreen-200 { border-color: #94c4ab; }
.outline-seagreen-200 { outline-color: #94c4ab; }

.bg-seagreen-300 { background-color: #72b18f; }
.text-seagreen-300 { color: #72b18f; }
.border-seagreen-300 { border-color: #72b18f; }
.outline-seagreen-300 { outline-color: #72b18f; }

.bg-seagreen-400 { background-color: #509e73; }
.text-seagreen-400 { color: #509e73; }
.border-seagreen-400 { border-color: #509e73; }
.outline-seagreen-400 { outline-color: #509e73; }

.bg-seagreen-500 { background-color: #2e8b57; }
.text-seagreen-500 { color: #2e8b57; }
.border-seagreen-500 { border-color: #2e8b57; }
.outline-seagreen-500 { outline-color: #2e8b57; }

.bg-seagreen-600 { background-color: #267348; }
.text-seagreen-600 { color: #267348; }
.border-seagreen-600 { border-color: #267348; }
.outline-seagreen-600 { outline-color: #267348; }

.bg-seagreen-700 { background-color: #1e5b39; }
.text-seagreen-700 { color: #1e5b39; }
.border-seagreen-700 { border-color: #1e5b39; }
.outline-seagreen-700 { outline-color: #1e5b39; }

.bg-seagreen-800 { background-color: #16432a; }
.text-seagreen-800 { color: #16432a; }
.border-seagreen-800 { border-color: #16432a; }
.outline-seagreen-800 { outline-color: #16432a; }

.bg-seagreen-900 { background-color: #0e2b1b; }
.text-seagreen-900 { color: #0e2b1b; }
.border-seagreen-900 { border-color: #0e2b1b; }
.outline-seagreen-900 { outline-color: #0e2b1b; }

.bg-seagreen-950 { background-color: #06130c; }
.text-seagreen-950 { color: #06130c; }
.border-seagreen-950 { border-color: #06130c; }
.outline-seagreen-950 { outline-color: #06130c; }


