



.bg-seashell-50 { background-color: #fffaf8; }
.text-seashell-50 { color: #fffaf8; }
.border-seashell-50 { border-color: #fffaf8; }
.outline-seashell-50 { outline-color: #fffaf8; }

.bg-seashell-100 { background-color: #fff9f6; }
.text-seashell-100 { color: #fff9f6; }
.border-seashell-100 { border-color: #fff9f6; }
.outline-seashell-100 { outline-color: #fff9f6; }

.bg-seashell-200 { background-color: #fff8f4; }
.text-seashell-200 { color: #fff8f4; }
.border-seashell-200 { border-color: #fff8f4; }
.outline-seashell-200 { outline-color: #fff8f4; }

.bg-seashell-300 { background-color: #fff7f2; }
.text-seashell-300 { color: #fff7f2; }
.border-seashell-300 { border-color: #fff7f2; }
.outline-seashell-300 { outline-color: #fff7f2; }

.bg-seashell-400 { background-color: #fff6f0; }
.text-seashell-400 { color: #fff6f0; }
.border-seashell-400 { border-color: #fff6f0; }
.outline-seashell-400 { outline-color: #fff6f0; }

.bg-seashell-500 { background-color: #fff5ee; }
.text-seashell-500 { color: #fff5ee; }
.border-seashell-500 { border-color: #fff5ee; }
.outline-seashell-500 { outline-color: #fff5ee; }

.bg-seashell-600 { background-color: #d4ccc6; }
.text-seashell-600 { color: #d4ccc6; }
.border-seashell-600 { border-color: #d4ccc6; }
.outline-seashell-600 { outline-color: #d4ccc6; }

.bg-seashell-700 { background-color: #a9a39e; }
.text-seashell-700 { color: #a9a39e; }
.border-seashell-700 { border-color: #a9a39e; }
.outline-seashell-700 { outline-color: #a9a39e; }

.bg-seashell-800 { background-color: #7e7a76; }
.text-seashell-800 { color: #7e7a76; }
.border-seashell-800 { border-color: #7e7a76; }
.outline-seashell-800 { outline-color: #7e7a76; }

.bg-seashell-900 { background-color: #53514e; }
.text-seashell-900 { color: #53514e; }
.border-seashell-900 { border-color: #53514e; }
.outline-seashell-900 { outline-color: #53514e; }

.bg-seashell-950 { background-color: #282826; }
.text-seashell-950 { color: #282826; }
.border-seashell-950 { border-color: #282826; }
.outline-seashell-950 { outline-color: #282826; }


