
/* github: https://github.com/iaseth/html-color-names */

.bg-seashell-50 { background-color: #fffdfc; }
.text-seashell-50 { color: #fffdfc; }
.border-seashell-50 { border-color: #fffdfc; }
.outline-seashell-50 { outline-color: #fffdfc; }

.bg-seashell-100 { background-color: #fffbf9; }
.text-seashell-100 { color: #fffbf9; }
.border-seashell-100 { border-color: #fffbf9; }
.outline-seashell-100 { outline-color: #fffbf9; }

.bg-seashell-200 { background-color: #fffaf6; }
.text-seashell-200 { color: #fffaf6; }
.border-seashell-200 { border-color: #fffaf6; }
.outline-seashell-200 { outline-color: #fffaf6; }

.bg-seashell-300 { background-color: #fff8f3; }
.text-seashell-300 { color: #fff8f3; }
.border-seashell-300 { border-color: #fff8f3; }
.outline-seashell-300 { outline-color: #fff8f3; }

.bg-seashell-400 { background-color: #fff6f0; }
.text-seashell-400 { color: #fff6f0; }
.border-seashell-400 { border-color: #fff6f0; }
.outline-seashell-400 { outline-color: #fff6f0; }

.bg-seashell-500 { background-color: #fff5ee; }
.text-seashell-500 { color: #fff5ee; }
.border-seashell-500 { border-color: #fff5ee; }
.outline-seashell-500 { outline-color: #fff5ee; }

.bg-seashell-600 { background-color: #d4ccc6; }
.text-seashell-600 { color: #d4ccc6; }
.border-seashell-600 { border-color: #d4ccc6; }
.outline-seashell-600 { outline-color: #d4ccc6; }

.bg-seashell-700 { background-color: #aaa39e; }
.text-seashell-700 { color: #aaa39e; }
.border-seashell-700 { border-color: #aaa39e; }
.outline-seashell-700 { outline-color: #aaa39e; }

.bg-seashell-800 { background-color: #7f7a77; }
.text-seashell-800 { color: #7f7a77; }
.border-seashell-800 { border-color: #7f7a77; }
.outline-seashell-800 { outline-color: #7f7a77; }

.bg-seashell-900 { background-color: #55514f; }
.text-seashell-900 { color: #55514f; }
.border-seashell-900 { border-color: #55514f; }
.outline-seashell-900 { outline-color: #55514f; }

.bg-seashell-950 { background-color: #2a2827; }
.text-seashell-950 { color: #2a2827; }
.border-seashell-950 { border-color: #2a2827; }
.outline-seashell-950 { outline-color: #2a2827; }

