



.bg-sienna-50 { background-color: #ebdedc; }
.text-sienna-50 { color: #ebdedc; }
.border-sienna-50 { border-color: #ebdedc; }
.outline-sienna-50 { outline-color: #ebdedc; }

.bg-sienna-100 { background-color: #dcc2b9; }
.text-sienna-100 { color: #dcc2b9; }
.border-sienna-100 { border-color: #dcc2b9; }
.outline-sienna-100 { outline-color: #dcc2b9; }

.bg-sienna-200 { background-color: #cda696; }
.text-sienna-200 { color: #cda696; }
.border-sienna-200 { border-color: #cda696; }
.outline-sienna-200 { outline-color: #cda696; }

.bg-sienna-300 { background-color: #be8a73; }
.text-sienna-300 { color: #be8a73; }
.border-sienna-300 { border-color: #be8a73; }
.outline-sienna-300 { outline-color: #be8a73; }

.bg-sienna-400 { background-color: #af6e50; }
.text-sienna-400 { color: #af6e50; }
.border-sienna-400 { border-color: #af6e50; }
.outline-sienna-400 { outline-color: #af6e50; }

.bg-sienna-500 { background-color: #a0522d; }
.text-sienna-500 { color: #a0522d; }
.border-sienna-500 { border-color: #a0522d; }
.outline-sienna-500 { outline-color: #a0522d; }

.bg-sienna-600 { background-color: #854425; }
.text-sienna-600 { color: #854425; }
.border-sienna-600 { border-color: #854425; }
.outline-sienna-600 { outline-color: #854425; }

.bg-sienna-700 { background-color: #6a361d; }
.text-sienna-700 { color: #6a361d; }
.border-sienna-700 { border-color: #6a361d; }
.outline-sienna-700 { outline-color: #6a361d; }

.bg-sienna-800 { background-color: #4f2815; }
.text-sienna-800 { color: #4f2815; }
.border-sienna-800 { border-color: #4f2815; }
.outline-sienna-800 { outline-color: #4f2815; }

.bg-sienna-900 { background-color: #341a0d; }
.text-sienna-900 { color: #341a0d; }
.border-sienna-900 { border-color: #341a0d; }
.outline-sienna-900 { outline-color: #341a0d; }

.bg-sienna-950 { background-color: #190c05; }
.text-sienna-950 { color: #190c05; }
.border-sienna-950 { border-color: #190c05; }
.outline-sienna-950 { outline-color: #190c05; }


