



.bg-sienna-50 { background-color: #efe2dc; }
.text-sienna-50 { color: #efe2dc; }
.border-sienna-50 { border-color: #efe2dc; }
.outline-sienna-50 { outline-color: #efe2dc; }

.bg-sienna-100 { background-color: #dfc5b9; }
.text-sienna-100 { color: #dfc5b9; }
.border-sienna-100 { border-color: #dfc5b9; }
.outline-sienna-100 { outline-color: #dfc5b9; }

.bg-sienna-200 { background-color: #cfa896; }
.text-sienna-200 { color: #cfa896; }
.border-sienna-200 { border-color: #cfa896; }
.outline-sienna-200 { outline-color: #cfa896; }

.bg-sienna-300 { background-color: #bf8b73; }
.text-sienna-300 { color: #bf8b73; }
.border-sienna-300 { border-color: #bf8b73; }
.outline-sienna-300 { outline-color: #bf8b73; }

.bg-sienna-400 { background-color: #af6e50; }
.text-sienna-400 { color: #af6e50; }
.border-sienna-400 { border-color: #af6e50; }
.outline-sienna-400 { outline-color: #af6e50; }

.bg-sienna-500 { background-color: #a0522d; }
.text-sienna-500 { color: #a0522d; }
.border-sienna-500 { border-color: #a0522d; }
.outline-sienna-500 { outline-color: #a0522d; }

.bg-sienna-600 { background-color: #854425; }
.text-sienna-600 { color: #854425; }
.border-sienna-600 { border-color: #854425; }
.outline-sienna-600 { outline-color: #854425; }

.bg-sienna-700 { background-color: #6a361e; }
.text-sienna-700 { color: #6a361e; }
.border-sienna-700 { border-color: #6a361e; }
.outline-sienna-700 { outline-color: #6a361e; }

.bg-sienna-800 { background-color: #502916; }
.text-sienna-800 { color: #502916; }
.border-sienna-800 { border-color: #502916; }
.outline-sienna-800 { outline-color: #502916; }

.bg-sienna-900 { background-color: #351b0f; }
.text-sienna-900 { color: #351b0f; }
.border-sienna-900 { border-color: #351b0f; }
.outline-sienna-900 { outline-color: #351b0f; }

.bg-sienna-950 { background-color: #1a0d07; }
.text-sienna-950 { color: #1a0d07; }
.border-sienna-950 { border-color: #1a0d07; }
.outline-sienna-950 { outline-color: #1a0d07; }


