



.bg-silver-50 { background-color: #f2f2f2; }
.text-silver-50 { color: #f2f2f2; }
.border-silver-50 { border-color: #f2f2f2; }
.outline-silver-50 { outline-color: #f2f2f2; }

.bg-silver-100 { background-color: #e8e8e8; }
.text-silver-100 { color: #e8e8e8; }
.border-silver-100 { border-color: #e8e8e8; }
.outline-silver-100 { outline-color: #e8e8e8; }

.bg-silver-200 { background-color: #dedede; }
.text-silver-200 { color: #dedede; }
.border-silver-200 { border-color: #dedede; }
.outline-silver-200 { outline-color: #dedede; }

.bg-silver-300 { background-color: #d4d4d4; }
.text-silver-300 { color: #d4d4d4; }
.border-silver-300 { border-color: #d4d4d4; }
.outline-silver-300 { outline-color: #d4d4d4; }

.bg-silver-400 { background-color: #cacaca; }
.text-silver-400 { color: #cacaca; }
.border-silver-400 { border-color: #cacaca; }
.outline-silver-400 { outline-color: #cacaca; }

.bg-silver-500 { background-color: #c0c0c0; }
.text-silver-500 { color: #c0c0c0; }
.border-silver-500 { border-color: #c0c0c0; }
.outline-silver-500 { outline-color: #c0c0c0; }

.bg-silver-600 { background-color: #a0a0a0; }
.text-silver-600 { color: #a0a0a0; }
.border-silver-600 { border-color: #a0a0a0; }
.outline-silver-600 { outline-color: #a0a0a0; }

.bg-silver-700 { background-color: #808080; }
.text-silver-700 { color: #808080; }
.border-silver-700 { border-color: #808080; }
.outline-silver-700 { outline-color: #808080; }

.bg-silver-800 { background-color: #606060; }
.text-silver-800 { color: #606060; }
.border-silver-800 { border-color: #606060; }
.outline-silver-800 { outline-color: #606060; }

.bg-silver-900 { background-color: #404040; }
.text-silver-900 { color: #404040; }
.border-silver-900 { border-color: #404040; }
.outline-silver-900 { outline-color: #404040; }

.bg-silver-950 { background-color: #202020; }
.text-silver-950 { color: #202020; }
.border-silver-950 { border-color: #202020; }
.outline-silver-950 { outline-color: #202020; }


