



.bg-silver-50 { background-color: #f4f4f4; }
.text-silver-50 { color: #f4f4f4; }
.border-silver-50 { border-color: #f4f4f4; }
.outline-silver-50 { outline-color: #f4f4f4; }

.bg-silver-100 { background-color: #eaeaea; }
.text-silver-100 { color: #eaeaea; }
.border-silver-100 { border-color: #eaeaea; }
.outline-silver-100 { outline-color: #eaeaea; }

.bg-silver-200 { background-color: #dfdfdf; }
.text-silver-200 { color: #dfdfdf; }
.border-silver-200 { border-color: #dfdfdf; }
.outline-silver-200 { outline-color: #dfdfdf; }

.bg-silver-300 { background-color: #d5d5d5; }
.text-silver-300 { color: #d5d5d5; }
.border-silver-300 { border-color: #d5d5d5; }
.outline-silver-300 { outline-color: #d5d5d5; }

.bg-silver-400 { background-color: #cacaca; }
.text-silver-400 { color: #cacaca; }
.border-silver-400 { border-color: #cacaca; }
.outline-silver-400 { outline-color: #cacaca; }

.bg-silver-500 { background-color: #c0c0c0; }
.text-silver-500 { color: #c0c0c0; }
.border-silver-500 { border-color: #c0c0c0; }
.outline-silver-500 { outline-color: #c0c0c0; }

.bg-silver-600 { background-color: #a0a0a0; }
.text-silver-600 { color: #a0a0a0; }
.border-silver-600 { border-color: #a0a0a0; }
.outline-silver-600 { outline-color: #a0a0a0; }

.bg-silver-700 { background-color: #808080; }
.text-silver-700 { color: #808080; }
.border-silver-700 { border-color: #808080; }
.outline-silver-700 { outline-color: #808080; }

.bg-silver-800 { background-color: #606060; }
.text-silver-800 { color: #606060; }
.border-silver-800 { border-color: #606060; }
.outline-silver-800 { outline-color: #606060; }

.bg-silver-900 { background-color: #404040; }
.text-silver-900 { color: #404040; }
.border-silver-900 { border-color: #404040; }
.outline-silver-900 { outline-color: #404040; }

.bg-silver-950 { background-color: #202020; }
.text-silver-950 { color: #202020; }
.border-silver-950 { border-color: #202020; }
.outline-silver-950 { outline-color: #202020; }


