
.bg-skyblue-50 { background-color: #ebf6fb; }
.text-skyblue-50 { color: #ebf6fb; }
.border-skyblue-50 { border-color: #ebf6fb; }
.outline-skyblue-50 { outline-color: #ebf6fb; }

.bg-skyblue-100 { background-color: #d7eef8; }
.text-skyblue-100 { color: #d7eef8; }
.border-skyblue-100 { border-color: #d7eef8; }
.outline-skyblue-100 { outline-color: #d7eef8; }

.bg-skyblue-200 { background-color: #c3e6f5; }
.text-skyblue-200 { color: #c3e6f5; }
.border-skyblue-200 { border-color: #c3e6f5; }
.outline-skyblue-200 { outline-color: #c3e6f5; }

.bg-skyblue-300 { background-color: #afdef1; }
.text-skyblue-300 { color: #afdef1; }
.border-skyblue-300 { border-color: #afdef1; }
.outline-skyblue-300 { outline-color: #afdef1; }

.bg-skyblue-400 { background-color: #9bd6ee; }
.text-skyblue-400 { color: #9bd6ee; }
.border-skyblue-400 { border-color: #9bd6ee; }
.outline-skyblue-400 { outline-color: #9bd6ee; }

.bg-skyblue-500 { background-color: #87ceeb; }
.text-skyblue-500 { color: #87ceeb; }
.border-skyblue-500 { border-color: #87ceeb; }
.outline-skyblue-500 { outline-color: #87ceeb; }

.bg-skyblue-600 { background-color: #70abc3; }
.text-skyblue-600 { color: #70abc3; }
.border-skyblue-600 { border-color: #70abc3; }
.outline-skyblue-600 { outline-color: #70abc3; }

.bg-skyblue-700 { background-color: #5a899c; }
.text-skyblue-700 { color: #5a899c; }
.border-skyblue-700 { border-color: #5a899c; }
.outline-skyblue-700 { outline-color: #5a899c; }

.bg-skyblue-800 { background-color: #436775; }
.text-skyblue-800 { color: #436775; }
.border-skyblue-800 { border-color: #436775; }
.outline-skyblue-800 { outline-color: #436775; }

.bg-skyblue-900 { background-color: #2d444e; }
.text-skyblue-900 { color: #2d444e; }
.border-skyblue-900 { border-color: #2d444e; }
.outline-skyblue-900 { outline-color: #2d444e; }

.bg-skyblue-950 { background-color: #162227; }
.text-skyblue-950 { color: #162227; }
.border-skyblue-950 { border-color: #162227; }
.outline-skyblue-950 { outline-color: #162227; }
