
/* github: https://github.com/iaseth/html-color-names */

.bg-slategrey-50 { background-color: #e7e9ec; }
.text-slategrey-50 { color: #e7e9ec; }
.border-slategrey-50 { border-color: #e7e9ec; }
.outline-slategrey-50 { outline-color: #e7e9ec; }

.bg-slategrey-100 { background-color: #cfd4da; }
.text-slategrey-100 { color: #cfd4da; }
.border-slategrey-100 { border-color: #cfd4da; }
.outline-slategrey-100 { outline-color: #cfd4da; }

.bg-slategrey-200 { background-color: #b7bfc7; }
.text-slategrey-200 { color: #b7bfc7; }
.border-slategrey-200 { border-color: #b7bfc7; }
.outline-slategrey-200 { outline-color: #b7bfc7; }

.bg-slategrey-300 { background-color: #9faab5; }
.text-slategrey-300 { color: #9faab5; }
.border-slategrey-300 { border-color: #9faab5; }
.outline-slategrey-300 { outline-color: #9faab5; }

.bg-slategrey-400 { background-color: #8795a2; }
.text-slategrey-400 { color: #8795a2; }
.border-slategrey-400 { border-color: #8795a2; }
.outline-slategrey-400 { outline-color: #8795a2; }

.bg-slategrey-500 { background-color: #708090; }
.text-slategrey-500 { color: #708090; }
.border-slategrey-500 { border-color: #708090; }
.outline-slategrey-500 { outline-color: #708090; }

.bg-slategrey-600 { background-color: #5d6a78; }
.text-slategrey-600 { color: #5d6a78; }
.border-slategrey-600 { border-color: #5d6a78; }
.outline-slategrey-600 { outline-color: #5d6a78; }

.bg-slategrey-700 { background-color: #4a5560; }
.text-slategrey-700 { color: #4a5560; }
.border-slategrey-700 { border-color: #4a5560; }
.outline-slategrey-700 { outline-color: #4a5560; }

.bg-slategrey-800 { background-color: #384048; }
.text-slategrey-800 { color: #384048; }
.border-slategrey-800 { border-color: #384048; }
.outline-slategrey-800 { outline-color: #384048; }

.bg-slategrey-900 { background-color: #252a30; }
.text-slategrey-900 { color: #252a30; }
.border-slategrey-900 { border-color: #252a30; }
.outline-slategrey-900 { outline-color: #252a30; }

.bg-slategrey-950 { background-color: #121518; }
.text-slategrey-950 { color: #121518; }
.border-slategrey-950 { border-color: #121518; }
.outline-slategrey-950 { outline-color: #121518; }

