
/* github: https://github.com/iaseth/html-color-names */

.bg-slateblue-50 { background-color: #e6e3f6; }
.text-slateblue-50 { color: #e6e3f6; }
.border-slateblue-50 { border-color: #e6e3f6; }
.outline-slateblue-50 { outline-color: #e6e3f6; }

.bg-slateblue-100 { background-color: #cdc8ee; }
.text-slateblue-100 { color: #cdc8ee; }
.border-slateblue-100 { border-color: #cdc8ee; }
.outline-slateblue-100 { outline-color: #cdc8ee; }

.bg-slateblue-200 { background-color: #b4ace6; }
.text-slateblue-200 { color: #b4ace6; }
.border-slateblue-200 { border-color: #b4ace6; }
.outline-slateblue-200 { outline-color: #b4ace6; }

.bg-slateblue-300 { background-color: #9b91dd; }
.text-slateblue-300 { color: #9b91dd; }
.border-slateblue-300 { border-color: #9b91dd; }
.outline-slateblue-300 { outline-color: #9b91dd; }

.bg-slateblue-400 { background-color: #8275d5; }
.text-slateblue-400 { color: #8275d5; }
.border-slateblue-400 { border-color: #8275d5; }
.outline-slateblue-400 { outline-color: #8275d5; }

.bg-slateblue-500 { background-color: #6a5acd; }
.text-slateblue-500 { color: #6a5acd; }
.border-slateblue-500 { border-color: #6a5acd; }
.outline-slateblue-500 { outline-color: #6a5acd; }

.bg-slateblue-600 { background-color: #584baa; }
.text-slateblue-600 { color: #584baa; }
.border-slateblue-600 { border-color: #584baa; }
.outline-slateblue-600 { outline-color: #584baa; }

.bg-slateblue-700 { background-color: #463c88; }
.text-slateblue-700 { color: #463c88; }
.border-slateblue-700 { border-color: #463c88; }
.outline-slateblue-700 { outline-color: #463c88; }

.bg-slateblue-800 { background-color: #352d66; }
.text-slateblue-800 { color: #352d66; }
.border-slateblue-800 { border-color: #352d66; }
.outline-slateblue-800 { outline-color: #352d66; }

.bg-slateblue-900 { background-color: #231e44; }
.text-slateblue-900 { color: #231e44; }
.border-slateblue-900 { border-color: #231e44; }
.outline-slateblue-900 { outline-color: #231e44; }

.bg-slateblue-950 { background-color: #110f22; }
.text-slateblue-950 { color: #110f22; }
.border-slateblue-950 { border-color: #110f22; }
.outline-slateblue-950 { outline-color: #110f22; }

