



.bg-slategrey-50 { background-color: #e3e9ea; }
.text-slategrey-50 { color: #e3e9ea; }
.border-slategrey-50 { border-color: #e3e9ea; }
.outline-slategrey-50 { outline-color: #e3e9ea; }

.bg-slategrey-100 { background-color: #ccd4d8; }
.text-slategrey-100 { color: #ccd4d8; }
.border-slategrey-100 { border-color: #ccd4d8; }
.outline-slategrey-100 { outline-color: #ccd4d8; }

.bg-slategrey-200 { background-color: #b5bfc6; }
.text-slategrey-200 { color: #b5bfc6; }
.border-slategrey-200 { border-color: #b5bfc6; }
.outline-slategrey-200 { outline-color: #b5bfc6; }

.bg-slategrey-300 { background-color: #9eaab4; }
.text-slategrey-300 { color: #9eaab4; }
.border-slategrey-300 { border-color: #9eaab4; }
.outline-slategrey-300 { outline-color: #9eaab4; }

.bg-slategrey-400 { background-color: #8795a2; }
.text-slategrey-400 { color: #8795a2; }
.border-slategrey-400 { border-color: #8795a2; }
.outline-slategrey-400 { outline-color: #8795a2; }

.bg-slategrey-500 { background-color: #708090; }
.text-slategrey-500 { color: #708090; }
.border-slategrey-500 { border-color: #708090; }
.outline-slategrey-500 { outline-color: #708090; }

.bg-slategrey-600 { background-color: #5d6a78; }
.text-slategrey-600 { color: #5d6a78; }
.border-slategrey-600 { border-color: #5d6a78; }
.outline-slategrey-600 { outline-color: #5d6a78; }

.bg-slategrey-700 { background-color: #4a5460; }
.text-slategrey-700 { color: #4a5460; }
.border-slategrey-700 { border-color: #4a5460; }
.outline-slategrey-700 { outline-color: #4a5460; }

.bg-slategrey-800 { background-color: #373e48; }
.text-slategrey-800 { color: #373e48; }
.border-slategrey-800 { border-color: #373e48; }
.outline-slategrey-800 { outline-color: #373e48; }

.bg-slategrey-900 { background-color: #242830; }
.text-slategrey-900 { color: #242830; }
.border-slategrey-900 { border-color: #242830; }
.outline-slategrey-900 { outline-color: #242830; }

.bg-slategrey-950 { background-color: #111218; }
.text-slategrey-950 { color: #111218; }
.border-slategrey-950 { border-color: #111218; }
.outline-slategrey-950 { outline-color: #111218; }


