



.bg-slategray-50 { background-color: #e7e9ec; }
.text-slategray-50 { color: #e7e9ec; }
.border-slategray-50 { border-color: #e7e9ec; }
.outline-slategray-50 { outline-color: #e7e9ec; }

.bg-slategray-100 { background-color: #cfd4da; }
.text-slategray-100 { color: #cfd4da; }
.border-slategray-100 { border-color: #cfd4da; }
.outline-slategray-100 { outline-color: #cfd4da; }

.bg-slategray-200 { background-color: #b7bfc7; }
.text-slategray-200 { color: #b7bfc7; }
.border-slategray-200 { border-color: #b7bfc7; }
.outline-slategray-200 { outline-color: #b7bfc7; }

.bg-slategray-300 { background-color: #9faab5; }
.text-slategray-300 { color: #9faab5; }
.border-slategray-300 { border-color: #9faab5; }
.outline-slategray-300 { outline-color: #9faab5; }

.bg-slategray-400 { background-color: #8795a2; }
.text-slategray-400 { color: #8795a2; }
.border-slategray-400 { border-color: #8795a2; }
.outline-slategray-400 { outline-color: #8795a2; }

.bg-slategray-500 { background-color: #708090; }
.text-slategray-500 { color: #708090; }
.border-slategray-500 { border-color: #708090; }
.outline-slategray-500 { outline-color: #708090; }

.bg-slategray-600 { background-color: #5d6a78; }
.text-slategray-600 { color: #5d6a78; }
.border-slategray-600 { border-color: #5d6a78; }
.outline-slategray-600 { outline-color: #5d6a78; }

.bg-slategray-700 { background-color: #4a5560; }
.text-slategray-700 { color: #4a5560; }
.border-slategray-700 { border-color: #4a5560; }
.outline-slategray-700 { outline-color: #4a5560; }

.bg-slategray-800 { background-color: #384048; }
.text-slategray-800 { color: #384048; }
.border-slategray-800 { border-color: #384048; }
.outline-slategray-800 { outline-color: #384048; }

.bg-slategray-900 { background-color: #252a30; }
.text-slategray-900 { color: #252a30; }
.border-slategray-900 { border-color: #252a30; }
.outline-slategray-900 { outline-color: #252a30; }

.bg-slategray-950 { background-color: #121518; }
.text-slategray-950 { color: #121518; }
.border-slategray-950 { border-color: #121518; }
.outline-slategray-950 { outline-color: #121518; }


