
/* github: https://github.com/iaseth/html-color-names */

.bg-springgreen-50 { background-color: #d4ffe9; }
.text-springgreen-50 { color: #d4ffe9; }
.border-springgreen-50 { border-color: #d4ffe9; }
.outline-springgreen-50 { outline-color: #d4ffe9; }

.bg-springgreen-100 { background-color: #aaffd4; }
.text-springgreen-100 { color: #aaffd4; }
.border-springgreen-100 { border-color: #aaffd4; }
.outline-springgreen-100 { outline-color: #aaffd4; }

.bg-springgreen-200 { background-color: #7fffbf; }
.text-springgreen-200 { color: #7fffbf; }
.border-springgreen-200 { border-color: #7fffbf; }
.outline-springgreen-200 { outline-color: #7fffbf; }

.bg-springgreen-300 { background-color: #55ffa9; }
.text-springgreen-300 { color: #55ffa9; }
.border-springgreen-300 { border-color: #55ffa9; }
.outline-springgreen-300 { outline-color: #55ffa9; }

.bg-springgreen-400 { background-color: #2aff94; }
.text-springgreen-400 { color: #2aff94; }
.border-springgreen-400 { border-color: #2aff94; }
.outline-springgreen-400 { outline-color: #2aff94; }

.bg-springgreen-500 { background-color: #00ff7f; }
.text-springgreen-500 { color: #00ff7f; }
.border-springgreen-500 { border-color: #00ff7f; }
.outline-springgreen-500 { outline-color: #00ff7f; }

.bg-springgreen-600 { background-color: #00d469; }
.text-springgreen-600 { color: #00d469; }
.border-springgreen-600 { border-color: #00d469; }
.outline-springgreen-600 { outline-color: #00d469; }

.bg-springgreen-700 { background-color: #00aa54; }
.text-springgreen-700 { color: #00aa54; }
.border-springgreen-700 { border-color: #00aa54; }
.outline-springgreen-700 { outline-color: #00aa54; }

.bg-springgreen-800 { background-color: #007f3f; }
.text-springgreen-800 { color: #007f3f; }
.border-springgreen-800 { border-color: #007f3f; }
.outline-springgreen-800 { outline-color: #007f3f; }

.bg-springgreen-900 { background-color: #00552a; }
.text-springgreen-900 { color: #00552a; }
.border-springgreen-900 { border-color: #00552a; }
.outline-springgreen-900 { outline-color: #00552a; }

.bg-springgreen-950 { background-color: #002a15; }
.text-springgreen-950 { color: #002a15; }
.border-springgreen-950 { border-color: #002a15; }
.outline-springgreen-950 { outline-color: #002a15; }

