



.bg-steelblue-50 { background-color: #dce6f0; }
.text-steelblue-50 { color: #dce6f0; }
.border-steelblue-50 { border-color: #dce6f0; }
.outline-steelblue-50 { outline-color: #dce6f0; }

.bg-steelblue-100 { background-color: #bed2e4; }
.text-steelblue-100 { color: #bed2e4; }
.border-steelblue-100 { border-color: #bed2e4; }
.outline-steelblue-100 { outline-color: #bed2e4; }

.bg-steelblue-200 { background-color: #a0bed8; }
.text-steelblue-200 { color: #a0bed8; }
.border-steelblue-200 { border-color: #a0bed8; }
.outline-steelblue-200 { outline-color: #a0bed8; }

.bg-steelblue-300 { background-color: #82aacc; }
.text-steelblue-300 { color: #82aacc; }
.border-steelblue-300 { border-color: #82aacc; }
.outline-steelblue-300 { outline-color: #82aacc; }

.bg-steelblue-400 { background-color: #6496c0; }
.text-steelblue-400 { color: #6496c0; }
.border-steelblue-400 { border-color: #6496c0; }
.outline-steelblue-400 { outline-color: #6496c0; }

.bg-steelblue-500 { background-color: #4682b4; }
.text-steelblue-500 { color: #4682b4; }
.border-steelblue-500 { border-color: #4682b4; }
.outline-steelblue-500 { outline-color: #4682b4; }

.bg-steelblue-600 { background-color: #3a6c96; }
.text-steelblue-600 { color: #3a6c96; }
.border-steelblue-600 { border-color: #3a6c96; }
.outline-steelblue-600 { outline-color: #3a6c96; }

.bg-steelblue-700 { background-color: #2e5678; }
.text-steelblue-700 { color: #2e5678; }
.border-steelblue-700 { border-color: #2e5678; }
.outline-steelblue-700 { outline-color: #2e5678; }

.bg-steelblue-800 { background-color: #22405a; }
.text-steelblue-800 { color: #22405a; }
.border-steelblue-800 { border-color: #22405a; }
.outline-steelblue-800 { outline-color: #22405a; }

.bg-steelblue-900 { background-color: #162a3c; }
.text-steelblue-900 { color: #162a3c; }
.border-steelblue-900 { border-color: #162a3c; }
.outline-steelblue-900 { outline-color: #162a3c; }

.bg-steelblue-950 { background-color: #0a141e; }
.text-steelblue-950 { color: #0a141e; }
.border-steelblue-950 { border-color: #0a141e; }
.outline-steelblue-950 { outline-color: #0a141e; }


