
/* github: https://github.com/iaseth/html-color-names */

.bg-steelblue-50 { background-color: #e0eaf2; }
.text-steelblue-50 { color: #e0eaf2; }
.border-steelblue-50 { border-color: #e0eaf2; }
.outline-steelblue-50 { outline-color: #e0eaf2; }

.bg-steelblue-100 { background-color: #c1d5e6; }
.text-steelblue-100 { color: #c1d5e6; }
.border-steelblue-100 { border-color: #c1d5e6; }
.outline-steelblue-100 { outline-color: #c1d5e6; }

.bg-steelblue-200 { background-color: #a2c0d9; }
.text-steelblue-200 { color: #a2c0d9; }
.border-steelblue-200 { border-color: #a2c0d9; }
.outline-steelblue-200 { outline-color: #a2c0d9; }

.bg-steelblue-300 { background-color: #83abcd; }
.text-steelblue-300 { color: #83abcd; }
.border-steelblue-300 { border-color: #83abcd; }
.outline-steelblue-300 { outline-color: #83abcd; }

.bg-steelblue-400 { background-color: #6496c0; }
.text-steelblue-400 { color: #6496c0; }
.border-steelblue-400 { border-color: #6496c0; }
.outline-steelblue-400 { outline-color: #6496c0; }

.bg-steelblue-500 { background-color: #4682b4; }
.text-steelblue-500 { color: #4682b4; }
.border-steelblue-500 { border-color: #4682b4; }
.outline-steelblue-500 { outline-color: #4682b4; }

.bg-steelblue-600 { background-color: #3a6c96; }
.text-steelblue-600 { color: #3a6c96; }
.border-steelblue-600 { border-color: #3a6c96; }
.outline-steelblue-600 { outline-color: #3a6c96; }

.bg-steelblue-700 { background-color: #2e5678; }
.text-steelblue-700 { color: #2e5678; }
.border-steelblue-700 { border-color: #2e5678; }
.outline-steelblue-700 { outline-color: #2e5678; }

.bg-steelblue-800 { background-color: #23415a; }
.text-steelblue-800 { color: #23415a; }
.border-steelblue-800 { border-color: #23415a; }
.outline-steelblue-800 { outline-color: #23415a; }

.bg-steelblue-900 { background-color: #172b3c; }
.text-steelblue-900 { color: #172b3c; }
.border-steelblue-900 { border-color: #172b3c; }
.outline-steelblue-900 { outline-color: #172b3c; }

.bg-steelblue-950 { background-color: #0b151e; }
.text-steelblue-950 { color: #0b151e; }
.border-steelblue-950 { border-color: #0b151e; }
.outline-steelblue-950 { outline-color: #0b151e; }

