



.bg-tan-50 { background-color: #f5f0eb; }
.text-tan-50 { color: #f5f0eb; }
.border-tan-50 { border-color: #f5f0eb; }
.outline-tan-50 { outline-color: #f5f0eb; }

.bg-tan-100 { background-color: #eee4d8; }
.text-tan-100 { color: #eee4d8; }
.border-tan-100 { border-color: #eee4d8; }
.outline-tan-100 { outline-color: #eee4d8; }

.bg-tan-200 { background-color: #e7d8c5; }
.text-tan-200 { color: #e7d8c5; }
.border-tan-200 { border-color: #e7d8c5; }
.outline-tan-200 { outline-color: #e7d8c5; }

.bg-tan-300 { background-color: #e0ccb2; }
.text-tan-300 { color: #e0ccb2; }
.border-tan-300 { border-color: #e0ccb2; }
.outline-tan-300 { outline-color: #e0ccb2; }

.bg-tan-400 { background-color: #d9c09f; }
.text-tan-400 { color: #d9c09f; }
.border-tan-400 { border-color: #d9c09f; }
.outline-tan-400 { outline-color: #d9c09f; }

.bg-tan-500 { background-color: #d2b48c; }
.text-tan-500 { color: #d2b48c; }
.border-tan-500 { border-color: #d2b48c; }
.outline-tan-500 { outline-color: #d2b48c; }

.bg-tan-600 { background-color: #af9674; }
.text-tan-600 { color: #af9674; }
.border-tan-600 { border-color: #af9674; }
.outline-tan-600 { outline-color: #af9674; }

.bg-tan-700 { background-color: #8c785c; }
.text-tan-700 { color: #8c785c; }
.border-tan-700 { border-color: #8c785c; }
.outline-tan-700 { outline-color: #8c785c; }

.bg-tan-800 { background-color: #695a44; }
.text-tan-800 { color: #695a44; }
.border-tan-800 { border-color: #695a44; }
.outline-tan-800 { outline-color: #695a44; }

.bg-tan-900 { background-color: #463c2c; }
.text-tan-900 { color: #463c2c; }
.border-tan-900 { border-color: #463c2c; }
.outline-tan-900 { outline-color: #463c2c; }

.bg-tan-950 { background-color: #231e14; }
.text-tan-950 { color: #231e14; }
.border-tan-950 { border-color: #231e14; }
.outline-tan-950 { outline-color: #231e14; }


