



.bg-teal-50 { background-color: #d2e9e9; }
.text-teal-50 { color: #d2e9e9; }
.border-teal-50 { border-color: #d2e9e9; }
.outline-teal-50 { outline-color: #d2e9e9; }

.bg-teal-100 { background-color: #a8d4d4; }
.text-teal-100 { color: #a8d4d4; }
.border-teal-100 { border-color: #a8d4d4; }
.outline-teal-100 { outline-color: #a8d4d4; }

.bg-teal-200 { background-color: #7ebfbf; }
.text-teal-200 { color: #7ebfbf; }
.border-teal-200 { border-color: #7ebfbf; }
.outline-teal-200 { outline-color: #7ebfbf; }

.bg-teal-300 { background-color: #54aaaa; }
.text-teal-300 { color: #54aaaa; }
.border-teal-300 { border-color: #54aaaa; }
.outline-teal-300 { outline-color: #54aaaa; }

.bg-teal-400 { background-color: #2a9595; }
.text-teal-400 { color: #2a9595; }
.border-teal-400 { border-color: #2a9595; }
.outline-teal-400 { outline-color: #2a9595; }

.bg-teal-500 { background-color: #008080; }
.text-teal-500 { color: #008080; }
.border-teal-500 { border-color: #008080; }
.outline-teal-500 { outline-color: #008080; }

.bg-teal-600 { background-color: #006a6a; }
.text-teal-600 { color: #006a6a; }
.border-teal-600 { border-color: #006a6a; }
.outline-teal-600 { outline-color: #006a6a; }

.bg-teal-700 { background-color: #005454; }
.text-teal-700 { color: #005454; }
.border-teal-700 { border-color: #005454; }
.outline-teal-700 { outline-color: #005454; }

.bg-teal-800 { background-color: #003e3e; }
.text-teal-800 { color: #003e3e; }
.border-teal-800 { border-color: #003e3e; }
.outline-teal-800 { outline-color: #003e3e; }

.bg-teal-900 { background-color: #002828; }
.text-teal-900 { color: #002828; }
.border-teal-900 { border-color: #002828; }
.outline-teal-900 { outline-color: #002828; }

.bg-teal-950 { background-color: #001212; }
.text-teal-950 { color: #001212; }
.border-teal-950 { border-color: #001212; }
.outline-teal-950 { outline-color: #001212; }


