
/* github: https://github.com/iaseth/html-color-names */

.bg-teal-50 { background-color: #d4e9e9; }
.text-teal-50 { color: #d4e9e9; }
.border-teal-50 { border-color: #d4e9e9; }
.outline-teal-50 { outline-color: #d4e9e9; }

.bg-teal-100 { background-color: #aad4d4; }
.text-teal-100 { color: #aad4d4; }
.border-teal-100 { border-color: #aad4d4; }
.outline-teal-100 { outline-color: #aad4d4; }

.bg-teal-200 { background-color: #7fbfbf; }
.text-teal-200 { color: #7fbfbf; }
.border-teal-200 { border-color: #7fbfbf; }
.outline-teal-200 { outline-color: #7fbfbf; }

.bg-teal-300 { background-color: #55aaaa; }
.text-teal-300 { color: #55aaaa; }
.border-teal-300 { border-color: #55aaaa; }
.outline-teal-300 { outline-color: #55aaaa; }

.bg-teal-400 { background-color: #2a9595; }
.text-teal-400 { color: #2a9595; }
.border-teal-400 { border-color: #2a9595; }
.outline-teal-400 { outline-color: #2a9595; }

.bg-teal-500 { background-color: #008080; }
.text-teal-500 { color: #008080; }
.border-teal-500 { border-color: #008080; }
.outline-teal-500 { outline-color: #008080; }

.bg-teal-600 { background-color: #006a6a; }
.text-teal-600 { color: #006a6a; }
.border-teal-600 { border-color: #006a6a; }
.outline-teal-600 { outline-color: #006a6a; }

.bg-teal-700 { background-color: #005555; }
.text-teal-700 { color: #005555; }
.border-teal-700 { border-color: #005555; }
.outline-teal-700 { outline-color: #005555; }

.bg-teal-800 { background-color: #004040; }
.text-teal-800 { color: #004040; }
.border-teal-800 { border-color: #004040; }
.outline-teal-800 { outline-color: #004040; }

.bg-teal-900 { background-color: #002a2a; }
.text-teal-900 { color: #002a2a; }
.border-teal-900 { border-color: #002a2a; }
.outline-teal-900 { outline-color: #002a2a; }

.bg-teal-950 { background-color: #001515; }
.text-teal-950 { color: #001515; }
.border-teal-950 { border-color: #001515; }
.outline-teal-950 { outline-color: #001515; }

