
/* github: https://github.com/iaseth/html-color-names */

.bg-thistle-50 { background-color: #f8f4f8; }
.text-thistle-50 { color: #f8f4f8; }
.border-thistle-50 { border-color: #f8f4f8; }
.outline-thistle-50 { outline-color: #f8f4f8; }

.bg-thistle-100 { background-color: #f2e9f2; }
.text-thistle-100 { color: #f2e9f2; }
.border-thistle-100 { border-color: #f2e9f2; }
.outline-thistle-100 { outline-color: #f2e9f2; }

.bg-thistle-200 { background-color: #ebdfeb; }
.text-thistle-200 { color: #ebdfeb; }
.border-thistle-200 { border-color: #ebdfeb; }
.outline-thistle-200 { outline-color: #ebdfeb; }

.bg-thistle-300 { background-color: #e5d4e5; }
.text-thistle-300 { color: #e5d4e5; }
.border-thistle-300 { border-color: #e5d4e5; }
.outline-thistle-300 { outline-color: #e5d4e5; }

.bg-thistle-400 { background-color: #dec9de; }
.text-thistle-400 { color: #dec9de; }
.border-thistle-400 { border-color: #dec9de; }
.outline-thistle-400 { outline-color: #dec9de; }

.bg-thistle-500 { background-color: #d8bfd8; }
.text-thistle-500 { color: #d8bfd8; }
.border-thistle-500 { border-color: #d8bfd8; }
.outline-thistle-500 { outline-color: #d8bfd8; }

.bg-thistle-600 { background-color: #b49fb4; }
.text-thistle-600 { color: #b49fb4; }
.border-thistle-600 { border-color: #b49fb4; }
.outline-thistle-600 { outline-color: #b49fb4; }

.bg-thistle-700 { background-color: #907f90; }
.text-thistle-700 { color: #907f90; }
.border-thistle-700 { border-color: #907f90; }
.outline-thistle-700 { outline-color: #907f90; }

.bg-thistle-800 { background-color: #6c5f6c; }
.text-thistle-800 { color: #6c5f6c; }
.border-thistle-800 { border-color: #6c5f6c; }
.outline-thistle-800 { outline-color: #6c5f6c; }

.bg-thistle-900 { background-color: #483f48; }
.text-thistle-900 { color: #483f48; }
.border-thistle-900 { border-color: #483f48; }
.outline-thistle-900 { outline-color: #483f48; }

.bg-thistle-950 { background-color: #241f24; }
.text-thistle-950 { color: #241f24; }
.border-thistle-950 { border-color: #241f24; }
.outline-thistle-950 { outline-color: #241f24; }

