



.bg-tomato-50 { background-color: #ffe5dd; }
.text-tomato-50 { color: #ffe5dd; }
.border-tomato-50 { border-color: #ffe5dd; }
.outline-tomato-50 { outline-color: #ffe5dd; }

.bg-tomato-100 { background-color: #ffcbbf; }
.text-tomato-100 { color: #ffcbbf; }
.border-tomato-100 { border-color: #ffcbbf; }
.outline-tomato-100 { outline-color: #ffcbbf; }

.bg-tomato-200 { background-color: #ffb1a1; }
.text-tomato-200 { color: #ffb1a1; }
.border-tomato-200 { border-color: #ffb1a1; }
.outline-tomato-200 { outline-color: #ffb1a1; }

.bg-tomato-300 { background-color: #ff9783; }
.text-tomato-300 { color: #ff9783; }
.border-tomato-300 { border-color: #ff9783; }
.outline-tomato-300 { outline-color: #ff9783; }

.bg-tomato-400 { background-color: #ff7d65; }
.text-tomato-400 { color: #ff7d65; }
.border-tomato-400 { border-color: #ff7d65; }
.outline-tomato-400 { outline-color: #ff7d65; }

.bg-tomato-500 { background-color: #ff6347; }
.text-tomato-500 { color: #ff6347; }
.border-tomato-500 { border-color: #ff6347; }
.outline-tomato-500 { outline-color: #ff6347; }

.bg-tomato-600 { background-color: #d4523b; }
.text-tomato-600 { color: #d4523b; }
.border-tomato-600 { border-color: #d4523b; }
.outline-tomato-600 { outline-color: #d4523b; }

.bg-tomato-700 { background-color: #a9412f; }
.text-tomato-700 { color: #a9412f; }
.border-tomato-700 { border-color: #a9412f; }
.outline-tomato-700 { outline-color: #a9412f; }

.bg-tomato-800 { background-color: #7e3023; }
.text-tomato-800 { color: #7e3023; }
.border-tomato-800 { border-color: #7e3023; }
.outline-tomato-800 { outline-color: #7e3023; }

.bg-tomato-900 { background-color: #531f17; }
.text-tomato-900 { color: #531f17; }
.border-tomato-900 { border-color: #531f17; }
.outline-tomato-900 { outline-color: #531f17; }

.bg-tomato-950 { background-color: #280e0b; }
.text-tomato-950 { color: #280e0b; }
.border-tomato-950 { border-color: #280e0b; }
.outline-tomato-950 { outline-color: #280e0b; }


