
/* github: https://github.com/iaseth/html-color-names */

.bg-tomato-50 { background-color: #ffe5e0; }
.text-tomato-50 { color: #ffe5e0; }
.border-tomato-50 { border-color: #ffe5e0; }
.outline-tomato-50 { outline-color: #ffe5e0; }

.bg-tomato-100 { background-color: #ffcbc1; }
.text-tomato-100 { color: #ffcbc1; }
.border-tomato-100 { border-color: #ffcbc1; }
.outline-tomato-100 { outline-color: #ffcbc1; }

.bg-tomato-200 { background-color: #ffb1a3; }
.text-tomato-200 { color: #ffb1a3; }
.border-tomato-200 { border-color: #ffb1a3; }
.outline-tomato-200 { outline-color: #ffb1a3; }

.bg-tomato-300 { background-color: #ff9784; }
.text-tomato-300 { color: #ff9784; }
.border-tomato-300 { border-color: #ff9784; }
.outline-tomato-300 { outline-color: #ff9784; }

.bg-tomato-400 { background-color: #ff7d65; }
.text-tomato-400 { color: #ff7d65; }
.border-tomato-400 { border-color: #ff7d65; }
.outline-tomato-400 { outline-color: #ff7d65; }

.bg-tomato-500 { background-color: #ff6347; }
.text-tomato-500 { color: #ff6347; }
.border-tomato-500 { border-color: #ff6347; }
.outline-tomato-500 { outline-color: #ff6347; }

.bg-tomato-600 { background-color: #d4523b; }
.text-tomato-600 { color: #d4523b; }
.border-tomato-600 { border-color: #d4523b; }
.outline-tomato-600 { outline-color: #d4523b; }

.bg-tomato-700 { background-color: #aa422f; }
.text-tomato-700 { color: #aa422f; }
.border-tomato-700 { border-color: #aa422f; }
.outline-tomato-700 { outline-color: #aa422f; }

.bg-tomato-800 { background-color: #7f3123; }
.text-tomato-800 { color: #7f3123; }
.border-tomato-800 { border-color: #7f3123; }
.outline-tomato-800 { outline-color: #7f3123; }

.bg-tomato-900 { background-color: #552117; }
.text-tomato-900 { color: #552117; }
.border-tomato-900 { border-color: #552117; }
.outline-tomato-900 { outline-color: #552117; }

.bg-tomato-950 { background-color: #2a100b; }
.text-tomato-950 { color: #2a100b; }
.border-tomato-950 { border-color: #2a100b; }
.outline-tomato-950 { outline-color: #2a100b; }

