
/* github: https://github.com/iaseth/html-color-names */

.bg-turquoise-50 { background-color: #dff9f7; }
.text-turquoise-50 { color: #dff9f7; }
.border-turquoise-50 { border-color: #dff9f7; }
.outline-turquoise-50 { outline-color: #dff9f7; }

.bg-turquoise-100 { background-color: #bff4ef; }
.text-turquoise-100 { color: #bff4ef; }
.border-turquoise-100 { border-color: #bff4ef; }
.outline-turquoise-100 { outline-color: #bff4ef; }

.bg-turquoise-200 { background-color: #9fefe7; }
.text-turquoise-200 { color: #9fefe7; }
.border-turquoise-200 { border-color: #9fefe7; }
.outline-turquoise-200 { outline-color: #9fefe7; }

.bg-turquoise-300 { background-color: #7feadf; }
.text-turquoise-300 { color: #7feadf; }
.border-turquoise-300 { border-color: #7feadf; }
.outline-turquoise-300 { outline-color: #7feadf; }

.bg-turquoise-400 { background-color: #5fe5d7; }
.text-turquoise-400 { color: #5fe5d7; }
.border-turquoise-400 { border-color: #5fe5d7; }
.outline-turquoise-400 { outline-color: #5fe5d7; }

.bg-turquoise-500 { background-color: #40e0d0; }
.text-turquoise-500 { color: #40e0d0; }
.border-turquoise-500 { border-color: #40e0d0; }
.outline-turquoise-500 { outline-color: #40e0d0; }

.bg-turquoise-600 { background-color: #35baad; }
.text-turquoise-600 { color: #35baad; }
.border-turquoise-600 { border-color: #35baad; }
.outline-turquoise-600 { outline-color: #35baad; }

.bg-turquoise-700 { background-color: #2a958a; }
.text-turquoise-700 { color: #2a958a; }
.border-turquoise-700 { border-color: #2a958a; }
.outline-turquoise-700 { outline-color: #2a958a; }

.bg-turquoise-800 { background-color: #207068; }
.text-turquoise-800 { color: #207068; }
.border-turquoise-800 { border-color: #207068; }
.outline-turquoise-800 { outline-color: #207068; }

.bg-turquoise-900 { background-color: #154a45; }
.text-turquoise-900 { color: #154a45; }
.border-turquoise-900 { border-color: #154a45; }
.outline-turquoise-900 { outline-color: #154a45; }

.bg-turquoise-950 { background-color: #0a2522; }
.text-turquoise-950 { color: #0a2522; }
.border-turquoise-950 { border-color: #0a2522; }
.outline-turquoise-950 { outline-color: #0a2522; }

