



.bg-turquoise-50 { background-color: #dbf9f3; }
.text-turquoise-50 { color: #dbf9f3; }
.border-turquoise-50 { border-color: #dbf9f3; }
.outline-turquoise-50 { outline-color: #dbf9f3; }

.bg-turquoise-100 { background-color: #bcf4ec; }
.text-turquoise-100 { color: #bcf4ec; }
.border-turquoise-100 { border-color: #bcf4ec; }
.outline-turquoise-100 { outline-color: #bcf4ec; }

.bg-turquoise-200 { background-color: #9defe5; }
.text-turquoise-200 { color: #9defe5; }
.border-turquoise-200 { border-color: #9defe5; }
.outline-turquoise-200 { outline-color: #9defe5; }

.bg-turquoise-300 { background-color: #7eeade; }
.text-turquoise-300 { color: #7eeade; }
.border-turquoise-300 { border-color: #7eeade; }
.outline-turquoise-300 { outline-color: #7eeade; }

.bg-turquoise-400 { background-color: #5fe5d7; }
.text-turquoise-400 { color: #5fe5d7; }
.border-turquoise-400 { border-color: #5fe5d7; }
.outline-turquoise-400 { outline-color: #5fe5d7; }

.bg-turquoise-500 { background-color: #40e0d0; }
.text-turquoise-500 { color: #40e0d0; }
.border-turquoise-500 { border-color: #40e0d0; }
.outline-turquoise-500 { outline-color: #40e0d0; }

.bg-turquoise-600 { background-color: #35baad; }
.text-turquoise-600 { color: #35baad; }
.border-turquoise-600 { border-color: #35baad; }
.outline-turquoise-600 { outline-color: #35baad; }

.bg-turquoise-700 { background-color: #2a948a; }
.text-turquoise-700 { color: #2a948a; }
.border-turquoise-700 { border-color: #2a948a; }
.outline-turquoise-700 { outline-color: #2a948a; }

.bg-turquoise-800 { background-color: #1f6e67; }
.text-turquoise-800 { color: #1f6e67; }
.border-turquoise-800 { border-color: #1f6e67; }
.outline-turquoise-800 { outline-color: #1f6e67; }

.bg-turquoise-900 { background-color: #144844; }
.text-turquoise-900 { color: #144844; }
.border-turquoise-900 { border-color: #144844; }
.outline-turquoise-900 { outline-color: #144844; }

.bg-turquoise-950 { background-color: #092221; }
.text-turquoise-950 { color: #092221; }
.border-turquoise-950 { border-color: #092221; }
.outline-turquoise-950 { outline-color: #092221; }


