



.bg-violet-50 { background-color: #f8e6f8; }
.text-violet-50 { color: #f8e6f8; }
.border-violet-50 { border-color: #f8e6f8; }
.outline-violet-50 { outline-color: #f8e6f8; }

.bg-violet-100 { background-color: #f6d2f6; }
.text-violet-100 { color: #f6d2f6; }
.border-violet-100 { border-color: #f6d2f6; }
.outline-violet-100 { outline-color: #f6d2f6; }

.bg-violet-200 { background-color: #f4bef4; }
.text-violet-200 { color: #f4bef4; }
.border-violet-200 { border-color: #f4bef4; }
.outline-violet-200 { outline-color: #f4bef4; }

.bg-violet-300 { background-color: #f2aaf2; }
.text-violet-300 { color: #f2aaf2; }
.border-violet-300 { border-color: #f2aaf2; }
.outline-violet-300 { outline-color: #f2aaf2; }

.bg-violet-400 { background-color: #f096f0; }
.text-violet-400 { color: #f096f0; }
.border-violet-400 { border-color: #f096f0; }
.outline-violet-400 { outline-color: #f096f0; }

.bg-violet-500 { background-color: #ee82ee; }
.text-violet-500 { color: #ee82ee; }
.border-violet-500 { border-color: #ee82ee; }
.outline-violet-500 { outline-color: #ee82ee; }

.bg-violet-600 { background-color: #c66cc6; }
.text-violet-600 { color: #c66cc6; }
.border-violet-600 { border-color: #c66cc6; }
.outline-violet-600 { outline-color: #c66cc6; }

.bg-violet-700 { background-color: #9e569e; }
.text-violet-700 { color: #9e569e; }
.border-violet-700 { border-color: #9e569e; }
.outline-violet-700 { outline-color: #9e569e; }

.bg-violet-800 { background-color: #764076; }
.text-violet-800 { color: #764076; }
.border-violet-800 { border-color: #764076; }
.outline-violet-800 { outline-color: #764076; }

.bg-violet-900 { background-color: #4e2a4e; }
.text-violet-900 { color: #4e2a4e; }
.border-violet-900 { border-color: #4e2a4e; }
.outline-violet-900 { outline-color: #4e2a4e; }

.bg-violet-950 { background-color: #261426; }
.text-violet-950 { color: #261426; }
.border-violet-950 { border-color: #261426; }
.outline-violet-950 { outline-color: #261426; }


