
/* github: https://github.com/iaseth/html-color-names */

.bg-violet-50 { background-color: #fceafc; }
.text-violet-50 { color: #fceafc; }
.border-violet-50 { border-color: #fceafc; }
.outline-violet-50 { outline-color: #fceafc; }

.bg-violet-100 { background-color: #f9d5f9; }
.text-violet-100 { color: #f9d5f9; }
.border-violet-100 { border-color: #f9d5f9; }
.outline-violet-100 { outline-color: #f9d5f9; }

.bg-violet-200 { background-color: #f6c0f6; }
.text-violet-200 { color: #f6c0f6; }
.border-violet-200 { border-color: #f6c0f6; }
.outline-violet-200 { outline-color: #f6c0f6; }

.bg-violet-300 { background-color: #f3abf3; }
.text-violet-300 { color: #f3abf3; }
.border-violet-300 { border-color: #f3abf3; }
.outline-violet-300 { outline-color: #f3abf3; }

.bg-violet-400 { background-color: #f096f0; }
.text-violet-400 { color: #f096f0; }
.border-violet-400 { border-color: #f096f0; }
.outline-violet-400 { outline-color: #f096f0; }

.bg-violet-500 { background-color: #ee82ee; }
.text-violet-500 { color: #ee82ee; }
.border-violet-500 { border-color: #ee82ee; }
.outline-violet-500 { outline-color: #ee82ee; }

.bg-violet-600 { background-color: #c66cc6; }
.text-violet-600 { color: #c66cc6; }
.border-violet-600 { border-color: #c66cc6; }
.outline-violet-600 { outline-color: #c66cc6; }

.bg-violet-700 { background-color: #9e569e; }
.text-violet-700 { color: #9e569e; }
.border-violet-700 { border-color: #9e569e; }
.outline-violet-700 { outline-color: #9e569e; }

.bg-violet-800 { background-color: #774177; }
.text-violet-800 { color: #774177; }
.border-violet-800 { border-color: #774177; }
.outline-violet-800 { outline-color: #774177; }

.bg-violet-900 { background-color: #4f2b4f; }
.text-violet-900 { color: #4f2b4f; }
.border-violet-900 { border-color: #4f2b4f; }
.outline-violet-900 { outline-color: #4f2b4f; }

.bg-violet-950 { background-color: #271527; }
.text-violet-950 { color: #271527; }
.border-violet-950 { border-color: #271527; }
.outline-violet-950 { outline-color: #271527; }

