



.bg-wheat-50 { background-color: #faf7ef; }
.text-wheat-50 { color: #faf7ef; }
.border-wheat-50 { border-color: #faf7ef; }
.outline-wheat-50 { outline-color: #faf7ef; }

.bg-wheat-100 { background-color: #f9f2e3; }
.text-wheat-100 { color: #f9f2e3; }
.border-wheat-100 { border-color: #f9f2e3; }
.outline-wheat-100 { outline-color: #f9f2e3; }

.bg-wheat-200 { background-color: #f8edd7; }
.text-wheat-200 { color: #f8edd7; }
.border-wheat-200 { border-color: #f8edd7; }
.outline-wheat-200 { outline-color: #f8edd7; }

.bg-wheat-300 { background-color: #f7e8cb; }
.text-wheat-300 { color: #f7e8cb; }
.border-wheat-300 { border-color: #f7e8cb; }
.outline-wheat-300 { outline-color: #f7e8cb; }

.bg-wheat-400 { background-color: #f6e3bf; }
.text-wheat-400 { color: #f6e3bf; }
.border-wheat-400 { border-color: #f6e3bf; }
.outline-wheat-400 { outline-color: #f6e3bf; }

.bg-wheat-500 { background-color: #f5deb3; }
.text-wheat-500 { color: #f5deb3; }
.border-wheat-500 { border-color: #f5deb3; }
.outline-wheat-500 { outline-color: #f5deb3; }

.bg-wheat-600 { background-color: #ccb995; }
.text-wheat-600 { color: #ccb995; }
.border-wheat-600 { border-color: #ccb995; }
.outline-wheat-600 { outline-color: #ccb995; }

.bg-wheat-700 { background-color: #a39477; }
.text-wheat-700 { color: #a39477; }
.border-wheat-700 { border-color: #a39477; }
.outline-wheat-700 { outline-color: #a39477; }

.bg-wheat-800 { background-color: #7a6f59; }
.text-wheat-800 { color: #7a6f59; }
.border-wheat-800 { border-color: #7a6f59; }
.outline-wheat-800 { outline-color: #7a6f59; }

.bg-wheat-900 { background-color: #514a3b; }
.text-wheat-900 { color: #514a3b; }
.border-wheat-900 { border-color: #514a3b; }
.outline-wheat-900 { outline-color: #514a3b; }

.bg-wheat-950 { background-color: #28251d; }
.text-wheat-950 { color: #28251d; }
.border-wheat-950 { border-color: #28251d; }
.outline-wheat-950 { outline-color: #28251d; }


