
/* github: https://github.com/iaseth/html-color-names */

.bg-whitesmoke-50 { background-color: #fdfdfd; }
.text-whitesmoke-50 { color: #fdfdfd; }
.border-whitesmoke-50 { border-color: #fdfdfd; }
.outline-whitesmoke-50 { outline-color: #fdfdfd; }

.bg-whitesmoke-100 { background-color: #fbfbfb; }
.text-whitesmoke-100 { color: #fbfbfb; }
.border-whitesmoke-100 { border-color: #fbfbfb; }
.outline-whitesmoke-100 { outline-color: #fbfbfb; }

.bg-whitesmoke-200 { background-color: #fafafa; }
.text-whitesmoke-200 { color: #fafafa; }
.border-whitesmoke-200 { border-color: #fafafa; }
.outline-whitesmoke-200 { outline-color: #fafafa; }

.bg-whitesmoke-300 { background-color: #f8f8f8; }
.text-whitesmoke-300 { color: #f8f8f8; }
.border-whitesmoke-300 { border-color: #f8f8f8; }
.outline-whitesmoke-300 { outline-color: #f8f8f8; }

.bg-whitesmoke-400 { background-color: #f6f6f6; }
.text-whitesmoke-400 { color: #f6f6f6; }
.border-whitesmoke-400 { border-color: #f6f6f6; }
.outline-whitesmoke-400 { outline-color: #f6f6f6; }

.bg-whitesmoke-500 { background-color: #f5f5f5; }
.text-whitesmoke-500 { color: #f5f5f5; }
.border-whitesmoke-500 { border-color: #f5f5f5; }
.outline-whitesmoke-500 { outline-color: #f5f5f5; }

.bg-whitesmoke-600 { background-color: #cccccc; }
.text-whitesmoke-600 { color: #cccccc; }
.border-whitesmoke-600 { border-color: #cccccc; }
.outline-whitesmoke-600 { outline-color: #cccccc; }

.bg-whitesmoke-700 { background-color: #a3a3a3; }
.text-whitesmoke-700 { color: #a3a3a3; }
.border-whitesmoke-700 { border-color: #a3a3a3; }
.outline-whitesmoke-700 { outline-color: #a3a3a3; }

.bg-whitesmoke-800 { background-color: #7a7a7a; }
.text-whitesmoke-800 { color: #7a7a7a; }
.border-whitesmoke-800 { border-color: #7a7a7a; }
.outline-whitesmoke-800 { outline-color: #7a7a7a; }

.bg-whitesmoke-900 { background-color: #515151; }
.text-whitesmoke-900 { color: #515151; }
.border-whitesmoke-900 { border-color: #515151; }
.outline-whitesmoke-900 { outline-color: #515151; }

.bg-whitesmoke-950 { background-color: #282828; }
.text-whitesmoke-950 { color: #282828; }
.border-whitesmoke-950 { border-color: #282828; }
.outline-whitesmoke-950 { outline-color: #282828; }

