
.bg-white-50 { background-color: #ffffff; }
.text-white-50 { color: #ffffff; }
.border-white-50 { border-color: #ffffff; }
.outline-white-50 { outline-color: #ffffff; }

.bg-white-100 { background-color: #ffffff; }
.text-white-100 { color: #ffffff; }
.border-white-100 { border-color: #ffffff; }
.outline-white-100 { outline-color: #ffffff; }

.bg-white-200 { background-color: #ffffff; }
.text-white-200 { color: #ffffff; }
.border-white-200 { border-color: #ffffff; }
.outline-white-200 { outline-color: #ffffff; }

.bg-white-300 { background-color: #ffffff; }
.text-white-300 { color: #ffffff; }
.border-white-300 { border-color: #ffffff; }
.outline-white-300 { outline-color: #ffffff; }

.bg-white-400 { background-color: #ffffff; }
.text-white-400 { color: #ffffff; }
.border-white-400 { border-color: #ffffff; }
.outline-white-400 { outline-color: #ffffff; }

.bg-white-500 { background-color: #ffffff; }
.text-white-500 { color: #ffffff; }
.border-white-500 { border-color: #ffffff; }
.outline-white-500 { outline-color: #ffffff; }

.bg-white-600 { background-color: #d4d4d4; }
.text-white-600 { color: #d4d4d4; }
.border-white-600 { border-color: #d4d4d4; }
.outline-white-600 { outline-color: #d4d4d4; }

.bg-white-700 { background-color: #aaaaaa; }
.text-white-700 { color: #aaaaaa; }
.border-white-700 { border-color: #aaaaaa; }
.outline-white-700 { outline-color: #aaaaaa; }

.bg-white-800 { background-color: #7f7f7f; }
.text-white-800 { color: #7f7f7f; }
.border-white-800 { border-color: #7f7f7f; }
.outline-white-800 { outline-color: #7f7f7f; }

.bg-white-900 { background-color: #555555; }
.text-white-900 { color: #555555; }
.border-white-900 { border-color: #555555; }
.outline-white-900 { outline-color: #555555; }

.bg-white-950 { background-color: #2a2a2a; }
.text-white-950 { color: #2a2a2a; }
.border-white-950 { border-color: #2a2a2a; }
.outline-white-950 { outline-color: #2a2a2a; }
