



.bg-yellow-50 { background-color: #ffffd2; }
.text-yellow-50 { color: #ffffd2; }
.border-yellow-50 { border-color: #ffffd2; }
.outline-yellow-50 { outline-color: #ffffd2; }

.bg-yellow-100 { background-color: #ffffa8; }
.text-yellow-100 { color: #ffffa8; }
.border-yellow-100 { border-color: #ffffa8; }
.outline-yellow-100 { outline-color: #ffffa8; }

.bg-yellow-200 { background-color: #ffff7e; }
.text-yellow-200 { color: #ffff7e; }
.border-yellow-200 { border-color: #ffff7e; }
.outline-yellow-200 { outline-color: #ffff7e; }

.bg-yellow-300 { background-color: #ffff54; }
.text-yellow-300 { color: #ffff54; }
.border-yellow-300 { border-color: #ffff54; }
.outline-yellow-300 { outline-color: #ffff54; }

.bg-yellow-400 { background-color: #ffff2a; }
.text-yellow-400 { color: #ffff2a; }
.border-yellow-400 { border-color: #ffff2a; }
.outline-yellow-400 { outline-color: #ffff2a; }

.bg-yellow-500 { background-color: #ffff00; }
.text-yellow-500 { color: #ffff00; }
.border-yellow-500 { border-color: #ffff00; }
.outline-yellow-500 { outline-color: #ffff00; }

.bg-yellow-600 { background-color: #d4d400; }
.text-yellow-600 { color: #d4d400; }
.border-yellow-600 { border-color: #d4d400; }
.outline-yellow-600 { outline-color: #d4d400; }

.bg-yellow-700 { background-color: #a9a900; }
.text-yellow-700 { color: #a9a900; }
.border-yellow-700 { border-color: #a9a900; }
.outline-yellow-700 { outline-color: #a9a900; }

.bg-yellow-800 { background-color: #7e7e00; }
.text-yellow-800 { color: #7e7e00; }
.border-yellow-800 { border-color: #7e7e00; }
.outline-yellow-800 { outline-color: #7e7e00; }

.bg-yellow-900 { background-color: #535300; }
.text-yellow-900 { color: #535300; }
.border-yellow-900 { border-color: #535300; }
.outline-yellow-900 { outline-color: #535300; }

.bg-yellow-950 { background-color: #282800; }
.text-yellow-950 { color: #282800; }
.border-yellow-950 { border-color: #282800; }
.outline-yellow-950 { outline-color: #282800; }


