
/* github: https://github.com/iaseth/html-color-names */

.bg-yellowgreen-50 { background-color: #eef6dc; }
.text-yellowgreen-50 { color: #eef6dc; }
.border-yellowgreen-50 { border-color: #eef6dc; }
.outline-yellowgreen-50 { outline-color: #eef6dc; }

.bg-yellowgreen-100 { background-color: #ddeeba; }
.text-yellowgreen-100 { color: #ddeeba; }
.border-yellowgreen-100 { border-color: #ddeeba; }
.outline-yellowgreen-100 { outline-color: #ddeeba; }

.bg-yellowgreen-200 { background-color: #cce698; }
.text-yellowgreen-200 { color: #cce698; }
.border-yellowgreen-200 { border-color: #cce698; }
.outline-yellowgreen-200 { outline-color: #cce698; }

.bg-yellowgreen-300 { background-color: #bbdd76; }
.text-yellowgreen-300 { color: #bbdd76; }
.border-yellowgreen-300 { border-color: #bbdd76; }
.outline-yellowgreen-300 { outline-color: #bbdd76; }

.bg-yellowgreen-400 { background-color: #aad554; }
.text-yellowgreen-400 { color: #aad554; }
.border-yellowgreen-400 { border-color: #aad554; }
.outline-yellowgreen-400 { outline-color: #aad554; }

.bg-yellowgreen-500 { background-color: #9acd32; }
.text-yellowgreen-500 { color: #9acd32; }
.border-yellowgreen-500 { border-color: #9acd32; }
.outline-yellowgreen-500 { outline-color: #9acd32; }

.bg-yellowgreen-600 { background-color: #80aa29; }
.text-yellowgreen-600 { color: #80aa29; }
.border-yellowgreen-600 { border-color: #80aa29; }
.outline-yellowgreen-600 { outline-color: #80aa29; }

.bg-yellowgreen-700 { background-color: #668821; }
.text-yellowgreen-700 { color: #668821; }
.border-yellowgreen-700 { border-color: #668821; }
.outline-yellowgreen-700 { outline-color: #668821; }

.bg-yellowgreen-800 { background-color: #4d6619; }
.text-yellowgreen-800 { color: #4d6619; }
.border-yellowgreen-800 { border-color: #4d6619; }
.outline-yellowgreen-800 { outline-color: #4d6619; }

.bg-yellowgreen-900 { background-color: #334410; }
.text-yellowgreen-900 { color: #334410; }
.border-yellowgreen-900 { border-color: #334410; }
.outline-yellowgreen-900 { outline-color: #334410; }

.bg-yellowgreen-950 { background-color: #192208; }
.text-yellowgreen-950 { color: #192208; }
.border-yellowgreen-950 { border-color: #192208; }
.outline-yellowgreen-950 { outline-color: #192208; }

