
.bg-yellow-50 { background-color: #ffffd4; }
.text-yellow-50 { color: #ffffd4; }
.border-yellow-50 { border-color: #ffffd4; }
.outline-yellow-50 { outline-color: #ffffd4; }

.bg-yellow-100 { background-color: #ffffaa; }
.text-yellow-100 { color: #ffffaa; }
.border-yellow-100 { border-color: #ffffaa; }
.outline-yellow-100 { outline-color: #ffffaa; }

.bg-yellow-200 { background-color: #ffff7f; }
.text-yellow-200 { color: #ffff7f; }
.border-yellow-200 { border-color: #ffff7f; }
.outline-yellow-200 { outline-color: #ffff7f; }

.bg-yellow-300 { background-color: #ffff55; }
.text-yellow-300 { color: #ffff55; }
.border-yellow-300 { border-color: #ffff55; }
.outline-yellow-300 { outline-color: #ffff55; }

.bg-yellow-400 { background-color: #ffff2a; }
.text-yellow-400 { color: #ffff2a; }
.border-yellow-400 { border-color: #ffff2a; }
.outline-yellow-400 { outline-color: #ffff2a; }

.bg-yellow-500 { background-color: #ffff00; }
.text-yellow-500 { color: #ffff00; }
.border-yellow-500 { border-color: #ffff00; }
.outline-yellow-500 { outline-color: #ffff00; }

.bg-yellow-600 { background-color: #d4d400; }
.text-yellow-600 { color: #d4d400; }
.border-yellow-600 { border-color: #d4d400; }
.outline-yellow-600 { outline-color: #d4d400; }

.bg-yellow-700 { background-color: #aaaa00; }
.text-yellow-700 { color: #aaaa00; }
.border-yellow-700 { border-color: #aaaa00; }
.outline-yellow-700 { outline-color: #aaaa00; }

.bg-yellow-800 { background-color: #7f7f00; }
.text-yellow-800 { color: #7f7f00; }
.border-yellow-800 { border-color: #7f7f00; }
.outline-yellow-800 { outline-color: #7f7f00; }

.bg-yellow-900 { background-color: #555500; }
.text-yellow-900 { color: #555500; }
.border-yellow-900 { border-color: #555500; }
.outline-yellow-900 { outline-color: #555500; }

.bg-yellow-950 { background-color: #2a2a00; }
.text-yellow-950 { color: #2a2a00; }
.border-yellow-950 { border-color: #2a2a00; }
.outline-yellow-950 { outline-color: #2a2a00; }
