<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTML Color Names</title>

	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

{% for color in colors %}
<section class="palette-container">
	<article class="palette">
		<header>
			<h2>{{ color.name }}</h2>
		</header>

		<main class="palette">
			<section class="color-meter">
				{% for shade in color.get_palette() %}
					<div class="box" style="background-color: {{ shade["hex"] }}"></div>
				{% endfor %}
			</section>
			<div class="codebox">
				<pre>{{ color.get_palette_json_text() }}</pre>
			</div>
		</main>

		<footer>
			<h4>
				<a href="{{ color.css_github }}">View CSS</a>
				<span>&bull;</span>
				<a href="{{ color.css_github_raw }}">Download CSS</a>
			</h4>

			<h4>
				<a href="{{ color.json_github }}">View JSON</a>
				<span>&bull;</span>
				<a href="{{ color.json_github_raw }}">Download JSON</a>
			</h4>
		</footer>
	</article>
</section>
{% endfor %}

</body>
</html>