
body {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
	font-feature-settings: normal;
	font-variation-settings: normal;
	margin: 0;
	background-color: #e7e7e7;
	padding: 0px;
	text-align: center;
}

section.palette-container {
	background-color: #fff;
	background-image: linear-gradient(to top, #ddd, #fff 50px);
}

article.palette {
	max-width: 960px;
	margin: auto;
	padding: 50px 20px;
	padding-bottom: 80px;
}

article.palette > header {
	padding: 0px 20px;
}

article.palette > footer {
	padding: 5px 20px;
}

article.palette > footer > h4 > span {
	padding: 0px 5px;
}

main.palette {
	//
}

section.color-meter {
	display: grid;
	grid-template-columns: repeat(11, minmax(0, 1fr));
	border: 2px solid #888;
}

section.color-meter > div.box {
	height: 60px;
}

div.codebox {
	display: none;
	background-color: #f2f2f2;
	padding: 5px 10px;
}

div.codebox pre {
	line-height: 2;
}
